[2022-10-18 22:29] zsxwing commented on #1359
Sorry for the delay. I didn't find any clue. The heap memory seems normal. It's pretty small. Did you turn on `spark.memory.offHeap.enabled`?

[2022-10-18 22:36] dnskr commented on #1359
No, I didn't set `spark.memory.offHeap.enabled` explicitly, so it should be default `false` value.

[2022-10-18 23:02] scottsand-db commented on #867
Following up on this. Having a logstore that writes to FoundationDB won't work, as our LogStore APIs don't encapsulate all file system (log store) interactions, despite the name. e.g. checkpoints don't go through the LogStore.

[2022-10-18 23:02] #867 closed

[2022-10-18 23:20] allisonport-db opened #1443 "[Feature Request] Automatically generate partition filters for generated columns using the ceiling function"
See #1442

We can automatically generated partition filters when a partition column is generated by the [ceil](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/SupportedGenerationExpressions.scala#L82) function.

i.e. if x < y then ceil(x) <= ceil(y)

[2022-10-18 23:26] allisonport-db opened #1444 "[Feature Request] Automatically generate partition filters for generated columns using the floor function"
See #1442

We can automatically generated partition filters when a partition column is generated by the [floor](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/SupportedGenerationExpressions.scala#L91) function.

i.e. if x < y then floor(x) <= floor(y)

[2022-10-18 23:32] allisonport-db opened #1445 "[Feature Request] Automatically generate partition filters for generated columns using the timestamp trunc function"
See #1442

We can automatically generated partition filters when a partition column is generated by the [TruncTimestamp](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/SupportedGenerationExpressions.scala#L224) function.

i.e. if t1 < t2 then date_trunc('QUARTER', t1) <= date_trunc('QUARTER', t2)

[2022-10-18 23:34] allisonport-db opened #1446 "[Feature Request] Automatically generate partition filters for generated columns using the trunc date function"
See #1442

We can automatically generated partition filters when a partition column is generated by the [TruncDate](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/SupportedGenerationExpressions.scala#L223) function.

i.e. if t1 < t2 then trunc(t1, "week") <= trunc(t2, "week")

[2022-10-19 09:35] chaudharirohit2810 commented on #514
We are facing same issue in version 2.1.0, is there any solution for this?

**Our Scenario:**
We have decimal column with lower precision for eg. 8 and we want to increase the precision for eg. 13
We tried to do it using `mergeSchema` option
But it throws the error `decimal(38,8) cannot be cast to decimal(38,13)`

Also changing type using `ALTER TABLE` doesn't work

The only solution we can find i

[2022-10-19 11:28] 0xdarkman commented on #1277
It is resolved. MS implemented bug fix few days ago.

[2022-10-19 16:18] zsxwing commented on #1277
Thanks for the update. I will close this issue.

[2022-10-19 16:18] #1277 closed

[2022-10-20 07:24] larsk-db commented on #1367
Update: With #1372 is merged the protocol spec part of this is complete. Actual implementation work is still pending.

[2022-10-20 13:57] stratiojoaorrpinto opened #1449 "[Question] Medallion Architecture with Merge and Optimize Concurrent Issue"
Context:

I have a standard 3-tier medallion architecture (bronze, silver, and gold) and a streaming context which have the following partitions: Entity_1, Entity_2, Year, Month, Day.
In our use case, we need to always use a merge operation because our data can be ingested out of temporal order (events from the past).
We also have a constraint about the high rate of ingesting that can be very dema

[2022-10-20 22:34] vkorukanti commented on #1449
Hi @stratiojoaorrpinto, rather than running one OPTIMIZE command for all partitions, is it possible to run multiple OPTIMIZE jobs each restricted to a particular partitions (eg. `today() - 10 days`, `todays() - 9 days` etc.)? Without partitioning, OPTIMIZE will try to compact all files in all partitions at once which has higher chances of conflicting with the other data modification jobs.

We have

[2022-10-21 16:15] dennyglee commented on #1441
Thanks, @raghav-vk  - I appreciate you adding this issue.

[2022-10-21 17:43] sherlockbeard commented on #1443
@allisonport-db or @nkarpov can you assign this to me ?.
(also generated column's is a nice feature. I never knew it existed.  )

[2022-10-25 02:03] xuan1905 opened #1453 "[Feature Request] Save with specified compression codec after optimized-based compaction"
## Feature request
Save data with a user-specified compression codec (like `zstd`) when using `deltaTable.optimize().executeCompaction()`.
### Overview
Currently the default compression format is `snappy `when one wants to compact the data with the built-in function `optimize()`. There is no option for users to choose the compression format at this point.

### Motivation
in specific use cases favo

[2022-10-25 02:05] zsxwing commented on #1453
Does `spark.sql("set spark.sql.parquet.compression.codec=zstd"` work for you?

[2022-10-25 03:34] xuan1905 commented on #1453
Yeah. It works great! And I think it would be nice to have the compressor set at the optimize() level as my app uses the same spark session to produce different data of two codecs. I need the split the jobs if I set the codec in the spark config at the beginning.

[2022-10-25 04:24] zsxwing commented on #1453
Spark provides `newSession` for this use case.
[code]

[2022-10-25 08:14] xuan1905 commented on #1453
Beautiful. Thank a lot.

[2022-10-25 08:14] #1453 closed

[2022-10-25 15:35] k0tk267 commented on #1250
Hi! @allisonport-db
If anyone haven't been assigned to this task, I try to solve this issue.
Recently I have used delta in my work and I am interested in it.
I want to deepen delta's understanding through contributions, so I want this to be the first step.

[2022-10-25 16:49] scottsand-db opened #1454 "[Feature Request] Enable PR code coverage reporting in Github CI"
## Feature request

### Overview

https://github.com/delta-io/delta/pull/1312 enabled code coverage in the delta-io/delta code base, which can be run using `sbt test coverageAggregate`.

It would be great to have this report run on every PR, so PR authors can know if their changes are well tested.

### Motivation

Having well-tested code can help prevent bugs in the future.

### Further details

T

[2022-10-25 16:50] scottsand-db commented on #1384
@Clcanny any update?

[2022-10-25 16:56] scottsand-db opened #1455 "[Feature Request] Refactor Delta configuration SQLConf override key to remove `databricks` prefix"
## Feature request

### Overview

Currently, Delta configuration properties ([link](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/DeltaConfig.scala)) can be set and overridden using a global default value from the SQLConf that uses a prefix of `spark.databricks.delta`.

We should refactor this to be only `spark.delta`, while still maintaining support

[2022-10-25 17:12] zsxwing commented on #514
Currently Delta doesn't support merging different decimal types. The technical challenge is parquet may store different decimal types in different formats ( https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#decimal  ) and Delta today doesn't have a mechanism to read data with different potential parquet decimal formats.

[2022-10-25 17:18] zsxwing commented on #1359
I'm almost running out of ideas. One more option may be worth to try: could you set `spark.databricks.delta.snapshotCache.storageLevel` to `DISK_ONLY` and see if the issue still exists? This can help us check whether it's caused by the RDD cache Delta is using today.

[2022-10-26 03:47] allisonport-db commented on #1425
Hey @keen85 you can do
[code]
This is preferable to adding any new APIs.

It seems there might be a bug with the "timestampAsOf" for this API I am looking into it and will open an issue if needed.

[2022-10-26 06:21] dennyglee commented on #1307
Suggest we add [Airbyte Destination S3: add delta lake/delta table support](https://github.com/airbytehq/airbyte/issues/16322) to the roadmap as it's already part of the [Delta Rust Roadmap](https://docs.google.com/document/d/1iKVdnilMCS6qziBBVohXw2-UX_Ld2K6AAjLTZHcYhQ0/edit#heading=h.iezbyetoxtf) - WDYT?

[2022-10-26 10:23] horizonzy opened #1456 "[Feature Request] Snapshot.scan() support return RemoveFile action"
## Feature request
I want to check the RemoveFile action tombstone to delete the physical file.

[2022-10-26 10:32] horizonzy opened #1457 "[Feature Request] Export LogStoreProvider in java api."
## Feature request
Some user may need to use `LogStoreProvider.createLogStore` to reuse LogStore function, so export it.

[2022-10-26 13:01] iagochoa opened #1458 "[QUESTION] Partitioned table throws an error when updated."
**Context**: I'm performing updates on a delta table in pyspark. This table is partitioned by Code, Year and Month. I run a while loop by date to update this table. This table on prod environment has 7 billion lines. I used partitions to accelarte the update proccess

**Problem**: When  I use a partitioned table like I said before, I got an error in the secod iteration of my for loop in the merge

[2022-10-26 14:43] melin opened #1459 "[Feature Request]Support jdbc catalog"
Reference  iceberg jdbc catalog：https://iceberg.apache.org/docs/latest/jdbc/

Store metadata directly into a relational database, independent of hms. It can also be customized based on the jdbc catalog
@zsxwing

[2022-10-26 15:43] iagochoa commented on #1458
The probem was in Delta Version. I changed to io.delta:delta-core_2.12:2.0.1 and it worked.

[2022-10-26 17:51] zsxwing commented on #1393
Generally, [Structured Streaming defines the input source as an unbounded input table](https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html#programming-model)

Introducing `endingVersion` would break it. We don't want to introduce this inconsistent model in Delta. Alternatively, you can write a batch time travel query to backfill data and start a streaming query using `

[2022-10-26 22:30] dnskr commented on #1359
I've just tested it on `Spark 3.3.1` + `Delta Lake 2.1.0` and also set `spark.memory.offHeap.enabled` to `false` and `spark.databricks.delta.snapshotCache.storageLevel` to `DISK_ONLY`, but the issue still exists.

Proofs (mostly for myself):

[code]

<img width="469" alt="Screenshot 2022-10-27 at 00 28 10" src="https://user-images.githubusercontent.com/36439732/198150583-29bd4315-c29a-4a8a-a60f-23

[2022-10-27 02:22] YannByron opened #1461 "[Feature Request] Support `Drop Partition` Syntax"
## Feature request

### Overview

Support SQL like `alter table xxx drop partition (partition_column="partition_value")` to drop partitions.

### Motivation

### Further details

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature?

- [x] Yes. I can

[2022-10-27 05:11] melin commented on #1307
https://github.com/delta-io/delta/issues/1459

[2022-10-27 05:19] zsxwing commented on #1459
Delta by design stores its metadata on the storage. Could you explain why you want to move the metadata to a relational database?

[2022-10-27 05:24] zsxwing commented on #1461
@YannByron Do you plan to just implement it as `delete from table xxx where partition_column="partition_value"`? I agree this command itself may make sense. However, what should we do for `add partition` command? It's better to discus the behaviors for all partition commands first before adding any command.

[2022-10-27 05:34] Clcanny commented on #1384
Sorry, it is still in progress. I will push a commit this weekend(10.29-10.30 +08:00).

[2022-10-27 05:46] melin commented on #1459
Only the table name and location are stored in the relational database, and the other metadata is stored on the storage system.

[2022-10-27 06:40] zsxwing commented on #1459
Adding a new catalog implementation is not a mission of Delta Lake. We would like to focus on the storage format and integrate with popular catalog systems (such as Hive Metastore, AWS Glue) instead.

[2022-10-27 06:44] melin commented on #1459
Delta does not provide a concrete implementation, but provides an interface that the user can customize.

[2022-10-27 06:55] zsxwing commented on #1459
I think Spark has already provided an interface for custom catalog implementation.

I'm not super familiar with Iceberg. But I think Iceberg introduced this because catalog is a fundamental concept in Iceberg and Iceberg is heavily coupled with catalog. Delta has a different design principle and it decouples from catalog. Adding a catalog interface to Delta would break our design principle.

[2022-10-27 07:27] melin commented on #1459
There is a scenario where multiple different delta tables are written to dell ecs storage. If you want to query the table data, iceberg jdbc catalog can write the table name into the relational data and record the table location.
Want to know that delta has a solution?

[2022-10-27 08:43] YannByron commented on #1461
No. `delete from table xxx where partition_column="partition_value` can work in current delta, doesn't need to do anything else.
I agree that `better to discus the behaviors for all partition commands`. But i think if we want to support `add partition`, the current delta protocol need to be improved. After all, all the sub-classes implement to `Action` is not enough to describe `partition` info.

[2022-10-27 16:26] zsxwing commented on #1459
Catalog is the solution. For example, can you use Hive Metastore? Hive Metastore is just using relational databases.

[2022-10-27 16:30] zsxwing commented on #1461
These partition commands are kind of a workaround for Hive tables. For example, users can add a partition to tell a Hive table which directory it should check. However, this may not make sense for Delta. We don't want to allow users adding arbitrary existing files into a Delta table.

[2022-10-27 22:05] rahulsmahadev commented on #1423
This should be solved by https://github.com/delta-io/delta/commit/2118e64b22346aa367b7aad425befa13350be763 if the table has stats

[2022-10-27 22:14] scottsand-db opened #1462 "[Feature Request] Enable converting from Iceberg to Delta"
## Feature request

### Overview

Enable converting parquet-backed Iceberg tables to Delta tables without rewriting parquet files. This new Delta Table will need to be at least protocol version { reader=2, writer=5 } as Column Mapping will be needed during the conversion.

### Motivation

We want to make it easier for users to convert their existing Iceberg tables to Delta tables and start experie

[2022-10-28 01:45] melin commented on #1459
Using hms is the heavier solution. Direct jdbc storage is simpler. Not dependent on the hadoop ecosystem

[2022-10-28 02:15] YannByron commented on #1461
So, data can enter a delta table only through the specified DML way, not `ADD PARTITION`, `LOAD DATA`, etc.
Get it.

[2022-10-28 04:36] dennyglee opened #1464 "[Feature Request] Shallow clone Iceberg tables"
## Feature request

### Overview

Enable shallow cloning parquet-backed Iceberg tables following the Delta protocols without the need to copy all of the data.

### Motivation

We want to make it easier for users to read parquet-backed Iceberg tables within the context of Delta pipelines.  While #1462 enables users to convert parquet-backed Iceberg tables to Delta in place, this may interfere with

[2022-10-28 15:49] kevinneville opened #1466 "[BUG] Warnings in workflows"
## Bug

### Describe the problem

The workflows shows a bunch of warnings, which I believe is related to the old version of actions/setup-java and relate to https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/.

#### Steps to reproduce

See https://github.com/delta-io/delta/actions/runs/3341337972.

### Willingness to contribute

The Delta Lake Co

[2022-10-29 07:49] jeganthirumeni commented on #243
@dennyglee @mbenenso Does delta lake standalone (https://github.com/mbenenso/beam-deltalake) support only as source or sink as well in beam ? I dont see an api for sink in DeltaFileIO.java.

[2022-10-29 18:38] mbenenso commented on #243
When this code was developed, DeltaLake standalone supported only reading,
so DeltaFileIO only provides Source functionality.
The latest version of DeltaLake standalone also supports writing, so this
code could be extended to provide Sink.

On Sat, Oct 29, 2022 at 12:49 AM Jegadesh Thirumeni <
***@***.***> wrote:

--
Thanks

------------------------------
Michael Benenson

[2022-10-30 11:22] keen85 commented on #868
Hi everyone,
will this log entry for `VACUUM` also contain some [operational metrics](https://docs.delta.io/latest/delta-utility.html#operation-metrics-keys), like number/size of deleted files?
If so, would it be possible to **_have those operational metrics also as return value of the VACUUM operation_** itself?
Currently (at least in Delta 1.2) it does not return anything but only [writes to the

[2022-10-30 11:24] keen85 commented on #1307
I'd like to suggest adding "Register VACUUM in delta log" to the roadmap
- https://github.com/delta-io/delta/issues/868
- https://github.com/delta-io/delta/pull/1451

[2022-10-31 01:56] YannByron commented on #868
@keen85 yes. In this pr (https://github.com/delta-io/delta/pull/1451) , number/size of deleted files will be returned as the output.

[2022-10-31 02:33] ChenXiongfeng opened #1470 "When using Spark Thrift server to use Spark SQL，an exception occurs——File does not exist"
After using Spark SQL to transfer data to hdfs，I get an error when I query the contents of this table

`Error operating EXECUTE_STATEMENT: org.apache.spark.SparkException: Job aborted due to stage failure: Task 4 in stage 197.0 failed 4 times, most recent failure: Lost task 4.3 in stage 197.0 (TID 3521) (data198 executor 2): java.io.FileNotFoundException: File does not exist: hdfs://data197:8020/u

[2022-10-31 12:21] megri commented on #860
I was bitten by this today. I'm using Scala and have this model

[code]

modelling changes between `MyRow`s of the same id. I expected this to work but get `org.apache.spark.sql.streaming.StreamingQueryException: NOT NULL constraint violated for column: before.id.`

[2022-10-31 19:51] scottsand-db opened #1471 "[Feature Request] Enable new fast-list-from feature for S3 multi-cluster writer"
## Feature request

### Overview

https://github.com/delta-io/delta/pull/1210 allows `S3SingleDriverLogStore` to use the `startAfter` param for faster `list` logStore calls. This feature only works on `S3A` file systems.

The feature: We should update the [S3DynamoDBLogStore](https://github.com/delta-io/delta/blob/master/storage-s3-dynamodb/src/main/java/io/delta/storage/S3DynamoDBLogStore.java) t

[2022-10-31 19:53] scottsand-db opened #1472 "[Feature Request] Improve incorrect FileSystem error when using new fast-list-from feature on S3 writers"
## Feature request

### Overview

https://github.com/delta-io/delta/pull/1210 allows `S3SingleDriverLogStore` to use the startAfter param for faster list logStore calls. This feature only works on S3A file systems.

We need to ensure that a `ClassCastException` is thrown when using the wrong file system during the cast, not during the first method invocation.

### Motivation

This will improve the

[2022-10-31 20:18] iajoiner commented on #87
Can we reopen it? I think it will be really great to add ORC.

[2022-10-31 20:19] iajoiner commented on #87
@dennyglee

[2022-11-01 21:37] scottsand-db commented on #1470
1. How did you transfer data to HDFS?
2. "The probability of this problem is very small" Do you consistently have this issue? Or is it random?
3. How are you loading your delta table? Which exact command is giving you this error?
4. Have you run VACUUM on your delta table?

[2022-11-01 21:39] scottsand-db commented on #1461
Going to mark this as closed due to inactivity and the response above. Feel free to re-open if you see fit.

[2022-11-01 21:39] #1461 closed

[2022-11-01 21:40] scottsand-db commented on #1457
@horizonzy can you give some examples of what users may want to do with that function?

Currently all of the LogStore APIs are abstracted away from Delta Lake users .... they are only relevant for contributors wanting to build delta lake connectors (and change/add a LogStore implementation)

[2022-11-01 21:41] scottsand-db commented on #1250
Hi @k0tk267, just following up on this. Any update?

[2022-11-01 21:44] scottsand-db commented on #1456
Hi @horizonzy - are you referring to https://github.com/delta-io/connectors/blob/master/standalone/src/main/java/io/delta/standalone/Snapshot.java#L39 ?

There is no `Snapshot::scan` method that I can see in this delta-io/delta repo.

It seems like you want to perform a VACUUM-like command while using delta-standalone?

Just curious: Are you using any higher-level connector (e.g. Flink, Presto) or

[2022-11-01 21:46] scottsand-db commented on #1449
Going to close this issue due to inactivity and @vkorukanti's response above. Seems like Partial Progress Capture is the way forwards here. Feel free to re-open if you have any more questions!

[2022-11-01 21:46] #1449 closed

[2022-11-02 07:31] k0tk267 commented on #1250
@scottsand-db
Sorry for my late work ! I open PR and update content.
This is my first OSS contribution so I'm not get used to it.
So, when there is mistake, please teach me.
m(_ _)m

[2022-11-02 11:03] ChenXiongfeng commented on #1470
1. Execute some associated and merge operation through Spark SQL（All operations use Delta）:

**1) Create temporary table**

[code]

**2).Associate multiple tables and insert temporary tables**
[code]

**3).Merge temporary table to target table**
[code]

3. Random. The data flow of our data platform is realized through Spark SQL, but suddenly this problem occurs when a table is queried one day, and

[2022-11-02 16:10] horizonzy commented on #1457
In my case, I will write some particular file to faster the read operation. The delta log store already supports kinds of the storage system. `S3`, `Azure` etc. I want to reuse the logStore, no need to write the file by myself.

Currently, I create the logStore like:
[code]
It's ugly, It should create the DeltaTable first.

[2022-11-02 16:13] horizonzy commented on #1456
Yes.

raw delta-standalone

Kinds of cloud storage, likes S3, Azure...

[2022-11-02 16:21] zsxwing commented on #1457
Please don't use LogStore to write any files outside `_delta_log`. It's not designed for this. If you want to write arbitrary files, you can use Hadoop FileSystem APIs like this:
[code]

[2022-11-02 16:29] horizonzy commented on #1457
If I use this way to do some operations, are there any problems?
[code]

All the file prefixes start with `_`.

[2022-11-02 17:37] zsxwing commented on #1457
`LogStore` is just not designed to read/write arbitrary files. We want to control what files can be read/written by LogStore inside Delta. Allowing arbitrary connectors to use that may block any future extensions we are going to add into LogStore. Since we already have `FileSystem` APIs, it's better to just use it.

[2022-11-02 20:20] scottsand-db commented on #1456
@horizonzy thanks for your response. I think a decision we would need to make here is
a) exactly what this API should look like. i.e. get all RemoveFiles ... or only those that are expired

but more importantly

b) who should be responsible for doing this VACUUM? i.e. should delta-standalone be the one to do it? not you, the user/connector?

VACUUM is more than "remove all the expired tombstones".

[2022-11-03 02:10] horizonzy commented on #1456
This is the best way, we can trigger `vacuum` in delta-standalone to delete the no association files and expired tombstones files.

[2022-11-03 10:09] joydeepbroy-zeotap opened #1474 "[BUG] Confusing documentation around repartitionBeforeWrite.enabled"
## Bug
Confusing documentation around repartitionBeforeWrite.enabled under [Performance Tuning](https://docs.delta.io/latest/delta-update.html#performance-tuning)

### Describe the problem
The latest documentation talks about the small files issue and then explains how repartition can be enabled giving the impression that it is currently disabled. However, as per [Delta Release 1.1.0](https://gith

[2022-11-03 10:21] sarahotoole commented on #736
@m-credera @michael-j-thomas Did either of you find a solution for this? I am also trying to use the Glue Catalog (to be able to query those tables using Spak SQL), but I'm experiencing the same issue since switching to delta.

[2022-11-03 11:16] moredatapls opened #1475 "[BUG] DeltaTableBuilder.execute() sometimes throws "Could not find active SparkSession""
## Bug

### Describe the problem

#### Steps to reproduce

[code]

#### Observed results

We are running some integration tests of our Spark jobs against some Delta tables which are created locally, on the fly, in the integration tests. The tables are stored on disk. The code above shows a (simplified) snippet of how we setup the Delta tables on disk for testing.

While running those test we somet

[2022-11-03 22:01] zsxwing commented on #1475
Good catch. Yep we should just use the `SparkSession` object in `DeltaTableBuilder` to create `DeltaTable`. Feel free to submit a PR to fix that.

By the way, do you know why active SparkSession is not available in your tests?

[2022-11-03 22:21] moredatapls commented on #1475
No, I don't. It's very weird, when we are running the integration tests locally on our computers the tests work just fine. However, in CI (we're using Azure DevOps), the tests fail a lot, but sometimes succeed. I feel like it could be some race condition somewhere since `SparkSession.getActiveSession()` returns the active session per thread? Not sure.

[2022-11-03 22:36] allisonport-db commented on #1361
Regarding this and #1389 we can't change our current APIs to return the operation metrics since changing the return type is a breaking change for the Scala APIs.

Instead of adding new methods to support returning these metrics and increasing our API surface, the better solution is to directly support programmatic APIs in spark for update/delete/merge which are already supported in SQL. We've open

[2022-11-04 00:55] justinTM commented on #1442
would `generated automatically as identity` for bigint columns be applicable here? (idk)

[2022-11-04 05:43] horizonzy commented on #1457
Got it.

[2022-11-04 05:43] #1457 closed

[2022-11-04 07:58] keen85 commented on #1100
hi @allisonport-db, any updates concerning including this into Spark 3.4?

[2022-11-04 08:43] moredatapls commented on #1475
@zsxwing I published a draft PR here: #1476. It was easy to fix but maybe someone can provide me some guidance on the testing, is there any test I could add anywhere? It's my first PR here

[2022-11-05 17:13] rahul24 commented on #1277
I'm still facing this issue. Seems the fix is not rolled out yet.

[2022-11-06 13:34] guoliqiang commented on #1470
Hi @scottsand-db I faced a same issue, I am using ADLS Gen2 (delta version 0.8), and my case is streaming case
1. Job 1 append data into delta table
2. Job 2 streaming read from delta table.

Job 2 encoutered this error (Job 2 find a file add entry from log, but faild to read that parquet file due to it does not exists), I manully checked the files, it indeed does not exists.

I also have a purge

[2022-11-08 05:43] tvamsikalyan opened #1477 "[BUG] select query is returning NULL after rename when location is S3"
## Bug
select query is returning NULL after rename when location is S3
### Describe the problem

#### Steps to reproduce
1. create table test6 (c1 int, c2 string) using delta location 's3://bucket/path';
2. insert into test6 values (1, '1');
3. alter table test6 set tblproperties ('delta.columnMapping.mode' = 'name', 'delta.minReaderVersion' = '2', 'delta.minWriterVersion' = '5');
 4. alter table

[2022-11-08 13:07] KavithaPonjagannath commented on #1277
what is the resolution

[2022-11-08 18:10] allisonport-db commented on #1442
can you clarify for me what you mean (maybe provide the table schema you have in mind)? we do support the identity function currently which shouldn't be data type specific

[2022-11-08 18:13] allisonport-db commented on #1264
Closing due to inactivity

[2022-11-08 18:13] #1264 closed

[2022-11-08 18:18] zsxwing commented on #1470
vacuum 0 or deletedFileRetentionDuration=0 is not safe as vacuum may delete parquet files not committed yet, and cause the issue mentioned here.

We document the caution of misconfiguration for vacuum [here](https://docs.delta.io/latest/delta-utility.html#remove-files-no-longer-referenced-by-a-delta-table):

[2022-11-08 19:52] justinTM commented on #1442
sure thing, yeah.

it seems like it's not supported to create a table with an identity column? i was following an Issue/PR which was going to bring GENERATED ALWAYS AS IDENTITY into spark sql for delta.

if there's already a way to specify generated columns in schema like `StructType([StructField("mycol1", StringType, generated_as="identity")])` that would be super sweet.

otherwise this is what w

[2022-11-08 20:01] allisonport-db commented on #1442
I misunderstood. Identity columns aren't supported yet but are on the roadmap and is being tracked by #1072. I don't see how identity columns would apply to automatic data skipping however.

[2022-11-09 01:09] dennyglee commented on #87
Hey @iajoiner - glad to re-open it, the quick questions are:
* Are you or anyone else here interested in helping out with designing and a PR for this?
* Could you provide some additional context or info around why ORC and Avro are important to add?

The reason I'm asking is because the vast majority of the feedback we have received on past Delta Lake surveys, Github, [Slack](https://go.delta.io/sl

[2022-11-09 09:46] justinTM commented on #843
i'm pretty sure i'm having this issue. with ~1mil rows, and `maxBytesPerTrigger` set to even `1K`, i am still getting all 1 mil rows in my batch function:

[code]
[code]
<img width="1139" alt="image" src="https://user-images.githubusercontent.com/9123665/200795877-3e08f267-2f18-4e62-af89-b63476209e1b.png">

[2022-11-09 14:02] dudzicp commented on #1307
I know that each commit, min/max values are calculated for each parquet file and are present in the delta log json, but how about adding more granularity to existing data skipping mechanism, by using parquet page skipping?
Relevant links:
* https://issues.apache.org/jira/browse/PARQUET-922
* https://blog.cloudera.com/speeding-up-select-queries-with-parquet-page-indexes/

Would this be doable?

[2022-11-10 04:32] agrawalreetika opened #1478 "[Feature Request] Delta Sync for metadata sync to HMS/Glue"
Hudi has Hudi Sync which allows sync of table metadata from transaciton logs to HMS/Glue.
I wanted to know if there is something similar for Delta Tables?

[2022-11-10 08:59] george-zubrienko opened #1479 "[BUG] Delta log for timetravel queries seems to be cached incorrectly"
## Bug

### Describe the problem

When joining two different versions from the same table, produced result is incorrect.

#### Steps to reproduce

Given the following table:

[code]

Running `describe history dev_george_t.bug_table` outputs 2 rows (version 0 and version 1) as expected. Now let's create two views:

[code]

Finally, let's join them:

[code]

Now let's materialize view `a` and run th

[2022-11-10 13:27] tdas commented on #1478
This will be a good feature to add. However, from my past experience, HMS interactions are often flaky and buggy. Do you know how well the Hudi sync works?

[2022-11-10 14:17] agrawalreetika commented on #1478
@tdas Thanks for your response. I have tried Hudi Sync with Glue, haven't seen any issue so far

[2022-11-10 16:47] iagochoa opened #1480 "[QUESTION/BUG] Failing to create delta_log directory on NFS"
**SCENARIO**: I have a Kubernetes cluster with a HELM Spark 3.1.2. I mounted a NFS storage because I run a script that uses delta files.
My spark cluster has 8 workers. I gave full permission to each worker to write and read on the NFS storage.

**PROBLEM**: The script is failing to create delta_log directory on a NFS storage in Kubernetes.

When I run my script, I got the following error:

`Canno

[2022-11-10 19:01] zsxwing commented on #1480
Could you try to add the following Python code and see if it can create the directory? Delta just calls file system APIs to create a directory and this is unlikely a Delta issue.
[code]

[2022-11-10 19:16] iagochoa commented on #1480
I added the above code and got `[Errno 13] Permission denied: '/spark-nfs'`

Seems to be a permission error, but this is strange since I can create dirs in each worker and when I run the scrip the parquet files are created.

[2022-11-10 19:20] zsxwing commented on #1480
This may be caused by differences between how k8s creates the pods for driver and executors. I'm not familiar with this. Maybe ask in the spark community. There are spark k8s expert there who may be able to help you.

[2022-11-10 19:22] iagochoa commented on #1480
Thanks @zsxwing! I'll post this on stackoverflow to see if someone knows how to solve this! Thanks for your attention! I'll close the issue by now

[2022-11-10 19:22] #1480 closed

[2022-11-10 23:24] allisonport-db commented on #1479
Thanks for reporting this. I think you switched a few things in the examples but I'm seeing
[code]

[2022-11-11 06:36] ChenXiongfeng commented on #1470
I also found this issue. It is really my misuse. thank you @zsxwing

[2022-11-11 06:36] #1470 closed

[2022-11-11 06:59] zsxwing commented on #1459
Totally agree that hms is heavier. But it's a de facto standard. In addition, Delta mostly just relies on Spark's catalog APIs. You can implement Spark's APIs and just use Delta Lake with that.

[2022-11-11 07:19] aersam opened #1481 "[Feature Request] Arrow Storage Format"
## Feature request

### Overview

Hi there!
Though the Delta Format spec mentions a number of formats for the underlying files, it seems that only Parquet is the way to go for now. I think that's probably meaningful most of the time, however I think the following two formats might be something to consider:

- Apache Arrow : Thought significantly larger, it allows to be used by using Memory-Map whi

[2022-11-11 10:27] george-zubrienko commented on #1479
@allisonport-db thanks for sorting out my mess there :) I've updated the issue description accordingly and added an example with table materialization

[2022-11-11 23:43] danzafar commented on #85
To follow up on the side-issue here for future readers, you can get it from the SERDE_PARAMS table in the Hive Metastore, there is an entry `path` that corresponds to the external location.

[2022-11-13 08:54] 0xdarkman opened #1482 "[question] spark scala or pure python execute optimize and vacuum on Delta Table with no Databricks involvement"
Is it possible to execute optimize and vacuum commands from spark job running in k8s developed in scala or deployment running in k8s developed in pure python?

I don't want to use Databricks or Databricks operators. My end goal is to schedule task in airflow.

So my question is: is it possible?

[2022-11-14 10:28] elenigeo opened #1483 "[BUG]Merge didn't fail while inserting wrong data type values"
Hello. During some example cases we were running, in order to identify how Databricks treats possible wrong actions we could make, we noticed that merge doesn't fail while inserting different data type values from the ones in the corresponding table. Please find the example below:

Target table schema
![merge1](https://user-images.githubusercontent.com/118174584/201636669-d9317eb1-f736-47d0-83a1-c

[2022-11-14 18:29] allisonport-db commented on #1482
Yes it's possible, please see our documentation for [Optimizations](https://docs.delta.io/latest/optimizations-oss.html) and [Vacuum](https://docs.delta.io/latest/delta-utility.html#remove-files-no-longer-referenced-by-a-delta-table)

[2022-11-14 20:47] #1466 closed

[2022-11-14 23:20] justinTM opened #1484 "[QUESTION] Undocumented SQL `show databases` discrepancy"
## Databricks
`%sql show databases`
![image](https://user-images.githubusercontent.com/9123665/201788219-aff05647-3103-4a16-98b2-e55013d812c0.png)

## local Delta
[code]
[code]

they should both be `namespace`, or they should both be `databaseName`. but as it exists right now, unit tests are failing due to this discrepancy and blocking merge requests for us.

[2022-11-15 01:11] tdas commented on #1484
This seems to be a problem specific to the Databricks environment which may have differences in the metastore setup than default Apache Spark. So it would be better to contact Databricks support.

[2022-11-15 01:14] tdas commented on #1483
MERGE in Delta by default casts the update/insert action expressions to match the target column being updated/inserted. So it will not throw error.

[2022-11-15 05:20] justinTM commented on #1484
luckily the people working on Delta Tables are databricks employees, and there is a large umbrella initiative already to both remove databricks-specific code from Delta as well as bring the open source Delta repo to parity with what DataBricks offers. hoping to add this to that initiative

[2022-11-15 05:37] dennyglee commented on #1307
Oh, could you please create a separate issue for this and we can discuss the specifics there?  Thanks!

[2022-11-15 06:43] horizonzy commented on #1456
Any progress?

[2022-11-15 07:26] throuch commented on #1393
First, the link you sent talk about unbounded **table**, not unbounded dataset.
Second, in streaming you have a very usual mechanism called: [flow control](https://en.wikipedia.org/wiki/Flow_control_(data)). The trigger _AvailableNow_ feature relies on this principle.
Third, do you actually suggest me to use static datasets by specifying starting and ending versions and reimplement the checkpoint

[2022-11-15 08:00] elenigeo commented on #1483
Hi @tdas. Is this behavior configurable? I mean, could merge can throw an error in these cases?

[2022-11-15 16:37] agrawalreetika commented on #1478
Hi @tdas,
Could you please help me understand what kind of flakiness and bugs you faced earlier with HMS sync?
Is there any work done already on the sync of table metadata from transaction logs to HMS/Glue, which I could follow?

[2022-11-15 16:38] zsxwing commented on #1484
@justinTM `show databases` is not in Delta code. It's better to contact Databricks support in this case as there is nothing to be changed in the open source Delta repo.

[2022-11-15 19:17] vkorukanti opened #1485 "[Feature Request] Support reading Delta tables with Deletion Vectors"
## Feature request
This task is part of the Deletion Vectors support feature. The scope here is support reading Delta tables with deletion vectors (DVs) in the current master.

### Overview
Regarding the DV protocol refer to https://github.com/delta-io/delta/issues/1367.

At a high level if a Parquet file has one or more records marked for deletion (using DVs), there is a corresponding DV file in

[2022-11-15 19:20] vkorukanti commented on #1367
Update: Issue https://github.com/delta-io/delta/issues/1485 is created to support reading Delta tables with DVs

[2022-11-15 19:20] dennyglee commented on #1478
Out of curiosity, would Glue Crawler reading Delta tables work in this scenario, or would you need to go beyond that?  Shameless plug of a recent session by @moomindami and myself on this topic btw https://www.youtube.com/watch?v=GrqjZoVokNQ

[2022-11-15 22:22] tdas commented on #1483
This implicit casting is unfortunately not configurable right now. But this could be something worth adding a SQL configuration flag. This is not really a bug, but more like a Feature Request.

[2022-11-16 04:42] allisonport-db commented on #1479
@george-zubrienko so I took a look at this and it seems to be an issue with the way Spark caches resolved relations. I've opened [SPARK-41154](https://issues.apache.org/jira/browse/SPARK-41154).

Basically, in Spark when we resolve the first relation we cache it [here](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala#L125

[2022-11-16 04:43] allisonport-db commented on #1479
Also just to add an example here, queries like this are also incorrect
[code]
--(resolved)-->
[code]

[2022-11-16 19:15] felipepessoto commented on #1462
#1463 mention a couple of limitations. Is it the plan to address them?

Thanks

[2022-11-16 23:15] tdas commented on #1462
Each of these features are pretty complex to translate to Delta protocol. So its tricky to get it done before the next release. We definitely welcome the community to help out.

[2022-11-17 11:04] melin commented on #1459
hudi is also developing the jdbc catalog

[2022-11-17 11:04] #1459 closed

[2022-11-17 19:16] RaghadBd opened #1488 "[BUG] Delta.forPath() should accept partition path in addition to table path"
## Bug

### Describe the problem
Trying to generate manifest file for certain partition file always return a warning since indicating it is recommended to use predicate rather than full partition path

#### Steps to reproduce
insert partition path `/table/year=2022/month=11/day=17/hour=02` rather than `/table` to the method Delta.forPath

#### Observed results

#### Expected results

#### Further

[2022-11-17 20:00] zsxwing commented on #1485
I added one more task `OptimizeMetadataOnlyDeltaQuery should support DV` to the list as we are going to merge #1377

[2022-11-17 22:28] zsxwing commented on #1488
Actually, we always generate the manifest files for all partitions even if you provide a partition directory as the path. The warning is a bug.

[2022-11-18 05:11] aersam commented on #1481
Just seen https://github.com/delta-io/delta/issues/87 , seems to be the place to discuss

[2022-11-18 07:40] dennyglee commented on #1459
While Iceberg and Hudi are developing a JDBC catalog, this is because they rely on the catalog for their metadata.  As @zsxwing noted, Delta does not require a catalog for its metadata, and there are architectural advantages to this approach.  In addition to using the Spark APIs, you can also Delta Standalone (Scala/Java), Delta Rust (or delta-rs), and/or Delta-python (delta.rs python bindings) to

[2022-11-18 10:56] george-zubrienko commented on #1479
@allisonport-db thanks a lot for a detailed investigation and explanation. We'll use the workaround you mentioned until this is resolved!

[2022-11-18 18:35] RaghadBd commented on #1488
I believe this WARNING is coming from spark.load() and not related to delta lake project ?

[2022-11-18 18:43] zsxwing commented on #1488
It's coming from https://github.com/delta-io/delta/blob/e60d8b6fbb550353d235a428210c72fd7ebc49d1/core/src/main/scala/org/apache/spark/sql/delta/sources/DeltaDataSource.scala#L319

[2022-11-18 18:45] RaghadBd commented on #1488
I see I think it is misleading

[2022-11-18 18:49] RaghadBd commented on #1488
I can help to fix it, my suggestion is to show that it is recommended to use full directory path rather a partition path

[2022-11-18 19:13] RaghadBd commented on #1488
I would be happy for fix this on v 1.0 with some directions

[2022-11-19 05:59] MySelfSivaKrishna commented on #1472
hi, can you assign this issue to me?

[2022-11-19 10:24] GrigorievNick opened #1490 "[Feature Request] Enable ability to read stream from delta table without duplicates."
## Feature request

### Overview

Enable the ability to read the stream from the delta table without duplicates.

### Motivation

While there are a big amount of technics to deal with duplicates over the stream, like Dirty Partitioning or SCD(2) or ingest from CDC events, they bring costly overhead from a CPU/Memory perspective. Especially when we talk about `big data` workload.

But there are a l

[2022-11-19 10:47] GrigorievNick commented on #1490
I plan to create MR for the first option, later today.
In my company, we already use it during the last 2 weeks in production.

[2022-11-21 13:11] Tom-Newton commented on #1192
Thanks for working on this @felipepessoto. Is there any chance of subsequently expanding this to work when there are filters on partition columns.

[2022-11-22 00:27] felipepessoto commented on #1192
@Tom-Newton yes, I plan to continue improving it. I'd like to first finish this first step to have the foundation, and then expand the scenarios.

[2022-11-22 07:54] agrawalreetika commented on #1478
Sorry for the delay. Thanks, @danny for sharing the Video link.
I checked the Glue crawler which is reading the metadata from transaction logs and updating it to glue.
But it is creating symlink tables, looks like it is not configurable while configuring the crawler.
And I do not find any specific properties in the metadata to identify if it is a Delta Table.

Please correct me if I am missing som

[2022-11-22 08:29] amirmor1 commented on #1260
Hi guys, any update on this? Any questions regarding the design doc?

[2022-11-22 09:41] guoliqiang opened #1493 "[Question] ZORDER by multiple columns"
Hi Team,
if we input multiple columns to ZORDER,  does the column order matter?

e.g.
optimize table_name ZORDER BY c1, c2
vs
optimize table_name ZORDER BY c2, c1

And what is the guideline for the column order?

Thanks

[2022-11-22 22:08] scottsand-db commented on #1488
@zsxwing so, should we just throw an exception if you provide a partition path `table/partition1=foo` to `DeltaTable.forPath` ?

[2022-11-22 22:56] shahsunil opened #1496 "Issue with UPDATE statement for tables with GENERATED columns with Now()"
I created a Delta table with a timestamp column which is defined as GENERATED ALWAYS AS (now()). As per my understanding, this allows, when inserting new records to the table, to automatically assign the current timestamp to the column.

When I'm trying to use the UPDATE command to update, for a given row, another field (not the aforementioned generated column), I receive an InvariantViolationExce

[2022-11-23 00:05] zsxwing commented on #1496
See my reply in https://github.com/delta-io/delta/issues/791#issuecomment-1155816575

[2022-11-23 00:28] zsxwing commented on #1496
Right. `now` should not be used by generated columns. It only supports deterministic expressions. [DEFAULT values for columns](https://github.com/delta-io/delta/issues/1438) is a feature that can allow you to use these expressions. But it's not implemented yet.

[2022-11-23 00:30] shahsunil commented on #1496
Thanks for the quick reply.

[2022-11-23 00:30] #1496 closed

[2022-11-23 15:13] shahsunil opened #1497 "How to retrieve the last generated identity value"
I am using identity column to auto generate the value for one of the column.

CREATE TABLE IF NOT EXISTS T_EMPLOYEE
(
	EMPLOYEE_ID BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
	EMPLOYEE_NAME STRING NOT NULL
)

Insert into T_EMPLOYEE values ('employee_1')

Now, to get the identity generated value for above insert, I need to run another sql query on T_EMPLOYEE table. s

[2022-11-24 04:00] pgrandjean commented on #1475
Same issue during tests. Looking forward to having this fixed!

[2022-11-25 13:59] soumilshah1995 opened #1498 "[BUG] Multi-cluster writes to Delta Lake Storage in S3"
Trying out

https://delta.io/blog/2022-05-18-multi-cluster-writes-to-delta-lake-storage-in-s3/
https://docs.google.com/document/d/1Gs4ZsTH19lMxth4BSdwlWjUNR-XhKHicDvBjd2RqNd8/edit#

### DynamoDB tables
![image](https://user-images.githubusercontent.com/39345855/204000374-2773dc2e-6f63-4c58-8ccd-9d8724e83e74.png)

#### jar files
![image](https://user-images.githubusercontent.com/39345855/204000399-

[2022-11-25 14:24] soumilshah1995 commented on #41
Any updates here https://github.com/delta-io/delta/issues/1498

[2022-11-25 18:03] jkylling opened #1499 "[BUG] VOID type supported by Delta, but is not part of the Delta log protocol specification"
## Bug

### Describe the problem
Running
[code]
will create a table with a column of type `VOID`. However `VOID` is not among the primitive types listed in [the protocol specification](https://github.com/delta-io/delta/blob/master/PROTOCOL.md#primitive-types). Not all readers of Delta tables understands the VOID type, since it is not part of the specification, and will be unable to read such table

[2022-11-26 10:55] soumilshah1995 commented on #1498
Hie is there any updates ??

[2022-11-26 15:25] dfustes opened #1500 "[BUG] Unexpected rows when reading stream from Delta Table with change feed enabled"
## Bug
Unexpected rows when reading stream from Delta Table with change feed enabled

### Describe the problem
When streaming changes from a Delta table, in _forEachBatch_, we are reading unexpected events, particularly we get an _insert_ event and a _delete_ event for the same entity at the same commit version.

#### Steps to reproduce

1. Create a Delta Table
2. Execute a merge operation that do

[2022-11-27 21:44] shahsunil commented on #1497
hi Team,

Any input on above?

[2022-11-28 04:50] allisonport-db commented on #1100
Working to get this into 3.4 tracking via [SPARK-41290](https://issues.apache.org/jira/browse/SPARK-41290)

[2022-11-28 14:04] dragonH opened #1501 "[BUG] - CDC Logs From AWS DMS Not Apply Correctly"
## Bug

The CDC Logs from AWS DMS not apply correctly

### Describe the problem

I have a dms task that processing the full-load and replication ongoing tasks

from source (MSSQL) to target (AWS S3)

then use delta lake to handle the CDC logs

I've a notebook that would insert data into mssql continuously (with id as primary key)

then delete some records from mssql directly

the delta lake would

[2022-11-28 18:47] tdas commented on #1498
Can you get the log4j logs of your application by configuring log4j.properties? Here is some links I found that may help it setting it up
- https://spark.apache.org/docs/2.4.2/configuration.html#configuring-logging
- https://medium.com/@cupreous.bowels/logging-in-spark-with-log4j-how-to-customize-a-driver-and-executors-for-yarn-cluster-mode-1be00b984a7c

With the INFO level logs, we will be able t

[2022-11-28 20:51] shahsunil opened #1502 "Error while adding partition to existing delta table"
I have one delta table created as

CREATE TABLE IF NOT EXISTS global.T_RUN_DATA
(
	ID INT NOT NULL,
	RUN_TIME STRING NOT NULL,
	NAME STRING NOT NULL,
	CREATE_DATE TIMESTAMP NOT NULL,
	CREATE_BY STRING NOT NULL,
	UPDATE_DATE TIMESTAMP,
	UPDATE_BY STRING
)
USING delta
location 's3://dummy_bucket/global/run_data';

Two rows inserted.

INSERT INTO  global.T_CREDIT_MODEL_RUN_DATA (ID , RUN_TIME, NAME ,

[2022-11-28 21:24] nnanto commented on #1277
@0xdarkman Could you let us know where the fix was made?

[2022-11-28 21:34] zsxwing commented on #1502
Delta doesn't support the legacy partition commands, such as ADD PARTITION or [DROP PARTITION](https://github.com/delta-io/delta/issues/1461). Delta manages all of file paths in its metadata.

For your example, you can just run the following commands without `ALTER TABLE ADD PARTITION`
[code]

[2022-11-28 21:36] #1475 closed

[2022-11-28 21:36] #1192 closed

[2022-11-28 21:36] #527 closed

[2022-11-28 21:55] shahsunil commented on #1502
@zsxwing  Thanks for quick reply.

We can add partition during table creation itself. But to add the partition for existing table, we need to recreate the table by providing partition details. Is this correct understanding?

[2022-11-28 22:11] zsxwing commented on #1502
Do you mean you want to change a NEW partition column to an existing table? This is not what `ALTER TABLE ADD PARTITION` does even for Hive either. For example, `ALTER TABLE global.T_RUN_DATA ADD PARTITION (ID= 1);` will add a directory for the partition `ID = 1` but your table needs to be created using partitioned by `PARTITIONED BY (ID)` as well. If you want to change the partition columns in an

[2022-11-28 22:18] shahsunil commented on #1502
yes, I want to add new partition column to an existing table. I got it now that we can do it by REPLACE to rewrite table. Thanks.

[2022-11-28 22:24] zsxwing commented on #1502
Cool. Closing this issue as this is not a bug.

[2022-11-28 22:24] #1502 closed

[2022-11-28 23:19] justinTM commented on #1215
[code]

also fails

[2022-11-28 23:39] zsxwing commented on #1215
This is the issue I mentioned above `Currently Spark will block such INSERT query if the user doesn't provide the entire column list. We are working on this and hope to remove the restriction so that we can make it work with generated columns in Delta.`

[2022-11-28 23:47] zsxwing commented on #1501
It would be better to contact Databricks support instead. This is a question for Delta Live Tables which doesn't belong to this project.

[2022-11-28 23:47] #1501 closed

[2022-11-28 23:49] zsxwing commented on #1500
This has been fixed in https://github.com/delta-io/delta/commit/993870de9a28f0d16601f9e4f29a5e45d1e7202f Will be released in 2.2.0.

[2022-11-28 23:49] #1500 closed

[2022-11-28 23:52] zsxwing commented on #1484
Closing this as this is not a Delta Lake issue

[2022-11-28 23:52] #1484 closed

[2022-11-29 00:50] soumilshah1995 commented on #1498
i can try to go to cloud watch and get the logs if thats what you want as mentioned jobs succeeded and does nto throws error

[2022-11-29 00:58] soumilshah1995 commented on #1498
@tdas

[code]

[code]

[2022-11-29 01:14] GrigorievNick commented on #1490
Gentle ping, any comments on this?

[2022-11-29 01:51] allisonport-db commented on #1490
Just to confirm, are you aware of the Delta [Change Data Feed](https://docs.delta.io/2.0.0/delta-change-data-feed.html) feature? It seems to me like you could use a CDF stream to accomplish your use case by just filtering out versions with only "insert" rows (which would basically fulfill option (2) that you've outlined above).

[2022-11-29 01:58] GrigorievNick commented on #1490
Yes, but it's not related.
Yes  - it's possible to implement the same logic Change Data Feed + filter of only inserts.
But the performance parts are very different.
CDF requires:
1. Additional IO during writing data to delta table.
2. Additional processing time to read feed.
3. Additional storage for feed data.
While proposed solutions give the ability:
-  to skip commit completely
- do not have a

[2022-11-29 05:25] dfustes commented on #1500
Thanks a lot @zsxwing !

[2022-11-29 07:53] zevektor opened #1503 "[Feature Request] Refresh table manifest files for selected partitions only"
## Feature request

### Overview

Delta should provide the possibility to refresh the manifest files for selected partition subsets.

### Motivation

There are Delta tables where multiple writers are concurrently writing new data to separate partitions, and I would like every writer to be able to refresh only the manifests of the partitions they’re working on.

### Further details

I imagine this

[2022-11-29 10:09] kongluo opened #1504 "delta lake1.0.1 happen dfs.core.windows.net not found for azure storage gen2[BUG]"
### Describe the problem
in this issue https://github.com/delta-io/delta/issues/1093,This problem occurs first occasionally in structured streaming. It is solved by upgrading the delta lake to 1.0.1. However, recently, I found that the delta lake is 1.0.1 after using it in other services, but the problem still occurs. I read data through SparkSQL.

the log is :
------>
{
    "instant": {
        "

[2022-11-29 21:56] allisonport-db commented on #1474
Thanks for pointing this out! Will update the documentation to be more clear as to the default value

[2022-11-29 23:34] allisonport-db commented on #1503
This seems like a reasonable idea, we will leave this open and see if anyone would like to contribute

[2022-11-29 23:44] allisonport-db commented on #1497
Is this on Databricks? For Databricks questions please use [Databricks Community](https://community.databricks.com/s/#)

[2022-11-29 23:49] allisonport-db commented on #1499
What environment are you running this in?

[2022-11-30 03:52] dennyglee commented on #1499
Per Trino thread: https://github.com/trinodb/trino/issues/15193#issuecomment-1327914522 - this appears to be happening in Databricks environment.

[2022-11-30 08:23] soumilshah1995 commented on #1498
Any Updates ??

[2022-11-30 09:43] keen85 commented on #1215
@zsxwing is this a **_Delta_** or a **_Spark_** issue? If it is a Spark issue, is there already a [tracking issue](https://issues.apache.org/jira/browse/SPARK)?
I did not find any: https://issues.apache.org/jira/issues/?jql=project%20%3D%20SPARK%20AND%20text%20~%20"insert%20not%20enough%20data%20columns"

[2022-11-30 12:54] GrigorievNick commented on #1490
I am not sure, I will be able to do such a comparison on my amount of data.
For example, during applying GDPR on my dataset, more than 100k files were modified.
So last time when I try enable CDF, I stuck with too many slowdowns.
This actually can be fixed together with s3 support, so they fix the pattern of how they partition data in my buckets.
Another issue to test CDF, I need a budget to appro