[2022-06-20 13:32] aleksandraangelova commented on #527
Sure, I just filed it - https://github.com/delta-io/delta/issues/1218
Should I delete my comment here?

[2022-06-20 13:34] bart-samwel commented on #527
You can leave your comment around, but maybe update it with a comment at the top, just like https://github.com/delta-io/delta/issues/527#issuecomment-1119411654 ? Thank you!

[2022-06-20 13:47] aleksandraangelova commented on #1218
Unfortunately I don't have the rights to file a Service Support request in Azure. I am waiting for the required role but it might take some time, so I decided to post here. Will submit a support ticket as soon as possible.

[2022-06-20 13:57] bart-samwel commented on #1218
@aleksandraangelova For now, here's my thoughts:

* You are reading the dataframe twice: once to determine `partition_to_overwrite` and once to write the actual updates. If the dataframe is extended with new partition key values between those two executions, then the overwriting will not delete data from those new partitions.

* If materializing the `updates_df` into a Parquet really helps, then i

[2022-06-20 14:13] aleksandraangelova commented on #1218
Thanks for the feedback @bart-samwel
In our implementation the data frame could not have been extended during the read to determine the partitions because no other process is writing to this table and it is a data frame loaded in memory.

For the test, I loaded 3 days from Snowflake into a separate storage container and I know I am always reading those 3 days that I have loaded once - this means t

[2022-06-20 14:17] aleksandraangelova commented on #1218
And actually saving to intermediate Parquet files does not help :( After running the process again with this workaround, some duplicates reappeared, even though they were gone before that.

[2022-06-20 14:31] bart-samwel commented on #1218
@aleksandraangelova  So when do you save to parquet? Before determining the partitions to write to, or afterwards?

And what happens in updated_df? Is there a computation happening there or is it a straight-up read from a table?

[2022-06-20 17:49] gatorsmile commented on #880
@zsxwing  Is it resolved in Delta 1.2 release?

[2022-06-20 18:00] avantgardnerio commented on #919
@zsxwing is this what you were looking for? https://github.com/spaceandtimelabs/docker-spark-deltalake

[2022-06-21 02:36] guandatawangjialin opened #1219 "delata can support ddl"
## Feature request

### Overview

### Motivation

### Further details

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidanc

[2022-06-21 02:59] allisonport-db commented on #880
@gatorsmile yep, it's in 1.2. good catch!

[2022-06-21 02:59] #880 closed

[2022-06-21 03:49] dennyglee commented on #950
Hi @zhangt-nhlab - yes, we will be updating https://github.com/delta-io/website/issues/11 shortly to include Ceph.  Could you slack me via the Delta Users Slack at https://go.delta.io/slack (my Slack is dennyglee) as I may be able to get something in a little earlier while we wait for the documentation but wanted to check with you first.  Thanks!

[2022-06-21 03:51] dennyglee commented on #1097
That's great to hear @allenhaozi  - let me know if you have some time to chat about this via the [Delta Users Slack](https://go.delta.io/slack) as this may also be blog / docs worthy, eh?!

[2022-06-21 03:56] dennyglee commented on #920
Hey @hoffrocket - let me get back to you on the timing of this - thanks!

[2022-06-21 06:01] aleksandraangelova commented on #1218
In our job we have an extractor, transformers and loaders defined as functions.
The extractor retrieves the data from Snowflake (in my recent runs I've been using a static copy of the data located in an Azure storage container).
The resulting df then goes through some transformations and then it is finally loaded in Delta format to a destination storage container.

Essentially, the process is as f

[2022-06-21 07:12] bart-samwel commented on #1218
@aleksandraangelova So my concern would be with `transformer`. It may contain operations that are not deterministic. If it gets executed twice (which `overwrite_delta` does), then it may return different results each time.

FWIW, it's very hard to reason about what is deterministic in Spark and what is not. A common reason for nondeterminism include window functions with ORDER BY that don't specif

[2022-06-21 07:44] aleksandraangelova commented on #1218
Yes, I understand. I have looked at the transformer multiple times and it does not seem to have such operations. However, it is possible that something is messed up there, yet I can't figure out what it could be.
In general, this process runs daily and processes usually 1 day of data without any sort of unexpected results, so it is strange that when I take a bigger time frame and execute it multip

[2022-06-21 07:56] bart-samwel commented on #1218
I think this requires a deeper inspection of the code -- the issue may be very subtle. I expect that it's probably not OK to share that code in this public channel. At this point we should probably take this to a Databricks support ticket for further digging.

[2022-06-21 13:47] alexandrutofan opened #1220 "OPTIMIZE jobs aren't fully parallelized until the end of the execution"
## OPTIMIZE jobs aren't fully parallelized until the end of the execution

### When running the OPTIMIZE command I noticed that the execution starts with a number of jobs equal with `optimize.maxThreads` but this number decreases until a single job will be running at a time.
I don't know if it is something I can change on my side to make it use all the cores and run all the expected jobs until the

[2022-06-21 14:55] Kimahriman commented on #1220
I've noticed this as well. I think this is due to using `ParVector` to parallelize the jobs. It seems like it splits the jobs into n/maxThreads groups and then executes, so if one of those groups finishes it won't keep running other yet to be started jobs in other groups. I tried to fix as part of https://github.com/delta-io/delta/pull/979 but couldn't get deterministic testing behavior to work. P

[2022-06-21 18:30] zsxwing commented on #1182
As this API is for setting table properties rather than options, we should allow arbitrary table properties. What we should fix is making it preserve the case.

[2022-06-21 23:17] scottsand-db opened #1221 "[Feature Request] Make `DELETE` operations return the number of deleted rows"
## Feature request

### Overview

Currently, `DELETE` operations return an empty result. For example, `DELETE FROM $myTable WHERE $clause` returns an empty DataFrame. It would be more useful if we returned the number of deleted rows.

### Further details

You can see where this is currently done in [DeleteCommand.scala](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/s

[2022-06-21 23:24] tdas commented on #1217
Yeah, we will start working on this soon :)

[2022-06-21 23:56] chetankokil commented on #1188
@tdas can you give me a brief overview. i would love to take a look

[2022-06-22 00:00] scottsand-db opened #1222 "[Feature Request] Make DELETE operations return the number of deleted rows"
## Feature request

### Overview

Currently, the `DELETE` operation returns an empty result. It would be more useful if it returned the number of deleted rows.

### Motivation

The number of deleted rows is an obvious metric that users would want from a delete operation.

### Further details

Currently, `DeleteCommand.scala` is explicitly returning an empty `DataFrame` [here](https://github.com/de

[2022-06-22 03:36] kongluo opened #1223 "Is it reasonable that some tasks have obvious data skew when executing compute snapshot?[BUG]"
### Describe the problem
When the delta log log becomes larger, it is found that during the process of executing the compute snapshot, the operation task execution has obvious data skew, and the data volume of each task varies greatly.

#### Further details
![image](https://user-images.githubusercontent.com/28140815/174937905-0aa34ecb-5f90-451d-90d2-0db72d7e6ffb.png)

![image](https://user-images.

[2022-06-22 08:03] kongluo opened #1225 "The delta log is too large, and OOM always occurs when the delta log checkpoint is executed.[BUG]"
## Bug

At present, the latest data size of the delta log is as follows, checkpointSize: 7639547
numOfFiles: 5140110

![image](https://user-images.githubusercontent.com/28140815/174976289-be7b3a7c-7b4a-4278-b86a-c19965db09ea.png)

At present, the given memory size of each executor is 18G, and park.shuffle.memoryFraction=03. However, in the process of operating delta lake, structured streaming stil

[2022-06-22 13:23] hustnn commented on #1152
hi @bobrippling @scottsand-db  I am using spark 3.2.0 in EMR, I still have this issue after specify the packages.
`pyspark --packages io.delta:delta-core_2.12:1.2.1 --conf "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension" --conf "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog"`

The error is:
`>>> spark.range(1,5).write.format("delta").save("s3://eth-e

[2022-06-22 17:49] scottsand-db commented on #1152
Hi @hustnn, that first screenshot shows that `delta-storage` is, in fact, being downloaded. This seems to be some other issue, perhaps related to the `.getDeltaLogCache` call.

[2022-06-23 00:50] felipepessoto commented on #581
@zsxwing, I was looking at this PR: https://github.com/delta-io/delta/pull/840 which fallback to v1 to implement ANALYZE TABLE.

It seems the problem with [analyzeTable](https://github.com/apache/spark/blob/5d45a415f3a29898d92380380cfd82bfc7f579ea/sql/core/src/main/scala/org/apache/spark/sql/execution/command/CommandUtils.scala#L203) is only to calculate the total size, because the [calculateTotal

[2022-06-23 00:51] #1204 closed

[2022-06-23 00:51] #1199 closed

[2022-06-23 01:31] hustnn commented on #1152
@zsxwing @bobrippling I managed to make it work after copying the delta-storage jar to spark lib.

[2022-06-23 01:58] zsxwing commented on #1152
@hustnn so you have a delta-core jar in spark `jars` directory? If so, this makes sense. This line https://github.com/delta-io/delta/blob/v1.2.1/core/src/main/scala/org/apache/spark/sql/delta/storage/DelegatingLogStore.scala#L159 requires delta-core and delta-storage are loaded in the same way, either both exists in `jars` directory, or both loaded through --packages.

[2022-06-23 02:04] hustnn commented on #1152
Yes, I see. Thanks @zsxwing

[2022-06-23 08:47] aleksandraangelova commented on #1218
I have found a workaround solution to the problem - when I save the results after each major transformation step in delta format and then I save them again after the last transformation to the final target table, the duplicates seem to disappear.

[code]

[2022-06-23 15:33] vkorukanti commented on #1185
@chrimaho There is an [issue](https://github.com/delta-io/delta/issues/815) open to support the use case you mentioned. Basically as part of every write, there will be a compaction job followed. We can't run the Z-Order (as it is an expensive operation and will delay the writes), but compaction can be part of the write. Feel free to provide your usecase requirements on the [issue](https://github.c

[2022-06-23 17:15] scottsand-db opened #1229 "[BUG] Do not persist `RemoveFile.numRecords` to the checkpoint"
## Bug

### Describe the problem

As mentioned in this issue https://github.com/delta-io/delta-rs/pull/651 and again in this issue https://github.com/delta-io/delta/pull/1216, currently `RemoveFile.numRecords` is being written out to the delta checkpoint. This is a bug, as the field is clearly marked as `JsonIgnoreProperty` in the `RemoveFile` class declaration [here](https://github.com/delta-io/d

[2022-06-23 17:45] #1185 closed

[2022-06-23 18:40] Iabhishekkothari opened #1231 "Delta Stream overwrite possibility"
I'm using spark stream to append data to delta table,but i need only the latest data(data of latest file recieved in each partition). As stream doesn't support overwrite, is there any work around? Can we keep only the latest files in each partition and vacuum rest.
Is there any way to use overwrite in spark stream?
Urgent help needed

[2022-06-23 21:27] mikeleuer opened #1232 "[Feature Request] Better debugging on merge for delta table"
## Feature request

### Overview

Using

delta_table.alias(...).merge(old.alias(...),matchstrings).whenMatchedUpdateAll().whenNotMatchedInsertAll().execute()

### Motivation

I need to figure out what records are causing errors, it is just failing with no information on what records are causing the error.

The error I get is `Cannot perform Merge as multiple source rows matched and attempted to mo

[2022-06-24 01:55] chrimaho commented on #815
Hi Team!

I like this idea, and I would like to take it one-step further.

Specifically, I'd like to set up a much easier way to optimize my `delta` tables from `spark`. I am referring to the spark `sql` command: `OPTIMIZE <table>`.

Let me show you the differences:

**Current:**

First, run:

[code]

Then, once it's saved, run:

[code]

Then, once the table is loaded, run:

[code]

As you can see

[2022-06-24 01:58] crankswagon opened #1233 "[BUG] Dynamic Partition Insertion truncates entire delta table before write"
## Bug
Dynamic Partition Insertion truncates delta table before write; bug exists on `databricks 10.4 LTS`

### Describe the problem

Contrary to documentation here: https://docs.databricks.com/spark/latest/spark-sql/language-manual/sql-ref-syntax-dml-insert-into.html

essentially; the below dynamic partition spec truncates entire table first (which is not desired)

[code]

you have to

[code]

##

[2022-06-24 06:33] zsxwing commented on #581
@felipepessoto yep. You are right. Do you know how Spark uses these stats? Only for optimization, or also use stats to return answers?

[2022-06-24 19:32] felipepessoto commented on #581
From my experiment, it seems it is only for optimization.
I executed a SELECT COUNT(*) FROM TABLE query, Spark still scan the parquet files, instead of using the data available in the stats to return the results.
The same for MAX/MIN

[2022-06-27 16:27] GrigorievNick opened #1235 "[BUG] S3DynamoDBLogStore do not support hadoop-aws s3a SimpleAWSCredentialsProvider."
## Bug

### Describe the problem
When configure spark using [setup-configuration-s3-multi-cluster](https://docs.delta.io/latest/delta-storage.html#-setup-configuration-s3-multi-cluster
) In example  s3a credentials have configure with `hadoop.fs.s3a.*` properties. \
But there is another option in documentation `spark.io.delta.storage.S3DynamoDBLogStore.credentials.provider`.
where used [DefaultAWS

[2022-06-27 17:18] allisonport-db commented on #1232
Hi @mikeleuer thanks for opening this. Just to clarify, this is a request to improve the error message for failed merge commands right? This seems like a helpful improvement to me. Please feel free to open a PR to improve this. If you aren't already a member of the Delta Lake slack you can join [here](https://github.com/delta-io/delta#community), and reach out on the `#contributors` channel with a

[2022-06-27 21:11] nchammas opened #1236 "[Feature Request] Robustly determine the version just created by a write operation"
## Feature request

### Overview

If I write to a Delta table, the write operation updates the table's version. There is no way to determine what version was just created without a separate read operation, which opens the door to a race.

[code]

### Motivation

If you are trying to quasi-atomically publish updates to a set of tables, you can do that by pinning views to specific versions of Delta

[2022-06-28 06:28] igvog commented on #704
Looking forward to adding CDF to Delta OSS! @dennyglee

[2022-06-28 09:58] ylashin commented on #857
I like the feature request and would like to see it available for MERGE INTO statement and DML statements like INSERT/UPDATE.

There is another workaround to handle the case of concurrent writes. Spark session allows cloning it such that the clone can have different configuration values. This is used behind the scenes in structured streaming.

So **maybe** we can follow the same approach and have

[2022-06-28 15:57] edmondo1984 commented on #1222
I would be happy to look into that

[2022-06-28 16:47] slyons commented on #1215
I'm getting this with a `GENERATED IDENTITY` column as well.

[2022-06-28 16:52] allisonport-db commented on #1233
Hey @crankswagon, we're planning on releasing this with Delta Lake 2.0.0, and it's currently included in the [Delta Lake 2.0.0 Preview](https://github.com/delta-io/delta/releases/tag/v2.0.0rc1).

[2022-06-28 23:57] wjones127 opened #1239 "[BUG] Column invariant not enforced on write"
## Bug

### Describe the problem

I'm trying to understand the column invariant enforcement in delta lake, so it can implement it in delta-rs. However, I am unable to get PySpark to throw an error when writing values that violate the invariant. Am I misunderstanding the spec? Or is this a bug?

#### Steps to reproduce

[code]

#### Observed results

The write succeeds, even though the `delta.invar

[2022-06-29 01:08] edmondo1984 commented on #1222
@scottsand-db I had a look at the RunnableCommand and I hadn't grasped the meaning of the returned row. If I understood it correctly, this change should be sufficient.

https://github.com/edmondo1984/delta/commit/17998f4ca58f98fe808ce68114a44349ea345966

I wanted to get feedback around the design before adding the tests, I hadn't opened a PR yet for this reason. It's my first contribution, so rath

[2022-06-29 02:53] vkorukanti commented on #1239
Looking at the invariant enforcement code [here](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/constraints/Invariants.scala#L79), it looks like if the column is not nullable, the invariant by `delta.invariants` is not considered at all. The existing test has `nullable=true` and  test you written has `nullable=false`.

I am not sure if it is a bug. Wil

[2022-06-29 03:27] wjones127 commented on #1239
Oh very interesting. If I switch it to `nullable=True`, it then rejects the SQL string provided:

[code]

[2022-06-29 04:29] zsxwing commented on #1215
For the query `INSERT INTO delta_gencols VALUES 1` (delta_gencols has the id and value column as shown in the issue description), we don't support it as it's not a SQL standard. The following two SQL syntax are the standard:

- `INSERT INTO delta_gencols VALUES(1, DEFAULT)`. Spark is adding the DEFAULT keyword support and we will work with them to make it work with generated columns as well ( http

[2022-06-29 04:35] vkorukanti commented on #1239
The expression needs to be in JSON format. In the example test this is the input `{"delta.invariants":"{\"expression\":{\"expression\":\"value < 3\"}}"}`

[2022-06-29 07:35] francescomucio commented on #1105
Hi @scottsand-db,

I noticed that the batch reads are already supported in the [Databricks platform](https://docs.databricks.com/delta/delta-change-data-feed.html#read-changes-in-batch-queries&language-sql). Is the limitation of the TableValueFunctions class mentioned above solved or is that an exclusive Databricks feature?

[2022-06-29 07:48] aleksandraangelova commented on #1218
I wanted to leave this here in case in might help someone - we are doing a transformation which repartitions the data without using key columns. This could be causing the non-deterministic behavior when we are doing very large loads.

https://issues.apache.org/jira/browse/SPARK-23207

[2022-06-29 15:47] slyons commented on #1215
I'm getting this problem with just a regular `insertInto` in PySpark. Is this the same thing @zsxwing ?

[2022-06-29 22:24] allisonport-db commented on #1223
Hey @kongluo sorry for the delay. We are busy with Data + AI summit currently, but will look into this shortly.

[2022-06-29 22:46] scottsand-db commented on #1222
@edmondo1984 i left some comments. Make some small changes then make the PR! I can help with ways to add tests, too. thanks for helping!

[2022-06-30 01:59] wjones127 commented on #1239
Ah yes I can confirm that works.

And I think the fact that it doesn't enforce these on non-nullable columns seems like a bug; I can't imagine why you would want to selectively enforce.

<details>
<summary>
Updated example
</summary>

[code]
</details>

[2022-06-30 10:31] huzk8 opened #1242 "[Feature Request] SparkSQL support TimeTravel"
## Feature request

### Overview

Now we just can use spark dataframe api to query table of history version.

### Motivation

Need support use sparksql to time travel.
### Further details
just like below:
[code]

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation o

[2022-06-30 15:12] edmondo1984 opened #1243 "[BUG] Fix Readme and/or Slack Channel SSO"
## Bug

If you try to sign up on the Slack Workspace using the link in the README, you get redirect to a page where you can log-in via Google credentials only if you are a Databricks employee. This is a little counter intuitive, and it took me a little to figure out that I couldn't login with my Google credentials, but rather I should have selected "Sign Up with your email" and use my gmail accoun

[2022-06-30 19:37] vkorukanti commented on #1151
@Dearkano From the screenshots you posted, it looks like the number of stages is different? Is the query plan different when running on a compacted data?

[2022-06-30 22:03] p2bauer commented on #920
Not to pile on, but also very keen on the `CLONE` functionality :-). It's the last blocker for us to guild out our full DR plan and it would *really* be great to keep this one on track for Q3 if possible.

[2022-07-01 05:41] zsxwing commented on #1242
Thanks for raising the request. We already have a ticket for this request #128. You can watch it to get the latest update.

[2022-07-01 05:41] #1242 closed

[2022-07-01 05:42] zsxwing commented on #1215
@slyons Yep. That's the same issue.

[2022-07-01 07:38] huzk8 commented on #1242
I use delta-core_2.12-2.0.0rc1、Spark3.2.1 for testing.
[code]

[2022-07-01 07:43] zsxwing commented on #1242
@huzk8 I updated the issue #128 to make it clear that the SQL syntax would require Spark 3.3 and Delta Lake doesn't support it yet.

[2022-07-01 09:19] #1218 closed

[2022-07-01 11:12] aleksandraangelova commented on #1218
Tests confirm that the repartioning command in one of our transformations is causing the diplicates.
Usage of repartition(n) wihout providing key fields to repartition the files by is discouraged.

It's not a problem when it's executed once but it's a problem when the operation is executed multiple times
It's probably something failing - maybe it's running on spot instances - and then the task get

[2022-07-01 16:58] nrmilstein opened #1245 "[BUG] Partitions with special characters not deleted from manifest"
## Bug

### Describe the problem

The `generate("symlink_format_manifest")` does not properly delete outdated manifest files that have special characters in partition names.

#### Steps to reproduce

In spark-shell:

[code]

#### Observed results

The contents of /tmp/delta-table/_symlink_format_manifest will then be:

[code]

#### Expected results

The old `myPartition=foo bar` still exists when

[2022-07-01 20:44] edmondo1984 commented on #1182
Do you think that preserving the case should be enabled by default and there should be an option to switch it off?

How about a flag that is mandatory if any non-delta property is set? One of the risk with the new behavior is that there are a lot of people that use notebooks and are not careful about the runtime they attach their notebook to. Or at least, we should document somehow this as a break

[2022-07-02 03:33] hustnn commented on #914
Is this auto generation setting only available for sql? Can I use it with python without catalog?

[2022-07-02 18:44] zpappa commented on #1182
I'll take this one.

[2022-07-03 01:02] edmondo1984 commented on #1128
@tdas one possible solution is to split the test in N partitions and execute them sequentially on separate JVM, would it be ok? An higher speed can certainly be achieved by parallelizing within a VM, but that would probably require tagging tests that are safe to be executed in parallel vs tests that are flaky.

If it sounds reasonable for you I will implement a simple hash partitioning of the test

[2022-07-03 09:32] dwsmith1983 opened #1247 "Z order null to 0"
This is more of a discussion as opposed to an issue.

If we interleave bits, 0 will be always be at the top (so to speak). In your code, you convert nulls to 0.

- Why push nulls to the top?
- Why not `val nullValue: Int = math.pow(2, 31) - 1`?

Take for example telco data. We will have server hostname and domain name. These columns are used a lot in query where statements. However, the server hos

[2022-07-03 10:11] kpe commented on #1100
can we expect the SQL syntax for GENERATED columns to become available in Delta 2.0? (now that delta is to be fully open sourced)

[2022-07-03 14:30] mrk-its opened #1248 "[Feature Request] Improve VACUUM performance"
## Feature request

### Overview

Current VACUUM implementation sometimes is very inefficient / slow because of few reasons:
* First phase of vacuum lists all files. It is done in parallel, but concurrency is limited by number of top-level partitions in the dataset. So if dataset has 2 top-level partitions, only two parallel spark jobs will list all the files in the dataset.
* Collecting list of a

[2022-07-04 01:42] vigneshc opened #1250 "[BUG] Broken link in Specification in Struct Field section"
## Bug

### Describe the problem
Link for `TODO` in the definition for [Struct Field](https://github.com/delta-io/delta/blob/master/PROTOCOL.md#struct-field) is broken in specification.
There are few instances of `delta.` throughout the spec (Example: `delta.columnMapping.id`) but an exhaustive list is not available. Looks like this TODO in the struct field was intended to be updated later, but is

[2022-07-05 14:52] adrianabreu opened #1252 "[BUG] Delta Location on local mode is incorrect"
## Bug

### Describe the problem

When creating a delta table specifying the location on spark local the delta_log files appear on the proper path but the table is registered in the metastore with a prefix to the path!

#### Steps to reproduce

Here is a sample sbt project: https://github.com/adrianabreu/delta-1.1.0-table-location-error-example/blob/master/src/test/scala/example/HelloSpec.scala

[

[2022-07-05 16:49] zsxwing commented on #1182
@edmondo1984 @zpappa Here is a unit test to show the bug:
[code]
`DeltaTableBuilder` is the only API that writes `Map("delta.appendOnly" -> "true", -->"foo"<-- -> "Bar")`. The rest two cases `CREATE TABLE` and `ALTER TABLE` write `Map("delta.appendOnly" -> "true", "Foo" -> "Bar")`.

I would say this is a bug. However, since this is also a breaking change, we can add a flag such as `deltaTableBuild

[2022-07-05 16:51] zsxwing commented on #1182
@edmondo1984 Are you interested in fixing this?

[2022-07-05 16:54] #1106 closed

[2022-07-05 16:56] zsxwing commented on #788
Fixed by https://github.com/delta-io/delta/commit/a71cc67f640418f82195aef98a6e7ba0c7a647ff

[2022-07-05 16:56] #788 closed

[2022-07-05 16:58] zsxwing commented on #921
Fixed by #1133

[2022-07-05 16:58] #921 closed

[2022-07-05 17:00] edmondo1984 commented on #1182
Yes, can you assign the issue to me @zsxwing ?

[2022-07-05 17:04] zpappa commented on #1032
I'll take this

[2022-07-05 17:05] zsxwing commented on #1182
@edmondo1984 done. Thanks for offering the help!

[2022-07-05 20:24] Dearkano commented on #1151
@vkorukanti Thank you for the reply!
I have not tried max-split-size, do you mean that we can use this config to increase the parallelism?
I attach the query plans here. From my side, the plan is indeed different just like the stage shows. There are 10 fragments in the plan with compaction, and 16 fragments in the plan without compaction. I'm not very familiar with the query plan so I'm not sure i

[2022-07-05 22:26] bkyryliuk commented on #348
is it supported now ?

[2022-07-06 21:06] dkrynick commented on #932
Has it been resolved? How?

[2022-07-06 21:07] 0xdarkman commented on #932
has it been resolved? if yes then how?

[2022-07-07 00:43] asalamintel commented on #730
Seeing the same issue.

[2022-07-07 04:14] NimeshSatam opened #1256 "[Question] Record loss when using Delta format"
Hi team,

We have a CDC pipeline which is used to update records in AWS S3. Multiple collections are processed in parallel using Python + Spark. Below are the version details:

Apache Spark: 3.0.2
Python: 3.6.9
Java: 1.8.0_312
Delta: 0.8.0

While performing data sanity checks we noticed that couple of records were missing in the table, though they were available on the previous day. We were able t

[2022-07-07 16:23] scottsand-db commented on #348
Hi @bkyryliuk - it is included in the preview for delta lake 2.0.0 - see the preview release notes here: https://github.com/delta-io/delta/releases/tag/v2.0.0rc1. It will be included in the official 2.0.0 release.

[2022-07-07 22:44] tilumi opened #1258 "[Question] Can we use Delta Lake 1.2.0 on Spark 3.1.2?"
Hi, since Azure HDInsight only support up to Spark 3.1.2, & we want to use Optimize Table command only In Scala code, can we use 1.2.0 on Spark 3.1.2? What issues we may encounter if we use this combination?

[2022-07-08 07:45] moredatapls commented on #1192
I can confirm that this bug exists and it is impacting me as well. The strange thing is: we have a large bronze table and an even larger silver table, and counting the data by partition is very fast in silver (it reads the metadata), but extremely slow in bronze (it scans all the files). Not sure what is happening here, but if some of the maintainers could provide some guidance on how to implement

[2022-07-09 00:38] zpappa commented on #1232
Some related thoughts after reading this...

The underlying error that matches this text lives in a variable named `DELTA_MULTIPLE_SOURCE_ROW_MATCHING_TARGET_ROW_IN_MERGE`

Judging by that and by where it's called, it's a good bet that this means your source data frame has duplicates on the columns you're trying to merge into your target dataframe.

Usually this is based on the code you're trying

[2022-07-09 09:52] dragongu commented on #921
Why was it closed, but not merged?

[2022-07-09 14:20] keen85 opened #1259 "[Feature Request] Set userId, userName, notebook, clusterId in delta history"
## Feature request

### Overview

[Delta History schema](https://docs.delta.io/latest/delta-utility.html#history-schema) features some attributes that are always NULL for me (Delta Lake 1.1 Spark 3.1):
- userId
- userName
- notebook
- clusterId

Id like to set these attributes manually for write operations.

### Motivation

This information would help technically keeping track of the changes. It w

[2022-07-09 16:05] keen85 opened #1260 "[Feature Request] Make OPTIMIZE ZORDER BY skip partitions selectively if the most recent version was already optimized"
## Feature request

### Overview

OPTIMIZE ZODER BY let users influence the order of rows in the persisted parquet files allowing _data skipping_ on read.
Currently every time it is executed, **all files of the delta table are written again** - even if the same OPTIMIZE (with the same ZORDER BY columns) was just executed recently.
I'd appreciate it if the OPTIMIZE ZODER BY was "**smart**" in that

[2022-07-09 19:08] koertkuipers opened #1261 "[Feature Request] Expose Isolation Level in Opensource Delta"
## Feature request

### Overview

The codebase for delta shows 2 isolation levels: Serializable and WriteSerializable
However in OSS Delta the default serialization level is Serializable, and this cannot be changed.
I would like to make this configurable.

### Motivation

Of the two isolation levels i would say generally WriteSerializable is the mode useful. Serializable is too restrictive. For ex

[2022-07-10 09:46] ganeshchand commented on #1144
It looks like https://github.com/delta-io/delta/pull/1238  will throw a prescrivtive user friendly error if the required spark configs are not provided. Is my understanding correct?

[2022-07-10 20:52] echarso opened #1264 "[Question] Azure functions and pushing changes to Delta file format?"
Hi all, this is a naive question and my apologies for not googling enough for finding an answer. But could my Azure function write to delta, basically can azure functions support pySpark. Has anyone done it before ?

[2022-07-11 05:14] Kiran-G1 opened #1265 "[BUG] Can't setup the isolationLevel to Serializable"
Hello,

I'm trying to setup the isolation level to Serializable on open source delta using azure synapse notebook.

Command :
`ALTER TABLE  publish.testOptimization012 SET TBLPROPERTIES ('delta.isolationLevel' = 'Serializable')`

It seems like delta is not able to identify the configuration

`Error: Unknown configuration was specified: delta.isolationLevel
org.apache.spark.sql.delta.DeltaErrors$.u

[2022-07-11 12:42] dhia-gharsallaoui commented on #1265
Hello @Kiran-G1 ,
I don't think it's a bug. It's not implemented in the open source version. You can check this issue which describes well `Expose Isolation Level` #1261 .

[2022-07-11 15:35] nrmilstein commented on #1245
I believe this was actually fixed in [this commit](https://github.com/delta-io/delta/commit/dde57a3b330ed34a9c71c09977c53ee394ef8c31). I'll close it for now.

[2022-07-11 15:35] #1245 closed, assigned to allisonport-db

[2022-07-11 16:27] zsxwing commented on #1144
In addition, if `DeltaSparkSessionExtension` is not set, nothing will be caught.

[2022-07-11 16:30] zsxwing commented on #921
@dragongu the fix has been merged to master: https://github.com/delta-io/delta/commit/32c3681f37a01d10565c21b70e1296bba0b2ea25

We don't use GitHub merge button to merge PRs so that the status of a PR will always be `closed`. You can see the bottom in the PR which should have a comment showing which commit contains the change.

[2022-07-11 16:38] nkarpov commented on #1256
Is it possible the missing records in question were the records that matched your merge condition and were updated?

Otherwise it's difficult to track this down without a repro, is it possible you could share one?

[2022-07-11 22:06] allisonport-db commented on #1250
Thanks for reporting this. Feel free to open a PR if you would like

[2022-07-11 22:29] dennyglee commented on #704
Definitely!  We're marching towards Delta Lake 2.0 ([the RC](https://github.com/delta-io/delta/releases/tag/v2.0.0rc1) became available for testing in late June).  Test it out now if you can and provide us feedback, eh?! :)

[2022-07-11 22:29] dennyglee commented on #920
We're trying our best @p2bauer - we're going to send out the proposed priorities in the next week or so for all of us to review and help prioritize.  Thanks!

[2022-07-11 22:36] samzhangcode opened #1266 "[Feature Request]Add table property set/get API to DeltaTable"
## Feature request

### Overview

Delta Lake API should support table property read and write.

### Motivation
As for 1.2.1, all Delta Lake APIs are about the data but not a single one about table properties/metatable.

Imagine that you would like to change log retention period if it's too long. You have to start up a spark-shell and run `ALTER TABLE delta.`hdfs:///mypath` SET TBLPROPERTIES('delta

[2022-07-11 22:51] dnskr opened #1267 "[Feature Request] Resolve variables for VACUUM and OPTIMIZE commands"
## Feature request

### Overview

Delta Lake does not resolve variables for `VACUUM` and `OPTIMIZE` commands, e.g. the following script fails
[code]

### Motivation

Variable support could be very useful to run many templated tasks, for example, to maintain data lake.

### Further details

I'm running Spark Thrift Server on Spark 3.2.1 and variables work for `SELECT`, `MERGE` and other standard Sp

[2022-07-11 23:22] allisonport-db commented on #1260
Thanks for suggesting this, we'll leave this open and see if anyone would like to work on it.

[2022-07-11 23:34] allisonport-db commented on #1258
Unfortunately we only support Spark 3.2 currently. I would expect to see some compatibility issues where ever delta code uses Spark code that has changed between the versions.

[2022-07-12 00:14] allisonport-db commented on #914
You can also set table properties with the [DeltaTableBuilder](https://docs.delta.io/latest/api/python/index.html#delta.tables.DeltaTableBuilder.property) or by setting the default table property with `spark.conf.set("spark.databricks.delta.properties.defaults.compatibility.symlinkFormatManifest.enabled", "true")`

[2022-07-12 15:58] yikf opened #1268 "[IMPROVE] Remove unused import"
Currently, there are a lot of unused import in baed-code, this pr aims two point as follow:
- Remove unused import
- Add `-Ywarn-unused:imports` to warn future introduction of new unused import.

[2022-07-12 17:45] tbrandonstevenson commented on #777
For those who end up here with the same issue - I solved it by making sure my spark version was appropriate with the delta version. I used spark 2.4.2 with delta 0.6.1

[2022-07-12 18:41] zsxwing commented on #777
Thanks for posting your action here! Closing this as this was not a Delta issue. Feel free to reopen this if fixing the Spark version/Delta version doesn't fix the problem.

[2022-07-12 20:10] scottsand-db commented on #1266
@yigangzhang can you please add a helpful title?

[2022-07-12 20:30] allisonport-db commented on #1231
Sorry for the delay. Spark streaming doesn't support overwrite mode explicitly. To be clear, you want to retrieve/save only the data from the latest committed file on a per-partition basis correct?

For overwriting on a per-partition basis, we are releasing support for [dynamic partition overwrite](https://docs.delta.io/2.0.0rc1/delta-batch.html#dynamic-partition-overwrites) in Delta 2.0 which all

[2022-07-12 21:20] felipepessoto commented on #1192
Hi @vkorukanti, I'm doing some experiments and I have two different approaches (it is very high level only, I not sure if they are feasible), I'd like to hear your opinion on it.

First:
- Change the DeltaCatalog.loadTable https://github.com/delta-io/delta/blob/ab0946e739e6e4dece26e2a675ad452c8d33f8be/core/src/main/scala/org/apache/spark/sql/delta/catalog/DeltaCatalog.scala#L176 to fill catalog st

[2022-07-12 21:42] zsxwing commented on #1245
@nrmilstein Thanks for checking the commit history. Yep this will be fixed in 2.0.0.

[2022-07-12 22:09] allisonport-db commented on #1264
I'm unfamiliar with Azure functions, but if you can `pip install pyspark` you should be able to write to a delta table.

[2022-07-12 22:32] allisonport-db commented on #1265
Thanks for reporting this, you're correct `'delta.isolationLevel' = 'Serializable'` should be valid.

As a workaround for now, in Delta 2.0 (coming soon) you will be able to disable the table property check with `spark.databricks.delta.allowArbitraryProperties.enabled=true` in the Spark session configuration.

[2022-07-13 02:35] koertkuipers commented on #1265
@allisonport-db i dont think that disabling that check will solve the issue? the codepath to set isolation level is simply not present in oss delta. see https://github.com/delta-io/delta/issues/1261

[2022-07-13 04:02] zsxwing commented on #1196
A delta lake table is just a set of files on the file system. There is no server machine. Do you mean you want to write a server that can accept data from a client and write the data to a Delta lake table?

[2022-07-13 04:44] EasyLuck commented on #1196
Yes

[2022-07-13 05:01] zsxwing commented on #1196
Delta Lake is a storage format. We don't provide any service right now.

[2022-07-13 05:09] EasyLuck commented on #1196
Can we store image data in it?
I have not found this in doc.

[2022-07-13 05:14] zsxwing commented on #1196
There is an example to store images in https://github.com/delta-io/delta/blob/master/examples/python/image_storage.py

[2022-07-13 07:39] ganeshchand commented on #1144
Thanks for the clarification. I am working on it and will send the PR soon.

[2022-07-13 11:40] yikf commented on #1252
You may need to specify an absolute path for location, in Spark

- If it is an absolute path, it represents the real Warehouse
- If it is a relative path, the path is appended after the real Warehouse
<img width="1251" alt="image" src="https://user-images.githubusercontent.com/51110188/178725311-6b84c19a-bdb0-4df8-b1c6-4ad0a28a78db.png">

[2022-07-13 13:13] EasyLuck commented on #1196
Thank you very much.

[2022-07-13 19:43] vkorukanti commented on #1247
Hi @dwsmith1983, thanks for the question. There is no particular reason why we map null to 0. Currently the Z-Order used Spark's RangePartitioner to map the Z-Order column to a range id (code is [here](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/optimizer/RangePartitionIdRewrite.scala#L58)). The mapping of null to 0 is inherited from the Spark's ran

[2022-07-14 00:18] allisonport-db commented on #1100
Hey @kpe as mentioned earlier in this thread this requires changes in Spark. Making those necessary changes is on our roadmap but we will still have to wait for the next Spark release and upgrade our version.

[2022-07-14 00:27] dennyglee commented on #1243
Thanks @edmondo1984 - as you noted #1270 should resolve this issue and we'll close once we merge it in.  Thanks!

[2022-07-14 16:26] vkorukanti opened #1272 "[BUG] Fix documentation for DeltaTable.forPath"
## Bug
Currently the [doc](https://github.com/delta-io/delta/blob/master/core/src/main/scala/io/delta/tables/DeltaTable.scala#L621) for `DeltaTable.forPath` says `Create a DeltaTable for the data at the given `path`.`. This is not correct. This API just instantiates the `DeltaTable` representing the path.

Also we need to clarify what it means when there is no table exists at the given path.

[2022-07-14 20:16] koertkuipers commented on #1265
@allisonport-db oh i got it know... you are saying let it be set despite fact that it doesn't do anything.

[2022-07-14 20:50] keen85 commented on #1259
Hi @allisonport-db,
That should work. However, the _handling_ will not be as easy as it would be with dedicated attributes.

Imagine I'd like to _search_ the history for all changes that were induced by one specific notebook. Since `userMetadata` contains a string, before filtering, you need to parse the json-string; but it is doable.

Out of curiosity: are there any plans to actually remove the "

[2022-07-14 21:44] ganeshchand commented on #1272
Not sure if this is a bug. Create here doesn't mean  - it is actually persisting a delta table in the storage system. Create here means - it is instantiating a `DeltaTable` class with a given path.

[2022-07-15 04:53] zsxwing commented on #1272
@ganeshchand as the class name is called `DeltaTable`, it's pretty easy to mislead people to read it as `create a Delta table`. It would be great to improve it a bit 😄

[2022-07-15 10:07] capitancambio opened #1273 "[Feature Request] Support pyspark 3.3.0"
## Feature request

### Overview
Add support for  [pyspark 3.3.0](https://pypi.org/project/pyspark/3.3.0/), at the moment is not possible to install `delta-spark` due to the [version boundaries here](https://github.com/delta-io/delta/blob/master/setup.py#L68)
### Motivation

We use `delta-spark` in various of our internal projects. Testing them with the right version of pyspark if we want to run t

[2022-07-15 15:01] tdas commented on #1273
There is already an issue for this (#1217) and the upgrade work is in progress (#1257). Mind If I close this as duplicate issue?

[2022-07-15 15:08] capitancambio commented on #1273
I swear I looked for a similar issue and could it find ... thanks!

[2022-07-15 15:17] tdas commented on #1273
@capitancambio dont worry, it happens! github search is not the best, easy to miss stuff

[2022-07-15 23:04] allisonport-db opened #1274 "[BUG] Duplicate CDF rows for delete-only MERGE with duplicate matches"
## Bug

### Describe the problem

When we perform a delete when matched merge (with no match condition) with duplicate matches we output duplicate CDF rows. We [ignore multiple matches](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/commands/MergeIntoCommand.scala#L409) for delete-only merges so this is allowed, and the duplicate matches are dropped fr

[2022-07-16 14:21] yikf commented on #1272
Can i fix this problem please, i filed a [pr](https://github.com/delta-io/delta/pull/1275)😄

[2022-07-17 07:18] 0xdarkman opened #1277 "[BUG] The specified path does not exist.", 404, GET"
I do stream with spark with scala from kafka >> process stream with job 1 and write to DeltaTable 1 >> process stream with job 2 and write stream to Delta Table 2.

The job2 runs for a while but then it fails because of the error below: The specified path does not exist.", 404, GET

It appends to DeltaTable so I do not understand why it gets 404.

By the way, using abfss ---> abfss does not help.

[2022-07-17 07:23] 0xdarkman commented on #932
@zsxwing yes https://github.com/delta-io/delta/issues/1277

[2022-07-17 07:24] 0xdarkman commented on #932
@rajasekarv have you managed to solve it?

[2022-07-17 07:37] 0xdarkman commented on #1277
Additionaly, job 1 sees "com.microsoft.azure.storage.StorageException: The specified blob does not exist." also.

org.apache.spark.SparkException: Task failed while writing rows.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.taskFailedWhileWritingRowsError(QueryExecutionErrors.scala:500)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:321

[2022-07-17 15:04] 0xdarkman commented on #932
I am getting yet with other spark job and other storage account container on which i have public access set:

"Caused by: java.io.FileNotFoundException: 10m/per_ip/_delta_log is not found"

[2022-07-17 15:13] 0xdarkman commented on #1277
I even changed schema for reading from wasbs to abfss and assigned public permisions on the container but still I am getting this:

"Caused by: Operation failed: "The specified path does not exist.", 404, GET, https://raddsstatsstorage.dfs.core.windows.net/stats-prod?upn=false&resource=filesystem&maxResults=500&directory=10m/per_ip/_delta_log&timeout=90&recursive=false, PathNotFound, "The specifie

[2022-07-18 21:13] pedrosmv opened #1279 "[BUG] Unstable error messages when merging null values on NOT NULL columns"
## Bug
​
### Describe the problem
​
We have a merge operation using Delta + pySpark that deals with CDC data, mostly Inserts and Updates. On our testing we found out that the behaviour when dealing with null values on NOT NULL columns is very erratic. Depending on the operations, we have different results.
​
#### Steps to reproduce
​

Spark setup:
[code]
​
Create the table:
[code]
​
Load data into

[2022-07-18 22:10] bugsbunny1101 opened #1280 "[BUG] set userMetadata and get lastCommitVersionInSession not work with cloned session"
## Bug

### Describe the problem

Trying to get lastCommitVersionInSession  in a thread safe way. So cloned a new session in thread.

But it only works in databricks, not with open source delta 1.2.1

#### Steps to reproduce

Test code is copied from workaround in issue https://github.com/delta-io/delta/issues/857

[code]

#### Observed results

Run it in databricks, see the userMetadata in histor

[2022-07-19 05:24] amirmor1 commented on #1127
Hi, here is a link for a small PR [https://github.com/delta-io/delta/pull/1278](1278)

[2022-07-19 11:17] Kimahriman opened #1281 "[BUG] Schema evolution fails for top level structs used in generated columns"
## Bug

### Describe the problem
If you have a generated column that uses a nested field, the entire top level struct can no longer evolve the schema, even though it should just be the actually use nested field that can't be changed.

#### Steps to reproduce

In PySpark:

[code]

#### Observed results

[code]

#### Expected results

New nested field added because it doesn't affect the timestamp co

[2022-07-19 14:41] #1235 closed

[2022-07-19 14:41] #1186 closed, assigned to nobody

[2022-07-19 15:48] vkorukanti commented on #1219
Hi @guandatawangjialin, can you please expand what you mean by DDL? Is there any specific command you are looking for?

[2022-07-19 16:35] #1196 closed

[2022-07-19 16:38] vkorukanti commented on #1252
@yikf Looks like it is working as expected? Need to be given an absolute path. Please reopen, if there are any remaining issues here.

[2022-07-19 16:38] #1252 closed

[2022-07-19 17:36] vkorukanti commented on #1239
Closing this issue. @wjones127.

[2022-07-19 18:03] vkorukanti commented on #1239
@wjones127 Makes sense. Reopening. Not sure what is the procedure to deprecate the features. @tdas?

[2022-07-19 23:40] #1134 closed

[2022-07-21 14:17] dwsmith1983 commented on #1247
@vkorukanti sorry for the slow response. According to DB blog [Processing Petabytes of data](https://databricks.com/blog/2018/07/31/processing-petabytes-of-data-in-seconds-with-databricks-delta.html), data skipping isn't 100% efficient and declines over each column in the z ordering. Of course, the fall isn't as bad as linear ordering. Given this, there would still be inefficients in stacking null

[2022-07-21 17:02] ganeshchand opened #1283 "[BUG] ActionSerializerSuite has 3 failing unit tests in the master branch"
## Bug

### Describe the problem
Following unit tests fail:

-  Metadata (with all defaults)
-  Metadata - json serialization/deserialization
- Metadata with empty createdTime- json serialization/deserialization
-
#### Steps to reproduce
[code]
[code]

#### Observed results

#### Expected results

#### Further details

### Environment information

* Delta Lake version:
* Spark version:
* Scala ver

[2022-07-21 17:17] vigneshc opened #1284 "[BUG] Checkpoint documentation for writers is ambiguous"
Checkpoint documentation in protocol specification is ambiguous and could be more concrete.
[Requirements for writers](https://github.com/delta-io/delta/blob/master/PROTOCOL.md#checkpoint-format) says that each row in checkpoint is an action.
Later, [checkpoint schema](https://github.com/delta-io/delta/blob/master/PROTOCOL.md#checkpoint-schema) indicates that every row has all the actions (i.e. it

[2022-07-21 17:58] #1233 closed

[2022-07-21 21:33] sherlockbeard commented on #1283
Hmm . is there any way we can set the value for commit id before commit ?.
Form what i am able to gather it's failing because id is not matching  but i think id is random value (most probably SHA-1)
So, if we can forcefully set it's value only then we can write a test for it .

[2022-07-23 11:25] jaceklaskowski opened #1286 "[BUG] testColumnMapping("block CONVERT TO DELTA") fails with "Illegal table name" on macOS"
## Bug

### Describe the problem

[code]

### Environment information

* Delta Lake version: commit 56e1b9b417e8815cd7003eaf1796988c670b8b0d
* macOS Big Sur 11.6.6
* openjdk version "11.0.15" (Temurin-11.0.15+10 (build 11.0.15+10))

[2022-07-24 19:20] felipepessoto commented on #1192
I started working on option #1. Have a PoC working

[2022-07-25 17:13] sherlockbeard commented on #1286
delta lake only works with JDK 1.8 right ?
from Readme
[code]
or is it supposed to work with all JDK versions?

[2022-07-25 19:23] hector-sab opened #1289 "[BUG] Generated Column not supported in Merge operations"
## Bug
Generated Column not being generated when merging data into a table.

### Describe the problem
Given a table A with generated column G, and dataframe B without column G. When trying to merge B into A the column G is not generated for B and raises `ValueError: field id: This field is not nullable, but got None`

#### Steps to reproduce
[code]

#### Observed results

Merging operation raises

[2022-07-25 20:16] #1272 closed

[2022-07-25 21:52] jeffco11 commented on #1277
I'm seeing the same issue.  Our scenario is:
1. Job 1 streams data from EventHub to DeltaTable
2. Job 2 streams data from DeltaTable to another DeltaTable.

Job 2 will see these errors at least once a day

[2022-07-25 22:41] tdas commented on #1289
Is this using Apache Spark 3.2.1?

[2022-07-25 23:02] hector-sab commented on #1289
Hey @tdas , it's using Databricks. Just went and read again the section for generated columns in the Docs and realized that I was missing setting up one config

https://docs.delta.io/2.0.0/delta-batch.html#id9

[2022-07-25 23:02] #1289 closed

[2022-07-26 14:03] Pluies opened #1291 "[BUG] Delta table properties should be case-insensitive"
## Bug

### Describe the problem

I'm currently populating a Hive metastore with Delta tables created by Databricks.

These tables have table properties, including Databricks-specific properties such as `delta.autoOptimize.autoCompact`, which can be ignored via the `spark.databricks.delta.allowArbitraryProperties.enabled` configuration since Delta 2.0.0. So far so good!

Unfortunately, when trying

[2022-07-26 15:34] bogdanmrusu commented on #1286
I tested with both JDK 1.8 and JDK 11 and I cannot reproduce.
Builds: `OpenJDK Runtime Environment (build 1.8.0_322-bre_2022_02_28_15_01-b00)` and `OpenJDK Runtime Environment Homebrew (build 11.0.12+0)`.
MacOs: `Monterey 12.4`

It's not clear for me either with what JDK versions it should work.

[2022-07-26 15:53] bogdanmrusu commented on #1283
The `id` for metadata is build taking `Utils.isTesting` into account. Check this: https://github.com/delta-io/delta/blob/2871e550eabd9e4956aca1b02baeb20635a66931/core/src/main/scala/org/apache/spark/sql/delta/actions/actions.scala#L439

With no extra environmental variables, the 3 tests are failing exactly as you described. If I execute `export SPARK_TESTING=true` and then I run the tests, they al

[2022-07-26 16:21] zsxwing commented on #1283
@bogdanmrusu do we know why running on GitHub Actions doesn't hit the issue?

[2022-07-26 17:46] asingh2796 commented on #320
can you share of did you resolve this issue @abrahamdu

[2022-07-26 21:04] allisonport-db commented on #1284
This seems related to #940

[2022-07-27 07:17] zsxwing commented on #704
2.0.0 has been released. Closing this as a duplicate of #1105

[2022-07-27 07:17] #704 closed

[2022-07-27 07:18] zsxwing commented on #1243
The slack link has been fixed. Closing this

[2022-07-27 07:18] #1243 closed

[2022-07-27 09:28] ABRB554 opened #1293 "Update FAQ to say the it is impossible to move a deltalake in S3"
The FAQ has been updated with: Remember to copy files without changing the timestamps to ensure that the time travel with timestamps will be consistent.

This needs to include a warning that when the underlying storage is S3 it is impossible to move/create an object with the original/custom timestamp.

Or am I missing something? We are looking to move lots of data from HDFS to S3 but there is no w

[2022-07-28 00:44] allisonport-db commented on #1293
I am unclear as to what this issue is regarding. Are you asking to add a warning to the FAQ here https://docs.delta.io/latest/delta-faq.html#can-i-copy-my-delta-lake-table-to-another-location that it is not possible to do so on S3?

Or is this a feature request that we add a way for time travel _by timestamp_ to be supported for these copied tables (when timestamps are not preserved)? You are stil

[2022-07-28 06:22] alexandrutofan commented on #1220
As a workaround I just set the maxThreads to be greater than spark.cores.max (2x for example) which leads to a wider distribution of the workload.. It's not so great but it has improved it a little bit.

[2022-07-28 11:38] bogdanmrusu commented on #1283
Hey @zsxwing, I checked the scripts that are executed when we run the delta scripts and I couldn't see any env variables being set up. I am still ramping up and not sure where else to look. Would you advise trying to look somewhere else?

[2022-07-28 12:56] maor-sa opened #1297 "[BUG] Delta table on S3 doesn't delete historical log files (using GLUE and EMR)"
## Bug

Delta table property `'delta.logRetentionDuration'='interval 7 days'` doesn't take effect using AWS glue catalog (external table) and EMR.

### Describe the problem

We are using Databricks Delta lake open source io.delta:delta-core_2.12:1.0.0 on AWS EMR (6.5.0) Spark (3.1.2) integrated with S3, Glue and Athena, with the following properties -
[code]

As mentioned at the official doc -
[de

[2022-07-28 18:06] nkarpov commented on #1293
I realize this doesn't apply in your HDFS to S3 case @ABRB554, but as far as the suggested change in the FAQ, I think it is possible to retain the original system metadata when moving objects _within_ S3 with replication https://docs.aws.amazon.com/AmazonS3/latest/userguide/replication.html#replication-scenario

[2022-07-28 18:20] BShraman opened #1298 "Initialized spark session with “configure_spark_with_delta_pip” stuck"
## Bug
I am working on testing new features for deltalake 2.0 and facing below issue while trying to initialized spark session with  “configure_spark_with_delta_pip”. Any advice on what might be missing would be greatly help and appreciated.
Spark : 3.2
slack:  https://delta-users.slack.com/archives/CJ70UCSHM/p1658850509055239.

#### Steps to reproduce
import pyspark
from delta import *

builder =

[2022-07-28 18:29] dennyglee commented on #1298
Thanks @BShraman - will try to repro this locally.  Quick question - for `.config("spark.jars","gs://xxxxx/g1/jars/delta-core_2.12-2.0.0.jar")` by any chance have you tested this locally and still get the same error?  Per the Slack thread, wanted to re-iterate that this is happening to `delta-core_2.12-2.0.0.jar` but not `delta-core_2.12-1.2.0.jar`.  Thanks!

[2022-07-28 18:35] BShraman commented on #1298
Hi @dennyglee  , if i run this locally with ".config("spark.jars.packages","io.delta:delta-core_2.12:2.0.0")" it is pulling dependency from maven repository and everything runs without any issue. Fetching dependency directly from maven is blocked in our organization.
Alternate option i am trying with passing delta jar explicitly after downloading locally and this is where i am facing an issue.

[2022-07-29 00:32] allisonport-db commented on #1297
Hey @maor-sa, let me first clarify a few things. `deltaTable.vacuum(retentionDuration)` only removes _data_ files, and not the delta log files (see [Data retention](https://docs.delta.io/latest/delta-batch.html#data-retention)). Delta log files are instead removed automatically after checkpoints (based on the table property that you've set `'delta.logRetentionDuration'='interval 7 days'`).

Checkp

[2022-07-29 08:19] maor-sa commented on #1297
Hey @allisonport-db

I can confirm everything:
1. I know and I expect that delta log files will be removed automatically JUST after the checkpoint was created and after the 7 days duration has  passed. Unfortunately they aren't.
2. I also approached AWS official services, they replicate the issue and replied "Currently there is no Databricks integration on EMR which is natively supported."

Thanks

[2022-07-29 18:03] allisonport-db commented on #1297
Okay thanks for confirming. We will look into this.

[2022-07-29 19:11] allisonport-db commented on #1297
Do you have any delta tables older than 30 days? If so, can you check if the log files are being removed for those after the 30 day interval.

Also keep in mind, we don't necessarily remove _all_ log files older than `logRetentionDuration`, as some may still be needed for time travel.

Could you please provide the `_delta_log` directory listing for one of the tables?

[2022-07-29 21:11] zsxwing commented on #1283
Just took a look. The testing flag is set in `beforeAll`: https://github.com/apache/spark/blob/v3.3.0/core/src/test/scala/org/apache/spark/SparkFunSuite.scala#L86 However, the Metadata object is created before `beforeAll` here: https://github.com/delta-io/delta/blob/e65496665fd1b187b488ab77f79986a8b381ee16/core/src/test/scala/org/apache/spark/sql/delta/ActionSerializerSuite.scala#L218

That's why

[2022-07-30 05:33] maor-sa commented on #1297
Great,

Currently I don't have log files for more than 20 days, in 10 more days I'll have and I'll provide a directory link.

Thanks,
Maor

[2022-07-30 14:09] jaceklaskowski opened #1301 "Move SupportsAdmissionControl methods to DeltaSourceBase"
`DeltaSourceBase` is a `SupportsAdmissionControl` but all the methods are in `DeltaSource` (looks like a leftover after a code refactor?) They should be moved off of `DeltaSource` to `DeltaSourceBase`.

/cc @scottsand-db

[2022-07-30 18:39] koertkuipers opened #1302 "[Feature Request] Option to indicate to delta that files read can be modified by other transactions"
## Feature request

### Overview

i had 2 concurrent jobs on same table: one is batch that runs on a certain schedule and reads the table and updates it. the other is structured streaming and appends data to the table. the table uses `WriteSerializable` isolation level. these 2 operations should not conflict. but in reality they both threw `ConcurrentAppendException` errors.

turns out my streamin

[2022-07-30 18:40] koertkuipers commented on #1302
mhhh is this a feature request and not a bug? i might have used wrong template...

[2022-07-31 10:35] bennetryan commented on #602
Hi All, I need your expertise here. I have got a similar problem here.
I have got two DFs fullDF & snapDF, the idea is to merge the snapDF with fullDF using substring(id).
I need to merge these two DFs on substring(full.id, 0, 15) = substring(snap.id, 0, 15).
When it's a match I need to first delete the matching data from fullDF and then insert the data from snapDF.
If it's not matching then, It's

[2022-07-31 16:00] koertkuipers opened #1304 "[Feature Request] Option to indicate to delta that files read can be modified by other transactions"
## Feature request

### Overview

i had 2 concurrent jobs on same table: one is batch that runs on a certain schedule and reads the table and updates it. the other is structured streaming and appends data to the table. the table uses `WriteSerializable` isolation level. these 2 operations should not conflict. but in reality they both threw `ConcurrentAppendException` errors.

turns out my streamin

[2022-07-31 16:01] koertkuipers commented on #1302
i recreated this one correctly as a new issue... deleting this one

[2022-07-31 16:01] #1302 closed

[2022-08-01 06:58] bogdanmrusu commented on #1283
@zsxwing I can try to fix it. Please assign it to me.

[2022-08-01 18:45] #1182 closed

[2022-08-01 18:45] #1128 closed

[2022-08-01 18:45] #1201 closed

[2022-08-01 18:45] #1267 closed

[2022-08-01 20:45] zsxwing commented on #1277
@0xdarkman @jeffco11 Looks like you can see the request id in the error. Would you be able to reach Azure to check these requests? This is unlikely a Delta issue as the error complains the `_delta_log` directory doesn't exist.

[2022-08-01 20:50] 0xdarkman commented on #1277
@jeffco11  when you write stream using abfss schema do you create container yourself upfront?

[2022-08-01 20:51] 0xdarkman commented on #1277
_delta_log should be there, should not?

[2022-08-01 21:02] 0xdarkman commented on #1277
this is the reponse from Azure:

"I used a random time to check for similar failed requests and there were thousands of such failed requests below are sample URLs"

"Since the file does not exists this is an 'expected' client error, but without knowing the access pattern of this storage client application we can't say for sure if the client is just checking for the existence of the file or if the

[2022-08-01 21:12] zsxwing commented on #1277
@0xdarkman I assume `_deltalog` does exist in your case but Azure storage somehow returns 404. Is my understanding of your issue correct?

[2022-08-01 23:24] jeffco11 commented on #1277
I got a similar response from the Azure team.  If you look for a file that doesn't exist, you should expect a 404 error.  We don't manage the _deltalog so I'm not sure what's happening.

In our scenario the _deltalog always exists because we are streaming data to the table constantly and we occasionally get the 404's when we try to read from that table.

We created the container upfront originally

[2022-08-02 04:13] 0xdarkman commented on #1277
correct, _delta_log exists.

I ensure I write some data first before I start reading from the path.  Furthermore, _delta_log is created and managed by delta table.

https://github.com/delta-io/delta/issues/1277#issuecomment-1201834390 summarizes the problem well.

As soon as I switch to gen1 (change storage account, abfss -> wasbs, dfs -> blob) then all works well.

[2022-08-02 04:27] zsxwing commented on #1277
Yep, this looks like either a hadoop-azure library issue or the server issue. It sounds more likely a server issue because the request url seems correct to me.

Delta just calls FileSystems provided by hadoop-azure. It's unlikely that the issue can be fixed inside Delta Lake.

[2022-08-02 04:56] dennyglee opened #1307 "Roadmap 2022 H2 (discussion)"
This is a **working issue** for folks to provide feedback on the prioritization of the Delta Lake priorities spanning July to December 2022.  With the release of Delta Lake 2.0, we wanted to take the opportunity to discuss other vital features for prioritization with the community based on the feedback from the Delta Users [Slack](https://go.delta.io/slack), [Google Groups](https://go.delta.io/gro

[2022-08-02 04:57] dennyglee commented on #1307
Note, we will be adding/updating the issue over the next few weeks but I'm a little behind schedule so thought I would get the roadmap discussion started ASAP.  Thanks!

[2022-08-02 04:58] dennyglee commented on #920
Closing this issue as we're working on #1307

[2022-08-02 04:58] #920 closed

[2022-08-02 05:14] 0xdarkman commented on #1277
What do you call "server" in this case?

The spark application runs on kubernetes in Azure and writes to Azure storage gen 2 Delta Table.

[2022-08-02 05:37] zsxwing commented on #1277
Azure storage server. Hadoop-azure basically just calls azure storage client sdk to send http requests to Azure storage server (I don't know how Azure calls it though).

[2022-08-02 09:17] edfreeman commented on #1307
Hi folks. Can't see it explicitly mentioned so thought I'd ask - will identity columns support (i.e. writer version 6) be added in this H2 wave? That's a big feature we're keen to be able to use outside of Databricks, and it didn't quite make it into 2.0 by the looks of things.

[2022-08-02 10:54] hedibejaoui commented on #1123
@dragongu Are you actively working on this? If not, I could take a stab at it.

[2022-08-02 17:08] zsxwing commented on #1123
@hedibejaoui I don't see any progress on this. Feel tree to try this

[2022-08-02 17:10] zsxwing commented on #1283
@bogdanmrusu Cool. Assigned it to you.

[2022-08-02 17:16] allisonport-db commented on #1297
If you provide the listing for a table with `logRetentionDuration=interval 7 days` that will still help. And then we can follow up once that 30 day duration has passed as well

[2022-08-02 17:22] scottsand-db commented on #1286
@jaceklaskowski could you try again with JDK 1.8?

[2022-08-04 08:28] jaceklaskowski opened #1310 "No new version after ALTER TABLE SET TBLPROPERTIES"
It was reported on [slack](https://delta-users.slack.com/archives/CJ70UCSHM/p1659592875176129?thread_ts=1659438345.392989&cid=CJ70UCSHM):

The idea behind this issue is to fix it in the code (and perhaps create a new version) or in the docs (explaining the proper behaviour).

[2022-08-04 11:55] jaceklaskowski commented on #1310
`ALTER TABLE SET TBLPROPERTIES` does create a new version:

[code]

[2022-08-04 14:40] mtNachiket opened #1311 "[BUG] Delta zorder operation fails with Cannot evaluate expression: rangepartitionid exception"
## Bug
zorder command fails to run with Caused by: java.lang.UnsupportedOperationException: Cannot evaluate expression: rangepartitionid(input[28, bigint, true], 1000) exception. This is observed with Delta OSS 2.0.0 and Spark 3.2.1

### Describe the problem
I have a delta table available in s3 and when I tried to apply zorder on that table by using latest Delta OSS 2.0.0 ad Spark 3.2.1 (Pyspark),

[2022-08-04 14:54] tdas commented on #1311
Taking a look.

[2022-08-04 15:03] tdas commented on #1311
did you set up the delta session extensions when starting pyspark?
[code]
https://docs.delta.io/latest/quick-start.html#pyspark-shell

[2022-08-04 15:10] nkarpov commented on #415
Closing this due to inactivity.

[2022-08-04 15:10] #415 closed

[2022-08-04 15:14] nkarpov commented on #355
@SreeramGarlapati just double checking with you, I think we're OK to close this one?

[2022-08-04 15:18] nkarpov commented on #591
@xmehaut this is now possible with change data feed as part of Delta 2.0

https://docs.delta.io/latest/delta-change-data-feed.html
https://github.com/delta-io/delta/issues/1105

Closing

[2022-08-04 15:18] #591 closed

[2022-08-04 15:20] nkarpov commented on #576
Was addressed a while ago https://docs.delta.io/latest/delta-utility.html#retrieve-delta-table-details

Closing

[2022-08-04 15:20] #576 closed

[2022-08-04 16:21] zsxwing commented on #551
Totally agree that this is painful. However, as Spark today doesn't have enough public APIs to allow Delta building all of its features, we have to depend on internal/unstable apis.

This is a good point. We are always trying to avoid depending on Spark's internal/unstable apis. Feel free to submit PRs to improve this if you find any internal API usages can be replaced.

This is hard to maintain.

[2022-08-04 16:21] #551 closed

[2022-08-04 16:30] nkarpov commented on #1310
I will close since Yatharth [confirmed it was a configuration error](https://delta-users.slack.com/archives/CJ70UCSHM/p1659619364595169?thread_ts=1659438345.392989&cid=CJ70UCSHM).

For reference, the `ALTER TABLE SET TBLPROPERTIES` command creates & attempts to commit a new transaction by design.

https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/commands

[2022-08-04 16:30] #1310 closed

[2022-08-04 18:24] allisonport-db commented on #1297
Hey @MarcBertini is it cleaning up the logs correctly after the default 30 day interval? It would be ideal to pinpoint whether this is an issue with the log cleanup, or with the table property `logRetentionDuration`.

Again, a directory listing of the `_delta_log` along with the table properties for that table would help a lot.

[2022-08-04 20:24] zsxwing commented on #1144
@ganeshchand could you open a PR so that we can discuss the details?

[2022-08-04 22:10] scottsand-db commented on #1283
Running into this problem too. Using `lazy val` did not work for me.

[2022-08-04 22:38] zsxwing commented on #1283
@scottsand-db could you review all of Metadata creation and make sure they are created in `test` body rather than outside?

[2022-08-05 02:24] allisonport-db commented on #1291
Seems like spark table properties are case sensitive, but Delta's properties already aren't so this seems like a bug to me. Left a comment on the PR

[2022-08-05 05:43] mtNachiket commented on #1311
Hi @tdas,

No I did not setup delta session extensions when starting pyspark. After using above command, it worked.
Can you share reason behind this error? also I understand that using extensions is mentioned in quick start documentation but is there any way to make these extensions available default?

Thanks for quick help.

[2022-08-05 06:43] bhadreshshiyal opened #1313 "Is Z-Order working with Delta 1.2.0 as well?"
I am using Spark 3.2 on Azure Synapse Analytics which includes Delta 1.2.0. As per the documentation here --> [https://docs.delta.io/latest/optimizations-oss.html#z-ordering-multi-dimensional-clustering](https://docs.delta.io/latest/optimizations-oss.html#z-ordering-multi-dimensional-clustering), Z-Order is supported with Delta 2.0.0. and higher. However, we are able to run Z-Order with Delta 1.2.

[2022-08-05 14:01] maor-sa commented on #1297
Please see the attched listing. There are too many so I copied only top and last.
[code]

[2022-08-08 01:47] dennyglee commented on #1298
Based on some quick testing, I believe you may have `delta-spark==1.2.0` or lower installed in your environment.  Could you try upgrading it to `delta-spark==2.0.0` and see if that helps?   Note, I'm still investigating another issue related to this.

## Details
Running the following commands directly from the local `python` shell.

### Local environment
Local installs using `sdkman` Spark, Java,

[2022-08-08 12:56] Kimahriman opened #1318 "[Feature Request] Support Trigger.AvailableNow"
## Feature request

### Overview

Trigger.AvailableNow is a new streaming trigger added in Spark 3.3

### Motivation

Gives users a new alternative to Trigger.Once that considers read limits.

### Further details

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation

[2022-08-08 16:33] ctezna opened #1320 "[Feature Request] Include period (.) in Delta table name"
## Feature request

### Overview

Allows users to create a Delta table that includes a period when using back ticks in the table DDL. Current error message when trying to create a table with a period:

Error in SQL statement: AnalysisException:`schema.name_of_table` is not a valid name for tables/databases. Valid names only contain alphabet characters, numbers and _.

** Back ticks are not shown i

[2022-08-08 16:42] nkarpov commented on #535
@kkr78 I'm going to close this one due to inactivity.

Please do reopen it if you're still experiencing an issue - thanks!

[2022-08-08 16:42] #535 closed

[2022-08-08 22:13] dennyglee commented on #1307
Thanks for the call out @edfreeman  - `identity columns` has been added :)

[2022-08-08 22:33] alfonsorr commented on #1183
Hi!
I'm interested in implementing a fix for this bug. To be sure I understand the issue correctly, the result has to be a snapshot object that the metadata configuration only contains the parameters with delta prefix, the rest, nonprefixed and `option.delta.{...}` should be removed.

I've already started in a [branch](/alfonsorr/delta/tree/issue-1183)

[2022-08-09 09:58] #355 closed

[2022-08-09 16:21] scottsand-db opened #1321 "[Feature Request] Make `UPDATE` return the number of updated rows"
## Feature request

### Overview

Currently, the `UPDATE` command does not return anything to the user. It would be more useful if we returned the number of updated rows.

### Motivation

The number of updated rows is an obvious metric that users would want from this operation.

### Further details

This should be pretty straight forward to implement - we already have access to `metrics("numUpdate

[2022-08-09 16:25] scottsand-db opened #1322 "[Feature Request] Make `MERGE` operation return useful metrics"
## Feature request

### Overview

Currently, the `MERGE` command returns an empty result. It would be more useful if it returned
- number of affected rows (Long)
- number of updated rows (Long)
- number of deleted rows (Long)
- number of inserted rows (Long)

### Motivation

These are obvious metrics that users would expect from this operation.

### Further details

Implementation wise, this shoul

[2022-08-09 17:05] zsxwing commented on #1313
z-order was in Azure Databricks. And we recently open source it in Delta 2.0.0. For Azure Synapse Analytics, I think they have their own customized Delta Lake enhancements. I know little about their own Delta Lake enhancements.

[2022-08-09 17:21] tdas commented on #1063
I agree with conda being more powerful than pypi. It would be great if someone can contribute this.

[2022-08-09 17:26] tdas commented on #1165
Ahh this is tough. @dennyglee could you take a look at this?

[2022-08-09 17:56] nkarpov commented on #1320
Hi @ctezna - confirming that I can reproduce this behavior,

[code]

There are a few interesting notes,

1. If doing a CTAS like operation, the underlying files actually do get created and just the metadata entry fails due to `validateName` in `org.apache.spark.sql.catalyst.catalog.SessionCatalog`
2. This applies to other formats like PARQUET too, ```CREATE TABLE `a.b.c` (id int) USING PARQUET ```

[2022-08-09 20:09] lkrishna-cs opened #1323 "Support for Dynamic File Pruning in opensource DeltaLake"
## Feature request

### Overview

We have lots of use cases that require fast query access to DeltaLake which doesn't seem to scale very much. Reading through the databricks documentation below it looks like the dynamic file pruning feature is what we want to leverage. However, this isn't available in Delta Lake open source.

https://www.databricks.com/blog/2020/04/30/faster-sql-queries-on-delta-l

[2022-08-09 20:18] tdas commented on #1323
This is unfortunately an Apache Spark limitation, not a Delta Lake limitation. Apache Spark current supports on Dynamic Partition Pruning. These kind of query optimization is the responsibility of the processing engine, not the data format.

[2022-08-09 20:56] nkarpov opened #1324 "[BUG] MERGE/UPDATE produce CDF rows when no data has changed"
## Bug

### Describe the problem

(originally reported by @Yatharth Maheshwari in Slack https://delta-users.slack.com/archives/CJ70UCSHM/p1659941865587999)

Delta MERGE & UPDATE operations both produce CDF rows when no data has changed.

The result is technically correct, but writing equivalent pre/post CDF rows is confusing for users to interpret, can ripple downstream, and may add unnecessary ov

[2022-08-09 22:33] tdas commented on #1324
The real reason to not improve this case is that it is prohibitively expensive to check for each update row whether the post-update row is exactly same as the pre-update row. Hashing the updated columns (or in the worst case all columns) and checking of equality, can be arbitrarily costly (imagine, a large string or binary array, or an entire nested struct). Hence, I think its better to have spuri

[2022-08-09 22:33] #1324 closed

[2022-08-10 01:27] MrPowers commented on #1298
@BShraman - I'm happy to help you figure this one out.

Yea, I don't think you need to pass the Delta JAR in if you've already downloaded locally.

Here's your code snippet with some comments:

[code]

Does this work?

[code]

Let me know if this sorts out the issue for you.  I am happy to keep helping till you figure this out.

[2022-08-10 01:50] MrPowers commented on #1298
This is the [draft PR](https://github.com/MrPowers/delta-examples/pull/3) I created to experiment with this BTW.  I was getting the same warning errors Denny got when I mixed & matched my locally installed Delta version with a JAR file that had a different version (e.g. when I had Delta 1.2 installed locally and attached the Delta 2.0 JAR file).

[2022-08-10 02:50] scottsand-db commented on #320
@abrahamdu - are you able to share?

[2022-08-10 02:50] scottsand-db commented on #1192
@felipepessoto - awesome! Can you post a PR?

[2022-08-10 02:52] scottsand-db commented on #1284
@vigneshc - the checkpoint schema section you linked is correct. Every row has all actions, each action has a different schema, and we expect at runtime all columns (per row) but one to be null, and one column to not be null.

Want to make a PR to update the PROTOCOL.md?

[2022-08-10 02:53] scottsand-db commented on #940
Closing as this is also duplicated in https://github.com/delta-io/delta/issues/1284. There, I have clarified the checkpoint schema. Anyone is welcome to assign that issue to themselves and update the PROTOCOL.md. Thanks!

[2022-08-10 02:53] #940 closed

[2022-08-10 03:00] scottsand-db commented on #1183
@alfonsorr - you can read the table metadata by doing `deltaLog.snapshot.metadata.configuration`.

So, we expect the result (i.e. the table metadata) after this fix to look as is described in the issue description above.

e.g. for case 1, currently `deltaLog.snapshot.metadata.configuration` is returning
[code]
but instead we want it to only return
[code]

Let me know if you have any more questions

[2022-08-10 03:02] scottsand-db commented on #1311
Hi @mtNachiket - so it seems that you have run into a very common issue (delta session extensions not included when loading pyspark). Would you be interested in helping us fix this?

This is described in this issue here: https://github.com/delta-io/delta/issues/1144. Let me know and thanks!

[2022-08-10 11:42] MrPowers commented on #1063
I agree that it'd be great to have delta-spark in Conda.  In the meantime, just posting an example environment file demonstrating how delta-spark can be installed via pip into a Conda environment:

[code]

[2022-08-10 14:40] jwbreedlove commented on #527
Facing this issue in production across multiple different tables from many source (oracle/postgres/db2) applications. Does appear to be isolated to the upsert merges. We are running Spark 3.1.2 w/ Delta 1.0.0 on Kubernetes. Data store is HDFS (not S3). The issue is not repeatable and sporadic. When we notice a drop in counts or duplicates we roll back to a prior snapshot and replay the transaction

[2022-08-10 15:53] sherlockbeard commented on #1322
@scottsand-db can you assign it to me ?

[2022-08-10 16:03] scottsand-db commented on #1322
@sherlockbeard - for sure!

[2022-08-10 16:22] nkarpov commented on #602
Hi @himanshujindal - I think based on your description that @JassAbidi has shared a good solution (this is similar to how you would consume and apply CDF changes in Delta 2.0, for example). Can you please confirm that works for you, if you solved it otherwise, or if you're still blocked on this? Thanks!

Hi @bennetryan I think your goal is covered by normal MERGE semantics with a single statement.

[2022-08-11 05:10] bennetryan commented on #602
Hi @nkarpov, thank you for your reply. But the problem in my case is the entire id column value may not match which is why I'm using a substring. Also, in a table for substring of id there may be more than one rows, which is why on match of the partial id value I want to first perform a delete on the matched rows and then insert those rows.
Currently, I'm performing two separate transactions, one

[2022-08-11 15:26] PadenZach opened #1329 "[BUG] Merge Fails with ambiguous errors on some types using python API"
## Bug

### Describe the problem

When trying to merge with condition using python data API sometimes an `pyspark.sql.utils.AnalysisException: Failed to resolve` is raised.

#### Steps to reproduce

[code]
#### Observed results
[code]
#### Expected results

Ideally, it to "Just work", however, since I believe this to be an issue with the type I was comparing, propagating the actual error would the

[2022-08-11 16:43] Kiran-G1 opened #1330 "Duplicates seen with merge operation"
deltaTable.alias("original")\
    .merge(batch_of_records.alias("updates"), "original.id = updates.id")\
    ..whenMatchedUpdateAll().whenNotMatchedInsertAll().execute()

ID column which was used in this example is unique.

[2022-08-11 17:29] #1268 closed

[2022-08-11 17:29] #1274 closed

[2022-08-11 17:29] #1220 closed

[2022-08-11 17:29] #1283 closed

[2022-08-11 18:15] nkarpov commented on #1330
Hi @Kiran-G1 can you share a more complete example with sample data? A full reproduction will help us confirm and track this down. Here is a good example, https://github.com/delta-io/delta/issues/1279

[2022-08-11 20:16] nkarpov commented on #1329
Thanks @PadenZach. Acknowledging the repro is successful and it's a legitimate issue. The command should not swallow the specific error, in this case that map is not a comparable type

We'll leave this open for now; there is no corruption since an error is still thrown. We'll prioritize it accordingly to improve usability. Thank you!

[2022-08-11 23:11] #1188 closed

[2022-08-11 23:11] #1222 closed

[2022-08-12 00:48] Silverlight42 commented on #1321
@scottsand-db can you please assign it to me? Just submitted a PR.

[2022-08-12 02:41] LittleYmada opened #1332 "[BUG] Get error when try to connect to spark thrift server from beeline with delta enabled"
I run the following command to start a spark thrift server:
[code]
And this is part of the log output:
[code]
But when I try to connect to the spark thrift server by beeline:
I got some error, as following
[code]
Looks like it is caused by delta package is not found by beeline, but I have already add it when I start the spark thrift server.
Does anyone meet this problems before and has some insigh

[2022-08-12 08:53] keen85 commented on #1072
@norbitek, it's on the roadmap for 2022 H2 🥳
https://github.com/delta-io/delta/issues/1307

[2022-08-12 09:32] alfonsorr commented on #1183
One thing, for parameters that are not delta related but are correct like in the test in the code:
`ALTER TABLE $tableName SET TBLPROPERTIES ('comment'='does it work?')`

What should be the behavior, I understand that the comment has to be added to the metadata, but what about `deltaLog.snapshot.metadata.configuration`

[2022-08-12 10:40] changzhiwin opened #1333 "[BUG] DeltaTable.details() not exist in v2.0.x"
## Bug

### Describe the problem
Source code at `$delta/examples/scala/src/main/scala/example/Utilities.scala` is out of date.
[code]

### Environment information
* Delta Lake version: 2.0.1
* Spark version: 3.2.1
* Scala version: 2.13.8

#### Steps to reproduce
* 1, `cd examples/scala`
* 2, run `./build/sbt`

[2022-08-12 12:37] sherlockbeard commented on #1333
details function was requested in #1188 . and i am seeing it was merged (https://github.com/delta-io/delta/commit/5b214dd5456fac5a99aea8f8b782a37290d17165) yesterday.
i think it's not a bug .
can build the latest snapshot of delta lake and try to run the example again .

[2022-08-12 14:33] changzhiwin commented on #1333
I checked the master's source code, found this method. It since 2.1.0, so I used wrong version.
[code]
thanks a lot @sherlockbeard.

[2022-08-12 15:31] #1333 closed

[2022-08-12 15:50] nkarpov commented on #602
Strictly speaking, no, but it's an existing request if you'd like to add a +1 https://github.com/delta-io/delta/issues/832

If think [replaceWhere](https://docs.delta.io/latest/delta-batch.html#append) can get you _some_ mileage to do an atomic delete + insert, but otherwise, today, MERGE will not allow you to match multiple source (snapDF) rows to replace the matching target rows.

I think it's a

[2022-08-12 15:53] nkarpov commented on #1279
Hi @pedrosmv - thank you for reporting this. Confirming we can reproduce this based on your steps. Since an error is still being thrown and no data corruption occurs, we'll keep this open for now for anyone who might like to contribute and prioritize accordingly otherwise. Thanks!

[2022-08-13 23:52] Silverlight42 commented on #1260
I'm taking a look into this, currently tinkering with the `OptimizeExecutor` class (not 100% sure its the right class, still learning about the code base). May I open a draft PR in the future?

[2022-08-15 06:46] bennetryan commented on #602
Hi @nkarpov, I would be happy to work and contribute to it.

[2022-08-15 07:07] amirmor1 commented on #1260
Question -> What if the last operation on that table was not OPTIMIZE but WRITE (or any other operation), but in the history there is somewhere OPTIMIZE operation (with same zOrderBy columns). Can we assume that the new OPTIMIZE operation should be executed only on any "touched" partition **after** the previous OPTIMIZE operation?
Also, what should happen in case a user provided predicate partitio

[2022-08-15 10:59] whiteh opened #1335 "Explain method for delta.tables.DeltaMergeBuilder"
## Feature request

### Overview

Provide a method to retrieve query plans without executing the operation through the DeltaMergeBuilder.

Proposed that next to the `execute()` method is an `explain()` method, which returns the query plan without carrying out the merge.

### Motivation

Costly operations can often be avoided by checking the query plan prior to execution to ensure that configuratio

[2022-08-15 13:22] maor-sa commented on #1297
Hey @allisonport-db
Apparently logs file are being deleted after 30 days, please see the attached listing.
[code]

[2022-08-15 14:12] zsxwing commented on #1297
Not sure how you changed this. The value has to be stored in delta transaction logs. Storing it only in Glue won't work. The command to set this would be `ALTER TABLE` such as `ALTER TABLE <table> SET TBLPROPERTIES ('delta.logRetentionDuration' = 'interval 7 days')`.

Can you try to run [DESCRIBE DETAIL](https://docs.delta.io/latest/delta-utility.html#retrieve-delta-table-details) on the table and

[2022-08-15 15:53] ctezna commented on #1320
Hi @nkarpov after doing some further analysis, I agree. This should be a feature request for Apache Spark. Thanks for the feedback.

[2022-08-15 15:53] #1320 closed

[2022-08-15 17:55] scottsand-db commented on #1260
This makes sense to me. Implementing this may be tricky. Essentially you are saying
- Suppose we have partitions 1,2,3,4
- Suppose at version N-5 an OPTIMIZE command optimized partitions 1, 2
- Suppose at between versions N-4 and N, WRITES were added to partition 2 only
- Then if we run an OPTIMIZE command for version N+1, we should optimize partitions 2, 3, 4. Not partition 1, since there have be

[2022-08-15 20:15] KhASQ opened #1336 "Multiple concurrent spark streaming writes with Minio and HMS with transactional guarantees"
Hi

I am enjoying working with the delta format and I believe it is the right table format for my use case.

I have a question about the  transactional guarantees with concurrent spark streaming writes in Minio with HMS

The pipeline is like this:
1- Multiple spark streaming jobs write "upsert" to a single delta table stored in Minio "S3 compatible object store"
2- Querying the delta tables using

[2022-08-15 20:16] keen85 commented on #1260
@amirmor1 I'd prefer a "smart" logic also if a partition predicate is provided.
Currently I don't see a use case where a user would like to have the whole table / some partitions **explicitly be rewritten** if there is nothing to gain from the rewrite.
I think the benefits (faster execution, less storage utilization, less I/O) would be most welcome 😄

[2022-08-16 01:01] tdas commented on #1330
There is a lot of very relevant discussion on duplicates in merge here - https://github.com/delta-io/delta/issues/527

[2022-08-16 01:11] dennyglee commented on #1165
Good call out - we'll work on setting up a GCP bucket (and for that matter an Azure bucket) to support this. Working with the LF to set these up.

[2022-08-16 04:37] mbabatope commented on #320
I literally have the same problem. How did you resolve this?

[2022-08-16 08:24] amirmor1 commented on #1260
Thanks for the comments guys.
Another question -> What should happen in case when configuration change between two OPTIMIZE operation (with or without WRITE operations between the two OPTIMIZE operations). I would expect that even two sequential OPTIMIZE operations (without any WRITE between them) with `DELTA_OPTIMIZE_MIN_FILE_SIZE` change (for example) in between should do a full optimize.
As @sc

[2022-08-16 09:06] Freia3 opened #1337 "[BUG] mode("overwrite") does not seem to work when adding .format("delta")"
## Bug

### Describe the problem
It seems that when writing a dataframe with "overwrite" mode and "delta" format to a file the data is not completely overwritten.

#### Steps to reproduce
[code]
#### Observed results
When displaying the dataframe, I get 10 records instead of the expected 5 (df=spark.range(0,5)):
+---+
|id |
+---+
|0  |
|0  |
|1  |
|1  |
|2  |
|2  |
|3  |
|3  |
|4  |
|4  |
+---+
##

[2022-08-16 09:24] amirmor1 commented on #1337
TL;DR -> read the table with `spark.read.format("delta").load(path)...`

Hi @Freia3 , Delta keeps versioning of the table, meaning every write/commit there is a new version. In the scenario above, you created two versions.
The problem is you are trying to read this table with native spark, which does not know about the versions of the table, ignoring the versions of the table in _delta_log folder.

[2022-08-16 09:40] sfalquier opened #1338 "[BUG] Python DeltaOptimizeBuilder only applies the last where condition"
## Bug

With python API, when specifying several partition filters with several `where(partitionFilter: str)`, only the last one is taken into account on execution.

### Describe the problem

`DeltaOptimizeBuilder` can chain `where` functions but applies only the last one for execution

#### Steps to reproduce

1. create a delta table partitioned by `year/month/day`, for example :
[code]
2. fill t

[2022-08-16 09:43] #1337 closed

[2022-08-16 11:25] keen85 commented on #1260
Good point! Haven't thought about that... 😖

Would it be possible to have the "smart" behaviour as _default_ (but not considering configuration changes) and some additional way (option/parameter) to explicitly **force** the rewrite?

In that scenario it would be the obligation of the users to rebuild the Delta Tables after config changes with the force option.

[2022-08-16 17:15] gokulyc opened #1339 "[Feature Request]"
## Feature request

### Overview

Add delta lake library version to python api.

I am unable find installed delta library version programmatically, when using python package.

let me know if feature already exists, i didn't find it.

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you or another member of your organization be willing to contribut

[2022-08-16 17:36] tdas commented on #1335
Even SQL `EXPLAIN MERGE` does not really very useful to explain what is going on within the execution of merge. This is problem with complex commands like update / delete / merge where the command internally runs multiple Spark SQL jobs which are not visible external by running explain on merge. So for real debuggability, adding explain on DeltaMergeBuilder is not really useful; it's as useless as

[2022-08-16 17:39] tdas commented on #653
Yeah, this needs a lot of effort to rewrite merge implementation completely. Some one who really understands how spark handles python udfs and making it work. I really hope someone in the community can spend that time digging into this.

[2022-08-16 17:47] tdas commented on #1225
Sorry for the massive delay but are you still having this problem? Are you sure its failing during snapshot construction? Can you read the table in a batch query? If you can, then I suggest you run Optimize (introduced in Delta 1.2 on Spark 3.2) to compact the files to reduce the number of files in delta table. that should reduce the overheads of creating snapshot.

I am honestly surprised though

[2022-08-16 17:50] tdas commented on #1339
There isnt one. But why do you need to know this version? Dont you already know what version you have installed with spark?

[2022-08-16 17:57] nkarpov commented on #1336
Hi @KhASQ - there is only the S3+DynamoDB support today but other methods for providing mutual exclusion is a great ask.

This will likely require an additional implementation of [LogStore](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/storage/LogStore.scala) as mentioned on the [storage configuration page](https://docs.delta.io/latest/delta-storage.h

[2022-08-16 18:01] gokulyc commented on #1339
i am using delta lake package comes with databricks in Azure. where can i find exact version?

[2022-08-17 08:14] rajasekarv commented on #932
Sorry for the delated response @0xdarkman . We didn't bother with Azure team even though we should. We tried the same by mounting blob-fuse and it seemed fine with that. So I guess the issue is not in the blob storage and might be in the Hadoop HDFS implementation which Spark uses. It is easily reproducible so you can try raising this in Hadoop Jira or else go with the workaround I mentioned.

[2022-08-17 08:46] dkrynick commented on #932
@rajasekarv i opened ticket to microsoft, produced data for them, they looked into it and they confirmed it is a known bug to them. so it means Microsoft Azure has confirmed it is on them.

[2022-08-17 08:47] 0xdarkman commented on #932
@rajasekarv i opened ticket to microsoft, produced data for them, they looked into it and they confirmed it is a known bug to them. so it means Microsoft Azure has confirmed it is on them.

[2022-08-17 08:53] rajasekarv commented on #932
@0xdarkman Glad to hear. However it is bit  surprising to me. Since blob fuse is working fine. Blobfuse is using Goland SDK behind. So I assumed the issue might be coming from either Java Azure storage SDK or from HDFS implementation of Azure storage. If possible please update here if the issue is resolved for you.

[2022-08-17 17:09] chajath opened #1341 "DELTA source resolution is brittle when serving Spark SQL through Hive Thrift server"
## Bug

### Describe the problem
We run sqls to create TABLEs etc with `... USING DELTA` directive. It works ok for the first time, but in the subsequent run, or if there was an error in the previous run, `DELTA` name fails to get resolved. If I fully spell out `... USING org.apache.spark.sql.delta.sources.DeltaDataSource`, then the statement still works.

#### Steps to reproduce

I run Spark SQL

[2022-08-17 17:50] zsxwing commented on #932
@0xdarkman Glad to hear that MSFT figured out the issue. Could you post this information in the open ticket https://github.com/delta-io/delta/issues/1277 ? Thanks!

[2022-08-17 23:07] zsxwing commented on #1332
This looks like an issue of Spark thrift server. It doesn't pick up the libraries passed through `--packages io.delta:delta-core_2.13:2.0.0`. Maybe create an issue on https://issues.apache.org/jira/browse/SPARK ?

A workaround for this issue is putting `delta-storage-2.0.0.jar` and `delta-core_2.13-2.0.0.jar` into the `jars` directory under spark, rather than using `--packages io.delta:delta-core_

[2022-08-17 23:11] zsxwing commented on #1341
This looks like a Spark thrift server issue about `--packages` support similar to #1332. Maybe create an issue on https://issues.apache.org/jira/browse/SPARK and ask the Spark community to check the class loader used by Spark thrift server?

Could you try to put `delta-storage-2.0.0.jar` and `delta-core_2.12-2.0.0.jar` into the jars directory under spark and see if this fixes the issue?

[2022-08-18 01:40] sezruby commented on #1307
Hi @dennyglee, what about Auto compaction and Optimize Write? I don't think the PRs are getting some attention for review / merge. Could you add it to the roadmap?

[2022-08-18 02:53] dennyglee commented on #1307
Oh good point!  Let me get back to you on this shortly!  Sorry about that!

On Wed, Aug 17, 2022 at 18:41 EJ Song ***@***.***> wrote:

[2022-08-18 05:19] gokulyc commented on #1339
I found delta lake version in databricks runtime docs.

Ex:
https://docs.databricks.com/release-notes/runtime/11.1.html

[2022-08-18 07:14] dohongdayi commented on #276
Any difference in Delta Lake 2.x ?

[2022-08-18 10:08] SidWeng opened #1342 "[BUG] NoSuchMethodError: org.apache.spark.sql.catalyst.parser.ParserUtils$.withOrigin"
Always get following exception when execute SQL command
[code]
The reason is different signature of `withOrigin`,
in 3.2.0:
[code]
in 3.3.0:
[code]

#### Steps to reproduce
1. [Configure SparkSession](https://docs.delta.io/latest/delta-batch.html#configure-sparksession)
2. Execute SQL DDL command by invoking `SparkSession.sql()`

#### Environment information

* Delta Lake version: 1.2.1
* Spark ve

[2022-08-18 14:30] nkarpov commented on #1342
Hi @SidWeng - The Delta version you're using (1.2.1) cannot be used with Spark 3.3, as noted here: https://docs.delta.io/latest/releases.html

If you'd like to use Spark 3.3, you can try out our recent release candidate Delta 2.1rc1 here, https://github.com/delta-io/delta/releases, otherwise you'll have to use Spark 3.2.

[2022-08-18 14:34] nkarpov commented on #1338
Hi @sfalquier - confirming your repro and that we agree that multiple chained `where` clauses should be respected. Tagging this as a `good first issue` in case you or anyone in the community would like to contribute!

[2022-08-18 20:47] nkarpov commented on #276
Hi @dohongdayi - no, Delta 2.1 does not yet natively support MOR. The good news is that one of MOR's dependencies, deletion vectors, is on the H2 roadmap here: https://github.com/delta-io/delta/issues/1307 if you'd like to push for this feature please add a comment and upvote it :)

[2022-08-18 23:59] nkarpov commented on #1339
FWIW there is a public [SparkSession.version](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala#L126) field (exposed in pyspark too)

[2022-08-19 02:43] SidWeng commented on #1342
@nkarpov Thanks for your help !

[2022-08-19 02:43] #1342 closed

[2022-08-19 12:47] keen85 commented on #1307
Hi @dennyglee, what about support for displaying DDL of delta tables (`SHOW CREATE TABLE`)
https://github.com/delta-io/delta/issues/1032
https://github.com/delta-io/delta/pull/1255

[2022-08-19 13:30] sherlockbeard commented on #1338
Hi @nkarpov  can you assign it to me ?

[2022-08-19 15:29] dennyglee commented on #1307
Good call out @keen85  - let me check with @zpappa on this!

[2022-08-19 17:33] zpappa commented on #1307
I have some minor style and test updates for this PR to be considered done, I can finish them today and we can try to pull them Into 2.1

[2022-08-19 17:33] zpappa commented on #1307
I have some minor style and test updates for this PR to be considered done, I can finish them today and we can try to pull them Into 2.1

[2022-08-19 21:53] keen85 opened #1345 "[Feature Request] return "number of inserted rows" metric on spark `df.write` operation"
## Feature request

### Overview

When inserting rows via spark [`df.write`](https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html) operation into a Delta Lake table it would be helpful if **number of inserted rows (Long)** would be returned.

### Motivation

We are currently building a **data lakehouse** facilitating Delta Lake as storage format. Ingested raw data are pro

[2022-08-22 02:03] scanry commented on #527
hi brother，I recently found out a rule in duplicate cases ,it was very often duplicate when merge through multiple columns(date,mall,source,type),and 'input_file_name()' is the same file。
![image](https://user-images.githubusercontent.com/9125005/185824244-1458fe4f-35be-476e-b062-210a662eed3e.png)
![image](https://user-images.githubusercontent.com/9125005/185824482-b8501df1-389e-444c-8cce-ed6b00c0

[2022-08-22 05:22] jbin121867740 opened #1346 "With Delta lake, how to do an "overwrite" output mode using spark structured streaming without deleting all the data and the checkpoint"
I have this delta lake in ADLS to sink data through spark structured streaming. We usually append new data from our data source to our delta lake, but there are some cases when we find errors in the data that we need to reprocess everything. So what we do is delete all the data and the checkpoints and re-run the pipeline, having the correct data inside our ADLS.

But the problem with this approach

[2022-08-22 06:28] raphaelauv opened #1347 "[Feature Request] Bloom filter not Open Source"
## Feature request

Look like in 2.0 and 2.1rc1 the Bloom filters are not opensource

any plan to release them in the open source version of delta ?

Thanks

[2022-08-22 21:29] #1322 closed

[2022-08-23 01:28] jackierwzhang opened #1349 "[Feature Request] Enable batch CDF queries on column mapping enabled tables with fewer limitations"
## Feature request

### Overview

Currently reading CDF in a batch fashion is completely blocked on column mapping enabled tables, it is understood that since Delta uses the latest snapshot schema to read historical CDC batches, and with the abilities to drop and rename columns via column mapping, the latest schema might not have been compatible with the past data batches anymore.

However, it wou

[2022-08-23 08:09] santosh-d3vpl3x commented on #1298
Could we also ship `delta-spark` in a self contained fashion? Having extra dependency on maven is not as seamless in many pyspark dependent orgs.

[2022-08-23 08:32] whiteh commented on #1335
That makes sense - thanks.  So your proposal would be like a 'dry run' mode for queries, rather than a standoff explanation?

[2022-08-23 12:04] MrPowers commented on #1298
@santosh-d3vpl3x - It's a great idea and that's what's been done.  [delta-spark is in PyPi](https://pypi.org/project/delta-spark/) and doesn't have a Maven dependency.  You can just run `pip install delta-spark`.

[2022-08-23 12:08] santosh-d3vpl3x commented on #1298
@MrPowers Thats good to know. https://docs.delta.io/latest/quick-start.html#python along with https://github.com/delta-io/delta/blob/v2.1.0rc1/python/delta/pip_utils.py#L26-L28 gave me an impression that `delta-spark` is just a sugar coating over existing flow.

[2022-08-23 12:32] MrPowers commented on #1298
@santosh-d3vpl3x - Yea, we should make those installation instructions more clear.  Here's [a blog post](https://mungingdata.com/pyspark/install-delta-lake-jupyter-conda-mac/) I wrote on installing PySpark & Delta Lake with conda.  I will try to make more content that'll make it easier to get up-and-running with Delta Lake.  Thanks for the comments / feedback.

[2022-08-23 16:04] whenamanlies commented on #420
Have we identified any workarounds or best practices to help us avoid this issue while it's being fixed?

[2022-08-23 16:32] zsxwing commented on #420
@whenamanlies Fixing this would require to add the time zone information to the partition value, which would break old versions as they don't understand the new format. Hence, we decided to not change the existing behavior.

If you really want to use timestamp in a partition column, you can cast the timestamp to a string with addition time zone information by yourself, and use string type for the

[2022-08-23 17:23] tdas commented on #1335
Thats an interesting but challenging question. Its hard to do a real dry run like thing for DML commands because it wont be fast (dry runs are usually expected to be so) as it has to scan data to even get to the next job. Also, I have not seen dry runs like this in any large scale data processing system. So i am hesitant to propose that .. it goes it uncharted territory. And it would be good not b

[2022-08-23 22:56] #1323 closed

[2022-08-23 22:56] nkarpov commented on #1339
Hi @gokulyc could you share a little more about your use case? Specifically, what is the pattern you're trying to implement that requires you to programmatically get the Delta version? Thanks!

[2022-08-23 23:00] D-to-the-K commented on #957
Hello, @liwensun!

I was doing some tests in Databricks Community regarding support for arbitrary characters in column names. I have found that I could create regular Parquet files with column names containing special characters such as spaces and parentheses. Is this intended behavior, or an accidental new feature not yet announced?

![image](https://user-images.githubusercontent.com/13403610/186

[2022-08-23 23:00] zsxwing commented on #1259
We don't plan to remove them as that would break compatibility. But we also don't plan to support more features on top of these deprecated attributes.

Closing this as we don't plan to support this.

[2022-08-23 23:00] #1259 closed

[2022-08-23 23:07] nkarpov commented on #1247
Hi @dwsmith1983 - following up on this.

It would be helpful to make this discussion explicit. Can you share a small example of today's behavior (data, z-order command, resulting file layout/distribution) and how an alternate NULL treatment would change the behavior/perf? There's a target size conf for OPTIMIZE ZORDER that can help us work through the problem on a much smaller set of data:

[code]

[2022-08-23 23:44] nkarpov commented on #1346
Hi @jbin121867740 - I think based on your description you might be able to use [RESTORE](https://docs.delta.io/latest/delta-utility.html#restore-a-delta-table-to-an-earlier-state) to wind back the table to a non-corrupted state while you attend to the upstream.

Would love to hear more if that's insufficient!

[2022-08-24 03:52] zsxwing commented on #957
@D-to-the-K this is because Spark removed the check from parquet side: https://github.com/apache/spark/pull/35229

[2022-08-24 09:41] dwsmith1983 commented on #1247
@nkarpov do you have a link to so some sample data to use?

[2022-08-24 11:34] Kimahriman commented on #1346
I don't think this is related to corrupted state, we face similar problems. We stream data from raw files (json, csv, etc.) to Delta tables, but occasionally we need to completely reprocess the data, either to fix bugs or some other reason that can't easily be done with an update. Right now we version our Delta tables by the path name, so if we need to make an update to our `v1` table, we would si

[2022-08-24 11:38] D-to-the-K commented on #957
Thank you, @zsxwing! I really missed that.

Hope this is soon changed in parquet-mr to remove the same limitation from tools such as Azure Data Factory as well.

https://docs.microsoft.com/en-us/azure/data-factory/connector-troubleshoot-parquet#no-enum-constant

https://github.com/apache/parquet-mr/blob/master/parquet-column/src/main/java/org/apache/parquet/schema/MessageTypeParser.java#L48

[2022-08-24 13:03] george-zubrienko commented on #1341
We use thrift server and create tables the same way, with jars backed inside spark image and provided to spark as @zsxwing suggested. No issues with delta 1.1.

[2022-08-24 13:38] gokulyc commented on #1339
@nkarpov I observed that python libraries like sklearn, pandas  & numpy (Most Libraries) have library version value as __version__ attribute. Value is usually in __version__.py file.

for example optimize() was introduced in 2.0 in delta-lake library, one can use the value to write logic without exception handling.
It will increase developer experience.

please add the feature.

[2022-08-24 13:48] gokulyc commented on #1339
It is already present in setup.py, it needs to added to \_\_version\_\_.py or \_\_init\_\_.py

https://github.com/delta-io/delta/blob/edaeb86304211513c8028d056a7d90e98ec2839c/setup.py#L17

[2022-08-24 17:41] PadenZach opened #1354 "[Feature Request] Enable LOAD DATA for delta tables."
## Feature request

### Overview

Currently Deltalake - Databricks has the ["COPY INTO"](https://docs.databricks.com/spark/latest/spark-sql/language-manual/delta-copy-into.html) DML statement, and vanilla parquet datasets in spark support the ["LOAD DATA" DML statement](https://spark.apache.org/docs/latest/sql-ref-syntax-dml-load.html). However, currently there doesn't seem to be work regarding th

[2022-08-24 18:20] nkarpov commented on #1247
Is it possible to generate a candidate set that has the NULL distribution you want to address?

The example below will be 50% NULLs in 1 file before the zorder command, and 5 active files (with null distribution visible in the addfile stats) afterward.

[code]

[code]

[2022-08-25 01:41] zsxwing commented on #1346
Will running a batch query to overwrite the table work? For example,
[code]
If you stop any concurrent writers and just run the above batch query, it will have no downtime for downstream batch queries.

[2022-08-25 03:05] #1123 closed

[2022-08-25 03:05] #1318 closed

[2022-08-25 03:05] #1349 closed

[2022-08-25 09:24] iamalto commented on #816
i'm also having this error. i'm already using delta version 2.0.0 and spark version 3.2.2, which should have been compatible based on the matrix.

[2022-08-25 15:51] nkarpov commented on #1339
Thanks @gokulyc, are you open to submitting a PR for this?

[2022-08-25 19:36] Kimahriman commented on #1346
problem is if you do a batch overwrite you don't get the streaming state for the data you just wrote

[2022-08-25 20:46] dudzicp commented on #1307
How about delta caching that is present on databricks? Is there a plan for such feature?

[2022-08-25 21:26] scottsand-db commented on #320
@mbabatope can you post some details of your problem? What query are you running? What are the schemas?

[2022-08-25 21:27] tdas commented on #1307
"Delta caching" is actually a Databricks Runtime engine feature, not part of the format. Caching data on an processing engine's executor/workers nodes is something that can really be done well by the engine itself, not by a data format. It's unfortunate and confusing that we had marketed it under the "Delta" brand name, even though it's really not part of the "Delta Lake" storage format. So, in sh

[2022-08-25 23:27] nkarpov commented on #1346
As for the OP @jbin121867740, I've understood the two requirements as (1) reprocess & overwrite all the data & (2) simultaneously allow users to query the existing data. I think @zsxwing suggestion achieves that (you can also run RESTORE first so the table goes back to `current - 1` version if you want your users to avoid querying version with errors in the data).

Having downstream _stream_ reade

[2022-08-25 23:34] scottsand-db commented on #1280
Hi @bugsbunny1101 - could you try this using Delta Lake 2.0.0? I did that using Pyspark and I was able to get all of the information just fine.

[code]

[2022-08-25 23:38] Kimahriman commented on #1346
Yeah the stream readers makes it more complicated, but somewhat of a separate issue. Not sure about OP, but for us it's usually a bug in our transformations, not bad data, so there's nothing to RESTORE back to because it's all wrong. Also, even if you do know it's specifically a bad batch, I don't think RESTORE'ing resets any checkpoint state so you'd have to go in and manually delete the batches

[2022-08-25 23:38] scottsand-db commented on #1248
Hi @mrk-its - are you interested in proposing a more detailed fix? Perhaps a design doc, and we can give you some feedback and guidance?

[2022-08-25 23:52] nkarpov commented on #602
There are many approaches...

The least intrusive would be to roll your own custom transaction using `OptimisticTransaction` (take a look at the existing command implementations). This would require **no change** to the core Delta code, but you'd be fully responsible for the correctness and maintaining version compatibility, etc. It's just your user code leveraging internal APIs. None of the built

[2022-08-26 01:16] zsxwing commented on #1346
For the downstream streaming queries, the issue cannot be solved within Delta Lake functionality. A possible solution would be making Structured Streaming support `rollback`, but it would be a large feature for Apache Spark.

[2022-08-26 01:22] zsxwing commented on #1183
I just noticed that the description is not accurate. For example, today we will write
[code]
to `deltaLog.snapshot.metadata.configuration`.

And we want to write only the following paris
[code]

[2022-08-26 01:55] zsxwing commented on #1223
Generally, Delta will use Spark to load transaction files, including incremental changes (json files), and table checkpoint (parquet files). It does have skew, since json files are usually small but checkpoint files are usually large. Spark will create tasks based on the file size and the number of cores available on your cluster. Would you be able to provide logs like this to help us understand h

[2022-08-26 02:03] Kimahriman commented on #1346
The "streaming overwrite" would fix the downstream streams if that stream can handle duplicates/reprocessing the same data. I might think about how this could work, maybe some flag that if it's the first batch of the stream it should overwrite the table during the first commit

[2022-08-26 03:14] jackierwzhang opened #1357 "[Feature Request] Enable streaming / CDF streaming reads on column mapping enabled tables with fewer limitations"
## Feature request

### Overview

Sister ticket to https://github.com/delta-io/delta/issues/1349.

Currently streaming read is completely blocked on column mapping enabled tables, it is understood that since Delta uses the latest snapshot schema to read historical data batches, and with the abilities to drop and rename columns via column mapping, the latest schema might not have been compatible wi

[2022-08-26 05:05] zsxwing commented on #1346
Could you clarify what's the difference between the streaming overwrite you propose and a simple batch overwrite query?

[2022-08-26 05:15] allisonport-db commented on #1266
While I can see how it's annoying to have to use the SQL API right now to interact with the table properties, since table properties aren't inherently a delta-specific concept they don't really belong in the DeltaTable API. This functionality would be better added to the Spark Catalog API, do you want to open a ticket for that?

[2022-08-26 05:17] zsxwing commented on #791
Closing this old ticket. This has been answered.

[2022-08-26 05:17] #791 closed

[2022-08-26 05:25] allisonport-db commented on #1236
Hi @nchammas, I'm not sure if you're aware but you can use  `spark.conf.get("spark.databricks.delta.lastCommitVersionInSession")` to get the last committed version in the spark session for any table.

Obviously this has some limitations compared to the ideas you've outlined, but let me know if this solves your use case.

Otherwise I think I've seen a conversation somewhat similar to this in slack.

[2022-08-26 05:34] allisonport-db commented on #1064
Added in #1076

[2022-08-26 05:34] #1064 closed

[2022-08-26 06:04] alfonsorr commented on #1183
That makes sense! so it's only related to those that start with `option.`

[2022-08-26 06:05] zsxwing commented on #1183
Correct!

[2022-08-26 09:54] santosh-d3vpl3x commented on #1298
@MrPowers I Spent some time going through the code for `delta-spark` to understand what it is doing at the moment.
1. It is indeed a thin wrapper and tool for convenience but not a self complete package like `pyspark`. `configure_spark_with_delta_pip` adds maven coordinate to the spark session builder. If you have clean ivy dir/maven dir and disconnected from the internet then the instruction here

[2022-08-26 10:52] Kimahriman commented on #1346
Mostly the risk of getting duplicate data. Not sure if this is exactly the same scenario the OP is talking about, but it sounds very similar to me.

We receive a bunch of raw data in all kinds of file formats. These files can be coming in as much as every few minutes. We save those files to HDFS and then we do a file stream depending on the file type, do a bunch of transformations that we have a w

[2022-08-26 13:54] nchammas commented on #1236
Oh, I didn't know about this. Thank you for the pointer. Looks like [it's documented here][1].

I think this is quite similar in design behavior to SQL Server's `SCOPE_IDENTITY()` (mentioned above). It'll work for me, I believe, with the caveat noted in the documentation that it's a session-global value that could give confusing results if the session is shared across threads.

[1]: https://docs.d

[2022-08-26 15:52] scottsand-db commented on #857
Hi @GeekSheikh - can you
a) update the issue description to clarify that the only way to do it for table API is using `spark.conf.set("spark.databricks.delta.commitInfo.userMetadata", "test")`, which is what breaks when multiple writes are occurring.
b) what sort of API are you looking for? `DeltaTable.withUserMetadata(...).merge(...)`?

[2022-08-26 16:03] scottsand-db commented on #1260
@keen85 or @amirmor1 - are either of you interested in contributing this feature? or, perhaps, proposing the API and offering a high-level design?

[2022-08-26 16:31] amirmor1 commented on #1260
@scottsand-db I would like to work on this feature. However, I think I'll probably gonna need some help / guidance. I can start with some high level design and later with the implementation. Do you have some template for high level design doc?

[2022-08-26 18:29] nkarpov commented on #1260
@amirmor1 awesome! Here are a few examples: [Trino/Presto Connector](https://docs.google.com/document/d/16S7xoAmXpSax7W1OWYYHo5nZ71t5NvrQ-F79pZF6yb8), [Delta Standalone Writer](https://docs.google.com/document/d/1MJhmW_H7doGWY2oty-I78vciziPzBy_nzuuB-Wv5XQ8), [Apache Flink Sink](https://docs.google.com/document/d/19CU4eJuBXOwW7FC58uSqyCbcLTsgvQ5P1zoPOPgUSpI), [S3 Multi-cluster writes](https://docs.

[2022-08-26 19:36] scottsand-db commented on #1301
@jaceklaskowski - this doesn't seem like a super critical refactor. The code wouldn't be that much simpler afterwards. We'd rather focus our review time on new features or bugs. If you feel passionately about this, feel free to make a PR though. But I think there's more interesting Delta stuff for you to work on :p See the `good first issue` and `good medium issue` labels.

[2022-08-26 21:04] allisonport-db commented on #1236
Great, I'm going to go ahead and close this. We can reopen it later if a more robust solution is needed.

[2022-08-26 21:04] #1236 closed

[2022-08-26 21:40] zsxwing commented on #1258
Closing this as we don't have any future plan to make 1.2.0 work with Spark 3.1.x

[2022-08-26 21:40] #1258 closed

[2022-08-26 21:41] tdas commented on #144
Columns stats has been open sourced in Delta 1.2. Closing this issue.

[2022-08-26 21:41] #144 closed

[2022-08-26 23:19] djouallah commented on #1307
I Have being experimenting with Delta lake in Google Cloud  and DuckDB and it is very promising, but without a local SSD cache it will never be fast enough, maybe we need a cache for Delta independently from Databricks implementation, Delta knows which files needs to be scanned, keeping a local copy on the first call will be really useful.

[2022-08-27 10:38] dnskr opened #1359 "[BUG] Memory leak in a long running Spark Thrift Server with Delta Lake workloads"
## Bug

### Describe the problem
I'm facing memory leak in a long running Spark Thrift Server (STS) on Kubernetes if Delta Lake tables are used.

RSS (process) memory grows all the time while STS is being used to run workloads with Delta Lake tables. The growth correlates with the frequency of executing sql queries. After few hours, RSS reaches pod memory limit and kubelet kills the pod with `137`

[2022-08-27 18:25] tdas commented on #1359
To continue our discussion from the (slack thread) do you have the heap live object histogram from the executor where this issue is happening?

[2022-08-27 19:04] dnskr commented on #1359
Yes, there are 7 histograms of executor memory from the beginning to a few minutes before OOMKilled
[memory-histograms.zip](https://github.com/delta-io/delta/files/9438522/memory-histograms.zip)

[2022-08-28 05:05] khwj commented on #1307
Hi @dennyglee, what about supporting analyze table [#581](https://github.com/delta-io/delta/issues/581) and Bloom filter indexes[#1347](https://github.com/delta-io/delta/issues/1347)?

[2022-08-28 09:29] allisonport-db commented on #128
Closing this as support was added in #1288 and is being released in 2.1

[2022-08-28 09:29] #128 closed

[2022-08-28 09:34] allisonport-db commented on #1321
Closing this as it has been implemented in #1331 and will be released with Delta 2.1

[2022-08-28 09:34] #1321 closed

[2022-08-29 12:44] wjxiz1992 commented on #730
Same issue locally.

[2022-08-29 14:28] dkrynick commented on #1152
I am using:
Pyspark 3.2.1
io.delta 1.2.1

`com.google.common.util.concurrent.ExecutionError: java.lang.NoClassDefFoundError: io/delta/storage/S3SingleDriverLogStore`

[code]

I do also:

[code]

[2022-08-29 14:29] 0xdarkman commented on #1152
I am using:
Pyspark 3.2.1
io.delta 1.2.1

`com.google.common.util.concurrent.ExecutionError: java.lang.NoClassDefFoundError: io/delta/storage/S3SingleDriverLogStore`

[code]

I do also:

[code]

[2022-08-29 15:57] zsxwing commented on #1152
@0xdarkman could you check your Spark's `jars` directory and see if there are any delta jars there?

[2022-08-30 06:38] 0xdarkman commented on #1152
yes, this resolves the problem. thank you.

[2022-08-30 12:29] 0xdarkman commented on #1152
I am not able to write anything. I see _delta_log I see the data but it seems I have some problem with writting. Would you mind to look into the question I have just opened in SO?

https://stackoverflow.com/questions/73542462/pyspark-write-stream-to-delta-no-data

[2022-08-30 17:03] BShraman commented on #1298
@MrPowers

Here are my pip list
<img width="604" alt="image" src="https://user-images.githubusercontent.com/49772843/187495740-6c6b1c50-d0e9-492e-8c89-26d35a2d149e.png">

**Spark Configuration :**

#####################
import pyspark
from delta import *

builder = (
    pyspark.sql.SparkSession.builder.appName("MyApp")
    .config('spark.master','local[*]')
    .config("spark.sql.extensions", "io

[2022-08-30 17:28] zsxwing commented on #1359
@dnskr is the issue only happening in executors? Just checked the memory histograms you provided and looks like they were all from an executor.

[2022-08-30 18:09] dnskr commented on #1359
@zsxwing I observe this problem (visible memory leak) on executor pods only.
I got the memory histograms above from one specific executor from start to a few minutes before OOMKilled.
I'm not sure it helps, but there is one more executor pod memory screenshot showing the leak:
<img width="1010" alt="Screen Shot 2022-08-30 at 11 34 00" src="https://user-images.githubusercontent.com/36439732/1875111

[2022-08-31 06:22] chrimaho opened #1361 "Show key metrics after running `.merge(...)....execute()`"
## Feature request

### Overview

When executing the [`.execute()`](https://github.com/delta-io/delta/blob/2041c3b7138b9614529540613195d4afd39fde71/python/delta/tables.py#L932) method of the [`DeltaMergeBuilder()`](https://github.com/delta-io/delta/blob/2041c3b7138b9614529540613195d4afd39fde71/python/delta/tables.py#L709) class, please return some statistics about what was actually changed on the

[2022-08-31 10:35] MaksGS09 commented on #1307
Hi!
How about [Big Query](https://github.com/delta-io/connectors/issues/282) integration?

[2022-08-31 15:05] jbin121867740 commented on #1346
We have the same scenarioes as @Kimahriman mentioned. Data needs to be reprocessed due to internal bug or other issue. And after reprocessing, we want to still keep the streaming. We have discussed the same solution as you mentioned (including version in path) @Kimahriman , but then we would like to find the recommened way to do this for streaming query.
With overwrite a batch query to a streaming

[2022-08-31 18:15] christoburp opened #1363 "[BUG] Table creation doesn't support writes"
## Bug

### Describe the problem
While running the TestBenchmark and other benchmark tests, I ran into this problem error when trying to create a Delta table and insert values into it: `Table implementation does not support writes`.
#### Steps to reproduce

- Download and benchmark classes into a new intelij project and set the build.sbt with the configuration noted below
- Run TestBenchmark.scala

[2022-08-31 18:33] zsxwing commented on #1363
What are your Spark configs? Could you check if you have the below configs?

[2022-08-31 18:48] christoburp commented on #1363
I was running the default configurations except for these two parameters
      .config("spark.ui.proxyBase", "")
      .master("local[*]")

Are those two parameters required?

[2022-08-31 20:07] geoHeil opened #1364 "[Feature Request] add WHEN NOT MATCHED BY SOURCE/TARGET clause suppoort"
## Feature request

https://delta-users.slack.com/archives/CJ70UCSHM/p1661955032288519

### Overview

WHEN NOT MATCHED BY SOURCE/TARGET clause support

### Motivation

feature parity with popular other SQL databases, ease of use

### Further details

Each day I get a full dump of a table. However, this data needs to be cleaned and in particular, compressed using the SCD2 style approach to be easil

[2022-08-31 20:08] geoHeil commented on #1364
Is there any workaround / current solution (perhaps not in the SQL but scala/Python API?

[2022-08-31 20:17] zsxwing commented on #1363
Yep. They are required in order to make Delta work correctly

[2022-08-31 20:18] zsxwing commented on #1363
Just to be clear. I meant the right code should be

[code]

[2022-08-31 22:08] christoburp commented on #1363
it looks like it was a configuration problem.
thanks for helping me resolve it.

[2022-08-31 22:08] #1363 closed

[2022-09-01 03:08] sezruby commented on #1307
Hi @dennyglee any update?

[2022-09-01 04:31] pavs23 opened #1365 "[BUG] VACUUM on a change data feed table"
## Bug

My `VACUUM` command on a job is causing this issue.

Getting the error message:

[code]

### Describe the problem
I've got a suspicion that the `VACUUM` cleaned up the files no longer referenced in the latest table and also removed the relevant data in the `_change_data` folder but the transaction log wasn't changed.

I know that the transaction log keeps history for 30 days.

When we set

[2022-09-01 16:05] nkarpov commented on #1364
Thanks for creating this issue @geoHeil! Copying over a suggested approach from the Slack thread:
- No out-of-the-box way to do this in a single atomic command today
- You can LEFT join the target to the source and derive a new column for rows to DELETE, then run a MERGE with multiple WHEN MATCHED clauses to cover all the cases

Otherwise, the feature request is a good one, so we'll leave it open

[2022-09-01 16:45] zsxwing commented on #1359
I saw the number of `java.util.concurrent.ConcurrentHashMap$Node` is pretty high (9.7m) but Delta doesn't use `ConcurrentHashMap` in executors. I'm wondering if you can do a jmap heap dump and check GC roots of these objects so that we can know where these `ConcurrentHashMap`s are used.

[2022-09-01 17:49] tdas opened #1367 "[Feature Request] Deletion Vectors to speed up DML operations"
This is the umbrella issue for Deletion Vector support.

### Motivation
During Delta DML operations, both the semantics of cloud file systems as well as our guarantees about transaction history in Delta prevent us from performing any in-place updates to files. When updates are small compared to the total file size (e.g., a single row per file), this leads to an enormous performance burden of havin

[2022-09-01 20:47] dnskr commented on #1359
I made two heap dumps of the executor memory which is quite close to be OOMKilled.
1. All objects `jmap -dump:format=b,file=executor_10.hprof 14`
<img width="1766" alt="executor_10" src="https://user-images.githubusercontent.com/36439732/188008414-9b922e7a-b68b-4746-821b-e8764bac52f7.png">

2. Live objects `jmap -dump:live,format=b,file=executor_10_live.hprof 14`
<img width="1768" alt="executor_10

[2022-09-01 21:12] allisonport-db commented on #1361
This seems like a logical addition considering we just added return metrics to the merge SQL command in the [2.1.0 release](https://github.com/delta-io/delta/releases/tag/v2.1.0). We can leave this open and see if anyone wants to work on it.

[2022-09-01 22:47] zsxwing commented on #1359
Not sure if you have used [Eclipse Memory Analyzer](https://www.eclipse.org/mat/) or not before. It provides a feature called `Merge shortest path to GC Root` ( https://stackoverflow.com/a/25942055/1038826 ) which can be used to find where these ConcurrentHashMaps are stored.

[2022-09-01 23:27] dnskr commented on #1359
@zsxwing Yes, of course

<img width="1530" alt="DeserializedMemoryEntry" src="https://user-images.githubusercontent.com/36439732/188029079-c4da0e5d-6bdf-4826-b92a-2ee4c7c94d6a.png">

[2022-09-02 04:31] zsxwing commented on #1359
hm, this is this broadcast variable: https://github.com/delta-io/delta/blob/2041c3b7138b9614529540613195d4afd39fde71/core/src/main/scala/org/apache/spark/sql/delta/Snapshot.scala#L103

However, these objects are supposed to be removed when Driver triggers a GC event to discard them. Do you set any `spark.cleaner` configs (config name that starts with `spark.cleaner`)? If not, could you try to set

[2022-09-02 12:11] dnskr commented on #1359
No, I didn't set any `spark.cleaner.*` properties before, so the default values are used.

I have set `spark.cleaner.referenceTracking.blocking` to `false`, but unfortunately it didn't help. There is the same memory leak graph as before.  Screenshot of `merge shortest path to GC Root" (exclude weak references)` a few minutes before OOMKilled:
<img width="1534" alt="spark cleaner referenceTracking

[2022-09-02 12:39] Kimahriman commented on #1346
Actually I just realized I think this is technically possible since 2.0.0 using foreachBatch. You could do something like

[code]

Just stop your current job, delete the checkpoint, and then restart with something like that. This is assuming there's no weird conflict between using `overwrite` mode with the new `txn...` options. Haven't actually tested it out. Might explore adding this is a built-i

[2022-09-02 19:43] geoHeil commented on #1364
A small example:

step 1: initial write

[code]

First UPSERT (including SCD2 soft delete):

[code]

Next (2nd) UPSERT (including SCD2 soft delete):

[code]

questions:

- how to handle multiple columns more efficiently this is super clumsy.
- how to turn a row into SCD2 (invalidate soft delete by setting valid_to and opening a new one with valid_from)? I can currently in this manual approach only

[2022-09-03 09:35] geoHeil commented on #1364
Some of the questions (around easing the handling of deletions) can be partially handled with:

[code]

[2022-09-04 19:53] Kimahriman opened #1370 "[Feature Request] Support nested pruning on update first pass"
## Feature request

### Overview

Follow up to https://github.com/delta-io/delta/issues/1201. Turns out the non-determinstic filter doesn't allow nested schema pruning to be pushed down.

### Motivation

Further improve performance of update operations with conditions involved nested fields.

### Further details

### Willingness to contribute

The Delta Lake Community encourages new feature contri

[2022-09-06 07:02] amirmor1 commented on #1260
Hi, so I've created a high level design, describing the issue and the approach I was thinking on tackling it. I admit that I already started playing a bit with the implementation of it, mainly to better understand what I'm facing with.
Anyway, any idea/comment will be welcome.
I would also like to thank @Silverlight42 and @GrigorievNick for reviewing this doc before sending it.
[https://docs.googl

[2022-09-06 13:29] jbin121867740 commented on #1346
@Kimahriman, it looks very promising. Thanks very much. We will try it to see whether it works for us.

[2022-09-06 16:01] amirmor1 commented on #1260
Hi, I've created a high level design, describing the issue and the approach I was thinking on tackling it. I admit that I already started playing a bit with the implementation of it, mainly to better understand what I'm facing with.
Anyway, any idea/comment will be welcome.
I would like to thank @gabip253, @GrigorievNick and @Silverlight42 for taking a look at this doc, giving comments and asking

[2022-09-07 15:34] Mateuszj111 opened #1373 "[BUG] MSCK REPAIR TABLE is not supported for v2 tables."
## Bug
MSCK REPAIR TABLE command doesn't seem to work with Delta Lake >= 2.0.0 despite being mentioned in [docs](https://docs.delta.io/latest/presto-integration.html#step-2-configure-presto-trino-or-athena-to-read-the-generated-manifests)

### Describe the problem
Originally I came across this issue using EMR + Athena but it's reproducible on local as well. The point is that invoking
[code]
throws

[2022-09-07 17:47] zsxwing commented on #1373
@Mateuszj111 Delta doesn't need to support `MSCK REPAIR TABLE` because it doesn't use any metadata stored in Hive Metastore. For Athena, you need to create a table using SymlinkTextInputFormat like this, and run `MSCK REPAIR TABLE` on this table rather than the original Delta table.

[code]

[2022-09-07 19:52] Mateuszj111 commented on #1373
@zsxwing great, thanks. I must have overlooked that

[2022-09-07 19:53] #1373 closed

[2022-09-07 20:17] Kimahriman commented on #1359
Yeah the zstd thing is specifically within how Parquet uses it, and only really applies to reading Parquet files

[2022-09-07 21:50] zsxwing commented on #1359
@dnskr how long does it take before executors get OOMKilled? If it's less than 30 minutes, you can try to reduce `spark.cleaner.periodicGC.interval` (default: 30m)to a smaller value, such as `10min`.

[2022-09-07 21:56] dnskr commented on #1359
@zsxwing It takes from ~2h to more for the highest `memoryOverheadFactor`.

[2022-09-07 22:36] dennyglee commented on #1307
Sorry about that @sezruby - yes, we will be adding these to the roadmap very shortly.  Thanks for your patience (I’ve been out the last two weeks)

[2022-09-08 15:10] requaos opened #1374 "Download link for delta-storage-s3-dynamodb jar points to the wrong url on v2.1.0 release"
Download link for delta-storage-s3-dynamodb jar points to the wrong url on v2.1.0 release

This is where it should point: https://repo1.maven.org/maven2/io/delta/delta-storage-s3-dynamodb/2.1.0/

[2022-09-08 17:10] allisonport-db commented on #1374
Fixed thanks for pointing it out

[2022-09-08 17:10] #1374 closed

[2022-09-08 17:30] keen85 commented on #1260
@amirmor1 the provided link does not work for me

[2022-09-08 17:43] amirmor1 commented on #1260
@keen85 Sorry about that, fixed it.

[2022-09-08 18:30] zsxwing commented on #1359
hm, this looks unexpected. I would expect the driver should send RPCs to executors to clean up these objects. By the way, how many org.apache.hadoop.conf.Configuration objects in your heap dump? Just to confirm that the leak is actually from these objects.

[2022-09-08 18:44] zsxwing commented on #1346
Yep. The `txnVersion` and `txnAppId` are added to allow you getting exactly-once guarantee in `foreachBatch`. It should work as long as you provide the right `txnVersion` and `txnAppId`.

[2022-09-08 19:09] MrPowers commented on #1298
Some users can't access JAR files via Maven.  It would be cool if we could upload the JAR files to PyPi and give an option to fetch the relevant JAR from PiPy for users that don't have access to Maven.

[2022-09-08 19:48] scottsand-db commented on #1365
This is what `VACUUM` does. [See the docs](https://docs.delta.io/latest/delta-utility.html#remove-files-no-longer-referenced-by-a-delta-table).

What operation did you run after VACUUM that caused the `FileReadException`? You shouldn't be trying to read data after you have VACUUM'd it.

[2022-09-08 19:51] scottsand-db commented on #1364
This feature seems neat! Unfortunately, we are already fully booked in our [H2 roadmap](https://github.com/delta-io/delta/issues/1307), and since you've indicated you are unable to contribute a solution, there's not much we can do right now.

When we begin our 2023 roadmap planning, please bring up this issue again so that we can get the community's input on how desired it is!

Cheers.

[2022-09-08 19:51] scottsand-db commented on #1260
Thanks for the design doc! This will take some time to review, but I am looking forward to it.

[2022-09-08 20:42] tdas commented on #1354
At a high level, it makes sense to support LOAD DATA on Delta where, after running a whole bunch of checks, the input file is copied to the delta table directory and added to the log.

My concern is the whole bunch of checks needed to pass is going to be pretty complicated given Delta protocol has so much restrictions on schema, etc. Furthermore, as we are adding more things like [column mapping](

[2022-09-08 21:54] #1338 closed

[2022-09-08 21:54] #1357 closed

[2022-09-08 22:04] Kimahriman commented on #1346
Created a proof of concept for baking this option into the Delta sink

[2022-09-09 08:02] TarekSalha commented on #1345
I certainly like the idea to also have an insert statement being available in delta lake. This would make my pipelines much more convenient as it would reduce boilerplate code

[2022-09-09 15:11] dnskr commented on #1359
Heap dump ~20 minutes after start
[code]
Heap dump ~10 minutes before OOMKilled
[code]

[2022-09-09 15:23] zsxwing commented on #1359
hm, these numbers are not large. Can you go through other `DeserializedMemoryEntry`s in the heap dump and see if there are other large objects?

[2022-09-09 15:41] dnskr commented on #1359
I don't see anything else for `DeserializedMemoryEntry` objects

[2022-09-09 15:43] zsxwing commented on #1359
I meant the objects inside `DeserializedMemoryEntry`. Currently there are only 100 - 200 `Configuration`s inside `DeserializedMemoryEntry`. What else in there?

[2022-09-09 17:35] liquidaty commented on #1111
I don't understand these two comments, especially taken together:

Why exactly would conversion from int32 to in64 be unsupported-- is that not a bug? Even conversion from int64 to int32 should not be a problem if the original value does not exceed int32 limits.

[2022-09-09 20:20] dnskr commented on #1359
Inside `DeserializedMemoryEntry` I found:
1. Four `java.lang.Object[1]`
[code]
2. Many `byte[1][]`:
[code]

[2022-09-09 20:39] MrPowers commented on #589
This [blog post](https://delta.io/blog/2022-08-29-delta-lake-drop-column/) explains how to drop columns in Delta Lake if you'd like more details.

[2022-09-09 22:01] zsxwing commented on #1359
Does your heap dump contain any sensitive data? I'm wondering if you can share the heap dump with me. This would speed up the investigation. It's hard for me to guess the issues right now.

[2022-09-09 22:40] #1144 closed

[2022-09-10 07:46] theshashankpal commented on #1124
Hi @scottsand-db ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-10 17:28] dnskr commented on #1359
Unfortunately yes, there is sensitive data there.
Actually I had the same idea to share heap dump with you. I'm going to reproduce the issue with public data (NY taxi or similar) next week, so I'll be able to share heap dump then.

[2022-09-10 18:20] scottsand-db commented on #1124
@theshashankpal - sounds good!

[2022-09-12 16:28] MrPowers commented on #919
@zsxwing - looks like there is [already a PR open for this issue](https://github.com/delta-io/delta/pull/922).  What are your recommended next steps?  If a new contributor would like to work on this issue, should they just open another PR?

[2022-09-12 16:50] scottsand-db commented on #730
Thanks for the comments/feedback everyone. For now, our H2 roadmap is quite full, so this is something that we can consider next year. Please keep the comments and feedback coming so we know how to prioritize items in our next roadmap!

[2022-09-12 16:58] scottsand-db commented on #1152
Seems like that stackoverflow question has an answer that has resolved the issue. @0xdarkman do you need any more help from us?

[2022-09-12 18:38] felipepessoto commented on #1192
PR is published: https://github.com/delta-io/delta/pull/1377

[2022-09-13 08:24] juliuszsompolski commented on #1256
This may be related to https://github.com/delta-io/delta/issues/527

[2022-09-13 18:20] zsxwing commented on #1111
Supporting int32 to int64 will require a non trivial change because this is not supported by parquet and we have to build a layer on top of parquet in order to support this. We consider this is a feature request rather than a bug.

[2022-09-13 18:40] scottsand-db commented on #1346
Closing since we decided it was decided in #1375 not to embed this solution natively into delta. Users should use the solution provided here https://github.com/delta-io/delta/issues/1346#issuecomment-1235454065

[2022-09-13 18:40] #1346 closed

[2022-09-13 18:47] liquidaty commented on #1111
Thanks for the update. I don't follow the logic ending with not-a-bug, but I'm not looking to argue that and appreciate the response.

This issue appears possibly related to: https://github.com/databricks/databricks-sql-cli/issues/39

in which it seems not possible to import data from a CSV file into a bigint column.

1. does anyone know if that other issue can be solved without solving this issue

[2022-09-13 18:55] zsxwing commented on #1111
@liquidaty what you are talking about is not this issue. This issue is for automatically changing the column type such as from int32 to int64. Your issue is writing an int32 value to a column whose type is int64. Could you create a separate issue to discuss instead?

[2022-09-13 19:05] nkarpov commented on #1345
@TarekSalha Delta Lake does support `INSERT INTO` using Spark SQL as documented [here](https://docs.delta.io/latest/delta-batch.html#append).

@keen85 thanks for posting this issue. A change to the return value of `df.write` API would have to happen in Spark, not Delta, so we'll close this issue.

[2022-09-13 19:12] keen85 commented on #1345
Hi @nkarpov,
What about adding an `DeltaTable.insert(df)` operation to the [Delta Lake API](https://docs.delta.io/latest/api/python/index.html)?

[2022-09-13 19:24] liquidaty commented on #1111
@zsxwing thank you-- OK, will open a separate issue. It seemed related because the "Failed to merge incompatible data types LongType and IntegerType" error noted in this thread by @zmeir is the same one described in the databricks-sql-cli issue.

[2022-09-13 19:54] zsxwing commented on #1111
@liquidaty actually, is the error you hit coming from `COPY INTO`? If so, you may need to talk to your Databricks support. That one is a data ingestion feature provided by Databricks Runtime. It's not a part of the Delta Lake project. We are discussing to build a similar feature inside Delta Lake ( https://github.com/delta-io/delta/issues/1354 ), but that's a different story.

[2022-09-13 20:20] shubhamp051991 commented on #1063
The setup.py file references a version.sbt, which is missing from the PyPI delta-spark, and that will create an issue if we create the meta.YAML for conda-forge, any guidance on this would be helpful and I can work on this first issue

[2022-09-13 23:59] #1298 closed

[2022-09-14 04:23] dennyglee commented on #1347
Yes, I think we will want to implement bloom filters, but we may need to consider a slightly different design.  [Apache Parquet currently supports bloom filters](https://github.com/apache/parquet-format/blob/master/BloomFilter.md), and we may want to leverage this.

[2022-09-14 04:39] dennyglee commented on #1307
Some quick updates:
- @sezruby Thanks for your patience - auto compaction and optimize writes have been included to the roadmap.
- @khwj included bloom filters and added some comments directly to your issue
- @MaksGS09 We're still determining the resources required for performant BQ integration
- We are currently reviewing #1255 and #1377

HTH!

[2022-09-14 11:46] pavs23 commented on #1365
Thanks for getting back to me @scottsand-db.
The reason I ran `VACUUM` was because querying the table changes was taking a long time.

Running `select count(*) from table_changes('table_name', 0)` or similar was taking minutes to respond.
There were roughly 420 million records in the `_change_data` folder for all of time.

I wanted to actually sort a subset of the data but the size was ridiculous

[2022-09-14 15:02] TarekSalha opened #1378 "[Feature Request] describe detail should resolve the delta table name from a given path"
## Feature request
Make the command `DESCRIBE DETAIL 'path'` also resolve the delta table name from a given path. Currently, this is not supported

![image](https://user-images.githubusercontent.com/25264670/190189386-6280f655-079d-4ac3-839a-c8ab4e4635b4.png)

### Motivation

Currently, there is no easy method to resolve this information from a given path variable. The only possibility, that I cur

[2022-09-14 16:17] zsxwing commented on #1378
@TarekSalha as you already mentioned, there is no efficient way to look up the table name based on path currently. This is an expected behavior.

[2022-09-14 16:54] zsxwing commented on #1365
Just to set the right expectation.  `VACUUM` will not speed up any queries. It's just an operation to save your storage cost.

It sounds to me that you just need to DELETE the data? E.g., just run SQL DELETE queries.

It depends whether `VACUUM` deletes the files created between version 15 and 17. Your query asks for all changes between version 15 and 17, so files created between version 15 and 17

[2022-09-14 17:00] zsxwing commented on #1345
That's a good point. Re-opening this in case someone wants to work on this.

[2022-09-14 17:07] zsxwing commented on #1378
This is a great feature request but we don't have a feasible solution. Besides the table re-creation you mentioned, we may hit other issues, for example:
- A user may connect to a wrong Hive Metastore and the table name stored in the Delta transaction logs is not valid.
- There may be multiple tables in Hive Metastore pointing to the same path, and we won't be able to know which one is being asked

[2022-09-14 17:14] zsxwing commented on #1359
Cool. You can slack me (`Ryan Zhu`) in Delta Users slack once you reproduce it and create the heap dump.

[2022-09-14 17:14] #1313 closed

[2022-09-14 17:16] zsxwing commented on #1297
Closing this as there is no update. Feel free to re-open if you can provide more information.

[2022-09-14 17:16] #1297 closed

[2022-09-14 17:18] zsxwing commented on #1286
Closing this as we cannot reproduce this. Feel free to re-open it if there is new update.

[2022-09-14 17:18] #1286 closed

[2022-09-14 17:41] zsxwing commented on #1280
Closing this as we cannot produce the issue.

[2022-09-14 17:41] #1280 closed

[2022-09-14 17:42] kumarigal commented on #445
So what was the fix? Use retry as mentioned here? https://github.com/delta-io/delta/issues/445#issuecomment-775085613

[2022-09-14 17:46] zsxwing commented on #255
Closing this as we have improved the doc in https://docs.delta.io/latest/delta-batch.html#data-retention

[2022-09-14 17:46] #255 closed

[2022-09-14 17:46] zsxwing commented on #693
Closing this as we have improved the doc in https://docs.delta.io/latest/delta-batch.html#data-retention

[2022-09-14 17:46] #693 closed

[2022-09-14 17:49] #705 closed

[2022-09-14 17:56] zsxwing commented on #1151
Closing the stale issue. Feel free to reopen it if the above suggestion doesn't work

[2022-09-14 17:56] #1151 closed

[2022-09-14 19:17] liquidaty commented on #1111
@zsxwing I believe so-- it's from a COPY INTO that is invoked using databricks-sql-cli, and I would assume that the cli is simply passing the COPY INTO on to databricks which in turn is passing it on to Spark. Good to know about #1354, thank you

[2022-09-14 19:20] liquidaty commented on #1354
How about, as an initial scope for this feature, just looking for basic parity with common tools for RDBMS such as BCP? For our use case, the feature support does not need to be very sophisticated for this to be of high value.

[2022-09-14 19:26] zsxwing commented on #1111
@liquidaty Thanks for confirming it. The COPY INFO command is not a part of the Delta Lake project. Please talk to your Databricks support as the Delta Lake project has nothing to do with that.

[2022-09-15 00:19] ryoma-nagata opened #1379 "[Question] How does zorder work with single column filter?"
It is well known that the zorder design works well with multi-column filter predicates, but linear ordering seems more efficient for a single column.
Is z-order still effective as a means of optimizing MERGE when the key is a single column?
(Perhaps the lack of the ability to do linear order clustering is the reason for using zorder?)

[2022-09-15 05:46] TarekSalha commented on #1378
Legit comment.
As it appears to me, hive is able to read the delta metadata via [this](https://github.com/delta-io/connectors/tree/master/hive) connector, right?
Maybe, it would be best to modify the spark catalog `listTables` method to also retrieve the table location (especially for external tables) in the resulting dataframe as a column.
What do you think, does it make sense to open the ticket

[2022-09-15 18:08] zsxwing commented on #1378
Yep. But I don't get your point. How is it changing the story?

IIRC, Spark catalog `listTables` returns the table locations. The issue we are discussing here is: how to get the table name from a table location effectively.

[2022-09-15 18:30] zsxwing commented on #1379
If you zorder by a single column, it's just like sorting the data by this single column. And if your queries are filtering by this column, zorder will still be effective.

[2022-09-16 01:38] pavs23 commented on #1365
Yeah okay fair enough, that makes sense.

I guess if we're using table changes we can't just run `VACUUM` without any consideration for time travel (as the docs suggest) and for change data feed.

Thanks for the responses, happy to close this issue.

[2022-09-16 11:55] #1365 closed

[2022-09-16 14:59] Gcdelgado150 opened #1381 "[BUG]"
Hello,
I'm facing a issue when trying to upsert into deltatable.

### Describe the problem

I'm trying to merge a data that has a columns named data, this data is XML formatted, therefore I'm extracting it and flattening columns. All these steps works flawlessly and my final data is something like:

data_ID (primarykey) data_MESSAGE_NO, data_STATUS, beforeData_ID, beforeData_MESSAGE_NO, beforeData

[2022-09-16 16:17] zsxwing commented on #1381
@Gcdelgado150 Would you be able to provide the entire stack trace?

[2022-09-16 18:42] liquidaty commented on #1354
My company might consider contributing to this effort; outcome likely depends on a few things including others' support and various technicalities, including:
1. Can this feature be structured as a standalone code module, dynamic library and/or CLI, that interfaces with a service API that operates on data passed from memory (and therefore source data file format (parquet, json, etc) is moot as the

[2022-09-17 13:40] keen85 opened #1383 "[Feature Request] Add support for `userMetadata` (custom commit info) to `DeltaTable.update()`, `DeltaTable.delete()`, `DeltaTable.merge()` in PySpark API"
## Feature request

### Overview

I propose extending [Delta Lake Python API](https://docs.delta.io/latest/api/python/index.html) operations by an additional optional parameter `userMetadata`:

- `DeltaTable.delete(condition, userMetadata = None)`
- `DeltaTable.update(condition, set, userMetadata= None)`
- `DeltaTable.merge(source, condition, userMetadata= None)`

The value of this parameter shoul

[2022-09-18 23:12] p2bauer commented on #1307
Hi @dennyglee !  I know it was on the 2022 H1 github page, but I haven't seen any mention on `clone` functionality being moved into the open source library.  Is there any update around that?  I poked around the current source code but didn't really see it anywhere.

[2022-09-19 15:29] scottsand-db opened #1384 "[Feature Request] Refactor SQL configuration properties to remove `databricks` prefix"
## Feature request

### Overview

Currently, Delta SQL configuration properties ([link](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/sources/DeltaSQLConf.scala)) are prefixed with `spark.databricks.delta`.

We should refactor this to be only `spark.delta`, while still maintaining support for legacy `spark.databricks.delta` usages.

### Motivation

De

[2022-09-19 17:36] zsxwing commented on #857
@keen85 proposed the following APIs in #1383 (I'm going to close that issue and use this ticket to track any new update)
[code]

[2022-09-19 17:37] zsxwing commented on #1383
We already have a ticket #857 for this feature request. Thanks for opening this. I'm going to close this as a duplicate.

[2022-09-19 17:37] #1383 closed

[2022-09-19 22:54] ziqi-ma commented on #938
I am running into the same issue with Spark 3.2.0 and Delta 2.0.0. This issue persists even after I specify
val spark = SparkSession.builder().appName(this.getClass.getCanonicalName)
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    .getOrCreate()

Is there anything el

[2022-09-19 22:59] scottsand-db commented on #1260
Left some comments. Coming long!

[2022-09-20 02:51] MrPowers opened #1385 "[Feature Request] Add collectStats option to DeltaTable.convertToDelta method"
## Feature request

Here's the current method signature for `DeltaTable.convertToDelta`:

[code]

It'd be nice if there was a `collectStats` option that'd let users skip statistics collection if that's a bottleneck when they're trying to convert a Parquet lake to a Delta Lake.

### Further details

Looks like `collectStats` is set to false in [this file](https://github.com/delta-io/delta/blob/mast

[2022-09-20 04:41] zsxwing opened #1386 "`PinnedTahoeFileIndex` is not used any more"
`PinnedTahoeFileIndex` is an unused class and it's safe to remove. It was introduced before data skipping. But we forgot to remove it.

[2022-09-20 05:19] dennyglee opened #1387 "[Feature Request] Enable Clone of Delta Lake tables"
## Feature request
Enable Clone of Delta Lake tables

### Overview
Clones a source Delta table to a target destination at a specific version. A clone can be either deep or shallow: deep clones copy over the data from the source and shallow clones do not.

### Motivation
For business continuity disaster recovery to streamlining DevOps, cloning of Delta Lake tables

### Further details
The context f

[2022-09-20 05:21] dennyglee commented on #1307
Thanks @p2bauer - great call out.  I've added this to the roadmap and created issue #1387 to track this.  HTH!

[2022-09-20 05:29] p2bauer commented on #1387
Great that this is getting visibility, thank you @dennyglee.  I think specifically `deep clone` functionality would be the most useful for some critical DRP scenarios.

That said, is this feature request encompassing the work to port existing functionality from core databricks offering to OSS? Or rather a new implementation from scratch?

[2022-09-20 08:43] Zeesky-code commented on #1386
Hello, I would like to work on this issue.

[2022-09-20 11:41] Jorricks commented on #938
Do you have the exact line you added :)? That would help for transparancy.

[2022-09-20 14:51] yshahun commented on #938
@Jorricks
It's exact lines from the[guide](https://docs.delta.io/latest/quick-start.html#set-up-project):

[code]

[2022-09-20 15:20] scottsand-db commented on #1386
@Zeesky-code sounds good! I'll assign it to you!

[2022-09-20 15:35] sherlockbeard commented on #1361
@allisonport-db can you assign it to me ?

[2022-09-20 16:00] zsxwing commented on #938
One of the traps about `SparkSession` is `getOrCreate` will return the existing `SparkSession` if there is any, and this will cause the configs in your code not working. Could you print `SparkSession.getActiveSession` before your code to see if there is already an existing one?

[2022-09-20 16:59] ziqi-ma commented on #938
Thank you! Actually it is because I am using a different SparkSession in unit testing, and modifying that SparkSession worked. You could close this.

[2022-09-20 17:08] zsxwing commented on #919
Feel free to leave a comment in the open PR and pick up whatever is left.

[2022-09-20 17:20] scottsand-db commented on #1063
@MrPowers - do you know the latest status of this? I recall you saying you knew a member of the community that was interested in working on this? Can you follow up with them and/or assign the issue to them?

[2022-09-21 05:20] Kiran-G1 commented on #1330
I partially replicated this issue with a different use case.

Use case is to update the old record's datetime to current time and latest record datetime to 2050  in delta by performing merge operation when a new record comes.

But all of the records were considered as new records...

![image](https://user-images.githubusercontent.com/29754295/191411186-73b5cd82-4cf5-440a-8d71-c9b711e6faa8.png)

I

[2022-09-21 05:20] Kiran-G1 commented on #527
I partially replicated this issue with a different use case.

Use case is to update the old record's datetime to current time and latest record datetime to 2050 in delta by performing merge operation when a new record comes.

But all of the records were considered as new records...

![image](https://user-images.githubusercontent.com/29754295/191420578-31b09112-84dd-4695-b4d9-2c6510ef8a74.png)

I n

[2022-09-21 09:34] Lazloo opened #1390 "[BUG]"
## Bug

### Describe the problem
I try to load a deltaTable using its name.
#### Steps to reproduce
I initially created it via
[code]

AfterAfterwardnt to load it again via
[code]

#### Observed results
The following error occurs:

[code]
#### Expected results

A delta object I can work with

### Environment information

Using databricks-connect 10.4.12

[2022-09-21 17:59] #1386 closed

[2022-09-21 20:11] dennyglee commented on #1387
I think so @p2bauer  - I think there is still an open debate on which one makes more sense (port or design).  Any particular thoughts on approach?

[2022-09-22 07:30] boonware opened #1392 "[QUESTION]Table history timestamp missing timezone information"
## Bug

### Describe the problem
History timestamps are missing timezone information.

#### Steps to reproduce

[code]

#### Observed results

Retrieving the last commit timestamp from table history returns a value in the format `2022-09-21 13:45:08.100000`. This timestamp contains no timezone information. Am I to assume this is UTC?

#### Expected results

Timestamp contains timezone information.

[2022-09-22 08:32] 0brstmgns commented on #85
Currently using spark-core_2.12:3.1.2, spark-hive_2.12:3.1.2 and delta-core_2.12:1.0.1.

When deploying the table definitions like

`
spark.sql("""CREATE TABLE XY USING DELTA LOCATION 'XY'""")
`

I still get the message:

WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider delta. Persisting data source table <table_name> into Hive metastore in Spark SQL specif

[2022-09-22 16:30] zsxwing commented on #85
Please ignore this error. This is just saying you cannot use Hive to query this table. As long as you are using Spark, it should be fine.

[2022-09-22 16:33] zsxwing commented on #1392
No. The timezone is the default timezone you set in Spark. The string you see in the data is just for displaying. Spark itself stores the timezone for a timestamp type, and you don't need to worry about it.

[2022-09-23 14:23] boonware commented on #1392
@zsxwing Thanks for the clarification. I can think of use cases where having the timezone in the timestamp itself would be useful. For example, consider a batch data processing application (ETL etc.) that wants to read the timestamp to determine when the last commit was to construct a time window for the next batch upload.

[2022-09-23 15:42] throuch opened #1393 "[Feature Request] change data feed readStream support for "endingVersion""
## Feature request

### Overview

Today, when you pass "endingVersion" to DataStreamReader on a Delta Table with "change data feed" enabled, it is ignored.
The documentation is here: https://docs.databricks.com/delta/delta-change-data-feed.html#read-changes-in-streaming-queries
I would like to write:
[code]

### Motivation

Even if it seems counter intuitive to put an upper bound to a stream, it w

[2022-09-23 15:50] throuch commented on #1393
the change is the line 190
![image](https://user-images.githubusercontent.com/13960386/192001459-f14c1975-3342-4b98-870e-68c6b07f2626.png)

[2022-09-23 15:52] throuch commented on #1393
ending version is defined as:
![image](https://user-images.githubusercontent.com/13960386/192001903-36dc8326-3065-490c-8fba-1ad51a8ab2a6.png)

[2022-09-23 16:30] zsxwing commented on #1392
Timezone information is there. Delta gives Spark the milliseconds since epoch. Then Spark decides how to show it. For example, the following code will show the timezone information:
[code]
You can take a look at the blog post https://www.databricks.com/blog/2020/07/22/a-comprehensive-look-at-dates-and-timestamps-in-apache-spark-3-0.html to understand how this works.

[2022-09-24 18:12] Clcanny commented on #1384
@scottsand-db Hi, please assign the feature to me. I would like to do this and get familiar with delta.

[2022-09-24 20:35] amitca71 opened #1394 "[QUESTION] Use table location to access a table defined in unity catalog"
## Bug

### Describe the problem
DeltaTable.forPath(spark, path) inconsistency behaviour with S3 and unity catalog
I'm working with unity catalog for the last week.
I'm refering to delta table by path, as follwing:
path='s3://<my_bucket_name>/silver/data/<table_name>
DeltaTable.forPath(spark, path)
I get an exception that "is not a Delta table"
using the table name using: DeltaTable.forName(spark,

[2022-09-26 12:04] ramankr44 opened #1395 "AnalysisException: The schema of your Delta table has changed in an incompatible way since your DataFrame or DeltaTable object was created. Please redefine your DataFrame or DeltaTable object."
## Bug

### Describe the problem

#### Steps to reproduce

#### Observed results

#### Expected results

#### Further details

### Environment information

* Delta Lake version:
* Spark version:
* Scala version:

### Willingness to contribute

The Delta Lake Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to t

[2022-09-26 15:26] zsxwing commented on #689
@ramankr44 Your case is an issue with [Identify columns](https://github.com/delta-io/delta/issues/1072) which we will support very soon. However, since it's not in open source yet, we cannot really fix anything. Could you open up a Databricks support ticket](https://www.databricks.com/support) instead?

[2022-09-26 15:29] zsxwing commented on #689
@ramankr44  Sorry. Please ignore my above comment. You can follow the suggestion in the error message:
[code]

[2022-09-26 16:14] scottsand-db commented on #1384
@Clcanny assigned!

[2022-09-26 17:43] ramankr44 commented on #944
I'm facing this error. please tell me how to tackle it

Error in SQL statement: AnalysisException: The schema of your Delta table has changed in an incompatible way since your DataFrame or
DeltaTable object was created. Please redefine your DataFrame or DeltaTable object.
Changes:
Latest schema is missing field(s): modified_timestamp, created_timestamp
Latest metadata for field customer_key is dif

[2022-09-26 18:46] MrPowers commented on #1395
@ramankr44 - can you please add some additional information so we can reproduce this?  The error message you got is intended in certain situations.  This might not be a bug.  Thank you!

[2022-09-26 21:11] zsxwing commented on #1392
Closing this as the question is answered. Delta does provide the timezone information to Spark. Users need to pick up the right APIs to retrieve it.

[2022-09-26 21:11] #1392 closed

[2022-09-27 04:34] ramankr44 commented on #689
I've created new datframe using previous dataframe with the help of withColumn, but still I'm getting the same error.

[2022-09-27 04:41] zsxwing commented on #689
You would need to create the entire DataFrame from the scratch. In other words, you need to re-run `spark.read.format("delta")...`.

[2022-09-27 04:45] ramankr44 commented on #689
here the thing is have created a database db1 from there I am inserting the data into another table of 2nd database db2 and in this one also introducing some new columns, and after that converting this table into a dataframe, at later part Itried to introduce two another column of timestamp and then I got this error

[2022-09-27 12:59] amirmor1 commented on #1260
@scottsand-db Thanks! I've updated the document and left some comments.

[2022-09-27 15:58] UsmanYasin commented on #1248
Can we identify the files that need to be physically removed based on the deleted/removed files from delta log .json file? Once the files are identified, the delete operation can then be applied. I believe that based on this strategy both the file identification and deletion steps could safely run in parallel.

_P.S. I do not know the exact specifics of the current implementation_

[2022-09-27 16:25] dennyglee commented on #919
I'll comment directly in PR #922 but for a Spark-based Docker, I'm wondering if it would be helpful if we leveraged the proposed Spark docker per [SPIP: Support Docker Official Image for Spark](https://docs.google.com/document/d/1nN-pKuvt-amUcrkTvYAQ-bJBgtsWb9nAkNoVNRM2S2o/edit#heading=h.nqyzx5gvu8rl).

[2022-09-27 17:13] zsxwing commented on #1394
Closing this as this is not a Delta Lake issue.

[2022-09-27 17:13] #1394 closed

[2022-09-27 17:14] zsxwing commented on #1395
Closing this. We have an ongoing thread in https://groups.google.com/g/delta-users/c/gW50DqdClX8/m/4GG1WuVpAwAJ already.

[2022-09-27 17:22] zsxwing commented on #1393
Have you tried [AvailableNow](https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html#triggers) which is supported in Delta Lake 2.1.0? It will allow you to process all available data and stop. Or you would like to stop at a specific version? If so, could you clarify further?

[2022-09-27 17:26] zsxwing commented on #1248
Files written by a failed job will not be tracked anywhere. So we have to list files.

[2022-09-27 20:20] scottsand-db commented on #1381
@Gcdelgado150 would you be able to provide a succinct reproducible example with mock data?

[2022-09-27 20:20] throuch commented on #1393
Hello, yes I know trigger AvailableNow and it will be useful in an other use case. My requirement is your second assumption: I want to read and stop at a specific version. I don't want to enter too much into the details, but it is because, if we don't do that, the stream may be ahead of the other tables and lead to inconsistencies when joining them, it will not be eventually consistent. An other w

[2022-09-28 01:39] kongluo opened #1396 "[BUG] delta lake collection structured streaming write azure storage suddenly checkpoint error, renaming .tmp file fails"
## Bug

### Describe the problem

When delta lake + Structured Streaming is writing azure storage gen2, after a period of normal operation, the streaming query stream is suddenly in the finished state. Check the log and find that an error occurs. The stack information of the error is as follows:

java.io.IOException: rename from abfss://xxx@xxx.dfs.core.windows.net/_checkpoint/ods_sensor/offsets/.

[2022-09-28 01:45] YannByron commented on #868
@tdas that will be great if can release this feature in OSS delta.
In my case, i need to trace the whole lifecycle of the files by capture the delta log's update.

[2022-09-28 04:20] zsxwing commented on #1396
@kongluo this is not a Delta Lake. It happened when writing an offset file to Structured Streaming checkpoint. However, I don't see any issue in Structured Streaming either. This seems a transient issue in azure storage gen2.

[2022-09-28 05:54] jwsmai opened #1397 "Delta Lake tables do not support dropping of partitions."
## support dropping of partitions

The following SQL cannot delete the delta table partition：
`alter table clob_dw.ods_t_task_svc_task_1d drop partition (ds = '20220903')`
how to solve this problem?

[2022-09-28 06:36] zsxwing commented on #1397
You can just run `delete from clob_dw.ods_t_task_svc_task_1d where ds = '20220903'`. Delta's partitions are decided by the data itself. If the data for a partition doesn't exist in a table, the partition will not exist either.

[2022-09-28 08:19] amirmor1 commented on #1385
Hi @MrPowers , just trying to understand this request. Today `convertToDelta` is with `collectStats` as false by default, this means that it will not collect any stats when doing convert? And you want to give this as an option to set to true and to collect stats during convert operation?

[2022-09-28 11:46] MrPowers commented on #1385
@amirmor1 - yep, it'd be cool if users could do something like this:

[code]

Giving them the option to collect stats would be nice for our users.

[2022-09-28 12:49] adgonovozymes opened #1398 "[BUG]Running delta table optimize() for delta table created by path without the metastore raise an exception"
## Bug
[BUG] running delta table optimize() for delta table created by path without megastore raise an exception:
deltaTable.optimize().executeCompaction()
org.apache.spark.sql.AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.metastore.HiveMetaStoreClient

### Describe the problem
According to documentatio

[2022-09-29 14:13] amirmor1 commented on #1385
Here is a link to PR https://github.com/delta-io/delta/pull/1401

[2022-09-29 18:40] allisonport-db commented on #1330
Can we focus this discussion on the original issue #527? This is the same problem. Can you add more information on this replication there (code, source/target details etc)?

[2022-09-29 18:40] #1330 closed

[2022-09-29 19:40] dnskr commented on #1359
@zsxwing Did you have a chance to look at the heap dump I provided? Is there anything else I can do to help to find the reason of the issue?

[2022-09-29 20:23] MrPowers commented on #1385
Thanks for the contribution @amirmor1 - we'll take a look at your PR!

[2022-09-30 13:40] jaketherianos commented on #857
@zsxwing @scottsand-db is there any update on when this will be available?

[2022-09-30 13:51] keen85 commented on #857
@jaketherianos, I think that nobody is actively working on it 🙁

[2022-09-30 15:05] wedesoft commented on #1072
Tried to add a generated column using SQL. So I understand it is not supported yet in pyspark?

![generated](https://user-images.githubusercontent.com/28663/193299572-62b6fa93-861d-4082-9ac4-76e294d4578e.png)

[2022-09-30 15:18] zsxwing commented on #1072
@wedesoft Spark doesn't support it yet. The sql syntax supported for GENERATED COLUMN is tracked by #1100

[2022-09-30 17:03] biancaberdugo commented on #479
Seems it was fixed at the version 1.2.0 https://github.com/delta-io/delta/releases/tag/v1.2.0

[2022-09-30 22:57] seddonm1 commented on #1364
FYI I actually did all the work a couple of years ago and have a branch with this implemented for the Scala API only here: https://github.com/tripl-ai/delta

At the time the PR was rejected to this repo but if you are motivated the code could be updated for latest Delta (not by me).

[2022-10-01 07:57] CrystalCat opened #1402 "[BUG]`SHOW CREATE TABLE` not supported for delta table in spark-sql"
## Bug

### Describe the problem
connect Operation not allowed: `SHOW CREATE TABLE` is not supported for Delta tables;

#### Steps to reproduce
1.start thriftserver
 ./sbin/start-thriftserver.sh  --conf "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension"   --conf "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog"

2.connect by beeline create table and show

[2022-10-01 13:11] MrPowers opened #1403 "[Feature Request] Better error message when time traveling to version that no longer exists"
## Feature request

### Overview

When time traveling to a version that no longer exists, the user will get an error message that may confuse them.

### Motivation

I've seen users getting confused by this particular error message.  Here's the error message you'll get if you try to time travel to version 2 and it's not available anymore.

[code]

Perhaps this wording would be better:

You're tryin

[2022-10-01 17:14] adamf commented on #816
I'm seeing this issue trying to run the quickstart from https://github.com/delta-io/delta/blob/master/examples/python/quickstart.py with latest pyspark & delta lake 2.12:

[code]

[2022-10-01 17:23] adamf opened #1404 "[BUG] getting started doc points to the wrong version of delta lake"
## Bug
Go to https://delta.io/learn/getting-started and copy the python instructions.

They say to use the command line with `--packages` set to `io.delta:delta-core_2.12:1.0.0 `

Try that with `quickstart.py`:

[code]

And get:
[code]

Fix is to replace `io.delta:delta-core_2.12:1.0.0` with `io.delta:delta-core_2.12:2.1.0` on https://delta.io/learn/getting-started

### Describe the problem

See a

[2022-10-02 12:18] amirmor1 commented on #464
Not sure if this is what you meant, but anyway here is a PR to hopefuly solve this
https://github.com/delta-io/delta/pull/1405

[2022-10-03 13:03] hzitoun opened #1406 "[BUG] AmazonS3Exception: Access Denied (Service: Amazon S3; Status Code: 403)"
## Bug

EMR on EKS PySpark Job getting `AmazonS3Exception: Access Denied` sometimes to time.

#### Steps to reproduce

Start an EMR Spark streaming job on EKS with a **RoleARN** having **all writing permissions on all subpaths** of a bucket

#### Observed results

Randomly getting access denied exception at around 1/50 of the time.

#### Expected results

Either getting the issue from the beginnin

[2022-10-03 17:29] zsxwing commented on #1398
How do you disable Hive metastore? Block the cluster from access to Hive Metastore? There are a lot of places that need a catalog and it's almost impossible to run the code without a catalog.

An alternative solution would be setting the following spark confs on your cluster to use derby which is a local database on the local file system:
[code]

[2022-10-03 17:31] zsxwing commented on #1404
Thanks for reporting this. Would you be able to submit a PR to fix https://github.com/delta-io/website/blob/main/src/pages/learn/getting-started.mdx ?

[2022-10-03 18:23] zsxwing commented on #1402
This is a duplicated issue of #1032. Closing this.

[2022-10-03 18:23] #1402 closed

[2022-10-03 18:25] zsxwing commented on #1397
Closing this as Delta will not support the hive partition management commands (add/drop partition) as it doesn't match Delta's design.

[2022-10-03 18:25] #1397 closed

[2022-10-03 18:27] zsxwing commented on #868
@YannByron are you interested in working on this?

[2022-10-03 22:26] allisonport-db opened #1408 "[Feature Request] Table Features to specify the features needed to read/write to a table"
### Motivation

Delta table specifies two integers, called “protocol versions”, indicating the minimum required reader and writer version. The higher the number is, the more features are required to read or write the table correctly. However, one increment of the protocol version bundles multiple features, and therefore a reader/writer has to implement support for all bundled features to jump from

[2022-10-04 11:35] ormahler opened #1410 "[BUG] S3-Multi-Cluster: Data loss due to overwritten delta_log files"
### Describe the problem

Using dynamo-db mechanism along with the suggested [ttl](https://docs.delta.io/latest/delta-storage.html#production-configuration-s3-multi-cluster:~:text=Run%20the%20following%20command%20on%20your%20given%20DynamoDB%20table%20to%20enable%20TTL) **which has no suspension**, might lead to the following scenario:
1. 2 writers are performing `dataset.write()` around the same

[2022-10-04 11:55] Kimahriman opened #1411 "[Feature Request] Schema pruning on delete first pass"
## Feature request

### Overview

If deleting on a data condition, the check for files that need to be rewritten doesn't allow for any schema pruning currently, similar to https://github.com/delta-io/delta/issues/1201

### Motivation

Performance improvement on delete

### Further details

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you or an

[2022-10-04 13:09] SanthoshPrasad commented on #1307
Hi @dennyglee , Is there any update on supporting higher protocol versions in Presto and Trino?

[2022-10-04 14:43] YannByron commented on #868
sure. Let me take up this.

[2022-10-04 21:42] nkarpov commented on #479
Thank you @biancaberdugo, this was fixed as you noted, https://github.com/databricks/runtime/pull/32405

[2022-10-04 21:42] #479 closed

[2022-10-05 21:39] 0xdarkman opened #1415 "[QUESTION] spark streaming write to delta table cache growing"
spark 3.2.1
scala 2.12.12
hadoop 3.3.0
delta 1.2.1

I am running Spark with Scala in Kubernetes.
I am running two spark streaming jobs.

kafka >> job1: read stream from kafka, process, write stream to delta_table_1>> job2: read stream from delta_table_1, process, write stream to delta_table_2

job1 processes stream with window 5 minutes and watermark 1 minute
job2 processes stream with window 1 ho

[2022-10-06 04:33] zsxwing commented on #1415
If you continuously write data to a Delta table, it will over time accumulate a large number of files, especially if you add data in small batches. This can have an adverse effect on the efficiency of table reads, and it can also affect the performance of your file system. Ideally, a large number of small files should be rewritten into a smaller number of larger files on a regular basis.

We provi

[2022-10-06 06:23] dennyglee commented on #1307
Great question @SanthoshPrasad - we've been working with the PrestoDB and the Trino communities on this and we should have some updates on various progress around this over the next couple of months.  One of the methods we're doing this is through our DAT effort (Delta Acceptance Testing) so we can more cleanly document and clarify which APIs are on which protocol version.  If you're interested in

[2022-10-06 08:32] 0xdarkman commented on #1415
OPTIMIZE will cause compacting small files into large one but it will not answer: how to avoid growing cache loaded by spark as table growths over time.

I did OPTIMIZE on the table and VACUUM and see:
- still have lots of small files and almost like see no effect of OPTIMIZE
- VACUUM: does not remove any blobs physically from the storage

[2022-10-06 08:39] 0xdarkman commented on #1415
[code]

If I am writting to this table with `append` mode and now run `repartition` with mode `overwrite` and `dataChange` as `false` THEN will I not break downstream processes reading from this table and NOT affect history (appends?)

[2022-10-06 13:04] sangeethsasidharan opened #1419 "Delta lake error on DeltaTable.forName in k8s cluster mode cannot assign instance of java.lang.invoke.SerializedLambda to field org.apache.spark.sql.catalyst.expressions.ScalaUDF.f of type scala.Function1 in instance of org.apache.spark.sql.catalyst.expressions.ScalaUDF"
Hey Folks,

I am trying to merge some data to delta table in a streaming application

getting the below error, But its works fine in k8s local mode and in my laptop

`ERROR MicroBatchExecution: Query [id = fd5c019f-05f7-4f94-8eb4-cf4427201d0f, runId = 3a37f986-54ec-43f2-a396-c702a7c83928] terminated with error
py4j.Py4JException: An exception was raised by the Python Proxy. Return Message: Traceba

[2022-10-06 13:09] sangeethsasidharan commented on #1419
attaching the full log
[error_log.log](https://github.com/delta-io/delta/files/9725065/error_log.log)

[2022-10-06 13:20] pathirippilly opened #1420 "Delta protocol version upgrade is allowing any invalid version number for minWriterVersion value"
**Issue:**

I have tried to upgrade the delta protocol on a newly created delta table by providing a invalid bigger 3 digit minWriterVersion number  and surprisingly it accepted and updated on the 00000000000000000001.json . This will make entire delta table unusable after upgrade.

**Though it rejecting further upgrades with any value with below exception :**

_com.databricks.sql.transaction.taho

[2022-10-06 17:52] herry13 opened #1421 "[Feature Request] Idempotent table writes using merge operation"
## Feature request

### Overview

As explain in [here](https://docs.databricks.com/delta/delta-streaming.html#idempot-write), a Spark streaming job can perform idempotent table writes in `foreachBatch` by passing option `txnAppId` and `txnVersion` to `DataFrameWriter` to avoid any inconsistent state when one of the write operation failed. For example:

[code]

However, there is no way to pass the

[2022-10-07 11:26] #1415 closed

[2022-10-07 11:39] 0xdarkman opened #1422 "[QUESTION] spark streaming delta table reads/writes and spark cache growing"
spark 3.2.1
scala 2.12.12
hadoop 3.3.0
delta 1.2.1

I am running two spark (with scala) streaming jobs in kubernetes which continously read Delta table 1, process it and continously write to Delta table 2. I use spark streaming with mode "append" for write operations, and option "ignoreDeletes" false for read operations. I also use readStream and writeStream and **do not** use foreachRDD, foreachB

[2022-10-07 11:52] 0xdarkman commented on #1422
Can I set some spark config so it does not cache DeltaTable e.g.

`"spark.???.conf.StorageLevel": "None"` ?

[2022-10-07 22:03] 0xdarkman commented on #1422
would anybody mind to confirm this is correct:

first do:
%sql
ALTER TABLE delta.`abfss://CONTAINER@SA.dfs.core.windows.net/TABLE_NAME` SET TBLPROPERTIES ('deltaTable.logRetentionDuration'  = 'interval 2 days', 'deltaTable.deletedFileRetentionDuration'  = 'interval 2 days');

then
VACUUM delta.`abfss://CONTAINER@SA.dfs.core.windows.net/TABLE_NAME`

so then I shall expect once next _delta_log check

[2022-10-08 02:15] tvamsikalyan commented on #1404
Raised a PR https://github.com/delta-io/website/pull/164

[2022-10-08 05:04] sangeethsasidharan commented on #1419
Finally able to resolve this issue , issue was due to some reason dependant jars like delta, kafka are not available in executor , as per the below SO response

[cannot assign instance of scala.collection.immutable.List$SerializationProxy to field org.apache.spark.sql.execution.datasources.v2.DataSourceRDD](https://stackoverflow.com/questions/73473309/cannot-assign-instance-of-scala-collection-imm

[2022-10-08 05:04] #1419 closed

[2022-10-08 12:42] keen85 opened #1423 "[BUG] metric `numDeletedRows` missing in Delta log when DELETING complete partition"
### Describe the problem

When performing a DELETE operation on a Delta Table, some operational metrics are added to the Delta log / table history that contain information (attribute `operationMetrics`) like number of rows (`numDeletedRows`) and files (`numAddedFiles`, `numRemovedFiles`) deleted/added.
See: https://docs.delta.io/latest/delta-utility.html#operation-metrics-keys

However, I noticed

[2022-10-08 22:49] sherlockbeard commented on #1423
https://github.com/delta-io/delta/blob/0eb4c7eb7a84aa451fc8accd82bb771167ad137f/core/src/main/scala/org/apache/spark/sql/delta/commands/DeleteCommand.scala#L103-L106

[2022-10-09 07:31] tvamsikalyan commented on #1406
Which EMR version are you using?

Do you have any debug log to understand this issue better?

Following line from call stack shows that listObjectsV2 API is failing with 403 error.
**com.amazon.ws.emr.hadoop.fs.s3.lite.AmazonS3LiteClient.listObjectsV2(AmazonS3LiteClient.java:75)**

It usually means that s3:ListBucket permission that allows a user to list the objects in a bucket is missing. If ther

[2022-10-09 08:26] keen85 commented on #1423
Thanks @sherlockbeard! That makes sense. I'll propose a change in the documentation so this is reflected there as well.

So, if i want to know the number of deleted rows I'll have do perform a count() right before the delete; with the same predicate.
Or is there a more efficient approach?

[2022-10-09 09:33] keen85 opened #1425 "[Feature Request] `DeltaTable.toDF(version, timestamp)` - extend toDF() so that it returns a previous version of a delta table as DataFrame"
## Feature request

### Overview

I think it would be very useful to have an _easy way_ to **retrieve a _former_ `DeltaTable` version as `DataFrame`**.

### Motivation

Currently, querying a former version of a DeltaTable is limited in some respects when using PySpark:
When the path of a Delta table is know, the following will work
[code]
https://docs.delta.io/latest/delta-batch.html#dataframeread

[2022-10-09 22:07] sherlockbeard commented on #1423
maybe https://github.com/delta-io/website ?

[2022-10-10 10:11] keen85 commented on #1423
@sherlockbeard I did not find the source for the relevant page (https://docs.delta.io/latest/delta-utility.html#operation-metrics-keys) on https://github.com/delta-io/website.

@allisonport-db or @zsxwing, can you help out here: Is the doc for https://docs.delta.io/latest/delta-utility.html#operation-metrics-keys already in GIT? I think this is not yet in GIT, but it is planned (https://github.com

[2022-10-10 10:29] barak-sgh opened #1426 "[BUG] Delta Merge crashes when trying to merge PySpark DataFrame with an aggregated `struct` column"
## Bug

### Describe the problem
When trying to merge a PySpark DataFrame, using delta, with an aggregated `struct` column, the code crashes.

#### Steps to reproduce

    import os

    from delta import configure_spark_with_delta_pip

    from pyspark.sql.session import SparkSession
    from pyspark.sql.functions import *
    from pyspark.sql.types import *

    builder = (SparkSession.builder

[2022-10-10 10:34] barak-sgh commented on #1426
Tested with Delta 2.1.0 and the issue seems to go away.

[2022-10-10 10:34] #1426 closed

[2022-10-10 11:34] #1422 closed

[2022-10-10 16:21] zsxwing commented on #1423
@keen85 we are working on migrating our doc to https://github.com/delta-io/website.Will post the update here when it's done.

[2022-10-11 06:16] 0xdarkman opened #1427 "[BUG] OPTIMIZE not working"
I have a delta table in the location as below with such properties:

tablePath ```abfss://CONTIANER@SA.dfs.core.windows.net/TABLE```

[code]

I do run ```VACUUM delta.`abfss://CONTIANER@SA.dfs.core.windows.net/TABLE```` daily.
Table  is partitionBy date, some_col.
I do writeStream to above table with mode ```append```.

When I check the location: abfss://CONTIANER@SA.dfs.core.windows.net/TABLE/dat

[2022-10-11 06:32] 0xdarkman commented on #1427
[code]

[code]

[2022-10-11 07:05] tdas commented on #1427
Are you running this on Databricks? If so, please contact Databricks support if autocompaction is not working.
If you are running this with Apache Spark, then auto compaction is being built [right now](#1156 ), so its not yet available in Delta OSS.

[2022-10-11 07:15] 0xdarkman commented on #1427
@tdas
I am running spark+scala job deployed with spark operator in kubernetes.
So the answer is: yes, I do use spark to writeStream BUT I do run VACUUM from databricks.

Shall I expect it to work?

Q1: I do not need to run VACUUM from spark, dont I? running VACUUM from databricks shall be OK
Q2: autoCompact is table property so I thought delta table will handle autocompact for me so what differenc

[2022-10-11 07:18] synchris opened #1428 "[BUG] Delta table out of order after caused by mergeSchema"
## Bug
Delta table out of order after caused by mergeSchema

### Describe the problem
Append rows with the first schema (Delta streaming)
Create aggregate (aggregate is correct)
Append rows using a new schema (Delta streaming)
Create aggregate (aggregate is wrong)

#### Steps to reproduce
Append rows with the first schema (Delta streaming)
Create aggregate (aggregate is correct)
Append rows using

[2022-10-11 08:20] 0xdarkman commented on #1427
https://docs.databricks.com/optimizations/auto-optimize.html#if-i-have-auto-optimize-enabled-on-a-table-that-im-streaming-into-and-a-concurrent-transaction-conflicts-with-the-optimize-will-my-job-fail

"By default, auto optimize does not begin compacting until it finds more than 50 small files in a directory"

I have more than 50 small files in partitioned directories.

[2022-10-11 15:12] nkarpov commented on #806
Can you share a better example of what isn't working? You can update multiple matching rows in the target table, the duplicate limitation only applies to the source.

[2022-10-11 15:34] nkarpov commented on #1406
Hi @hzitoun - Delta core doesn't manage any AWS credentials. If you're still encountering intermittent 403's, it's between Spark EMR/S3, so please work EMR support if you're still encountering this issue!

[2022-10-11 15:37] nkarpov commented on #1404
Thank you @tvamsikalyan & @adamf. Closing this issue since it's not in this repo and we have the PR at delta-io/website, https://github.com/delta-io/website/pull/164

[2022-10-11 15:37] #1404 closed

[2022-10-11 16:17] justinTM opened #1430 "[BUG] AnalysisException: Table `spark_catalog.my_db.my_table` does not support partition management."
I am attempting to mock as much of our DataBricks Delta Table tasks for unit testing functionality. I suspect whatever DataBricks has added on top makes this "partition management" possible, but I'm hoping this isn't the case.

~ https://docs.delta.io/latest/best-practices.html#choose-the-right-partition-column

Context:
[code]

Offending code:
[code]

Traceback
[code]

Software/Environment:
- `de

[2022-10-11 18:27] zsxwing commented on #1430
`does not support partition management` is misleading. Delta does support partitions. The issue is the `SHOW PARTITIONS` command is not supported yet. Closing this as this is a duplicate issue of #996. We are working on this in #1051

[2022-10-11 18:27] #1430 closed

[2022-10-11 23:10] GrigorievNick opened #1434 "[Feature Request] Projection push down for `Delta: Finding files to rewrite for DELETE operation` query do not work."
## Feature request

### Overview

During DELETE operation, delta collect all files affected file and only then overwrite them.
Theoretically, collect afftected files must be much cheaper then overwrite them.
But becasue of strange behave in Spark SQL catalyst, on tables with big amount of columns -
`Delta: Finding files to rewrite for DELETE operation` query take more time than rewrite files.
The

[2022-10-12 05:01] KrishnenduGuptaShell commented on #806
Thanks I used union and I was able to resolve the issue

[2022-10-12 19:56] zsxwing commented on #1434
Closing this issue as it's a duplicate of #1411

[2022-10-12 19:56] #1434 closed

[2022-10-12 20:03] zsxwing commented on #1427
You can run VACUUM anywhere

@0xdarkman auto optimize is still being built #1156. Currently the table property is respected only if you run your queries in Databricks.

Yep, you can use OPTIMIZE. It can be run in Spark or Databricks.

This is expected right now if the write is not happening in Databricks. As I mentioned above, it's being built.

Another suggestion, if you run your code outside Dat

[2022-10-12 20:15] zsxwing commented on #1428
Do you have a concrete example to show the issue? It's hard to get the problem you raised right now.

[2022-10-12 20:17] zsxwing commented on #1420
Good catch. This is an oversight. Should be easy to fix.

[2022-10-14 07:14] synchris commented on #1428
Yes I have a concrete example, I will also edit the description to explain further the inconsistency.

[2022-10-14 21:10] #1411 closed

[2022-10-15 05:13] mattfysh commented on #816
@adamf were you able to find a workaround? I'm also unable to get going with the quickstart

[2022-10-15 17:11] adamf commented on #816
@mattfysh yes! This was the issue: https://github.com/delta-io/delta/issues/1404

Fix is to replace `io.delta:delta-core_2.12:1.0.0` with `io.delta:delta-core_2.12:2.1.0` on https://delta.io/learn/getting-started

[2022-10-16 19:28] pariksheet commented on #816
pyspark works for me.
`pyspark --packages io.delta:delta-core_2.12:2.1.0 --conf "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension" --conf "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog"`

But when I try to run the same from python shell/PyCharm, it does not work:

`python
+-zsh:67> python
Python 3.9.12 (main, Apr  5 2022, 01:53:17)
[Clang 12.0.0 ] :: A

[2022-10-16 20:57] oakesk commented on #1387
It would be _great_ to have the `deep clone` as @p2bauer suggests for DRP scenarios; in particular incremental clone/synchronize after the initial clone :+1:

[2022-10-17 10:01] ChenShuai1981 opened #1436 "[BUG] Restore delta table by spark sql reported 'java.io.NotSerializableException: org.apache.hadoop.fs.Path'"
## Bug

### Describe the problem

Restore delta table by spark sql reported 'java.io.NotSerializableException: org.apache.hadoop.fs.Path'

#### Steps to reproduce

1. create delta table by spark sql
2. insert/updat/delete some records
3. execute restore command

#### Observed results

[code]

#### Expected results

Delta table should be restored successfully

#### Further details

### Environment

[2022-10-17 12:42] MrPowers opened #1437 "[Feature Request] Python interface to access DESCRIBE TABLE EXTENDED output"
## Feature request

### Overview

You can query managed Delta tables, external Delta tables, and views with `DESCRIBE TABLE EXTENDED` to access detailed table information.  It'd be nice if this information was easily accessible via the Python API.

### Motivation

This will make it a lot easier for Python devs to query the information contained in `DESCRIBE TABLE EXTENDED`.  Suppose you have 10 ex

[2022-10-17 16:20] zsxwing commented on #1436
Thanks a lot for reporting this issue. This is a bug because we use a non serializable `Path` here: https://github.com/delta-io/delta/blob/d2785aa93e8f2f5c70a3351ddc4995e2c943897b/core/src/main/scala/org/apache/spark/sql/delta/commands/RestoreTableCommand.scala#L255 We should convert it to a string and create `Path` from the string in `mapPartitions` instead.

It should be pretty easy to fix. Are

[2022-10-17 16:28] azure2439 opened #1438 "[BUG] INSERT INTO DELTA TABLE Fails When Specifying Only Part of the Columns in the Insert Into List"
## Bug
INSERT INTO DELTA TABLE Fails When Specifying Only Part of the Columns in the List
### Describe the problem
If there are 10 fields in a Delta Table, if I try to Insert Data into only 5 columns using Insert into syntax, it fails saying the 6th column name is not in the Insert into column List. In SQL Server, by default it inserts NULL value in columns not specified, the same doesn't work in

[2022-10-17 16:50] zsxwing commented on #1438
This behavior is expected. Currently Delta doesn't support setting a default value for a column. Spark added it recently: https://issues.apache.org/jira/browse/SPARK-38334 We will look at it and see how to integrate Delta with the default values support in Spark.

[2022-10-17 17:45] azure2439 commented on #1438
Thank you

[2022-10-18 01:20] MrPowers commented on #1437
Thanks, will create a Spark issue

[2022-10-18 01:20] #1437 closed

[2022-10-18 03:44] ChenShuai1981 commented on #1436
Yes, I would like to fix this bug. Here is the pull request #1439. Please help review it. Thanks for your kindly guidance. This is my first contribution :-)

[2022-10-18 19:47] raghav-vk opened #1441 "[Feature Request]Create a Logstore that utilizes S3 APIs but utilizes something cloud-agnostic containerized solution like postgres."
## Feature request
Create a Logstore that utilizes S3 APIs but utilizes something cloud-agnostic containerized solution like Postgres.

### Overview
While Delta Lake has supported concurrent reads from multiple clusters since its inception, there were limitations for multi-cluster writes specifically to S3. S3 lacks "put-If-Absent" consistency guarantees, and MinIO has standardized S3 as the API f

[2022-10-18 20:09] zsxwing commented on #1436
Keep this open as we haven't merged the fix.

[2022-10-18 22:26] zsxwing commented on #1410
Fixed by #1416

[2022-10-18 22:26] #1410 closed

[2022-10-18 22:28] allisonport-db opened #1442 "[Feature Request] Support additional generation expressions for automatic data skipping"
### Overview
For partition columns that are generated columns, we are able to automatically generate partition filters when we see a data filter on its generating columns. Right now we automatically generate these for a small subset of possible generation expressions (defined [here](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/optimizablePartitionExp