[2022-01-19 19:09] scottsand-db commented on #896
Hi @warrenronsiek. Thanks for making this issue. We will take a look and get back to you.

[2022-01-19 19:10] scottsand-db commented on #872
Resolved.

[2022-01-19 19:10] #872 closed

[2022-01-19 21:24] scottsand-db commented on #892
@TomerYacov any update? Did @zsxwing's suggestion work?

[2022-01-20 07:23] TomerYacov commented on #892
Sorry for the delay. We will try the suggestion and get back to you. thank you

[2022-01-20 12:50] JosefinaArayaTapia opened #901 "Table Delta in Athena"
When creating a table in Athena and reading it from Spark (EMR) I get the following error :

`Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 80.0 failed 4 times, most recent failure: Lost task 0.3 in stage 80.0 (TID 449, ip-172-31-22-178.ec2.internal, executor 2): java.lang.RuntimeException: s3://<path>/BDA/DELTA/CLIENTE/_symlink_format_manifest/PERIO

[2022-01-20 15:18] ashishkshukla commented on #898
Hi @zsxwing ,
Above code snippet is returning the output correctly.

To elaborate more ,
I am using hadoop-azure3.2.1 library for delta with Azure DataLake connectivity and when I am running standalone program things are running fine.

I am trying to use above libraries in a web based project hosted on tomcat. Several other dependencies are also there but I have made sure, it has hadoop-azure and

[2022-01-20 18:22] zsxwing commented on #901
The table reference created in Athena cannot be used by Spark. You can create a new table reference to point to the same storage location for Spark, and use this new table name in Spark.

[2022-01-20 18:24] zsxwing commented on #898
Hm, this could be some library dependency issue (e.g., hadoop-azure requires to use a library X at version Y, but the same library is also in your web based project but with version Z). Would you be able to try the code snippet in the web based project hosted on tomcat?

[2022-01-21 03:41] ashishkshukla commented on #898
yes @zsxwing  . it is giving same result.

I'll relook into the dependencies .
BTW one thing I observed . In the logs it is printing below line when running a standalone program-

`INFO DelegatingLogStore: LogStore org.apache.spark.sql.delta.storage.AzureLogStore is used for scheme abfss`

but in my project above log is not coming. Rest are same until the Exception comes.

Can this might be the is

[2022-01-21 14:07] sim-san opened #902 "VACUUM breaks with Internal error"
I read a large set of parquet files and save them partitioned by column in delta format.
Since the raw data comes from two different folders, I run the conversion to delta format twice in succession.

function for conversion:
[code]

Finally, I would like to optimize and clean up the delta lake. therefore, I execute the following commands.

[code]

[code]

The last command breaks with an `Internal

[2022-01-21 14:32] ashishkshukla commented on #898
Hi @zsxwing  .Found the root cause.
We support multiple delta sources like S3, HDFS, ADLS in our project and below property was set in Spark conf

`conf.set("spark.delta.logStore.class", "org.apache.spark.sql.delta.storage.S3SingleDriverLogStore");`

We upgraded delta to 1.0.0 recently and now above conf is deprecated and if we still use the same then scheme based dynamic delta store delegation wo

[2022-01-21 18:11] zsxwing commented on #898
Great to hear you fixed the issue 😄

[2022-01-21 18:11] #898 closed

[2022-01-21 18:12] zsxwing commented on #902
The error is usually because the driver runs out of memory. Could you try to use an instance that has more memory?

[2022-01-21 18:16] zsxwing commented on #896
@warrenronsiek Since you hit the problem in Databricks platform, could you fire a Databricks support ticket instead? Then Databricks support team can chat with you to gather more information. For issues like this, we may need to check the content in your table's `_delta_log` folder. Don't want to ask you to post the content in a public forum as it may contain sensitive data.

[2022-01-21 19:15] #632 closed

[2022-01-21 22:28] warrenronsiek commented on #896
@zsxwing , I did raise an issue with them. After a little back and forth, they told me to raise an issue here. You are saying I should go back to them?

WRT the `_delta_log` isn't it just metadata about files? Metadata about files isn't sensitive AFAIK.

[2022-01-21 22:31] zsxwing commented on #896
If you are okay to share all of the content in `_delta_log`, it would be fine. Just a reminder that the metadata may contain table schema, partition column values and file stats (file stats will be generated from the table data)

[2022-01-21 22:35] zsxwing commented on #896
By the way, does the error only happen when you run the code in EMR? Does it happen if you run the same code in Databricks?

[2022-01-21 22:44] warrenronsiek commented on #896
The error happens when I try to write to the table from EMR. Presumably, that would happen if I tried to read from it as well. From inside Databricks I can read from the table no problem.

[2022-01-22 01:46] warrenronsiek commented on #896
Actually, I think this might be a permissions issue. I'll get back to you on Monday.

[2022-01-23 09:50] sim-san commented on #902
Thanks for the hint.

I have one more question. Why is so much memory needed with the VACCUM ? Only files are deleted, right ?

[2022-01-24 09:39] mrichards-scottlogic commented on #632
Thanks @Maks-D for impementing this!

[2022-01-24 10:06] mikeweltevrede commented on #854
Unfortunately, this did not solve it for me. I have installed delta==1.1.0 and pyspark==3.2.0 in a virtual environment. Any other idea what the solution might be?

The full readout is:
[code]

[2022-01-24 14:05] tdas commented on #902
Vaccuum requires the a list of files to be collected in the driver. If the table has very large number of files that needs to be deleted, then that could create memory pressure in the driver, and ultimately cause OOMs.

[2022-01-24 17:10] zsxwing commented on #854
@mikeweltevrede could you print the spark version in your code to check? Such as
[code]

[2022-01-25 00:58] praateekmahajan opened #906 "Should the `AddFiles` from `DELETE` have `dataChange=true`?"
As title. Noticed internally that we need to perform GDPR deletes on our delta table which is a streaming source, however on performing the delete, several files will be rewritten. And from our experiment the _new files_ that are added do not have `dataChange=false` which means the streaming will pick them up again ([per this](https://github.com/delta-io/delta/blob/0d07d094ccd520c1adbe45dde4804c75

[2022-01-25 06:19] shahbaz-ali commented on #895
Hi, I am closing this issue as after analysis we found it was an infra issue we were missing few delta `jars` **delta-contribs_2.12-1.0.0.jar**, **delta-hive_2.12-0.2.0.jar**. Apologies for the false flag. closing this issue.

[2022-01-25 06:19] #895 closed

[2022-01-25 07:36] mikeweltevrede commented on #854
@zsxwing thanks for your swift response. Here is the screenshot:
![image](https://user-images.githubusercontent.com/46759318/150932114-e7cc7864-86e6-4722-8ea5-f4de19d9a041.png)

[2022-01-25 17:20] zsxwing commented on #854
@mikeweltevrede Could you try `sc.version` or `spark.version` instead (`sc` is the spark context)? It will show the version of your Spark jar that pyspark uses. My hunch is pyspark runs with 3.2.0 python files but 3.1.x jar files. The following command can find the Spark jar location:

[code]

[2022-01-25 17:52] lkrishna-cs opened #907 "When will DeltaLake officially support GCS ?"
I noticed that the support for GCS is new and experimental. Any timeframes on when it might be fully supported ? Is there a dependency on GCP that's blocking it from being supported fully (noticed a Spark version issue with GCP) ?

[2022-01-25 18:08] tdas commented on #907
We have made critical bug fixes in Delta 1.1 for the GCP support. What we are waiting for is any kind of feedback from the community regarding whether they have successfully used it in production, without any more critical bugs. Once we have sufficient confirmation, we are happy to remove the experimental tag.

Have you used it? And if so, could you give some feedback?

[2022-01-25 18:23] tdas commented on #906
The strict definition of `dataChange` field is to specify whether the file add/remove actually made semantic changes to the data. It is set to `false` for all add/remove files in a commit ONLY when data is just rearranged in the table, and no semantic changes made contents of the table. Delete operation does make semantic changes, thats why dataChange must be set to true.

To solve your usecase of

[2022-01-25 19:13] praateekmahajan commented on #906
Thanks for the reply!
CDF Makes sense, most of our streaming pipelines predate CDF (we'll be moving to it pretty soon now). We had implemented our _own CDF_ to bypass `MERGE INTO` in our streaming sources which also causes reprocessing of already processes rows. However that doesn't solve the `DELETE` case.

Semantically it makes sense that `dataChange = false` implies "no semantic changes made co

[2022-01-25 19:47] tdas commented on #906
You are right about extending the protocol to accommodate the middle ground, and the complexity that comes with it. That's why took a different approach with CDF. Hope that helps to solve your problem :)

Closing this issue

[2022-01-25 19:47] #906 closed

[2022-01-25 20:34] zsxwing commented on #192
`timestamp` in the `commitInfo` is created before we create the json file. Using `commitInfo.timestamp` will make `timestamp`s not in the same order as `version`s easily. In addition, it's the timestamp in the client side and which clock skew/incorrect clock time is easier to happen. Moreover, if we need to read the content of json files when trying to look for which version by the timestamp, we w

[2022-01-25 20:34] #192 closed

[2022-01-25 21:59] dennyglee commented on #825
Thanks for your patience @zijie0 - we're reviewing this now.

[2022-01-25 23:55] stikkireddy commented on #893
@zsxwing would something like this work:

[code]
^ based off of spark dataset.explain()...

where the output looks like the following:
[code]

Would this be sufficient for explain command?

[2022-01-26 00:21] scottsand-db commented on #888
Hi @wjones127, thanks for your question.

Do you think this configuration needs to be documented in `PROTOCOL.md`? Wouldn't that then mean that all of our configurations should be documented in `PROTOCOL.md` too?

You can check out the [reader version requirements section](https://github.com/delta-io/delta/blob/master/PROTOCOL.md#requirements-for-readers) of the `PROTOCOL.md` which documents what

[2022-01-26 06:38] zsxwing opened #911 "Enable Mima check for Scala 2.13"
We disabled Mima check for Scala 2.13 as Delta 1.1.0 was not available. Now Delta 1.1.0 is in Maven Central, we should revert this change: https://github.com/delta-io/delta/commit/c4227f3dd4c9bb174e51bfc5ee86855d4f23eda9#diff-5634c415cd8c8504fdb973a3ed092300b43c4b8fc1e184f7249eb29a55511f91R222-R230

[2022-01-26 07:53] Maks-D commented on #891
I am going to start working on this task

[2022-01-26 10:17] TomerYacov commented on #892
hi guys @zsxwing @scottsand-db . sorry to disappoint you. but it seems that the workaround is not working.
Any new ideas?
`---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
/tmp/ipykernel_2362/2723077236.py in <module>
----> 1 spark.table("XXX.YYY")

/usr/lib/spark/python/pyspark/sql/session.py in

[2022-01-26 15:51] wjones127 commented on #888
@scottsand-db

You're right that we don't need to document this setting in particular. But I think the behavior of deleting old log files should be documented. When I read the protocol I thought reading checkpoints was an optional optimization. But this setting means it's required for a reader, and that readers shouldn't consider delta tables missing old log corrupt or invalid.

[2022-01-26 16:52] scottsand-db commented on #888
Would you like to submit a short PR adding this description?

[2022-01-26 17:18] zsxwing commented on #762
Closing this. The doc has been updated in https://github.com/delta-io/delta/commit/3d24e481269994cb5e83573a44c295181b0682a2

[2022-01-26 17:18] #762 closed

[2022-01-26 18:20] #800 closed

[2022-01-26 23:55] skmgowda opened #914 "Automatically Generating manifest files"
I am trying to query Delta tables from presto. I am able to create the manifest files using the deltaTable.generate(“symlink_format_manifest”)
However, when I try to enable the automatic manifest files generation by setting table property “delta.compatibility.symlinkFormatManifest.enabled=true”, the manifest files aren’t created automatically on every insert.  My write volumes are very low, it's j

[2022-01-26 23:55] skmgowda commented on #914
@dennyglee

[2022-01-27 01:23] warrenronsiek commented on #896
@zsxwing / @scottsand-db , Ok so I'm 90% certain that this is a permissions issue. When I try to access the ACL of the databricks written file I'm not allowed to do that. Despite Databricks writing with "BucketOwnerFullControl" its not actually giving me full control of the files.

I'm closing this issue, but it seems that at some point an IAM permissions failure and is translating into a `Illegal

[2022-01-27 01:23] #896 closed

[2022-01-27 18:28] lkrishna-cs commented on #907
Thank you. We have not used it but considering it next. Also, I saw that Databricks fully support GCS. Curious to know if they are using the latest version 1.1 or has Databricks have their own version. Any ideas ?
https://docs.gcp.databricks.com/release-notes/gcp-features.html

[2022-01-28 04:57] ganesh-ravi-srib commented on #874
Hi @tdas , please let me know your view

[2022-01-28 08:02] mikeweltevrede commented on #854
@zsxwing I find the following, so you are indeed correct:

![image](https://user-images.githubusercontent.com/46759318/151509467-b19de5cf-1afd-4f0b-9679-39c536587548.png)

![image](https://user-images.githubusercontent.com/46759318/151509649-a788ac61-3348-4f9f-8f29-3237c70bcb19.png)

Is there a way to solve this?

[2022-01-28 13:02] milesgranger commented on #731
Any activity/outlook for this?

[2022-01-28 17:06] zsxwing commented on #854
The following command can find the Spark jar location:

[code]

In addition, you can also check your environment `SPARK_HOME` to see if it points to a different Spark distribution.

[2022-01-28 17:32] zsxwing opened #917 "Create GitHub issue and pull request templates"
Currently we don't GitHub issue and pull request templates. It would be great to add them to help Delta users report issues and contribute code.

Template examples:
- https://github.com/apache/spark/blob/master/.github/PULL_REQUEST_TEMPLATE
- https://github.com/netty/netty/tree/4.1/.github
- https://github.com/line/armeria/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2022-01-29 00:48] zsxwing commented on #911
Fixed by https://github.com/delta-io/delta/pull/915

[2022-01-29 00:48] #911 closed

[2022-01-29 05:46] zsxwing commented on #892
@TomerYacov I think the error you hit is because you were using delta-core 1.1.0. I was suggesting to use `--packages io.delta:delta-core_2.12:1.0.0 --packages io.delta:delta-contribs_2.12:1.1.0 `

However, I tried this and did hit the following different error which could not be resolved without a new release (or you need to build Delta by yourself):

[code]

I agree that this is a strong reason

[2022-01-30 12:04] TomerYacov commented on #892
@zsxwing Thanks for the reply. Can you give any ETA for that?
It seems that there is a #[PR](https://github.com/delta-io/delta/pull/856) with the desired fix open for some time.
I will double check the packages but I have used what you have used. I got my error while trying to read a table.

[2022-01-31 07:34] mikeweltevrede commented on #854
Thank you @zsxwing - that solves my issue!

[2022-01-31 23:39] sezruby opened #918 "Inconsistency problem with Spark Dataset Caching"
I found that Spark dataset (rdd) caching for Delta source can cause some inconsistency problems.

[code]

The code returns the following because the cached data of version 0 is applied to the second scan.

[code]

The problem is that Spark caching uses "LogicalPlan" (analyzed) as a key for caching, but the logical plan for scanning Delta does not include the table version info to read in case it's

[2022-02-01 20:07] zsxwing commented on #731
The protocol change is done by https://github.com/delta-io/delta/commit/282fc689467a31938114e4e1e0d452e0bd6b0aaf

#732 will track the work to leverage the new protocol change to support Spark’s column drop and rename commands.

[2022-02-01 20:07] #731 closed

[2022-02-01 20:08] zsxwing commented on #892
@TomerYacov Yep. We will work on this and hope get 1.0.1 out in next several weeks.

[2022-02-01 20:24] milesgranger commented on #731
Thank you. :)

[2022-02-01 23:38] zsxwing opened #919 "Publish a docker image for Delta Lake"
Currently it's not convenient to try out Delta Lake. People need to install Spark first, and following multiple steps in https://docs.delta.io/latest/quick-start.html#set-up-apache-spark-with-delta-lake

It would be great if we can publish a docker image for Delta Lake so that people can try it out using a simple docker command.

For such docker image, we can maintain a Dockerfile in the repo and

[2022-02-02 03:04] RishiKumarRay commented on #919
Do we have to write a dockerfile?

[2022-02-02 05:58] zsxwing commented on #919
@RishiKumarRay I think it's better to maintain a dockerfile in GitHub and we build and publish a new image when making a new release. Do you have any other suggestion?

[2022-02-02 06:07] RishiKumarRay commented on #919
@zsxwing  yeah i think its great to maintain a dockerfile for it on github itself, can you tell me steps for building this?

[2022-02-02 07:24] RishiKumarRay commented on #919
so we need a github actions to publish images

[2022-02-02 17:21] zsxwing commented on #919
No. We don't need a github actions. Currently, our release process is manual. We will build the image from the dockerfile manually when making a new release.

Yep. I think the default can be `pyspark`. We can also provide options for spark-shell, or even a jupyter notebook.

[2022-02-03 03:57] dennyglee opened #920 "Roadmap 2022 H1 (discussion)"
This is the proposed Delta Lake 2022 H1 roadmap discussion thread. Below are the initially proposed items for the roadmap to be completed by June 2022. We will also be sending out a survey (we will update this issue with the survey) to get more feedback from the Delta Lake community!

## Performance Optimizations

Based on the overwhelming feedback from the Delta Users [Slack](https://dbricks.co/d

[2022-02-03 03:58] dennyglee commented on #748
Closing this issue as we can begin discussions in #920 - thanks!

[2022-02-03 03:58] #748 closed

[2022-02-03 11:58] rachiitgupta commented on #170
I am facing a similar issue as @divasgupta,
I have columns c1 in my first iteration, while c1 is dropped in the second iteration.

The error I get is ` The specified schema does not match the existing schema`

[2022-02-03 14:51] subramanianmohan commented on #920
Coincidentally good timing, together with The Onehouse announcement yesterday!!!

[2022-02-03 17:10] zsxwing opened #921 "DescribeDeltaDetailsCommand doesn't call DeltaLog.update"
DescribeDeltaDetailsCommand doesn't call `DeltaLog.update` after `DeltaLog.forTable`: https://github.com/delta-io/delta/blob/1fcb1dacc8d4ec671cd499676bb61d55d343cc2a/core/src/main/scala/org/apache/spark/sql/delta/commands/DescribeDeltaDetailsCommand.scala#L79

Hence it may return a stale result if `DeltaLog.forTable` returns a cached `DeltaLog`.

[2022-02-03 17:54] zsxwing commented on #914
@skmgowda could you provide your Delta version? This feature requires 0.7.0.

[2022-02-03 17:55] zsxwing commented on #866
Closing this as a duplicate issue. Will use https://github.com/delta-io/delta/issues/128 which has more comments to track this feature.

[2022-02-03 17:55] #866 closed

[2022-02-03 18:04] zsxwing commented on #901
The question was answered. Closing this. Feel free to re-open it if you have further questions.

[2022-02-03 18:04] #901 closed

[2022-02-03 21:30] stikkireddy commented on #921
@zsxwing the change i am assuming is to call a simple `deltaLog.update()`.

How would you test this? I notice that the DeltaLog startTransaction seems to be calling an update. Does this happen when potentially an entirely different spark cluster/client creates a transaction and this detail will return a stale result due it just fetching from the cached log?

[2022-02-03 23:42] scottsand-db opened #923 "Support for per-column statistics generation on Delta Lake"
## Overview
This is the official issue to track interest, feature requests, and progress being made on per-column statistics generation in Delta Lake. This issue is the first part to the solution of “File skipping using columns stats” as outlined on the Delta OSS 2022 H1 roadmap [here](https://github.com/delta-io/delta/issues/920).

Statistics generation is a prerequisite for actual data skipping.

[2022-02-03 23:52] tdas commented on #923
this will be awesome. pinning this issue.

[2022-02-04 00:30] zsxwing commented on #921
Right. To simulate this, we can write a test case like this:

[code]

[2022-02-04 00:45] Kimahriman commented on #923
One thing that would be nice is being able to specifically choose which fields you collect stats on

[2022-02-04 00:50] scottsand-db commented on #923
Hey @Kimahriman - the API I've proposed uses `DATA_SKIPPING_NUM_INDEXED_COLS` - so you set which first `N` columns you would like to collect stats for. Would this work for you?

If not, what sort of API do you have in mind to specifically choose which fields we collect stats on?

[2022-02-04 00:55] Kimahriman commented on #923
In my case not super well, because we have a lot of nested data and it'd be hard to control the order of all the fields I'd care about most.

As for API, not really sure. Either something with schema metadata (I think that's how generated columns work?) that could maybe part of the table builder API or something? Or some table property that's just a list of paths of fields that gets checked during

[2022-02-04 03:43] Kimahriman commented on #837
This would be very useful in combination with #923. In my case it can sometimes take several minutes to read a snapshot because reading a hundreds of MB checkpoint will be done by 1 task. The downside of having the checkpoints as parquet is it gets affected by other parquet settings. We use a 512mb row group size on our compaction, which then can translate to the checkpoint. Also, for large tables

[2022-02-04 19:25] #890 closed

[2022-02-04 20:21] zsxwing commented on #846
Fixed by https://github.com/delta-io/delta/commit/392b30562e982a565438bbbf93df3cf13a885f39

[2022-02-04 20:21] #846 closed

[2022-02-04 20:50] #888 closed

[2022-02-04 22:31] zsxwing commented on #889
Fixed by https://github.com/delta-io/delta/commit/6e1a488f3e0ca3ea4e605948aa3870c25d0b25ee

[2022-02-04 22:31] #889 closed

[2022-02-04 23:11] zsxwing commented on #907
Databricks has its own customized GCS connector and hence a different GCSLogStore.

[2022-02-07 16:55] scottsand-db commented on #923
@Kimahriman why don't you make an OSS issue about this, and we can see what other community members think about possible different APIs? We can always add this feature in a future PR.

[2022-02-07 18:02] zsxwing commented on #918
@sezruby Thanks for reporting the issue. I think this is a design flaw of Dataset cache. I'd recommend you to use RDD cache if possible. Not sure if you have noticed, when Delta needs to cache its transaction logs, it also uses [RDD cache](https://github.com/delta-io/delta/blob/580aa9aa7c4ead8a76400ab25521b942876f7a81/core/src/main/scala/org/apache/spark/sql/delta/util/StateCache.scala#L54) rather

[2022-02-07 19:09] Kimahriman commented on #923
Sounds good, definitely doesn't need to be part of the initial release, just a nice to have I thought about

[2022-02-07 19:37] vkorukanti opened #927 "Support for Optimizing (file compaction) Delta Lake tables"
## Overview
Table optimize is an operation to rearrange the data and/or metadata to speed up queries and/or reduce the metadata size. Some of the ways to accomplish this is to compact small files into large files and/or ordering data by column, clustering the data in Z-order curves etc.

This work adds the “OPTIMIZE (file compaction)” as outlined on the Delta OSS 2022 H1 roadmap [here](https://git

[2022-02-07 19:59] zsxwing commented on #841
@julianste This sounds like a Spark bug rather than an issue in Delta or Glue. Probably a regression introduced between Spark 2.4 and 3.1.

By the way, have you enabled `spark.sql.adaptive.enabled`? If so, could you try to disable it and see if this is reproducible?

[2022-02-07 20:03] zsxwing commented on #907
We plan to promote the GCS support to first class support similar to Azure and S3 in the next release.

[2022-02-07 20:34] lkrishna-cs commented on #907
Great! Any timeframes as to when the next release will be ? I am assuming
this will be 1.2.0.  Correct?

Laksh

On Mon, Feb 7, 2022 at 2:03 PM Shixiong Zhu ***@***.***>
wrote:

--
Laksh Krishnamurthy
Senior Director, Head of Products  & Accelerators
CognitiveScale, Austin, Texas
Email : ***@***.***
Ph : (512) 791-7991
LinkedIn : https://www.linkedin.com/in/lkrishnamurthy/

[2022-02-07 21:24] lkrishna-cs commented on #907
Great! Any timeframes?

Laksh

On Mon, Feb 7, 2022 at 3:22 PM Shixiong Zhu ***@***.***>
wrote:

--
Laksh Krishnamurthy
Senior Director, Head of Products  & Accelerators
CognitiveScale, Austin, Texas
Email : ***@***.***
Ph : (512) 791-7991
LinkedIn : https://www.linkedin.com/in/lkrishnamurthy/

[2022-02-07 21:33] zsxwing commented on #907
Probably next month. We are working to build other features for 1.2.0 as well. However, there is not going to be any major change to GCS between 1.1.0 and 1.2.0 except removing the experimental tag. You can just go ahead to use 1.1.0 rather than waiting for 1.2.0.

[2022-02-07 23:00] zsxwing commented on #825
@zijie0 I noticed an issue in your query: `x == null` will always fail the constraint because it always returns `null`. We should use `x is null` to check `null`s.

The issue you pointed out here should be fixed by https://github.com/delta-io/delta/commit/db113dab3db5bdc371f3d49734e26a7403372c24 in 1.1.0. The following code should work in 1.1.0:
[code]

[2022-02-08 21:35] scottsand-db opened #931 "Support for file skipping using column stats on Delta Lake"
## Overview
This is the official issue to track interest, feature requests, and progress being made on data skipping support in Delta Lake. This issue is the second and last part to the solution of “File skipping using columns stats” as outlined on the Delta OSS 2022 H1 roadmap [here](https://github.com/delta-io/delta/issues/920).

Note that a prerequisite for data skipping is per-column statistic

[2022-02-08 22:47] fibona44i commented on #841
We are experiencing same issue with glue 3.0 + datalake 1.0 during the merge of dataframe using delta.
I discovered that it is somehow related to the security configuration of Glue job.
Without security configuration, it works as expected.

[2022-02-09 06:48] rajasekarv opened #932 "Path doesn't exist error while streaming from Delta table in Azure Data Lake Gen2"
While evaluating delta for streaming use case, I came across the following issue.

### Data flow:

**1. Rate data to kafka:**

val df = spark.readStream.format("rate").option("rowsPerSecond", 10).option("numPartitions", 1).load().selectExpr("to_json(named_struct('timestamp',timestamp,'value',value)) as value")

df.writeStream.format("kafka").option("kafka.bootstrap.servers","***:9094").option("top

[2022-02-09 08:02] sezruby commented on #918
The time travel query example is invalid; seems it's from my test code :sweat_smile:

Dataset caching utilizes "sameResult" function to match the plan, and it tests equality for the plan:
https://github.com/apache/spark/blob/65c0bdf499b81c9febfc1591ec94ebf4c72c92c7/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/QueryPlan.scala#L527-L539

This is `equals` function of `TahoeLogFileI

[2022-02-09 20:23] fibona44i commented on #841
I think this is related to the following issue: https://issues.apache.org/jira/browse/SPARK-34790 (Fail in fetch shuffle blocks in batch when i/o encryption is enabled.)
And glue is using spark 3.1.1 :(

[2022-02-10 09:58] GRBurst opened #935 "Worse Upsert / Deduplication Performance in comparison to "plain" Spark"
Hey 👋

we are currently investigating switching from "plain" spark to using your delta lake which sounds like it suits us.

Our processing and current approach to deal with deduplication (not real duplicates but similar semantics) and keep the latest duplicate record is as follows:

1. New data is read from json
2. New data is processed / refined
3. All current data is read from target location
4.

[2022-02-10 12:49] Freia3 opened #936 "Error when updating delta table located in azure storage account"
Hi,

We have an azure storage account mounted on our databricks workspace. Using databricks, we upsert delta tables located in the azure storage account. We mounted the azure storage account using a service principal (ABFS driver).

Everything was working fine, until we wanted to switch the mount to a mount using a SAS (WASB driver)
We replaced the mount, now we can not update some of our delta ta

[2022-02-10 14:31] ahlag commented on #917
@zsxwing
Is it possible to help out with this issue? I am still a beginner.

[2022-02-10 16:45] Triamus opened #937 "Snowflake to Delta Lake integration documentation seems to miss manifest reference"
I was trying to register a Delta table on Azure data lake gen2 as an external table in Snowflake following the docs [Delta.io Docs: Snowflake to Delta Lake integration](https://docs.delta.io/0.7.0/snowflake-integration.html#language-python). I created the manifest files and they correctly represent the latest commit so that seems to work. However, when following the docs, the table creation in Sno

[2022-02-11 00:42] zsxwing commented on #892
Closing this as 1.0.1 is out

[2022-02-11 00:42] #892 closed

[2022-02-11 11:52] ahlag commented on #917
@zsxwing
Okay thank you for the guidance! Let me get to it.

[2022-02-11 12:45] yshahun opened #938 "Partition-based compaction fails with ClassCastException"
Hello,

I'm trying to perform compaction per partition exactly as it's described in [Compact files](https://docs.delta.io/latest/best-practices.html#compact-files) from Best practices. But I constantly get the exception below.

Apache Spark: 3.2.0
Delta Lake: 1.1.0

[code]

The synthetic code example:

[code]

[2022-02-11 13:17] yshahun commented on #938
It turns out that I haven't configured the Spark context with Delta sql extensions. Never mind. Please close the issue.

[2022-02-11 18:13] zsxwing commented on #938
Great to hear you solved the problem! Closing this.

[2022-02-11 18:13] #938 closed

[2022-02-11 18:16] zsxwing commented on #936
This is not a Delta issue. Could you reach out your Azure Databricks support, since the issue is in the Azure storage layer and none of the code is in this open source Delta project?

[2022-02-11 21:33] hprasad98 opened #939 "Generate Symlink Manifest based on only latest delta_log commits"
Generate Symlink Manifest with Incremental using delta_log based on number of commits/version.
Need this feature enhanced for Spark-SQL too.

[2022-02-12 10:52] JFinis opened #940 "delta/PROTOCOL.md is vague w.r.t. the schema of checkpoint files"
I'm trying to use the spec to implement a reader, but [the spec](https://github.com/delta-io/delta/blob/master/PROTOCOL.md#checkpoint-schema) is too vague on what the schema of a checkpoint file is supposed to be. Here are points that are not specified:

* Which columns does a checkpoint file contain. The spec only gives _an example_ of what columns it contains for _a specific table_, but it doesn

[2022-02-13 22:26] davidmankin commented on #144
I was just following links to see what I could learn from Hudi's dynamic bloom filter.  In case it saves anyone else hassle, here it is: https://github.com/apache/hudi/blob/master/hudi-common/src/main/java/org/apache/hudi/common/bloom/InternalDynamicBloomFilter.java

It is (obviously) Apache licensed so there should be no issues with directly incorporating that into delta lake, I'd assume.

[2022-02-16 03:41] thonsinger-rseg commented on #553
Schema automerge, using the same merge to the same delta table, worked in Scala, but not Python. Is there an ETA for the fix? Thanks.

[2022-02-16 15:47] ahlag commented on #917
@zsxwing

I have done research on a few pull request templates. Please share with me your thoughts on this PR. You can find my pull request in this [PR](https://github.com/delta-io/delta/pull/942#related-issue). In the meantime, I'll work on the issue template.

Reference:
1. https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/merge_requests/1346#notes-for-reviewer
2. https://github

[2022-02-16 20:14] zsxwing commented on #553
@thonsinger-rseg Do you have a reproduction? I tried the following code and it worked for me:

[code]

[2022-02-16 20:47] thonsinger-rseg commented on #553
@zsxwing i have a whenMatched() condition that comes before my .whenMatchedUpdateAll() and .whenNotMatchedInsertAll(). that's the only real difference. exact same logic on the exact same delta table worked in Scala, but not Python.

`(silver_table.alias("t")
    .merge(bronze_cdc_df.alias("s"), merge_match)
    .whenMatchedUpdate("s.DeletedDate IS NOT NULL", soft_deleted_cols_map)
    .whenMatched

[2022-02-17 10:32] logan-jun opened #943 "Delete is not working properly when target is partition column"
I am trying to delete partition using pyspark dataframe

[code]

state is a partition column.

expected : the directory and manifest file of the deleted partition in _symlink_format_manifest are deleted, and when user tries to query that delete partition in Athena(select * from testtable where state='Australian Capital Territory''), no data returns.

actual result : if the deleting partition data

[2022-02-18 09:17] NicolasGuary opened #944 "AnalysisException after using `mergeSchema` option to add a new column containing only null"
Tested this on `DBR 9.1 LTS` and `DBR 10.3`.

Hello, I am currently facing an issue that is for me making the `mergeSchema` option unusable.
My goal is to append new columns to an existing table, but sometimes a new column can come with only null values and then afterwards contain non-null values. That's what I've tried to reproduce, but I am getting this error when trying to merge a new record wi

[2022-02-18 12:04] Kimahriman opened #945 "Support choosing which columns to generate stats on"
A great enhancement to https://github.com/delta-io/delta/issues/923 would be to have someone to specifically select which columns to generate stats on. In our case, we have a heavily nested schema that would be tricky to order to take advantage of the number of columns to generate stats on option. And we can have potentially thousands of columns in some tables that I don't want to generate stats f

[2022-02-19 09:17] allisonport-db commented on #944
Thanks for reporting this!

[2022-02-21 01:39] AlexWRZ01 commented on #553
There is a workaround for this. Do an empty dataframe append with schema merge before doing the delta merge:

`df.limit(0).write.format("delta").mode("append").option("mergeSchema", "true").saveAsTable(tableName)`

Then perform the normal merge using DeltaTable, but don't enable spark.databricks.delta.schema.autoMerge.enabled.

For some reason append merge schema works, but delta auto merge does n

[2022-02-22 03:11] khorn-infomedia opened #947 "java.lang.ClassNotFoundException: Failed to find data source: delta" - STILL & AGAIN"
It would be a nice feature of  DeltaLake if it can be an easy to use component within  a submittable Uber.jar, using Java, and MVN, without having to become a world expert in MVN to use it. The class incompatibility issues with Spark, and DeltaLake seem to be very common. My blocking Issue is the code below produces this, when submit:

 "Exception in thread "main" java.lang.ClassNotFoundException:

[2022-02-22 04:08] khorn-infomedia commented on #947
Ok another hour and worked it out: Here is the full POM file. I am now adding exclusions back in, and will publish final POM later and close. There is Assembly and Shade options, so

- mvn clean package -Passembly
- mvn clean package -Pshade

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schem

[2022-02-22 06:18] vinijaiswal commented on #920
Created an item for Big Query connector: https://github.com/delta-io/connectors/issues/282

[2022-02-22 07:44] surya1527 commented on #462
for c in df.columns:
    df = df.withColumnRenamed(c, c.replace( ";" , ""))

That worked fine in case

[2022-02-22 14:23] GraemeCliffe-inspirato commented on #467
@houqp is this the file you envision the API exposure being handled in? Or should a new file be created for this purpose? https://github.com/delta-io/delta/blob/master/python/delta/tables.py

[2022-02-22 17:00] vkorukanti opened #948 "Eliminate the unnecessary sort in optimize (file compaction)"
This is a follow up from PR #934 review [comment](https://github.com/delta-io/delta/pull/934#issuecomment-1043000967).

Improve the optimize task to avoid unnecessary sort when optimizing a partitioned Delta table.

[2022-02-22 17:03] vkorukanti opened #949 "Better cancellation support for optimize (aka Partial Progress Capture)"
This is a follow up from PR #934 review [comment](https://github.com/delta-io/delta/pull/934#issuecomment-1045326364).

Currently if one of the optimize tasks fails, we don't cancel the optimize job and fail the job at the end.

Couple of improvements to make:
- fail the optimize command as soon as there is a single optimize job failure
- continue working and at the end capture partial progress of

[2022-02-22 18:13] zsxwing commented on #940
@JFinis These are good points. Thanks! Are you interested in submitting a PR to improve the spec?

[2022-02-22 18:15] zsxwing commented on #841
Since this is a Spark issue, I'm going to close it. Feel free to re-open it if there is any other update.

[2022-02-22 18:15] #841 closed

[2022-02-22 19:52] zsxwing commented on #802
This should be fixed by https://github.com/delta-io/connectors/issues/137 . Closing this

[2022-02-22 19:52] #802 closed

[2022-02-23 00:31] khorn-infomedia commented on #947
I tested the above in docker on a local file system. BUT NOW, it does not work on S3. When I remove DeltaLake the S3 access works ?
Seems the DeltaLake Jar is messing with the AWS Hadoop Jar.
I am beginning to think DeltaLkae is just not compatible with other components.

2/02/23 00:11:27 INFO MetricsSystemImpl: s3a-file-system metrics system started
22/02/23 00:11:27 WARN FileSystem: Failed to in

[2022-02-23 01:59] khorn-infomedia commented on #947
replaced the Hadoop AWS jar with Hadoop-cloud-storage  and it now works ?

`

     <dependency>
    <groupId>org.apache.hadoop</groupId>
    <artifactId>hadoop-cloud-storage</artifactId>
    <version>3.3.1</version>
</dependency>
`

[2022-02-23 02:31] zsxwing commented on #947
Thanks a lot for the feedback. I have heard multiple times about the issue of `META INF/services/org.apache.spark.sql.sources.DataSourceRegister` when people try to shade Spark data source libraries, but it's a problem of Java [ServiceLoader](https://docs.oracle.com/javase/8/docs/api/java/util/ServiceLoader.html) (a mechanism Spark SQL picks up to look up data sources) rather than a Delta Lake iss

[2022-02-23 02:35] zijie0 commented on #825
@zsxwing @dennyglee Thank you guys. Fix confirmed!

[2022-02-23 02:35] #825 closed

[2022-02-23 04:25] khorn-infomedia commented on #947
Yes you are correct, tested  and it was the hadoop-aws version, thank you. So the current POM is:

[code]

[2022-02-23 04:26] zsxwing commented on #467
Closing this. https://github.com/delta-io/delta-rs/pull/294 has added an API to load a Delta table as a pandas dataframe.

[2022-02-23 04:26] #467 closed

[2022-02-23 05:21] djouallah commented on #467
@zsxwing  sorry the feature request is how to *write* a delta table from Python  without Spark? is this supported

[2022-02-23 05:35] houqp commented on #467
@djouallah this is being tracked in https://github.com/delta-io/delta-rs/issues/542 and @wjones127 is driving it.

[2022-02-23 08:20] zhangt-nhlab opened #950 "Support Ceph Storage in delta by adding a dependency"
Hi, we have implemented the file system with ceph rgw for delta Lake through openstack swift API. The scheme of the path is ceph, The full path is ceph://<your cephrgw container>/<path to delta Table>. There is no problem using s3singledriverlogstore in logstore. We talked about this before  #877, and now we have sent this function to Maven centra repository. Here are the links to SBT and Maven.
S

[2022-02-23 22:03] #923 closed

[2022-02-23 22:23] scottsand-db opened #951 "Delta LogStore Refactor - Project Plan"
## Overview and Requirements

Hi everyone - help is wanted!

This is the official project plan tracking the work to refactor Delta's `LogStore` classes to a new artifact `delta-storage`, and in Java (instead of Scala). The Delta `LogStore` is a general interface for all critical file system operations required to read and write the Delta log.

There are a variety of reasons for this initiative.

1

[2022-02-23 22:25] scottsand-db opened #952 "Delta LogStore Refactor - S3SingleDriverLogStore"
Refactor [S3SingleDriverLogStore](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/storage/S3SingleDriverLogStore.scala) to Java for the new `delta-storage` artifact.

For the project overview, requirements, and how to contribute, please see the  [#951 - Delta LogStore Refactor - Project Plan](https://github.com/delta-io/delta/issues/951).

[2022-02-23 22:26] scottsand-db opened #953 "Delta LogStore Refactor - AzureLogStore"
Refactor [AzureLogStore](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/storage/AzureLogStore.scala) to Java for the new delta-storage artifact.

For the project overview, requirements, and how to contribute, please see the https://github.com/delta-io/delta/issues/951.

[2022-02-23 22:28] scottsand-db opened #954 "Delta LogStore Refactor - DelegatingLogStore"
Refactor [DelegatingLogStore](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/storage/DelegatingLogStore.scala) to Java for the new delta-storage artifact.

For the test, you should be able to make `DelegatingLogStoreSuite` be an abstract class (`DelegatingLogStoreSuiteBase`) and create both Internal and Public child implementations.

Each child could i

[2022-02-23 22:29] scottsand-db opened #955 "Delta LogStore Refactor - LocalLogStore"
Refactor [LocalLogStore](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/storage/LocalLogStore.scala) to Java for the new delta-storage artifact.

For the project overview, requirements, and how to contribute, please see the https://github.com/delta-io/delta/issues/951.

[2022-02-23 22:32] scottsand-db opened #956 "Delta LogStore Refactor - GCSLogStore"
Refactor [GCSLogStore](https://github.com/delta-io/delta/blob/master/contribs/src/main/scala/io/delta/storage/GCSLogStore.scala) to Java for the new delta-storage artifact.

This also includes moving the tests from `GCSLogStoreSuite` to class `PublicGCSLogStoreSuite` inside of `LogStoreSuite`. See the contributing section in the project issue below.

Also, as the referenced contributing section st

[2022-02-23 23:05] liwensun opened #957 "Support arbitrary column names"
## Overview
This is the issue to track interest, feature requests, and progress being made on support for arbitrary column names in Delta Lake, which is a part of implementing “column renaming and dropping” as outlined on the Delta OSS 2022 H1 roadmap [here](https://github.com/delta-io/delta/issues/920).

Delta tables use Parquet as the underlying file format. Right now, a Delta column must be sto

[2022-02-23 23:08] liwensun opened #958 "Support column rename"
## Overview
This is the issue to track interest, feature requests, and progress being made on support for renaming column names in Delta Lake, which is part of “column renaming and dropping” as outlined on the Delta OSS 2022 H1 roadmap [here](https://github.com/delta-io/delta/issues/920).

Column rename is a common schema evolution operation where users can change the name of a column as a metadat

[2022-02-23 23:47] scottsand-db commented on #932
Hi @rajasekarv, are you still getting this issue?

From your description it seems like a storage issue, and not specific to Delta.

[2022-02-24 00:05] scottsand-db commented on #935
Hi @GRBurst - are you partitioning your table? If so, are any of these partition columns part of the `uniqueFields`?

[2022-02-24 00:06] scottsand-db commented on #935
You can also repost this question in the [Delta Users Slack](delta-users.slack.com)#deltalake-oss channel

[2022-02-24 00:08] scottsand-db commented on #935
You can also check out the [performance tuning](section) of the delta lake docs to see if any of those tips are applicable to you (since I don't know enough about your schema / partitioning)

[2022-02-24 12:27] Kimahriman opened #960 "Scala API for Optimize"
Add an API for calling Optimize through a DeltaTable instance.

[2022-02-25 00:51] allisonport-db commented on #937
To query only the current contents of a Delta table you need to create a view on `megacube.Z3ATD50_EXT` as shown in [Define view to get correct contents of the Delta table using the manifest table](https://docs.databricks.com/delta/snowflake-integration.html#define-view-to-get-correct-contents-of-the-delta-table-using-the-manifest-table).

Querying `megacube.Z3ATD50_EXT` will read all the Parquet

[2022-02-25 01:03] allisonport-db commented on #939
Delta 0.7.0 introduced:

Is this sufficient for your use case? If not could you elaborate on what specific functionality you're looking for? Thanks!

[2022-02-25 10:54] rajasekarv commented on #932
I can still reproduce the issue. Let me raise the issue with Azure and will update here.

[2022-02-25 11:34] epilif1017a opened #963 "Support for schema evolution in create table statements"
When we drop + create a delta lake table, if the schema defined in the create table statement does not match the schema stored in the distributed file system we get the following exception:

[code]

**Intended behaviour:** there should be an option similar to spark.databricks.delta.schema.autoMerge.enabled (or even make this option work for create tables) that allows delta lake to evolve the schem

[2022-02-25 21:53] scottsand-db opened #964 "Flink/Delta Source: refactor + add docs to DeltaSinkTestUtils"
As mentioned in this github PR review, please refactor this class and document the methods.

https://github.com/delta-io/connectors/pull/284#discussion_r814207060

[2022-02-25 21:54] scottsand-db commented on #964
cc @kristoffSC

[2022-02-26 17:03] novemberdude commented on #920
It would be great if the CDF was open source on the latest date. I really interest with this feature!

[2022-02-28 03:17] Dieken opened #965 "is it safe to use delta with hadoop-aliyun and Aliyun OSS object storage?"
Hi,

I'm testing delta with hadoop-aliyun to create Delta table on Aliyun OSS:

https://hadoop.apache.org/docs/stable/hadoop-aliyun/tools/hadoop-aliyun/index.html

This document mentions some warnings, eg. delete() and rename() are not atomic.  I checked git repositories of Hudi and Iceberg, they have explicit support for Aliyun OSS, but Delta code is purely neutral to cloud service providers, so

[2022-02-28 08:38] Triamus commented on #937
I see. Then I misunderstood the docs. I interpreted it as option to either use a table or a view but apparently you need both. This of course is an extra layer of complexity. Thanks! We will probably also compare against the newly released Snowflake Delta reader (https://docs.snowflake.com/en/release-notes/2022-02.html#external-table-support-for-delta-lake-preview).

[2022-02-28 14:54] otosky commented on #875
@omardoma did you ever determine the root cause here?  I've recently experienced the same issue on DBR 9.1LTS & 10.3 in a Structured Streaming job, but have not been able to reproduce the issue with test data.

[2022-02-28 17:27] omardoma commented on #875
@otosky Unfortunately not. We were tight on time to get a pipeline released, so I had to workaround it by using a UDF instead of native spark array functions for now.

[2022-02-28 18:11] #937 closed

[2022-02-28 19:58] michaelcredera commented on #736
Hey @michael-j-thomas  - what was the solution here?

[2022-02-28 23:55] Kimahriman opened #967 "Delta Storage loads all Hadoop dependencies"
This may already be being tracked, but noticed this while trying to test things out on master. delta-storage depends on `hadoop-common` and not as a provided dependency, so if you `spark-shell --packages io.delta:delta-core_2.12:1.2.0-SNAPSHOT` it will load Hadoop and all the things it depends on.

[2022-03-01 00:29] zsxwing commented on #967
@Kimahriman Good catch. Do you want to submit a simple fix?

[2022-03-01 00:57] Kimahriman commented on #967
I assume making it provided is the fix, but wasn't sure if this would be a problem for future non-spark usages of the new module

[2022-03-01 06:22] zsxwing commented on #967
Yep. We want to use provided. For non Spark usages, people still need to pick up the Hadoop version that support their storage system.

[2022-03-01 18:14] #927 closed

[2022-03-01 18:32] zsxwing commented on #965
@YannByron Do you know how to use OSS Delta Lake on Aliyun?

[2022-03-02 05:55] yeshu044 opened #972 "Drop Delta Table"
How can I drop the delta table from the pyspark code by giving the path of the delta table

[2022-03-02 06:27] yeshu044 commented on #972
Thanks.

[2022-03-02 06:27] #972 closed

[2022-03-02 09:31] YannByron commented on #965
@Dieken @zsxwing
As far as i know, OSS supports atomic rename for single object in non-multi-version, not directory. The OSS team is working on the multi-version case.
And also, there is OSS-HDFS that support all the syntax of HDFS, including the atomic rename for both single-file and directory.

[2022-03-03 01:40] ahlag commented on #952
Hi @scottsand-db, I would like to give this a try.
I'm unable to assign myself cause I don't have the permission.

[2022-03-03 01:44] scottsand-db commented on #952
@ahlag done

[2022-03-03 09:38] zhangt-nhlab commented on #950
In addition，can this be added to your official online documents as a data storage ?

[2022-03-03 13:03] ahlag commented on #952
@scottsand-db
Just one quick question. How do you test if the code is working locally?

[2022-03-04 04:10] Dieken commented on #965
This is how I use OSS Delta Lake on Aliyun,  I don't use OSS-HDFS because I wouldn't like to buy another service.

[code]

I checked the Delta data directory, seems Delta doesn't use sub directory to store data and meta data,  so I guess it's safe to use plain OSS with hadoop-aliyun + delta-core,  right?

[2022-03-04 13:09] YannByron commented on #965
@Dieken  I don't know how to use OSS directly without OSS-HDFS for now. Maybe I'll follow up this asap.

[2022-03-04 20:11] nigelmeakins commented on #843
Having searched the source code I'm not able to see where this is being implemented. Looking at the DeltaOptions class, line 192,
core/src/main/scala/org/apache/spark/sql/delta/DeltaOptions.scala

 the MAX_BYTES_PER_TRIGGER_OPTION entry is missing from the Set validOptionKeys. Does this mean it is still awaiting implementation? I too am not seeing the expected behaviour for this option setting.

[2022-03-04 20:19] Shadlezzz commented on #920
@novemberdude agree, add cdf please!

[2022-03-04 20:29] vkorukanti commented on #843
@nigelmeakins I see this option is being used in `[DeltaSource](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/sources/DeltaSource.scala#L525)`. From the description it looks like a best effort option. If the files are much larger than the set limit, it is not going to respect the limit set.

[2022-03-04 22:46] nigelmeakins commented on #843
Okay, thanks for your prompt reply. Would it be possible to have the documentation expanded to this effect? At present it is not completely transparent how this affects streaming input rate.

[2022-03-05 14:46] jaceklaskowski opened #977 "[DOCS] Unfinished sentence in delta-batch.html"
At the bottom of https://docs.delta.io/1.1.0/delta-batch.html#dataframe-options there is:

Note the hanging `_`. No idea where it comes from but surely the sentence is not finished.

[2022-03-06 05:14] dennyglee commented on #920
Thanks for your feedback @novemberdude and @Shadlezzz - we’ll definitely take this into consideration!

[2022-03-06 08:10] PhVHoang opened #978 "HDFSLogStore.java catch and throw exception mismatch"
I noticed that in this below code
https://github.com/delta-io/delta/blob/master/storage/src/main/java/io/delta/storage/HDFSLogStore.java#L130
[code]
The catch block catches `FileAlreadyExistsException` but throws `FileNotFoundException`.
I think it should also throws `FileAlreadyExistsException`. Do I misunderstand the situation there?

[2022-03-06 08:24] PhVHoang commented on #955
Hi @scottsand-db , I would like to give it a try. Could you please assign me to this issue?

And a small question, Is there any reason why `writeWithRename` method from `HadoopFileSystemLogStore.scala` is not bring to that of `java` version?

https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/storage/HadoopFileSystemLogStore.scala#L113

[2022-03-07 05:08] zsxwing commented on #978
Good catch. Thanks for raising the issue. Feel free to send a PR to fix it 😄

[2022-03-07 05:23] PhVHoang commented on #978
Hi @zsxwing
I just created a PR to fix it. Please review if you have time.

[2022-03-07 06:01] Dieken commented on #965
Thanks!   You can create a simple Java project with pom.xml containing `hadoop-aliyun:3.3.1`,  then use `mvn dependency:copy-dependencies` to get those jar files,  and use the command above to try delta on Aliyun OSS.

[2022-03-07 07:41] KunWuLuan opened #981 "Sbt compile error for delta 0.7.0"
When I try to compile delta on Centos7 and Ubuntu16.04, error occurs.
Like this:
`
coursier.ResolutionException: Encountered 1 error(s) in dependency resolution:
    org.spark-packages:sbt-spark-package;sbtVersion=0.13;scalaVersion=2.10:0.2.6:
        download error:
            Caught java.io.IOException: Server returned HTTP response code: 502 for URL: https://dl.bintray.com/spark-packages/maven

[2022-03-07 20:00] ksree commented on #953
Hi @scottsand-db , I would like to give this a try.

[2022-03-08 00:38] Mohammedhussen opened #985 "Delta Lake with AWS Glue 3.0 -"An error occurred while calling o11.sql""
Hi ,
I am using Delta Lake 1.0.0 with AWS Glue version 3.0. I have requirement to create couples of delta table at run time .. every thing was working fine in my local. The same code I am trying to run at  in cloud and  to create delta table. The code throws an error at --spark.sql( create statement) -- it looks something is broken in the middle --as I see delta table folder with logs files are cr

[2022-03-08 04:41] dennyglee commented on #950
Hi @zhangt-nhlab - thanks very much for your contributions. We're in the middle of restructuring the delta.io website including the documentation.  One of the things we were about to start was to include a "community packages" that would include your and other storage systems. If this makes sense, could you create an issue on github.com/delta-io/website (or I could and link back to this issue) so

[2022-03-08 08:18] KunWuLuan commented on #981
ok，I will try to build 1.0.1. Thanks

[2022-03-08 08:18] #981 closed

[2022-03-08 08:29] zhangt-nhlab commented on #950
ok，we will create an issue on  github.com/delta-io/website.

[2022-03-08 08:29] KunWuLuan opened #986 "Spark 3.1.3 withDelta 1.0.1"

[2022-03-08 08:30] #986 closed

[2022-03-08 08:38] KunWuLuan opened #987 "Spark 3.1.3 with Hadoop 3.2.2 Delta 1.0.1:java.lang.NumberFormatException: For input string: "100M""
I have the current situation:

Delta table located in S3
I want to write this table.
spark version 3.1.3 and hadoop 3.2.2

`
SparkSession spark = SparkSession.builder()
      .appName("spark_kafka_s3")
      .master("local[2]")
      .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.1")
      .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
      .config("spark

[2022-03-08 16:47] zsxwing commented on #987
You have an invalid value `100M` in some config. You can search `100M` in your code, hadoop configuration file or system environment to find out that.

[2022-03-08 17:22] scottsand-db opened #988 "Fixed: IntelliJ `DeltaSqlBaseBaseVisitor` type not found"
## Problem
A common error I have seen when developing Delta Lake using IntelliJ is the following (below). These errors prevent IntelliJ from running unit tests (though, running unit tests via `build/sbt core/test` still works fine).

[code]

<img width="1470" alt="screen_shot 2022-03-04 at 18 02 16" src="https://user-images.githubusercontent.com/59617782/157290816-99ca325f-5d1e-4728-9a34-9b65b8c25

[2022-03-08 19:39] scottsand-db commented on #977
@jaceklaskowski thanks for bringing this to out attention. Looking into it.

[2022-03-08 19:46] scottsand-db commented on #965
@Dieken what's the status of this issue? If you consider it resolved, please close this issue. Else, let me know how I can help further :)

[2022-03-08 21:24] scottsand-db commented on #952
@ahlag sorry just saw this. You should be adding a public test, e.g. `PublicS3SingleDriverLogStore` into `LogStoreSuite.scala` just like `PublicHDFSLogStoreSuite`.

[2022-03-08 21:24] scottsand-db commented on #952
If you have a solution, please push the branch and make a PR so I can take a look :)

[2022-03-08 21:25] scottsand-db commented on #953
@ksree awesome. let me know when the PR is ready for review. thanks!

[2022-03-08 21:28] scottsand-db commented on #955
@PhVHoang awesome, thanks! I have assigned the ticket to you. I didn't add `writeWithRename` in the initial implementation since I didn't have any concrete child classes to test it at that time.

Want to make a standalone PR that adds it?

[2022-03-08 21:30] scottsand-db commented on #947
Hi @khorn-infomedia  - it seems like you and @zsxwing were able to resolve this issue, right?

if so, can you please close this issue. if not, tag me and let me know how I can help :)

[2022-03-08 21:31] scottsand-db commented on #940
@JFinis just following up :) would you like to make a quick fix for this?

[2022-03-08 21:36] sliu4 commented on #920
Would love to see a built-in solution for implementing a retention policy / archiving delta data on append-only tables - this would be a huge help for my team!

[2022-03-09 01:45] KunWuLuan commented on #987
There is a property in core-default.xml of hadoop-common 3.2.2:
<img width="884" alt="image" src="https://user-images.githubusercontent.com/30817980/157356002-fe509f0f-7b8d-41e6-976a-637cda84ea41.png">

my maven is like this:
![image](https://user-images.githubusercontent.com/30817980/157356030-7283100b-9eb0-4186-918c-b488fb2a6da7.png)

where $hadoop.version=3.2.2

When I tried to debug, I found t

[2022-03-09 01:47] dwsmith1983 opened #991 "Databricks on GCP"
When using photon, I receive the message queries are not support in photon when I change the timezone in the spark configuration using the java options on the executor and driver. The Databricks team said I need to raise a ticket for this issue.

[2022-03-09 02:29] zsxwing commented on #991
Could you raise a [Databricks support ticket](https://help.databricks.com/s/) instead? This is not a forum for Databricks issues.

[2022-03-09 02:30] zsxwing commented on #987
Where did you download Spark? My hunch is your Spark is not compatible with Hadoop 3. You can find the compatible package in https://spark.apache.org/downloads.html

[2022-03-09 03:02] dennyglee commented on #920
Based on your feedback from here and Slack, we've added CDF, Cloning, and Hive/Delta writer to the roadmap.  HTH!

[2022-03-09 03:04] dennyglee commented on #920
Hi @sliu4 - there are a number of possible solutions to what you're facing.  Could you provide the context here and/or do not hesitate to chime in the Delta Users slack.  This may be worthy of us developing a PIP (project improvement proposal) so we can get more feedback on design.

[2022-03-09 03:29] KunWuLuan commented on #987
First I tried spark 3.1.3 with hadoop 2.7, then I tried spark 3.1.3 with hadoop 3.2.2. They all failed.
Finally I tried spark 3.1.3 without hadoop, this time I get no crash. Thank you very much.

[2022-03-09 03:44] Mohammedhussen commented on #841
@fibona44i @fibona44i I am facing similar issue while trying to read and write to S3 as delta table using aws glue 3.0. What are exactly your configuration? Could you please help?

[2022-03-09 04:31] Dieken commented on #965
@scottsand-db

Thanks for your checking!   I want a confirmation whether delta is safe to **directly** use hadoop-aliyun to read/write Aliyun OSS.  Seems @YannByron **implicates** it's safe with OSS-HDFS wrapper service over Aliyun OSS.

https://github.com/delta-io/delta/blob/v1.1.0/core/src/main/scala/org/apache/spark/sql/delta/storage/DelegatingLogStore.scala#L155

It explicitly supports Amazon

[2022-03-09 11:49] JFinis commented on #940
@scottsand-db @zsxwing Given that this is a spec and implementations already exist, I have a hard time proposing a fix here, as I honestly don't know what the desired semantics is supposed to be. Of course, I could just pick the answer I like most for all my questions, but that might mean that the spec gets specced in such a way that implementations don't conform to it anymore.

I guess it might t

[2022-03-09 14:21] ksree commented on #953
@scottsand-db  I raised a separate [PR](https://github.com/delta-io/delta/pull/993)  to include writeWithRename method from HadoopFileSystemLogStore.java . I will test it part of AzureLogStore implementation. Let me know if that makes sense.

[2022-03-09 16:06] scottsand-db commented on #955
@PhVHoang sounds good.

[2022-03-09 17:06] scottsand-db commented on #953
@ksree awesome! Taking a look.

[2022-03-09 17:08] zsxwing commented on #987
Great to hear that you solved the problem. Yep, if you have Hadoop installed, Spark without hadoop is the right one to use. Closing this one as it's solved.

[2022-03-09 17:08] #987 closed

[2022-03-09 17:09] PhVHoang commented on #955
@scottsand-db sure, I’ll raise a PR after this one is merged.

[2022-03-09 17:59] #967 closed

[2022-03-09 17:59] #978 closed

[2022-03-09 18:40] cristianoperez commented on #681
@Kimahriman is there an easy way to access the DeltaLog from pyspark?

[2022-03-09 19:59] zsxwing commented on #988
I think we should add a `How to set up IDE` somewhere in our doc.

[2022-03-09 20:22] Kimahriman commented on #681
Depends on your definition of "easy". We just do:

[code]

[2022-03-10 04:13] ottok92 commented on #664
I have the same question. @Priyanshu-Mittal have you found a solution to this?

[2022-03-10 08:35] ahlag commented on #952
@scottsand-db
Really sorry for taking so much time. I'm still picking up Scala and Java on the side.

Just want to confirm something. (Really sorry for the beginner questions.)
1. In this PR, PublicLogStoreSuite is extended from LogStoreSuiteBase. I was wondering do I have to implement this now because you have closed the PR.
https://github.com/scottsand-db/delta/blob/4a88e4d88f8601ee32032261899de

[2022-03-10 10:30] hprasad98 commented on #939
This is basically required, where I copy my delta tables folders and files from one env to another(from Prod to Dev), kindly of rsync where only latest changes has been migrated/copied to destination env, in that case Incremental symlink genration won't work and Full symlink in not a good option.

Requirement:
- Run Genrate Symlink for latest delta logs or range of latest delta logs or based on th

[2022-03-10 17:12] tdas commented on #664
This is currently not possible. To make this possible we would have to do fine-grained tracking of which version ranges each data file is valid for... which is a lot more metadata and a lot of complexity to keep track of.

[2022-03-10 17:13] #991 closed

[2022-03-10 17:14] tdas commented on #988
+1 This should be in our docs.

[2022-03-10 23:28] zsxwing opened #996 "Support "SHOW PARTITIONS""
It would be great to support `SHOW PARTITIONS` in Delta so that people can check the partition values in a table. Output example,

[code]
The column names of the output should be the partition column names and each row outputs the partition values for one partition.

[2022-03-10 23:36] zsxwing commented on #996
@Kimahriman I saw you submitted a PR previously in #699. But as I mentioned above, we don't want to use Spark's current output format. Are you still interested in working on this with a different format? In order to do this, we would need to parse the `SHOW PARTITIONS` command in `DeltaSqlParser` to execute our own SHOW PARTITIONS command.

[2022-03-11 12:58] Kimahriman commented on #996
I don't really have a use case for it anymore so don't really have the time to spend on it. Mostly used it before as a way to learn some DataSourceV2 things, it's just very annoying the format that's used for the existing show partitions behavior

[2022-03-11 14:23] GuillaumeDesforges opened #997 "PyPi tarball does not have files required by setup.py"
When trying to run `setup.py` on the tarball fetched from PyPi (e.g. [https://files.pythonhosted.org/packages/8d/9f/281e4796e96335fbdabcff0fdb9b64e982b442c24c756a7041d64c88caf3/delta-spark-1.1.0.tar.gz)](https://files.pythonhosted.org/packages/8d/9f/281e4796e96335fbdabcff0fdb9b64e982b442c24c756a7041d64c88caf3/delta-spark-1.1.0.tar.gz),), I hit an issue because `version.sbt` is missing.

[code]

In

[2022-03-11 18:16] zsxwing commented on #997
The tarball fetched from PyPi is not designed to build. You can clone the git repo instead.

[2022-03-13 15:13] Kimahriman opened #999 "Add ability to control snapshot caching"
For certain scenarios, it's not ideal to have the snapshot cached in memory all the time. Specifically, for append-only streaming workloads with dynamic allocation, caching of the snapshot can make it trickier to get rid of resources as soon as they should be free. You either need to set a cached executor timeout, or manually try to uncache the DeltaLog (which has no Python public way to do this,

[2022-03-14 07:54] yijiacui-db commented on #875
This issue was root-caused and fixed. You can use the latest DBR releases or OSS Delta to test. cc: @omardoma @otosky

[2022-03-14 14:59] ksree commented on #953
@scottsand-db Any idea when [PR-993](https://github.com/delta-io/delta/pull/993) will be merged? This issue is dependant on that one.

[2022-03-14 15:42] scottsand-db commented on #953
Hopefully today :) It's on my todo list, thanks for following up!

[2022-03-14 15:43] sliu4 commented on #920
hi @dennyglee - we have several very large prod level delta tables that we would like to gradually archive/glacierize and then we also have some delta data that we just want to delete outright after a certain period of time.

I know from speaking to our Databricks reps that there are solutions we can implement ourselves. For the first case, we can set up a view on the prod level data with a filter

[2022-03-14 16:58] #891 closed

[2022-03-14 18:46] #875 closed

[2022-03-14 20:50] scottsand-db commented on #955
@PhVHoang it was merged

[2022-03-14 20:50] scottsand-db commented on #953
@ksree merged

[2022-03-15 01:35] dennyglee commented on #920
Hi @sliu4  - this is super interesting and while I do think the "devil is in the details", the concept of a life cycle policy would in fact work well with the context of Delta's transaction log since we would be able to use the transaction log to determine what to DELETE/VACUUM, etc.  It implies that the life cycle policy itself would categorize different tables with different policy granular leve

[2022-03-15 07:41] PhVHoang commented on #955
@scottsand-db I raised a PR to resolve this issue.
Please take a look at it. Thanks so much.

[2022-03-15 12:08] ksree commented on #953
@scottsand-db [PR]( https://github.com/delta-io/delta/pull/1003) is ready for review.

[2022-03-15 17:13] #947 closed

[2022-03-15 17:18] #932 closed

[2022-03-15 23:00] ksree commented on #956
Hi @scottsand-db  I will give this a try.

[2022-03-16 03:51] allisonport-db commented on #985
Hi, could you please provide more information? Specifically, the code you are running that is throwing the error (a simple example is fine) and the actual error that you are seeing? Thanks.

[2022-03-16 14:56] scottsand-db commented on #954
I'll take this

[2022-03-16 15:03] SandeepBallu commented on #681
I am also facing the same issue as @[cequencer](https://github.com/cequencer). My Spark version is `3.1.1` but still `show partitions` on the delta table throwing error as `pyspark.sql.utils.AnalysisException: SHOW PARTITIONS cannot run for a table which does not support partitioning;`

I also tried to get the partitioned columns from the Catalog  `spark.catalog.listColumns(<Table_Name>, <DB_Name>

[2022-03-16 22:10] ksree commented on #956
@scottsand-db GCSLogsStore calls org.apache.spark.sql.delta.util.DeltaFileOperations.runInNewThread and that calls org.apache.spark.util.ThreadUtils.runInNewThread. How do we get rid of this spark dependency? Create a new standalone utils class?

[2022-03-16 23:29] scottsand-db commented on #956
@ksree for now, just create a java implementation of `ThreadUtils.runInNewThread` as a private static method inside of GCSLogStore. if we ever need to expose this method to other logstores, we can expose it as a public util then.

[2022-03-17 22:29] liwensun commented on #831
Also related: Looks like if you define NOT NULL in the DDL,
[code]
This is allowed, but the constraint won't take any affect and still allows nulls in.

[2022-03-18 15:31] s-winkelstraeter opened #1011 "Should the Titel of the documention not be the other why round?"
The Titel of the following documenation:

https://docs.delta.io/latest/snowflake-integration.html

is

"Snowflake to Delta Lake integration"

should it not be

"Delta Lake to Snowflake integration"

because we describe how to move Delta Lake data to Snowflake?

As stated in the first sentence of the doc:
"A Delta table can be read by Snowflake using..."

[2022-03-19 21:40] Mohammedhussen commented on #985
I was able to fix this issue. The problem is in my spark configuration.
Thank you for your response.

[2022-03-19 21:40] #985 closed

[2022-03-20 06:18] journey-wang opened #1012 "Help to provide an example to show how to store images"
Hello Everyone,

Could you help to show a full python example about how to store many small pictures to delta table?  And how to read out them?

Best regards.

[2022-03-20 09:20] journey-wang opened #1013 "java.lang.ClassNotFoundException: io.delta.sql.DeltaSparkSessionExtension"
Hello, I've download the latest code and checkout v1.1.0.
After building the code and python setup.py install.

:~/delta/examples/python# python3 quickstart.py
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/20 09:18:39 WARN NativeC

[2022-03-21 13:42] mrpowerus opened #1015 "Issue with `.` in column names using Change Data Feed"
### Issue

The [Change Data Feed ](https://docs.databricks.com/delta/delta-change-data-feed.html) functionality does not seem to handle dots (`.`) in column names very well.

### How to reproduce

[code]

Note that `SELECT * FROM test_table` works correctly.

Stacktrace:
[code]

[2022-03-21 15:53] vkorukanti commented on #1015
@mrpowerus CDF feature is not available in Delta opensource. The docs you are referring to are Databricks docs. Please contact Databricks Support.

[2022-03-21 15:53] #1015 closed

[2022-03-22 15:11] skhurana333 commented on #920
Following .

[2022-03-22 19:29] jodwyer commented on #1012
@journey-wang, I will put together an example around this!

[2022-03-22 23:08] vkorukanti commented on #1013
@journey-wang Here is what I tried to get it working.

- Download Spark from [here](https://spark.apache.org/downloads.html).
- Extract the .tgz file
- Run `<extracted_location>/bin/spark-submit --packages io.delta:delta-core_2.12:1.1.0 quickstart.py`

[2022-03-23 00:04] journey-wang commented on #1012
@jodwyer Thanks very much for your help. In order to be friendly for new ones, please also show how to run this example .py at their PC.

[2022-03-23 00:27] journey-wang commented on #1013
@vkorukanti Got it, thanks very much for your help!

[2022-03-23 00:27] #1013 closed

[2022-03-23 03:13] ahlag commented on #988
@scottsand-db
Just wondering if the documentation is finished. If not, I can help out if you are okay with it.

[2022-03-23 06:10] journey-wang opened #1019 "How to use AutoLoader locally?"
Hello Everyone,

I've searched an article about using autoloader(cloudfiles) to inject data to delta table. But when I tried to run the py code, an error occurred, please help to make it work at my local environment.

`import io
import numpy as np
import pandas as pd
import pyspark
from delta import *
from pyspark.sql.functions import col, pandas_udf, regexp_extract
from PIL import Image

def extr

[2022-03-23 06:53] zsxwing commented on #1019
@journey-wang AutoLoader is not a part of Delta Lake project. You need to use Databricks in order to use AutoLoader.

[2022-03-23 12:44] journey-wang commented on #1019
@zsxwing Thanks for your reply.  By the way is there any alternative ways for this?

images = spark.readStream.format("cloudFiles")
.option("cloudFiles.format", "binaryFile")
.option("recursiveFileLookup", "true")
.option("pathGlobFilter", "*.jpg")
.load("/root/henry/flower_photos")
.repartition(4)

[2022-03-23 16:24] dennyglee commented on #996
cc @JassAbidi - could you tackle this one?  Thanks!

[2022-03-23 16:35] scottsand-db commented on #988
@ahlag this will be going into our delta-io web

[2022-03-23 18:56] scottsand-db commented on #956
@ksree any update? We'd like to get this in for Delta Lake 1.2, so the sooner this is in the better.

If needed, I can also implement this. Let me know.

[2022-03-23 20:20] jgoldman83 commented on #527
Hey guys, I was able to reproduce it and found a solution. Just make sure that the parquet file that you are reading for the upserts, have the same schema as the source.

[2022-03-23 20:38] ksree commented on #956
@scottsand-db Sorry for the delay. I will raise a WIP branch soon, to get the runInNewThread implementation reviewed.

[2022-03-23 20:51] jodwyer commented on #1012
Yes, thanks that's exactly what I was thinking!

[2022-03-23 21:36] scottsand-db opened #1022 "LogStore: Replace spark.sparkContext.hadoopConfiguration by spark.sessionState.newHadoopConf()"
Much like this issue here https://issues.apache.org/jira/browse/SPARK-23514, during `LogStore` instantiation [here](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/storage/LogStore.scala#L277) if we instead use `spark.sessionState.newHadoopConf` then we will automatically get the settings from the SQLConf available in the hadoop conf.

[2022-03-23 22:20] scottsand-db commented on #1022
This shouldn't be an issue. The `LogStoreAdapter` already uses `spark.sessionState.newHadoopConf`.

[2022-03-23 23:20] nousot-cloud-guy commented on #662
I'm running into this with Delta 1.1.0 and Spark 3.2.0. Is there any workaround at the moment?

[2022-03-24 01:33] ksree commented on #956
https://github.com/delta-io/delta/pull/1024

[2022-03-24 01:35] ksree commented on #956
#1024

[2022-03-24 01:38] ksree commented on #956
@scottsand-db Could you please review if https://github.com/delta-io/delta/pull/1024 is the right approach on implementing the runInNewThread.
We will need to find out if the GCS Hadoop connector issue is fixed, so that we can get rid of the new thread hack.

[2022-03-24 04:02] ashokblend opened #1025 "Background job to update delta table metadata cache"
As we know, when user run query on delta table, it check for its last cached meta has passed configured value of **spark.databricks.delta.stalenessLimit**. If it is within the limit, it uses same cache and server user query and in background update the cache asynchronusly. But if it has passed the configured value, it updates the cache synchronusly and then servers the user which adds of meta data

[2022-03-24 09:44] guoliqiang opened #1026 "support streaming read all data or one for a transcation"
Right now, either maxFilesPerTrigger or maxBytesPerTrigger could be ended read in the middle of a transaction.  we have a case that needs to read all data or none for a transaction.

could we add an option to support something like "soft maxFilesPerTrigger"

[2022-03-24 17:55] allisonport-db opened #1027 "Support `SHOW COLUMNS`"
Support SQL `SHOW COLUMNS` to display information about the columns in a given Delta table, since currently `SHOW COLUMNS` is not supported in Spark for V2 tables.

Example usage:
[code]

Syntax details: [SHOW COLUMNS](https://spark.apache.org/docs/3.0.0-preview/sql-ref-syntax-aux-show-columns.html)

[2022-03-24 22:18] ksree commented on #956
Thanks @scottsand-db  for the detailed review.

[2022-03-25 15:31] yifeng-chen opened #1032 "SHOW CREATE TABLE is unsupported"
Hi delta team, I'm trying to run `SHOW CREATE TABLE` in my local development environment and the error occurs, but the statement works well in Databricks environment.

I'm wondering whether this `SHOW CREATE TABLE` feature is proprietary for Databricks?

If it's true, is there any possible workaround for the OSS version to support `SHOW CREATE TABLE` statement?

Thanks.

[2022-03-25 17:52] zsxwing commented on #1032
@yifeng-chen Thanks for raising this issue. We want to support this in OSS Delta as well. Databricks has its own Spark fork and `SHOW CREATE TABLE` in Databricks is a customized command that supports Delta. However, we cannot push the same code to open source Spark as the Spark community won't accept such customized code. We would need to find an alternative solution that works for OSS Delta + OSS

[2022-03-25 17:53] zsxwing commented on #1027
@yifeng-chen The reason that `SHOW COLUMNS` is not supported in OSS Delta is the same as https://github.com/delta-io/delta/issues/1032#issuecomment-1079264645 . If you have any idea to make it work, feel free to post your comment or just open an PR 😄

[2022-03-27 02:03] sparkcoder234 commented on #841
@fibona44i @zsxwing @Mohammedhussen @tdas Is there a solution for this? I am using delta lake 1.0.1, spark 3.1 and glue 3.0. I get the error **_An error occurred while calling 0234.vacuum. Job aborted due to stage failure: ResultStage_**
It doesn't fail all the time..but sometimes it just fails with vaccum error. Is there a fix for this?

[2022-03-28 12:31] tikr7 commented on #314
@vkorukanti have you just fixed the `load` in the latest doc?
What about MinIO support? Is it supported? Anything mentioned in the docs.delta.io (I cannot find anything)?

Thanks! It would be very nice to understand the current situation in 2022 =)

[2022-03-29 00:45] zsxwing commented on #1032
Thanks for raising this issue. This is an oversight in OSS Delta. We will fix it. But if you have free time to work on this, feel free to open an PR.

[2022-03-29 00:46] zsxwing commented on #1027
The reason that SHOW COLUMNS is not supported in OSS Delta is the same as https://github.com/delta-io/delta/issues/1032#issuecomment-1079264645 . If you have free time to work on this, feel free to open an PR.

[2022-03-29 06:03] zsxwing commented on #662
`SHOW COLUMNS` is currently not supported. I'm closing this in favor of #1027 . Feel free to re-open if this is discussing a different issue.

[2022-03-29 06:03] #662 closed

[2022-03-29 06:40] sreeaishwar commented on #445
hi, i've tried setting these as config of spark session and then tried updating/inserting an entry while simultaneously compacting a particular partition (which isn't the partition that I was updating/inserting). It still leads to "ConcurrentAppendException", even though i've set the limits way above than 3. Is there any alternate solution/ is it something wrong that i am doing here?

[2022-03-29 07:02] zmeir commented on #445
Hi @sreeaishwar, these configurations were only a suggestion for a new feature - they do not currently exist in any Delta release.

You can try this approach as a workaround if it makes sense for you: https://github.com/delta-io/delta/issues/445#issuecomment-775085613
(keep in mind this code snipped was written for Delta 0.6.x, so you may need to adjust it to work with the latest version)

[2022-03-29 07:23] sreeaishwar commented on #445
hi, @zmeir tried the code snippet u mentioned here,it still thows a "ConcurrentAppendException". i hope this makes sense to u. also i tried increasing the limit which also didn't help. delta is same.

[2022-03-29 09:52] sreeaishwar commented on #445
the issue is solved.

[2022-03-29 11:21] allenhaozi opened #1036 "java.lang.NoClassDefFoundError: org/apache/spark/sql/execution/command/LeafRunnableCommand"
This problem occurs when running native demo on my MAC
[code]
[code]

[2022-03-29 11:34] allenhaozi commented on #1036
upgrade spark to 3.2.x fix it

[2022-03-29 11:34] #1036 closed

[2022-03-29 16:03] scottsand-db opened #1037 "Run DynamoDBLogStore integration tests using `FailingDynamoDBLogStore` to test error cases"

[2022-03-29 16:54] allisonport-db commented on #944
Hey @NicolasGuary, I wanted to provide an update. The issue here is that the addition of a column containing only `NULL` values results in the creation of a `void` column in the Delta log. Void columns are dropped by Spark when opening Delta tables (causing the schema mismatch error.)

_You can avoid this error by explicitly specifying a type for null-only columns._

989078f4aaa58dbbb846c6611ca0c3

[2022-03-29 17:13] Sharan441 opened #1038 "Show create table statement is not working for delta lake tables"
Greetings,

We have a mix of parquet tables and delta tables. we have observed that "Show create table $table_name" is not working for delta tables.
We have a process to replicate all the table schemas to another environment and this is failing for delta tables with below error:

Is there any workaround to extract the create table statements for delta tables?

Error: SHOW CREATE TABLE is not suppo

[2022-03-29 17:27] zsxwing commented on #988
@scottsand-db I think we can add a section `Setup IDE` after https://github.com/delta-io/delta#building

[2022-03-29 19:28] jodb commented on #1012
@journey-wang I haven't had a chance to work on this yet but I plan to this week.

[2022-03-29 20:16] zsxwing commented on #1019
Does this work for you?

[code]

[2022-03-29 23:27] vkorukanti commented on #831
Wondering if this is the expected behavior? ALTER commands are not rewriting the data, so if the column is already nullable (default) and converting it to non-nullable will may make the existing data violate the constraint.

@zsxwing ??

[2022-03-29 23:40] zsxwing commented on #831
Similar to [check constraint](https://github.com/delta-io/delta/blob/532da849290f9fa63ccacfc176f39f6d4775035d/core/src/main/scala/org/apache/spark/sql/delta/commands/alterDeltaTableCommands.scala#L610), we should also verify the existing data when adding a not null constraint. But right now, I think Spark will block it before `AlterTableChangeColumnDeltaCommand` is called.

[2022-03-30 06:26] zsxwing commented on #314
@tikr7 we haven't done any test for MinIO so we don't claim the support in our doc. But as long as MinIO can provide the compatible APIs and the same semantics (for example, a file should not be visible until the output stream is closed) as S3, Delta should work with MinIO.

[2022-03-30 06:34] zsxwing commented on #965
@YannByron do you know which LogStore implementation can work with Aliyun OSS?

[2022-03-30 06:37] zsxwing commented on #664
Closing this as currently Delta transaction logs don't provide the enough information to support this feature request. Feel free to re-open it if you have any suggestion to support this.

[2022-03-30 06:37] #664 closed

[2022-03-30 07:52] NicolasGuary commented on #944
Thank you for the explanation @allisonport-db !
If Spark cannot handle `Void` Columns, wouldn't the desired behavior of Delta be to ignore this column? (ie. if a column contains only `NULL` values, Delta will ignore it and won't add it in the Delta Log).
It could be an easy fix for Delta instead of supporting void columns.

Let me know how that sounds for you and if it makes sense for Delta to imp

[2022-03-30 10:07] allenhaozi opened #1040 "write data to minio got No such file or directory _delta_log"
+ spark-3.2.1-bin-hadoop3.2
+ Scala 3.1.1

I tested it in the local MAC env, write a table to minio, I got this error, but `_delta_log`has been created

[code]

[code]

[2022-03-30 11:42] allenhaozi commented on #1040
upgrade minio, fix it

[2022-03-30 11:42] #1040 closed

[2022-03-30 17:03] #917 closed

[2022-03-30 17:03] #1022 closed

[2022-03-30 17:03] #999 closed

[2022-03-31 09:33] fibona44i commented on #841
I already explained solution in following comment
https://github.com/delta-io/delta/issues/841#issuecomment-1034159558

[2022-03-31 18:17] scottsand-db commented on #1025
Hi @ashokblend - great suggestion. Would you be interested in proposing an API + implementing the initial PR? If not, no worries! And we can gage community interest (thumbs up and comments) on this feature on this ticket.

[2022-03-31 18:19] #445 closed

[2022-03-31 19:36] Dearkano opened #1042 "[BUG] S3 committer setting not working"
## Bug

### Describe the problem
I set the delta lake on top of AWS S3, and use our on-premise EKS Spark 3.2 cluster to write delta tables. However, I found that setting S3 committer is not working for delta but the same setting can work on default writer.

#### Steps to reproduce
My spark session setting:
[code]

Write data with delta:
[code]

Write data with default writer:
[code]
#### Observed

[2022-03-31 21:41] dennyglee commented on #1026
Hi @guoliqiang - that is awesome!  Yes, the process we typically ask is to fill out a project improvement proposal (PIP) with a design sketch, review, and then associated PRs.  Please use the [Delta Standalone Writer (DSW)](https://docs.google.com/document/d/1MJhmW_H7doGWY2oty-I78vciziPzBy_nzuuB-Wv5XQ8/edit#heading=h.j2yecuf2q7j4) design document as an example of a PIP.  If you have questions, ple

[2022-04-01 05:52] zsxwing commented on #1042
Delta Lake uses its own Spark committer and has its own storage format. You can find the format in https://github.com/delta-io/delta/blob/master/PROTOCOL.md

These are S3Committer's own behaviors. They are not applicable to Delta Lake

[2022-04-01 06:08] zsxwing opened #1045 "[Feature Request] Hive Metastore compatibility between different systems"
## Feature request

### Overview

Currently when we creates a Delta table in Hive Metastore using different systems, we will store different formats in Hive Metastore. This causes the following issue:

- After create a Delta table in Hive Metastore using Spark, this table can only be accessed by Spark. For example, using Hive to access this table will fail.
- After create a Delta table in Hive Met

[2022-04-01 10:11] aidaph commented on #950
Hello @zhangt-nhlab, thanks for this great feature! Very useful for the sites that want to integrate delta with Ceph Storage Gateway in their pipelines. I was testing this implementation in our site but had some problems.

Following the instructions from [https://github.com/delta-io/website/issues/11#issuecomment-1074585439(here) I run spark interactively but it was impossible to make it work:

`$

[2022-04-01 17:53] Dearkano commented on #1042
@zsxwing Thank you for the information!

[2022-04-01 17:53] #1042 closed

[2022-04-01 21:31] akshatnair commented on #927
@tdas is this merged or just closed?

[2022-04-01 21:58] jodwyer commented on #1012
@journey-wang here is an example I put together. I'll put something more formal together but I want to get the example to you to first to see if it's what you are looking for:

[code]

[2022-04-01 22:01] vkorukanti commented on #927
This is merged as [e366cc](https://github.com/delta-io/delta/commit/e366ccd6179c70dd603c2093a912aacfe719ed00). This will be part of the Delta Lake 1.2 release.

[2022-04-04 05:25] zsxwing commented on #1038
Closing this as a duplicate of #1032. It would be great if you can post your comment in that ticket.

[2022-04-04 05:25] #1038 closed

[2022-04-05 00:15] #41 closed

[2022-04-05 16:23] zsxwing commented on #1045
For example, when reading Delta tables using Hive. We need to run the following command to create an external table:
[code]

In other words, Delta connector for Hive requires to see `io.delta.hive.DeltaStorageHandler` in the Hive Metastore.

However, if we use Spark to create a Delta table today, Spark won't write `io.delta.hive.DeltaStorageHandler` into the Hive Metastore. Then if you use Hive to

[2022-04-06 09:48] zhangt-nhlab commented on #950
Hello, thank you for your reply. Is the client Ceph RGW? Because I found that your "spark.hadoop.fs.ceph.uri" is different. if so,  you need to register a swift user after setting up Ceph RGW. After registration, username and password will be generated.

The following is an example.

URI :"http://localhost:7480/auth/1.0"

swift user
`{
    "user_id": "testuser",
    "display_name": "First User",

[2022-04-07 17:32] aish-war commented on #761
Hi, @scottsand-db @dennyglee
was the above issue solved? I too am facing almost the same issue. I'll attach 2 screenshots that'll help u understand the issue, as u see I am running two spark session parallely, trying to update/insert in the same delta table but on
different partitions, partitioned on "site", and it still throws "ConcurrentAppendException". Hope u understood what I am trying to con

[2022-04-07 18:59] scottsand-db commented on #761
Hi @aish-war thanks for your question, we will take a look at your error msg.

[2022-04-07 19:24] Gaston-Ortiz opened #1059 "Delta doesn't work in windows 11"
## Bug

### Describe the problem

Hello, I am using spark 3.2.1 and hadoop 2.7 in windows 11. I am with problems to run the code in the quickstart guide https://docs.delta.io/latest/quick-start.html .

When I run this line in my command line:

` pyspark --packages io.delta:delta-core_2.12:1.1.0 --conf "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension" --conf "spark.sql.catalog.spark_ca

[2022-04-07 21:09] tdas commented on #761
this is a complex issue! the exception that you posted... which merge query hit that issue .. the merge query on site "UNIV" or site "BAPT"?

[2022-04-07 21:10] tdas commented on #761
also.. it might be helpful for us to repro the issue our side for deeper debugging. if you can repro this issue locally... could have package this into a self-runnable code + instructions that we can execute?

[2022-04-07 21:18] davidg0mez opened #1060 "Version inconsistency between PyPI delta-spark (v1.0.0) and latest master release (v1.0.1)"
The [delta-spark](https://pypi.org/project/delta-spark/) PyPI package has not been updated with the latest release [v1.0.1](https://github.com/delta-io/delta/releases/tag/v1.0.1).

I have noticed about it when using the [`configure_spark_with_delta_pip`](https://github.com/delta-io/delta/blob/5e2493804725832ec626823fdc7156cd7458b717/python/delta/pip_utils.py#L21) function since the `extra_packages

[2022-04-07 22:46] zsxwing commented on #1060
`extra_packages` is not available in any existing release. It will be available in 1.2.0 which will be available soon.

[2022-04-08 01:13] #988 closed

[2022-04-08 01:13] #956 closed

[2022-04-08 18:08] #958 closed

[2022-04-08 18:18] #957 closed

[2022-04-08 18:22] #955 closed

[2022-04-08 18:22] vkorukanti commented on #955
Closed via https://github.com/delta-io/delta/commit/fe5e3d7aa7aa71d89b15635fb8db6e76499fd6c0

[2022-04-08 18:23] vkorukanti commented on #977
Changes are staged for 1.2

[2022-04-08 18:23] #977 closed

[2022-04-08 18:25] #951 closed

[2022-04-08 18:28] #781 closed

[2022-04-08 18:41] vkorukanti commented on #953
Closed via https://github.com/delta-io/delta/commit/f3add0beba00327b83b0de24823b1c043288aaf5

[2022-04-08 18:41] #953 closed

[2022-04-08 18:48] vkorukanti commented on #952
Closed via https://github.com/delta-io/delta/commit/fab016e874532cad4de17f1077dbdc860548be9a

[2022-04-08 18:48] #952 closed

[2022-04-08 18:49] vkorukanti commented on #954
Closed via https://github.com/delta-io/delta/commit/c068f5abd6146f8d94e87b29cddb6af51a6b6d44

[2022-04-08 18:49] #954 closed

[2022-04-08 19:57] zsxwing commented on #1059
This looks like a Spark issue in windows 11. The exception here doesn't show any Delta code. Could you raise a ticket for Spark instead?

[2022-04-08 21:03] samratbhatnagar opened #1061 "[BUG] Unable to time travel delta tables created from DLT pipeline"
## Bug

### Describe the problem
Unable to time travel delta tables created from DLT pipeline.

Describe History schema.create_target_table_from_dlt_pipeline does not work either and gives below error
Error in SQL statement: AnalysisException: DESCRIBE HISTORY is only supported for Delta tables.

select count(*) from schema.create_target_table_from_dlt_pipeline version as of 2 gives below error
 s

[2022-04-08 21:39] tdas commented on #1061
Are you querying with Delta OSS on Apache Spark or with Databricks Runtime?

If it is runtime, then this seems like an issue about how Delta Live Tables is defining tables using views and what Databricks Runtime supports. Since this is an issue with the Databricks product, it is better to raise an issue with Databricks support.

[2022-04-08 21:40] vkorukanti commented on #1061
@samratbhatnagar This doesn't look like an issue with the opensource Delta Lake project. Please check with the Databricks support.

[2022-04-08 21:40] #1061 closed

[2022-04-08 23:27] samratbhatnagar commented on #1061
Yes this query is for DBR. I dropped a message here since I didn't get
resolution from Databricks support.

On Fri, Apr 8, 2022 at 5:39 PM Tathagata Das ***@***.***>
wrote:

[2022-04-09 07:16] nampqaime opened #1062 "Connect s3 to delta lake"
Hello,

I want to connect s3 (not aws s3) on my device to delta lake.
I have information about "AccessKeyId", "SecretAccessKey", endpoint (ip address, port)
Looks like there are no instructions for setting this up. Please help me how to connect my s3 to delta lake.

Thank you.

[2022-04-10 15:54] AthulJustin commented on #761
@tdas @scottsand-db
Hi guys any updates on the query raised?/

[2022-04-10 16:35] scottsand-db commented on #761
Hey @AthulJustin. Still looking. Sorry we've been busy working on the release of Delta Lake 1.2. Should have an answer for you in the next few days.

[2022-04-11 14:32] boonware opened #1063 "[Feature Request] Publish delta-spark to Conda"
## Feature request

### Overview

Publish the Python `delta-spark` package to a public Conda channel so that users of Conda can use Delta Lake. As of now, the package is only available at Pypi.

### Motivation

Many users, particularly in data science, leverage Conda for package management.

### Further details

Some packages are already available on Conda Forge, including `delta-sharing`.

### Wi

[2022-04-11 15:21] vkorukanti commented on #1062
Hi @nampqaime, Looking into it. Could you please clarify `s3 (not aws s3)`. Do you mean S3 compatible storages that are not from AWS (ex. Minio)?

[2022-04-11 20:43] Gaston-Ortiz commented on #1059
Hi @zsxwing , but when I use spark without the delta config spark works fine.
![image](https://user-images.githubusercontent.com/63752907/162828531-9325f9ce-dd75-43be-ac4c-d5c63f951693.png)

[2022-04-11 21:04] zsxwing commented on #1059
@Gaston-Ortiz Could you try `pyspark --packages org.apache.kafka:kafka-clients:2.8.1`? I think this will trigger the same error. The stack trace looks like some code path in Spark package management doesn't work with Windows 11.

[2022-04-11 21:31] scottsand-db commented on #761
Hi @AthulJustin. This will take some time to debug. So far I've reproduced on Delta Lake 1.0 and 1.1.

[2022-04-11 22:21] liwensun opened #1064 "Support dropping columns from a Delta table"
## Overview
This is the issue to track interest, feature requests, and progress being made on support for dropping column in Delta Lake, which is part of “column renaming and dropping” as outlined on the Delta OSS 2022 H1 roadmap https://github.com/delta-io/delta/issues/920.

Dropping columns is a common schema evolution operation where users can drop columns from a table as a metadata-only operat

[2022-04-11 22:30] vkorukanti commented on #1062
Hi @nampqaime, did you try passing the Spark config for S3 described [here](https://hadoop.apache.org/docs/r2.10.1/hadoop-aws/tools/hadoop-aws/index.html#S3A_Authentication_methods)? There is also a config option for endpoint `fs.s3a.endpoint`.

[2022-04-12 03:33] zsxwing commented on #1060
Closing this as it's asking an unreleased feature. This will be out in 1.2.0.

[2022-04-12 03:33] #1060 closed

[2022-04-12 03:35] zsxwing commented on #1011
Thanks for pointing out this issue. We will fix the doc when Delta Lake 1.2.0 is out.

[2022-04-12 06:14] AthulJustin commented on #761
Thanks @scottsand-db and @tdas . This issue is kind of like the top priority issue for us . Its been haunting us for like a month.

[2022-04-12 09:34] boonware commented on #1063
@vkorukanti Would this be straightfoward to put in place?

[2022-04-12 15:17] Gaston-Ortiz commented on #1059
Do you know how to solve it?

[2022-04-12 17:00] zsxwing commented on #1059
I don't have a Windows 11 environment to try this and dig further. You can report an issue in https://issues.apache.org/jira/browse/SPARK

[2022-04-12 17:07] Gaston-Ortiz commented on #1059
Thank you very much! I will close the comment

[2022-04-12 17:07] #1059 closed

[2022-04-12 17:13] #1037 closed

[2022-04-12 19:24] jodwyer commented on #1012
This issue is resolved in PR #1067

[2022-04-12 20:03] vkorukanti opened #1068 "Automatically derive the GCS log store conf based on the path"
## Feature request
This is similar to how we do for Azure and S3 [here](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/storage/DelegatingLogStore.scala#L153).
### Overview

### Motivation
 It avoids another config for the user.

### Further details

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you

[2022-04-13 09:28] brysd opened #1069 "[BUG] saveAsTable fails with Spark 3.2, delta 1.1.0."
## Bug
Using spark3.2 and delta 1.1.0 fails to create managed table -> saveAsTable returns java.lang.NoSuchMethodError
There is no issue with creating the delta files.

### Describe the problem
trying to use saveAsTable or "CREATE TABLE delta using DELTA LOCATION '/path/to/files'" results in java.lang.NoSuchMethodError

code was executed as following:

[code]

#### Steps to reproduce

Script used

[2022-04-13 21:50] allisonport-db commented on #944
Ignoring the column could cause later operations to fail since the user expects that column to now exist in the table's schema and there are a lot of corner cases. I think for now throwing an error is the most explicitly clear solution to the user.

Closing this issue for now since this specific bug should no longer be allowed, and void column support is not in good shape and there are _a lot_ of

[2022-04-13 21:50] #944 closed

[2022-04-14 10:55] ahlag commented on #1068
@vkorukanti
Can I have a try at this?

[2022-04-14 14:29] MerelTheisenQB opened #1070 "Data loading error with latest delta-spark"
## Bug
Since the release of `delta-spark` 1.2.0 we're seeing tests failing when trying to load data.

### Describe the problem
This piece of code:
[code]

(or specifically these tests: https://github.com/kedro-org/kedro/blob/main/tests/extras/datasets/spark/test_deltatable_dataset.py#L43-L64)

now throw an error:
[code]

#### Further details

Full stacktrace:

[code]

### Environment information
T

[2022-04-14 15:30] vkorukanti commented on #1068
Sure @ahlag, thanks for working on this issue.

[2022-04-14 15:38] vkorukanti commented on #1070
@MerelTheisenQB Thanks for reporting the issue. Looking into it.

[2022-04-14 15:46] vkorukanti commented on #1070
The error is happening when constructing `not a delta table exception`. From below callstack and the [code](https://github.com/delta-io/delta/blob/branch-1.2/core/src/main/scala/org/apache/spark/sql/delta/DeltaThrowableHelper.scala#L53), it looks like the file resource file `error/delta-error-classes.json` couldn't be found. I just checked the `delta-core` artifact jar and confirmed it is there, b

[2022-04-14 20:23] allisonport-db commented on #1069
This looks like a compatibility issue. Can you provide the output of `bash -x /usr/bin/spark3-submit ...`?

[2022-04-15 07:15] norbitek opened #1072 "Add support for GENERATED ALWAYS AS IDENTITY in DeltaTableBuilder"
Last version of Databricks added support for identity column in Delta table.
It is possible to define GENERATED ALWAYS AS IDENTITY in column specification.

It would be nice to do the same using DeltaTableBuilder for example:

DeltaTable.create(spark) \
  .tableName("default.people10m") \
  .addColumn("id", "BIGINT", generatedAlwaysAs="IDENTITY(START WITH 10 INCREMENT BY 10)") \
  .addColumn("firs

[2022-04-15 10:43] epilif1017a commented on #963
@zsxwing thanks for looking into it, I think this would be a great addition, because in a mostly sql based ddl cicd process it's a bit hard to introduce the mechanics proposed above, for example. So if we could simply put a flag in the spark session, to allow create table schema merge, we would be leaving the dream :)

Thanks for driving the project forward!

[2022-04-15 13:00] Kimahriman opened #1073 "[BUG] Double file scan with stats skipping"
## Bug

### Describe the problem
File stats skipping is causing two `filesForScan` operations.

#### Steps to reproduce
Haven't been able to make a reproduction, trying to. Only have hit this in a production table.

#### Observed results
There are two scan stages, caused by hitting [this](https://github.com/delta-io/delta/blob/f598157fb188daa32b1c5912ce2599feab24984e/core/src/main/scala/org/apache

[2022-04-15 15:44] GRBurst commented on #935
Hey @scottsand-db, thanks for your response! :+1:

This was a bit off my radar, so took a while for me to answer. So yes, the data is partitioned fields that are part of `uniqueFields`. In some use-cases `uniqueFields` contains more fields than the partition fields and sometimes not.

I did performance tuning already and measures before I wrote the issue here (and it improved the performance sligh

[2022-04-15 15:53] GRBurst commented on #935
We can live with this, so it is not a show stopper - but it is still a bit unfortunate ;-)

I guess for such a use case, when data is not toooo big and there are a lot of dupicates, spark is just better with the union approach instead of using (broadcast) joins here.

[2022-04-15 16:16] tdas commented on #935
@GRBurst thank you for comparing performance between these 2 approaches. It complete makes sense for the your specific size of data, you can do something that is faster than the merge implementation, which was designed to decent for any amount of data and may not be the best for smaller changes. There is definitely scope for improving our merge as well. For that it would be good to know the detail

[2022-04-15 16:33] zsxwing commented on #843
@nigelmeakins we have updated our doc with the following content ( https://docs.delta.io/latest/delta-streaming.html#limit-input-rate ):

I'm going to close this. Feel free to re-open this issue if you have any more suggestions to the documentation.

[2022-04-15 16:33] #843 closed

[2022-04-15 17:06] zsxwing commented on #1070
@MerelTheisenQB Thanks for reporting this. We found an issue that affects users using the `--packages` parameter. One workaround is downloading the following two jars (Scala 2.12):

- https://repo1.maven.org/maven2/io/delta/delta-core_2.12/1.2.0/delta-core_2.12-1.2.0.jar
- https://repo1.maven.org/maven2/io/delta/delta-storage/1.2.0/delta-storage-1.2.0.jar

and put them into your Spark's `jars/` di

[2022-04-15 20:51] allisonport-db commented on #1072
Hi @norbitek thanks for opening this issue. This is definitely in the plan for Delta Lake but we're currently prioritizing other features on the roadmap #920 like `OPTIMIZE ZORDER` and CDF.

[2022-04-15 21:08] Kimahriman opened #1074 "[Feature Request] Support nested columns in generated column filter optimization"
## Feature request

### Overview

Automated data skipping added in https://github.com/delta-io/delta/pull/928 doesn't support nested columns, it would be great to support that as well.

### Motivation

Extend the great new functionality to nested columns

### Further details

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you or another member o

[2022-04-15 22:08] allisonport-db commented on #1073
Hi @Kimahriman thanks for reporting this! This is definitely weird and I wasn't able to reproduce it. Could you update this issue with more details if you are able to reproduce it?

[2022-04-15 22:19] allisonport-db commented on #1074
Awesome, thanks for opening #1075. Can you add "resolves ..." to the PR body when you get the chance so we can link the two?

[2022-04-15 22:37] Kimahriman commented on #1073
Yeah I'll keeping digging into and see if I can find what's triggering this

[2022-04-16 04:43] nampqaime commented on #1062
Hello @vkorukanti , I try passing the Spark config for S3 following below code

`import pyspark
from delta import *
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

sc=spark.sparkContext

hadoop_configuration=sc._jsc.hadoopConfiguration()
hadoop_configuration.set("fs.s3a.access.key","aaaaaaaaaaaaaaaaaaaaaaaaa

[2022-04-16 05:30] nampqaime commented on #1062
Hello @vkorukanti ,

I can connect to s3 with your idea, thank for your help.

[2022-04-16 05:30] #1062 closed

[2022-04-17 12:57] Kimahriman commented on #1073
Ok figured some things out. There seems to be two issues when using nested columns.
1. `prepared` filters are pre-schema pruning, and `actual` filters are after. This can make the `ordinal` value of `GetStructField` different when comparing expressions
2. The `actual` seems to include the optional `name` of `GetStructField`, while `prepared` doesn't

Sample code to reproduce:
[code]

And with some

[2022-04-17 12:59] Kimahriman commented on #1073
What's the case where the actual is supposed to possibly be different than prepared?

[2022-04-18 16:48] sree-inapp commented on #761
@tdas @scottsand-db @aish-war @AthulJustin

Hello everyone! I'd like to know whether there has been any progress on this issue. We are also dealing with the same issue. I haven't been able to come up with any solutions.

TIA

[2022-04-19 11:43] Kimahriman commented on #1073
Likewise, what's the use case of pre-calculating the list of files? It seems weird to get the list of files as part of the optimization process, before the physical plan is even built.

[2022-04-19 13:04] hzzlzz commented on #1026
PR created #1079

[2022-04-19 14:11] tdas commented on #1073
Pre calculating the list of files before the "optimization" step actually helps reduce the file list and generate better stats for the optimizer to optimize plans (join reordering, etc.).

However, whats happening here is that the optimizer is changing the predicates which is invalidating the calculated list. It seems in some cases the list is still valid as the predicates seem to be conceptually

[2022-04-19 14:13] tdas commented on #1073
Follow up qs, do you see this problem with filters on nested fields or on top-level fields as well. trying to understand the scope of the problem.

[2022-04-19 14:51] Kimahriman commented on #1073
It should be purely on nested fields (we basically only have nested fields), because the schema won't change for a non-nested field (just other top level fields will be pruned). However I see this happening on almost any ad-hoc query of nested data, since you are probably always pruning something.

[2022-04-19 14:59] tdas commented on #1073
I got confuse with that. Its only the fields in  the filter that should matter here. And you are saying that filter on any nesteed field always causes double scans.. right? And if so, have you tried a filter on a top-level field? Did it avoid double scan?

[2022-04-19 15:00] kbafna-antuit opened #1080 "Add pypsark api for Optimize"
Can we add functions to DeltaTable to perform optimization in pyspark ?
Or is there any other way to do in the delta release 1.2.0 ?

[2022-04-19 15:38] vkorukanti commented on #1080
Hi @KeertiBafna, currently there are Python APIs for optimize. Scala APIs are being added in https://github.com/delta-io/delta/pull/961. Let us know if you are interested in contributing the Python APIs.

[2022-04-19 21:52] scottsand-db commented on #761
@sree-inapp and @AthulJustin - sorry, things have been very busy with the recent release of Delta Lake 1.2.0 and the upcoming Delta Lake 1.2.1. TD and I have time scheduled this week to investigate this issue. Thanks for your patience.

[2022-04-20 10:28] mdrakiburrahman commented on #919
@zsxwing @RishiKumarRay - any updates on this issue?

I'm looking for a simple Java (non-Spark) Docker Container that let's anyone reproduce the ["Zappy" fake example in the Delta docs](https://docs.delta.io/latest/delta-standalone.html#mock-situation) and in [this Databricks blog](https://databricks.com/blog/2022/01/28/the-ubiquity-of-delta-standalone-java-scala-hive-presto-trino-power-bi-and-mor

[2022-04-20 21:31] allisonport-db opened #1086 "[BUG][1.2.0] regression: scala DeltaAnalysisException exposed to user in pyspark"
## Bug

### Describe the problem

In `1.2.0` we introduced [DeltaSharedExceptions](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/DeltaSharedExceptions.scala), and replaced `org.apache.spark.sql.AnalysisException`s with `DeltaAnalysisException`. However, Spark 3.2 [doesn't capture](https://github.com/apache/spark/blob/branch-3.2/python/pyspark/sql/util

[2022-04-20 21:39] allisonport-db commented on #1086
This is fixed by #1083, which will be released with  [1.2.1](https://github.com/delta-io/delta/milestone/14)

[2022-04-20 21:55] Kimahriman commented on #1073
Maybe just transform `GetStructField` to some `UnresolvedAttribute`-like expression before comparing the two sets?

[2022-04-21 12:38] dvvj opened #1087 "[BUG] Exception while reading checkpoint file in `_delta_log ` folder"
### Describe the problem
When upgrading from Databricks 9.1 LTS (includes Apache Spark 3.1.2, Scala 2.12) to 10.4 LTS (includes Apache Spark 3.2.1, Scala 2.12), exception thrown while reading checkpoint file in `_delta_log ` folder (stored in Azure data lake)

#### Steps to reproduce (it probably depends on the data schema)
1. Create a job to generate some history data processed using Databricks 9

[2022-04-21 16:29] pgrandjean opened #1088 "[Feature Request] re-use parquet write options"
## Feature request

### Overview

It is very easy to change the compression codec used to write parquet files when using format "parquet". Example:
[code]

However, in case of format "delta", one has to set the Spark conf `spark.sql.parquet.compression.codec` instead. Would be nice to read to "compression" option to keep the same user-friendlyness of "parquet".
[code]

NB: the above does not work,

[2022-04-21 17:02] burakyilmaz321 commented on #1080
Hi @vkorukanti 👋 I can work on this if it's ok.

[2022-04-21 18:49] zsxwing commented on #1026
@hzzlzz Thanks a lot for the contribution. Could you clarify the use case? I'm curious why we would need to read the entire commit in one micro batch.

[2022-04-21 23:48] burakyilmaz321 commented on #1080
@vkorukanti I initiated some draft work [here](https://github.com/delta-io/delta/pull/1091). You can check it out and let me what you think. I am planning to test this by building #961 locally. I appreciate any guidance 😅

[2022-04-22 02:23] kongluo opened #1093 "xxx.dfs.core.windows.net not found in running [BUG]"
Delta lake uses data lake storage gen2 for storage and generates an error of xxx.dfs.core.windows.net not found. The error occurs after the program runs for a few days, and it suddenly appears during normal operation. question.

------------------->
Configuration property xxx.dfs.core.windows.net not found.
	at org.apache.hadoop.fs.azurebfs.AbfsConfiguration.getStorageAccountKey(AbfsConfiguration.

[2022-04-22 03:50] guoliqiang commented on #1026
Hey @zsxwing
Here is our use case:

We have a customized high efficient delta lake ingestion service (a distributed service deployed on multiple nodes) which is built following the delta lake paper.
The service will read data from input batch by batch and flush it into the delta lake.  For simple, you can regard each batch process maps to a delta table commit, the processes are (a). multiple worke

[2022-04-22 03:56] zsxwing commented on #1093
@kongluo do you have concurrent queries in the same Spark applications and each query itself may modify `conf`?

[2022-04-22 04:20] kongluo commented on #1093
No, there is only one spark task to consume kafka data, and then write to data lake storage gen2, no other tasks

[2022-04-22 06:03] kongluo commented on #1093
Does it have anything to do with the connection method with the data lake storage gen2? This problem was not found when the amount of data was small, and it would appear every few days when the amount of data was large

[2022-04-22 16:29] zsxwing commented on #1093
I'm not familiar with the code inside hadoop-azure. But will try to help go through the Spark and Delta Lake part to see if it's a bug in Spark or Delta Lake.

Could you provide the entire stack trace? When Spark throws an exception like this, it should also have a stack trace in the driver.

[2022-04-22 16:38] scottsand-db opened #1094 "[BUG] issues configuring AWS S3 multi-cluster mode"
## Bug
Following the docs, i.e.
[code]

doesn't seem to work. There are two problems

1. incorrect logstore scheme conf key. should be `spark.delta.logStore.s3.impl`
2. Looking at the code, there is a config mismatch. The docs say `io.delta.storage.S3DynamoDBLogStore.$key` but the code is using `io.delta.storage.$key`.

Thus, there are two next steps:

1. Current workaround. Use scheme conf key `s

[2022-04-23 02:24] allenhaozi opened #1097 "[Feature Request] Best practices for managing Delta Lake table metadata"
## Feature request

A configuration that automatically synchronizes metadata to an external metadata management tool,
such as Apache Atlas, DataHub, OpenMetadata, etc., when creating and updating delta Lake tables

We use S3 to store data

[2022-04-24 01:35] kongluo commented on #1093
I am using structured streaming to process delta lake data to data
lake storage gen2, the driver does not print some error messages, only the above error messages. After the above errors occur, the driver and executor still exist, but the task status of the Streaming query will change from running to finishing

[2022-04-25 07:15] PhilippLange opened #1098 "[Feature Request] Support of `DEFAULT` keyword"
## Feature request
Support the SQL `DEFAULT` keyword.
Due to the recently introduced generated columns this seems somehow related.
Would this be a reasonable feature to implement WDYT?

### Overview

Create Table like this:
[code]

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you or another member of your organization be willing to contribute

[2022-04-25 14:51] journey-wang commented on #1012
Thanks very much @jodwyer

[2022-04-25 14:51] #1012 closed

[2022-04-25 16:17] scottsand-db commented on #761
(sorry accidentally closed)

[2022-04-25 16:19] sree-inapp commented on #761
Hi @scottsand-db  @tdas  were you able to look into this issue? we are still stuck on this.
Awaiting your response.

[2022-04-25 17:40] zsxwing commented on #1093
I'm wondering if you are able to share the logs around the error message. In addition, could you provide your code if possible?

[2022-04-25 17:43] zsxwing commented on #1098
Thanks for raising the request. Spark is adding the `DEFAULT` support: https://issues.apache.org/jira/browse/SPARK-38334 We will work close to the Spark community to support it in Delta as well.

[2022-04-25 20:51] scottsand-db commented on #1097
Hi @allenhaozi , thanks for making this issue. Can you tell us
- your use case(s)
- more details on what sort of feature/configuration/API you'd like and how you would integrate it into your existing pipeline

[2022-04-25 21:00] scottsand-db commented on #1088
Hi @pgrandjean thanks for this issue. We will review this API change and get back to you.

[2022-04-25 21:01] scottsand-db commented on #1088
@pgrandjean this change seems reasonable. Want to make a PR to implement it?

This seems very closely related to another PR https://github.com/delta-io/delta/issues/781. You should be able to implement + test it in a similar way.

[2022-04-25 21:05] scottsand-db commented on #1087
Hi @dvvj - this seems like a Databricks issue and not a specific Delta Lake OSS issue. Can you contact your Databricks rep or file an ES ticket to get support?

[2022-04-26 06:11] kongluo commented on #1093
--------------------->
    val conf: SparkConf = new SparkConf()
      .set("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
      .set("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
      .setAppName(SENSOR_STREAMING)
//          .setMaster("local[*]")

    conf.set("spark.delta.logStore.class", "org.apache.spark.sql.delta.storage.AzureLogS

[2022-04-26 06:38] kongluo commented on #1093
the logs is :

--------------->
	{"instant":{"epochSecond":1650520466,"nanoOfSecond":189222000},"thread":"Executor task launch worker for task 0.0 in stage 88.0 (TID 1327)","level":"INFO","loggerName":"org.apache.parquet.hadoop.ParquetOutputFormat","message":"Parquet block size to 134217728","endOfBatch":true,"loggerFqcn":"org.apache.logging.slf4j.Log4jLogger","threadId":13,"threadPriority":5}
	{"

[2022-04-26 09:14] allenhaozi commented on #1097
I asked the same question in Slack
https://delta-users.slack.com/archives/CJ70UCSHM/p1650600105595819

cc @dennyglee

[2022-04-26 09:56] allenhaozi commented on #1097
Delta Lake is a library, not a service

As administrator of Delta Lake:

1. How many tables have been created and what is the path of each table
2. What is the schema of each table

I can get this information by scanning the storage path and parsing the transaction log,  But which paths to scan can be a configuration ?

As a delta Lake user:

1. I want a centralized place to see tables that are wi

[2022-04-26 10:28] aish-war commented on #761
same here.

[2022-04-26 10:33] AthulJustin commented on #761
Hi @scottsand-db @tdas Awaiting your response.

[2022-04-26 10:33] MintuJohnsontj commented on #761
Hi @scottsand-db @tdas
Is there any solution to this problem? I am also facing the same issue.

[2022-04-26 10:37] vivekInapp commented on #761
Hi @scottsand-db @tdas
Is there any solution to this problem? I am also facing the same issue.

[2022-04-26 10:37] fathimajafir commented on #761
Hi is there any solution to the problem?  we are also facing this issue

[2022-04-26 10:59] vjraitila commented on #1097
Although the [OpenLineage](https://openlineage.io/) project (and [Marquez](https://github.com/MarquezProject/marquez) as a reference implementation) focuses on data lineage specifically, many data catalogs cater to this aspect as well. I cannot help seeing some similarities here.

They implement the integration with the help of a separate library.

[2022-04-26 11:46] brysd commented on #1069
Hi, thanks for the feedback - sorry for late reply but was on holidays.

Anyway, back and continuing on delta:

this is the output:
[code]

[2022-04-26 16:58] scottsand-db commented on #1011
This has been fixed in https://docs.delta.io/1.2.0/snowflake-integration.html

[2022-04-26 16:58] #1011 closed

[2022-04-26 16:58] scottsand-db commented on #997
@GuillaumeDesforges I'm going to close this issue in response to @zsxwing's answer above.

Feel free to re-open it if the problem persists.

[2022-04-26 16:58] #997 closed

[2022-04-26 16:59] scottsand-db commented on #936
@Freia3 I'm going to close this issue, since @zsxwing's response above indicates this is not a Delta OSS issue.

[2022-04-26 16:59] #936 closed

[2022-04-26 17:15] scottsand-db commented on #935
@GRBurst just following up on this. As TD asked,

[2022-04-26 19:15] allisonport-db commented on #943
Thanks for reporting this, fixed in dde57a3b330ed34a9c71c09977c53ee394ef8c31

[2022-04-26 19:15] #943 closed

[2022-04-27 01:18] kpe opened #1100 "[BUG] SQL GENERATED columns syntax doesn't work - ParseException in CREATE table"
## Bug
Can't create a new table with generated column with spark 3.2.1 and delta 1.2.0.

### Describe the problem

#### Steps to reproduce
1. download latest spark-3.2.1-bin-hadoop3.2-scala2.13
2. start with
[code]
3. ( optional ) - I tried to make it work by setting these properties
[code]
4. try creating a table with a generated column:
[code]
#### Observed results
[code]

#### Expected results

[2022-04-27 17:40] scottsand-db opened #1101 "[BUG] update dynamodb logstore integration test to use scalaVersion param"
## Bug

### Describe the problem

Currently the s3 dynamodb log store integration tests are hardcoded to use 2.12. Let's update them to use the input `--scala-version` param.

See https://github.com/delta-io/delta/blob/master/run-integration-tests.py#L117

[2022-04-27 17:41] scottsand-db commented on #1101
@allisonport-db was this done on purpose btw?

[2022-04-27 17:43] scottsand-db commented on #1101
Actually .. if I recall correctly .. the python tests are supposed to use delta core with scala version 2.12.
So this is a non-issue. Closing.

[2022-04-27 17:43] #1101 closed

[2022-04-27 18:19] kpe commented on #1100
ok, I found this https://groups.google.com/g/delta-users/c/x2xnHkysIZw

[2022-04-28 09:35] a-haroun opened #1103 "[BUG]"
## Bug

### Describe the problem
Having a class not found exception while trying to write as delta

#### Steps to reproduce
[code]

#### Observed results
The job fails with this error
[code]

#### Further details
aws cli version that are in the classpath
- hadoop-aws-3.2.2.jar
- aws-java-sdk-bundle-1.11.563.jar

I am using the spark-submit command to launch the program

### Environment information

[2022-04-28 12:20] aidaph commented on #950
Hello @zhangt-nhlab , thanks a lot for the answer. I've submitted a PR to your repo that includes a short implementation to get authenticated with the Keystone credentials.

[2022-04-28 14:19] vkorukanti commented on #1103
@a-haroun Looking into the issue. The `LogStore` interface and implementations are moved to a separate jar `delta-storage` as part of the 1.2.0 (migration guide for the same is [here](https://docs.delta.io/latest/porting.html#delta-lake-1-1-or-below-to-delta-lake-1-2-or-above)). Wondering if you are able to download the `delta-storage` jar as part of the spark-submit command start.

Also please sh

[2022-04-28 14:35] vkorukanti commented on #1103
One more thing (may not be related to this problem), `hadoop-aws` version 3.3.1 is compatible with Spark 3.2.1.

[2022-04-28 15:02] #1103 closed

[2022-04-28 17:51] vkorukanti commented on #1100
Thanks for creating this issue. As mentioned in the email group [here](https://groups.google.com/g/delta-users/c/x2xnHkysIZw ), it requires upgrade to Spark 3.4.

[2022-04-28 18:19] geoffrey-pitman opened #1104 "[BUG] Storage properties not set when passing options to dataframe writer"
## Bug

### Describe the problem
Spark's default behavior when calling saveAsTable on a DataFrame is to take unrecognized options and add them to the storage properties of the table.  When calling saveAsTable with the delta format these options are ignored.

#### Steps to reproduce

1. ` df.write.mode("overwrite").options(Map("x" -> "y")).format("delta").saveAsTable("t")`
2. `spark.sql("DESCRIBE E

[2022-04-28 18:23] vkorukanti commented on #1104
@geoffrey-pitman Looking into it. One question: did it ever work with older versions of Delta Lake?

[2022-04-28 18:23] zsxwing commented on #1104
@geoffrey-pitman could you add more information about your use case? Delta doesn't use `Storage Properties`. That's why it doesn't write them to Hive Metastore.

[2022-04-28 18:34] geoffrey-pitman commented on #1104
@vkorukanti The option key/value pairs were never written to `Storage Properties` however in older versions (with 0.7.0 and 0.8.0), the key/value pairs were actually written to `Table Properties`.

@zsxwing Since earlier versions of Delta Lake wrote the option key/value pairs to `'Table Properties`, I was taking advantage of this behavior, as a substitute for Spark's default behavior.  When attemp

[2022-04-28 18:44] vkorukanti commented on #1104
One workaround is add the properties using `SET PROPERTIES`, but I am not sure if this is the proper way to add custom properties (@zsxwing?)
[code]

[2022-04-28 18:46] zsxwing commented on #1104
Just want to double check. Are you talking about `Table Properties` or `Storage Properties`?

[2022-04-28 19:05] geoffrey-pitman commented on #1104
The old behavior of Delta Lake (versions 0.7.0 and 0.8.0) was to write the option key/value pairs to `Table Properties`. Spark's default behavior is to write them to `Storage Properties`. In versions of Delta Lake at least >= 1.0.0, it no longer writes them anywhere.

[2022-04-29 06:18] allenhaozi commented on #919
We will run spark job base on delta lake on top of K8S and also need such a Dockerfile

[2022-04-29 21:25] scottsand-db opened #1105 "Support for Change Data Feed in Delta Lake"
## Overview
This is the official issue to track interest, feature requests, and progress being made on Change Data Feed in Delta Lake. This feature is part of the Operation Enhancements section of the [Delta Lake 2022 H1 Roadmap](https://github.com/delta-io/delta/issues/920) with a target of 2022 Q3.

## Requirements
The aim of this project is to allow Delta tables to produce change data capture (

[2022-04-29 21:27] scottsand-db commented on #704
@TioLuiso - see https://github.com/delta-io/delta/issues/1105.

[2022-04-29 21:34] kpe commented on #1100
Thanks @vkorukanti, I don't see a reference to Spark 3.4 in the above link. Building the current spark master branch (3.4.0-SNAPSHOT) doesn't seem to help either.
I guess for the GENERATED column syntax to work, we'll first need to see a change in [DeltaSqlParser.scala](https://github.com/delta-io/delta/blob/master/core/src/main/scala/io/delta/sql/parser/DeltaSqlParser.scala) or [SqlBaseParser.sql

[2022-04-29 21:50] zsxwing commented on #1100
@kpe This is not in Spark yet. We are talking to the Spark community and hope we can get this supported in Spark 3.4. You are right. We need to add this to SqlBaseParser.g4.

[2022-05-02 03:31] lkrishna-cs opened #1106 "[Feature Request] DeltaLake support for Change Data Capture"
## Feature request

### Overview

Seems like only Databricks version of DeltaLake support Change Data Capture (CDC). This is such a key concept that should be made available in the open source version as well. Curious to know if you have plans to support it in future releases.

### Motivation

Customer need ability to track changes to data using DeltaLake framework as they may not have a licensed

[2022-05-02 15:17] brysd opened #1107 "[Feature Request] provide OPTIMIZE with dataframe result in pyspark SQL interface"
## Feature request
Maybe I'm doing something wrong but for some reason running OPTIMIZE from spark sql interface doesn't seem to do anything.
(Version 1.2.1)

It would be great if the OPTIMIZE command can be run from spark SQL interface in python and would return a dataframe containing the statistics as mentioned in the documentation.

Something like the following:

[code]

### Overview

return da

[2022-05-02 15:53] scottsand-db commented on #1106
Hi @lkrishna-cs - thanks for making this issue. Funny enough, this past Friday I made the issue #1105 (yours is 1106) which provides exactly what you're asking for - Delta Lake support for Change Data Feed.

Feel free to review that issue, the design doc, proposed APIs, and the project plan.

If that issue #1105 resolves your feature request (I think it does), please close this issue.

[2022-05-02 15:58] vkorukanti commented on #1107
Hi @brysd, can you try ` spark.sql("OPTIMIZE delta.`/path/to/delta/table`").show()`

[2022-05-02 22:27] allisonport-db commented on #1069
Hi @brysd, it looks like here you are using a Cloudera version of spark. Upon further investigation, the Cloudera version has altered the interface of `CatalogTable` from Apache Spark, and added the field `accessInfo` which is causing the incompatibility issue (see below for the two different constructors).

Unfortunately we cannot help with this as Delta Lake is compatible with public Apache Spar

[2022-05-02 22:27] #1069 closed

[2022-05-03 08:58] dragongu commented on #921
@zsxwing  I am a new Delta user and  ready to tackle the issue, Can you assign it to me? thanks

[2022-05-03 16:53] vkorukanti commented on #1070
Resolved in [1.2.1](a4c0107efed4fb7b08737532fbb5c33805c15a2f) and [master](3f2249534de9112f359387c10d623d3eb5784439).

[2022-05-03 16:53] #1070 closed

[2022-05-03 17:22] zsxwing commented on #921
@dragongu done. Thanks for the contribution!

[2022-05-03 17:37] dennyglee commented on #1097
Thanks @allenhaozi  - small clarification in that Delta Lake is a framework vs. library as it has a lot more moving parts.  Saying this, is this something folks would be up for getting together to create a design document?  From a high level, I think its a great idea but wanted to dive deeper.  As @vjraitila noted, there are reconciliation issues between the various lineage projects and data catal

[2022-05-03 17:37] vkorukanti commented on #1063
Sorry I don't have full context on on what is required for publishing to Conda. We already publish to pypi. Can we extend it to do the same for Conda?

[2022-05-03 17:41] #960 closed

[2022-05-03 22:46] zsxwing commented on #1104
@geoffrey-pitman thanks for for clarifying it. This is indeed a buggy behavior and we fixed it in 1.0.0. You can use this flag to restore the original behaviors: https://github.com/delta-io/delta/commit/c01396fbc1d4917a41f59ab49637324adb32cb40#diff-2536a2cca0486cd1f20730c0216332ef77846d7dfbf3f77860b828be09439b9cR377

[2022-05-03 23:05] zsxwing commented on #1093
@kongluo thanks for the stack trace. I think you are hitting a issue that has been fixed in 1.0.1: https://github.com/delta-io/delta/commit/61763fe9d404532b534ac1e16998a0d6e905bbba Could you try 1.0.1 and see if the issue still happens?

[2022-05-03 23:26] zsxwing commented on #963
@epilif1017a Yep. Adding SQL support makes sense given that this is already supported by DataFrame APIs.

[2022-05-03 23:27] scottsand-db commented on #761
Hi @aish-war, so in your example you provided, changing how you create the source table, e.g.
[code]

to

[code]

solves the problem.

Can you show me how you are create the source tables in production?

[2022-05-03 23:58] cgrisham commented on #889
Does this fix only apply to 1.2.* releases? Using 1.0.1 to match my Spark 3.1.2 environment and it doesn't recognize the extra_package argument. Any solution besides updating my spark installation?

[2022-05-04 00:12] zsxwing commented on #889
@cgrisham Right. This is only available in 1.2.*. If you use pyspark `--packages` such as `pyspark --packages io.delta:delta-core_2.12:1.0.1 --conf "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension" --conf "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog"`, you don't need to call `configure_spark_with_delta_pip`.

[2022-05-04 06:19] aish-war commented on #761
@scottsand-db will definitely check this out. thanks for responding.

[2022-05-04 07:04] frankyangdev opened #1111 "[Feature Request] Support data type changes for schema evolution"
## Feature request

### Overview

Currently, schema changes are eligible for schema evolution during table appends or overwrites:
- Adding new columns
- Changing of data types from NullType -> any other type, or upcasts from ByteType -> ShortType -> IntegerType

Is it possible to support more data type changes during append operation with enabled schema evolution?

### Motivation

For the history

[2022-05-04 07:19] brysd commented on #1107
hi, thx for the quick feedback: it actually works. Not sure what I did wrong, but I get the metrics from the dataframe.
So basically df = spark.sql("OPTIMIZE delta.`/path/to/delta/table`") works.

I tested with a very small dataset. Just to know, Is there also a minimal threshold when optimize will merge the parquet files? I have 5 files of 1kb size and after optimize they are all still there. I w

[2022-05-04 10:25] boonware commented on #1063
Conda is a separate package management solution. The following might help you get starte, assuming Conda Forge is the right place to publish the package (?).

1. Install Conda, see [here](https://docs.conda.io/en/latest/).
2. Define the Conda project by creating an environment file called `env.yaml` with the following contents:
[code]
3. Create the Conda environment for the project: `conda env cre

[2022-05-04 12:51] geoffrey-pitman commented on #1104
@zsxwing much thanks! That is exactly what I was looking for.

[2022-05-04 15:40] vkorukanti commented on #1107
@brysd There is a [min file size config](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/sources/DeltaSQLConf.scala#L594) (default is 1GB). Any file less than this size is selected for compaction. If you have the repro steps on small table, would be great if you can post them here. Want to understand if something is not working correctly.

[2022-05-04 17:15] scottsand-db commented on #761
@AthulJustin @MintuJohnsontj @fathimajafir can you please all give me more details on
- how you are generating target table
- how you are generating source table
- merge condition

[2022-05-04 17:23] scottsand-db commented on #1088
Hi @pgrandjean - no rush, just following up on this. Let me know if you need any help with the PR.

[2022-05-04 17:26] scottsand-db commented on #878
Hi @JacobZheng0927, just following up on the status of this issue. If we don't get a response/update soon, I'll close this issue. Cheers.

[2022-05-04 17:27] #1087 closed

[2022-05-05 00:11] vkorukanti commented on #1080
@burakyilmaz321 The python test failures on `master` branch are fixed now. Could you please rebase this PR? Thank you!

[2022-05-05 07:27] brysd commented on #1107
Ok, here's a recap of what we did to test:

[code]

result is apparently 8 parquet files in main folder of /path/to/delta/table, 1 in class=insect partition folder and 4 in class=mammal partition folder

the data is really small (just for testing purposes) and there should be 2 partitions (insect, mammal).
I would in the end expect 1 file in each of these partitions.
After vacuum I would expect th

[2022-05-05 21:17] scottsand-db commented on #761
@aish-war To be clear, the issue here was that your source DataFrame was built off of / directly referenced your target table.
[code]

In this case, you should save your source to a temporary table first, and then read from that table during your merge.

This was an issue because, during the merge, despite your merge condition which was correctly partitioned, it was re-generating the source (and l

[2022-05-06 01:36] dennyglee commented on #1111
Thanks @frankyangdev as per our Slack conversations, this one may be a little tricky.  Let me summarize some key points and add some additional points thanks to @zsxwing

* Reviewing the [Parquet Logical Type Definitions](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md), it seems that decimals are stored as [logical data types](https://github.com/apache/parquet-format/blob/mas

[2022-05-06 07:57] vjraitila commented on #1097
Although I did bring up OpenLineage specifically, there are, unfortunately competing "standards" in the field. In contrast, [OpenMetadata](https://github.com/open-metadata/OpenMetadata) tries to take a more holistic approach. Then there is Apache Atlas etc. Not to mention all the commercial vendors in the field.

Therefore, whatever the mechanism is, it would have to be extensible somehow.

I, dis

[2022-05-06 09:09] sebastianGruenwald commented on #527
Hi all,
I Just wanted to share some insights I just had on this issue. I was experiencing the same problem with duplicates after merge into a delta table.

Here is my setup:
- All happens in Databricks (Runtime 10.4)
- One Source Delta Table where Events are appended periodically. (Every 5 minutes)
- One target Table that should consolidate the events (each key has only one entry with the latest r

[2022-05-06 14:47] frankyangdev commented on #1111
Thanks @dennyglee for the checking and explanation. I hope this data type change of decimal can be supported in schema evolution in the future. Cheers

[2022-05-06 18:12] zsxwing commented on #1093
Closing this as the issue has been fixed in 1.0.1. Feel free to re-open this issue if you still see the issue after upgrading to 1.0.1.

[2022-05-06 18:12] #1093 closed

[2022-05-06 22:17] prakharjain09 opened #1114 "Add Checksum validation for the LAST_CHECKPOINT file"
We should have Checksum validation for the LAST_CHECKPOINT file.

This is needed to prevent scenarios like SplitReads which might occur when concurrent readers and writers are involved - a reader might read half content from old LAST_CHECKPOINT and remaining half from new LAST_CHECKPOINT and it will end up using it if it is valid json.

[2022-05-07 01:23] dragongu opened #1118 "[BUG] Multi scala style mistakes"
When I execute the command 'build/sbt compile', I encounter multiple scala style errors, as follows

[error] /delta/core/src/main/scala/org/apache/spark/sql/delta/schema/SchemaUtils.scala:860:72:
[error]       Are you sure that you want to use toUpperCase or toLowerCase without the root locale? In most cases, you
[error]       should use toUpperCase(Locale.ROOT) or toLowerCase(Locale.ROOT) instead

[2022-05-08 14:22] kjsr7 commented on #816
@zsxwing Any ETA on the release?

[2022-05-09 08:44] pedrosalgadowork commented on #859
Same here... any news on how to solve/mitigate this?
Thanks!

[2022-05-09 08:48] pedrosalgadowork commented on #1107
Same results here. The API call works, the results df seem to have the right output, but the small parquet files are not deleted after the coalesce step.

[2022-05-09 09:53] kongluo commented on #1093
After I upgraded to 1.0.1, I observed it for a few days, and no errors were reported so far. Thank you very much for your reply.

[2022-05-09 13:47] vkorukanti commented on #1107
@pedrosalgadowork @brysd The small files are not expected to be deleted as part of the OPTIMIZE. If you want to cleanup the small files or files from very old commits, use [vacuum](https://docs.delta.io/latest/delta-utility.html#remove-files-no-longer-referenced-by-a-delta-table).

[2022-05-09 15:37] vkorukanti commented on #1107
@brysd, Looked at the output and the metrics are as expected. OPTIMIZE won't delete the small files. Let me know if there is any remaining issue here. If no issue, we can close the ticket.

[2022-05-09 15:51] brysd commented on #1107
@vkorukanti ok, so if I understand well this means a VACUUM needs to be run first now to clean up the small files?

[2022-05-09 15:52] brysd commented on #1107
@vkorukanti a bit too fast. Didn't see your previous message. Ok clear. This can be closed. Thanks for your feedback and assistance!

[2022-05-09 16:01] zsxwing commented on #816
@kjsr7 Delta Lake 1.2.0 has been out. You can find the version matrix on https://docs.delta.io/latest/releases.html#compatibility-with-apache-spark

[2022-05-10 08:32] simonvanderveldt commented on #494
@tdas Do you know if any progress has been made around this?
We're running in a federated setup and some places are using delta lake on databricks but other are running the regular/open-source Hive Metastore and they are currently unable to do things like `SHOW PARTITIONS` when using delta tables. It would be great if that would be possible.

[2022-05-10 10:50] allenhaozi opened #1121 "[BUG] [unresolved dependency: io.delta#delta-core_2.12;1.2.1: not found]"
This dependency package cannot be downloaded online because we are a private cloud environment

Can this dependency package be downloaded in advance and put in the docker image? We are Spark on K8S

[2022-05-10 11:13] fon-liwprasert opened #1122 "[Feature Request] Backward compatibility for 'optimize' function with Apache Spark 3.1"
## Feature request

### Overview

[Delta Lake 1.2.0](https://github.com/delta-io/delta/releases/tag/v1.2.0) has introduced a function to **support for compacting small files (optimize) into larger files in a Delta Lake table**. However, that version comes with Apache Spark 3.2 since Delta Lake 1.1.0. Would it be possible to have a backward compatible with Apache Spark 3.1 as well?

### Motivation

[2022-05-10 13:02] dnskr commented on #1121
This is not a bug. You don't have dependency you use in your code, so you have to add it.
You can build you own docker image on top of pure Spark image with all dependencies you need.
Which exactly docker image do you use?

[2022-05-10 13:36] allenhaozi commented on #1121
thank u @dnskr
Now I have downloaded them in advance and put them under $SPARK_HOME/jars . It will work
But I added an $SPARK_HOME/extjar directory and it didn't work

"${SPARK_HOME}/conf/spark-env.sh"
[code]

I need to add deltalake and S3 to the PySpark image

[2022-05-10 13:50] zsxwing commented on #553
@AlexWRZ01 could you provide the table schema and the merged data frame schema if possible so that we can try to create a reproduction? You can just call the `schema.json` on a DataFrame to get the schema, such as `spark.range(10).schema.json()`.

[2022-05-10 14:07] #1121 closed

[2022-05-10 17:16] Kimahriman commented on #860
That's the main issue, not-null constraints are automatically applied with no way to disable them. I have been slowly playing around with ways update the not-null constraint checking to operate in-line with how Spark works, haven't made too much progress on it though. At the very least it should be an opt-in thing to get around this. I still consider it a bug :)

[2022-05-10 17:18] #935 closed

[2022-05-10 17:21] scottsand-db commented on #907
Hi @lkrishna-cs - GCS was added in Delta Lake 1.2.0.

[2022-05-10 17:21] #907 closed

[2022-05-10 17:24] zsxwing opened #1123 "[Feature Request]Add SBT test coverage report"
## Feature request

### Overview

Currently Delta Lake doesn't have a test coverage report. It would be great to integration with some test coverage SBT plugin so that we can see the test coverage report in every PR.

### Motivation

A test coverage report would help us understand whether we have enough tests to cover changes in a PR.

[2022-05-10 17:27] lkrishna-cs commented on #907
Thank you @scottsand-db . Glad to see it is official now. We have used it in our platform and found no issues so far.

[2022-05-10 18:08] zsxwing commented on #860
We prefer to avoid creating non standard behaviors. Could you clarify what use cases that may require this non standard behavior?

[2022-05-10 18:11] zsxwing commented on #914
Closing this due to inactivity. Feel free to re-open it if this is still an issue.

[2022-05-10 18:11] #914 closed

[2022-05-10 18:12] #1019 closed

[2022-05-11 01:54] zsxwing commented on #965
Given this is a question to the vendor rather than the Delta Lake project, I'm going to close this.

[2022-05-11 01:54] #965 closed

[2022-05-11 13:51] vegarsti commented on #1100
Do you have a link to that community discussion? Very eager to get this in!

[2022-05-11 16:52] tdas commented on #1100
@kpe Can you clarify something? are you saying that when iceberg uses `PARTITIONED BY (transform(column))`, then `SELECT *` does not show that generated partition column? Then how do users inspect that column value if something has gone wrong in that generation of its value?

In general, we designed Generated Column as the more general solution to such things that can be used on any column and any

[2022-05-11 17:24] #1114 closed

[2022-05-11 17:24] #1080 closed

[2022-05-11 18:43] scottsand-db opened #1124 "[Feature Request] LogStore integration test frameowork"
## Feature request

### Overview

It would be great to have an automated integration test framework for all of our LogStores that includes
a) integration-testing (using real cloud buckets/tables) and
b) stress-testing (using multiple concurrent readers + writers)
c) validation that the reads/writes were successful

### Motivation

### Further details

There is an existing example integration test

[2022-05-12 03:50] allisonport-db commented on #1118
Hi @dragongu, thanks for opening this. Can you verify you are on the latest master? I don't see these errors locally.

[2022-05-12 06:22] aish-war commented on #761
@scottsand-db the issue indeed was wrt to the way we were creating the the new/updated record. thank you.

[2022-05-12 07:28] kpe commented on #1100
@tdas Thank you for the explanation! It all make sense, and I'm looking forward to use the GENERATED syntax in delta open source soon.

(without being an iceberg advocate or even a big data practitioner, I guess, iceberg's motivation around their partition handling, is to allow for queries without [explicitly specified partitioning](https://iceberg.apache.org/docs/latest/partitioning/) information

[2022-05-12 07:31] dragongu commented on #1118
It is indeed the latest master ，and It's really a code style issue,such as

[error] /delta/core/src/main/scala/org/apache/spark/sql/delta/schema/SchemaUtils.scala:860:72:
[error] Are you sure that you want to use toUpperCase or toLowerCase without the root locale? In most cases, you
[error] should use toUpperCase(Locale.ROOT) or toLowerCase(Locale.ROOT) instead.
[error] If you must use toUpperCase

[2022-05-12 07:31] dragongu commented on #1118
It is indeed the latest master ，and It's really a code style issue,such as

[error] /delta/core/src/main/scala/org/apache/spark/sql/delta/schema/SchemaUtils.scala:860:72:
[error] Are you sure that you want to use toUpperCase or toLowerCase without the root locale? In most cases, you
[error] should use toUpperCase(Locale.ROOT) or toLowerCase(Locale.ROOT) instead.
[error] If you must use toUpperCase

[2022-05-12 07:32] dragongu commented on #1118
It is indeed the latest master ，and It's really a code style issue,such as

[error] /delta/core/src/main/scala/org/apache/spark/sql/delta/schema/SchemaUtils.scala:860:72:
[error] Are you sure that you want to use toUpperCase or toLowerCase without the root locale? In most cases, you
[error] should use toUpperCase(Locale.ROOT) or toLowerCase(Locale.ROOT) instead.
[error] If you must use toUpperCase

[2022-05-12 14:57] scholer commented on #1063
Having delta-spark available on conda-forge would be fantastic.

We often use conda-forge to set up environments. The Conda ecosystem still has advantages over plain pypi, particularly for more complex environments, or if the environment requires non-python packages. With conda, I can create a complete environment for running Spark -- including e.g. OpenJVM and other things that are not available

[2022-05-12 14:59] scottsand-db commented on #761
@aish-war great, glad I could help!

[2022-05-12 14:59] #761 closed

[2022-05-12 15:29] tdas commented on #1100
@kpe I see! Thank you for giving that additional information! Definitely food for thought for us.

[2022-05-12 16:57] scottsand-db opened #1127 "[Feature Request] Consolidate CDF TahoeFileIndex code paths"
## Feature request

### Overview

This [commit](https://github.com/delta-io/delta/commit/d90f90b6656648e170835f92152b69f77346dfcf) added 3 new TahoeFileIndex's for the Change Data Feed feature currently being developed for Delta Lake. These are: `CdcAddFileIndex`, `TahoeChangeFileIndex`, and `TahoeRemoveFileIndex`.

These three classes have lots of similar code paths + logic, and can be consolidat

[2022-05-12 18:00] tdas commented on #1122
Most open source projects, including us, follow the semantic versioning policy of not backporting large new features to patch releases (like Delta 1.0.2 on Spark 3.1) of previous major/minor releases. The policy is there so that users of a major/minor release can safely upgrade to the next available patch release without a risk of regression, and large features like this always carries a regressio

[2022-05-12 18:34] allisonport-db commented on #1118
Are sure you have updated your local repo? The line numbers in your error messages don't align with the code in master, and the errors you are seeing have been wrapped correctly in scalastyle braces.

[2022-05-12 19:47] koertkuipers commented on #348
yes. see:
https://github.com/delta-io/delta/pull/371

[2022-05-12 20:16] tdas opened #1128 "[Feature Request] Reduce test runtime by parallelizing tests"
## Feature request

### Overview

SBT tests currently run sequentially. It would be good to reduce the total test runtime by parallelizing the SBT tests.

### Motivation

SBT tests are taking longer and longer. This is not scalable. While we have already split various version of Scala tests into two CI builds in the repo, each build takes a long time. This is a burden for local testing as well. An

[2022-05-12 22:54] bugsbunny1101 opened #1129 "[BUG] - Inconsistent behavior between opensource delta and databricks runtime"
## Bug

### Describe the problem

Create a delta table with table properties like this got exception

 TBLPROPERTIES
           | ( delta.autoOptimize.autoCompact = true,
           |   delta.autoOptimize.optimizeWrite = true,
           |   delta.dataSkippingNumIndexedCols = 9,
           |   delta.logRetentionDuration = 'interval 30 days',
           |   delta.deletedFileRetentionDuration = 'int

[2022-05-13 02:31] dragongu commented on #1118
Sorrry, this was really my mistake, because I mixed it with Windows in WSL, which caused a file format problem that was resolved after exec 'dos2unix'

Thanks again allisonport-db

[2022-05-13 02:35] #1118 closed

[2022-05-13 07:43] kongluo opened #1130 "[BUG]How to reduce the delta log size By manually"
My delta lake has been running for more than half a year. I found that the size of the delta lake log is getting bigger and bigger. I have set delta.logRetentionDuration to 1 month to clean up the log regularly, but the size of the log is still increasing

![image](https://user-images.githubusercontent.com/28140815/168234904-fd920a99-7253-44cb-baf7-6c66f15b28f0.png)

Where did the log of more than

[2022-05-13 18:47] allisonport-db commented on #1129
Hi @bugsbunny1101 thanks for opening this issue. This is something we're currently investigating.

[2022-05-13 21:45] tdas commented on #1130
Increase in time for computing snapshot indicates that the number of parquet data files managed the delta log is increasing. You can see this in the Delta Describe Detail command. If that is large, then you should run Delta Optimize command (released with Delta 1.2 on Spark 3.2) to compact the files in larger 1GB-ish files. That will reduce the number of files and make the snapshot computation fas

[2022-05-14 12:01] dragongu commented on #857
can you assign it to me? thanks @zsxwing

[2022-05-14 12:01] dragongu commented on #1123
can you assign it to me? thanks @zsxwing

[2022-05-14 12:04] dragongu commented on #464
can you assign it to me? thanks @zsxwing

[2022-05-14 12:06] dragongu commented on #693
can you assign it to me? thanks @scottsand-db

[2022-05-15 08:34] kongluo commented on #1130
When I was developing at the time, the latest version of Delta lake was 1.0.0. We merged the parquet files in Delta lake by adopting physical isolation, but the number of parquets in the original table was constantly increasing. May I ask you to delete + Can vaccum physically delete parquet files to reduce the size of delta log? Why did I delete in this way, the size of the delta log did not decre

[2022-05-16 01:29] kongluo commented on #1130
I found that it is necessary to configure the time to delete log files through the deletedFileRetentionDuration configuration. When the delete operation is performed, the configuration defaults to 7 days, and the DeltaLog file will be cleaned up after 7 days.

[2022-05-16 14:54] tdas commented on #1123
done  @dragongu

[2022-05-16 14:56] tdas commented on #1130
Yes, exactly. Glad you found out. :) Did that solve the problem?

[2022-05-16 18:00] vkorukanti opened #1134 "Support multi-dimensional clustering of data using Z-Order curves"
## Overview
This issue tracks implementing multi-dimensional clustering of data using Z-Order curves to improve the data skipping (=> query performance) when a query on Delta Lake table contains predicates on one or more non-partition columns. This feature is part of the Performance Improvements section of the [Delta Lake 2022 H1 Roadmap](https://github.com/delta-io/delta/issues/920) with a target

[2022-05-17 02:46] dennyglee commented on #1097
@vjraitila @allenhaozi Perhaps we can jump on a sync to discuss this or do it async on Slack?

[2022-05-17 02:47] dennyglee commented on #859
Hi @pedrosalgadowork - as we continue working on this - please check out https://github.com/delta-io/delta/issues/859#issuecomment-995454556 on a potential mitigation.  Thanks!

[2022-05-17 04:38] ahlag commented on #1124
Hi @scottsand-db
Can I give this a try? When is this needed?

[2022-05-17 06:29] harry19023 commented on #653
Has there been any update here?

[2022-05-17 07:46] #1122 closed

[2022-05-17 09:14] kongluo commented on #1130
Yes, it solves my problem, thank you very much for your reply

[2022-05-17 10:40] saurabh3091 opened #1135 "[BUG] Delta needs write permission to bucket for external tables"
##
We are trying to register an external delta table in our hive metastore. We use this metastore to provide our users a single interface to access data stored in different cloud environments.
For spark created tables(STORED AS parquet), it registers the table successfully with `LOCATION` parameter specified.
Ex:
`Create table test USING parquet LOCATION 'gs://<bucket>/test/'`

But for delta creat

[2022-05-17 10:56] pedrosalgadowork commented on #859
Thanks @dennyglee!

[2022-05-17 11:11] zmeir commented on #1111
Huh... Why is that really? I naively assumed it should be just the same as `ByteType` -> `ShortType` -> `IntegerType`.

[2022-05-17 12:59] MattFennell commented on #1103
@vkorukanti I am also getting a similar issue: `java.lang.NoClassDefFoundError: io/delta/storage/LogStore` when using
PySpark v3.2.1
Delta Lake v1.2.0

On the releases page https://github.com/delta-io/delta/releases/tag/v1.2.0 it only lists the single Python artifact. You mention that the LogStore has been moved in `delta-storage` jar. Does that also get included in the Python artifact?

[2022-05-17 15:26] scottsand-db commented on #1124
Hi @ahlag - for sure. There's no rush on this. In the next one, two, three months is fine.
If you'd like to take this on, can you please first submit a skeleton / prototype PR, or a minor design doc, or just respond on this issue with the high-level details of your plan. It would be good to get some community feedback first before we dive into a full implementation.

[2022-05-17 18:19] allisonport-db commented on #1130
Closing this, feel free to reopen as needed.

[2022-05-17 18:19] #1130 closed

[2022-05-17 18:24] zsxwing commented on #857
@dragongu Done. Thanks for offering the help!

[2022-05-17 18:26] zsxwing commented on #653
@harry19023 we don't have an ideal solution for this bug right now. Could you try to use Scala/Java UDFs instead?

[2022-05-17 18:32] zsxwing commented on #494
@simonvanderveldt the issue of `SHOW PARTITIONS` is tracked by #996 which doesn't need to save partitions in Hive Metastore/Glue.

I'm going to close this issue right now as we don't  have any plan to write partitions to Hive Metastore/Glue. That would cause a lot of stability issues when the number of partitions is huge. Feel free to reopen this if you have further comments for this.

[2022-05-17 18:32] #494 closed

[2022-05-17 18:38] harry19023 commented on #653
I was actually just using this library to set up a local development environment for Databricks proper. Since this seems to be supported on the Databricks runtime, I'll have to change my development workflow to only use Databricks runtimes. Thanks for the update though!

[2022-05-18 04:57] nsivabalan opened #1139 "[SUPPORT] How to set max file size while creating delta tables?"
## Bug

Not a bug. but clarification question.

### Describe the problem
May I know how to configure the max file size while creating delta tables via spark-sql?

#### Steps to reproduce

lets say parquet_tbl is the input table in parquet.

spark.sql("create table delta_tbl1 using delta location 'file:/tmp/delta/tbl1' partitioned by (VendorID) TBLPROPERTIES ('delta.targetFileSize'='10485760') as s

[2022-05-18 08:57] ahlag commented on #1124
@scottsand-db
Ok sure. Let me try it. It would be my first time submitting a design doc. Let me do this during the weekend and get back to you for a feedback. Thank you so much for explaining!

[2022-05-18 15:59] gegiannos opened #1140 "[Bug] It is possible the underlying files have been updated"
## Bug

### Describe the problem
I have this setup: A AWS Glue Job `kinesis_consumer` that consumes a kinesis stream and stores the data in s3 bucket `kinesis_data`.

[code]
Another Glue Job `data_exposer` is supposed to read the data from the s3 bucket `kinesis_data` and store it in a different s3 bucket `exposed_data`:
[code]
When I try to read from the `kinesis_data` with Glue Job `data_exposer

[2022-05-18 16:47] vkorukanti commented on #1140
@gegiannos Looking into the issue, will get back to you soon.

[2022-05-18 18:05] #837 closed

[2022-05-18 20:15] bart-samwel commented on #527
@sebastianGruenwald Potentially a stupid question: I'm not sure what the `.cast("BDATE")` does in the 9th line of `write_batch`. Should that be `.cast("DATE")`?

[2022-05-18 20:22] zsxwing commented on #1111
That's not the same, unfortunately.  ByteType, ShortType and IntegerType are all stored using int32 in the physical parquet files, but LongType is stored using int64.

This sounds a bug to me. Could you open a new issue with a small reproduction?

[2022-05-19 06:25] sebastianGruenwald commented on #527
yes of course you are right. I changed it

[2022-05-19 07:37] bart-samwel commented on #527
@sebastianGruenwald Is BDATE ever NULL? Because the `IN` based pruning won't work in that case.

[2022-05-19 07:45] sebastianGruenwald commented on #527
No It can't be NULL. *But i think I found the issue. In the original statement I had *
[code]

[2022-05-19 07:49] bart-samwel commented on #527
That makes sense! So this is not an instance of the issue described in this ticket.

[2022-05-19 07:51] sebastianGruenwald commented on #527
Should I remove it?

[2022-05-19 08:01] bart-samwel commented on #527
@sebastianGruenwald It's probably better to keep the discussion for history purposes, but maybe you can edit the original message to add a header like `[SOLVED -- NOT THE SAME ISSUE, SEE BELOW]` so that future readers can skip over the section?

[2022-05-19 10:39] saurabh3091 commented on #1135
@zsxwing Thanks for your response. I see the issue you refer to. But there is another [condition](https://github.com/apache/spark/blob/30cf796bdb01b53d4ed8cb6020f5ffe5bedc800b/sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveExternalCatalog.scala#L491) that if `locationUri` is missing then only it should try to write.

So if `location` is missing then both parquet and delta throw the same exc

[2022-05-19 18:37] zsxwing opened #1144 "[Feature Request]Add a check to verify the required Spark confs"
## Feature request

### Overview

We saw a few reported issues due to missing configs. We can add a check in DeltaLog to verify the following Spark confs.

[code]

If these are not set, we can throw a user friendly error.

### Motivation

Provide a user friendly error rather than throwing random weird errors.

### Willingness to contribute

The Delta Lake Community encourages new feature contribut

[2022-05-20 02:03] galtobel opened #1147 "[SUPPORT] replaceWhere option throwing inconsistent error"
## Bug

### Describe the problem
I tested this exact code on 10 different `dt` and 3 failed with the following error. I don't know what could possibly cause this if the other 7 dates worked as expected.
#### Steps to reproduce

[code]

#### Observed results
`AnalysisException: Data written out does not match replaceWhere 'processed_dt == '2022-05-18''.`

#### Expected results

#### Further details

[2022-05-20 07:39] hawkaa commented on #1129
Hi! I'm experiencing the exact same issue 👍🏻

[2022-05-20 11:27] yamenkaba opened #1148 "[BUG] Write delta lake table to MapRFS"
## Bug

### Describe the problem
When I write a delta lake table into maprfs from pyspark, I get the error message below, but the table gets written correctly.

[code]

#### Observed results
The table gets written but I get the following error message
![image](https://user-images.githubusercontent.com/13351942/169518022-ee6e19e1-1fee-4272-9611-a31f43f64311.png)

### Environment information

* Delt

[2022-05-20 16:12] vkorukanti commented on #1148
Debugging thread: https://delta-users.slack.com/archives/CG9LR6M4G/p1653051156156609

[2022-05-20 16:17] vkorukanti commented on #1148
Closing this based on the discussion [here](https://delta-users.slack.com/archives/CG9LR6M4G/p1653051156156609). It is just an extra error logging in MapRFS when a file is not found.

[2022-05-20 16:17] #1148 closed

[2022-05-23 18:09] taylor-schneider commented on #634
There is a relate issue tracking the addition of this feature:
https://github.com/delta-io/delta/issues/128

[2022-05-24 16:15] zsxwing commented on #1147
Could you provide the full stack trace? The entire error message should provide the bad data in the input df.

[2022-05-24 16:19] zsxwing commented on #507
@Naveen1453 We added the [optimize](https://docs.delta.io/latest/optimizations-oss.html#optimize-performance-with-file-management) command in 1.2.0 to allow users to compact small files to larger files if your table is not over partitioned. If your table is over partitioned, you will need to pick up a smaller set of partition columns.

[2022-05-24 16:35] zsxwing commented on #860
Can you set the nested field nullable and add a check constraint such as `nested is null or nested.id is not null` to the table instead?

[2022-05-24 16:38] zsxwing commented on #873
Thanks @Kimahriman for providing the suggestion. I'm closing this as the problem seems resolved. Feel free to re-open this if I'm wrong.

[2022-05-24 17:07] zsxwing commented on #1135
For Delta, this will be always the case. See https://github.com/apache/spark/blob/30cf796bdb01b53d4ed8cb6020f5ffe5bedc800b/sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveExternalCatalog.scala#L321-L332

[2022-05-24 17:10] zsxwing commented on #860
Adding a new behavior even if it's opt-in would also add extra work when we expend the not null constraint behaviors to other engines. And I feel it's not worth right now.

I will keep this open to hear more voice.

[2022-05-25 00:46] Dearkano opened #1151 "[BUG] Performance downgrade using OPTIMIZE (compaction) with Trino"
## Bug

### Describe the problem
We were happy to see that OSS delta lake supported compaction, so we upgraded and tried to optimize our current tables. However, we observed the performance downgrade after compaction.

We use Starburst Enterprise (Trino) to query the delta lake on the top of S3, and here's our performance test using TPC-DS, and the chart below shows the size and object numbers of

[2022-05-25 06:17] vkorukanti commented on #1151
@Dearkano Thanks for reporting the issue. Is it possible to share the Trino query execution profile _before optimize_ and _after optimize_ for one of the TPCDS queries (preferably Q21 which seems to have the worst degradation)?

[2022-05-25 16:24] bobrippling opened #1152 "[BUG] `LogStore` class not found, from pyspark"
## Bug

### Describe the problem

I've upgraded python `delta-spark` to 1.2.0 (and `pyspark` to 3.3.0). When I run `pyspark`, I see the below error (in observed results).

I believe as part of #954, the `LogStore` class was [changed](https://github.com/delta-io/delta/commit/c068f5abd6146f8d94e87b29cddb6af51a6b6d44#diff-f0c18983a6b0029c674bdd12a930103afc7ed09baebb1b9fbc238a5af55d87d0R153) to now us

[2022-05-25 16:35] bobrippling commented on #1152
The same issue in [this comment]( https://github.com/delta-io/delta/issues/1103#issuecomment-1128838499) / related to #1103

[2022-05-26 00:54] Dearkano opened #1153 "[Question] Usage conflict between Compaction/Vacuum and Time Travel"
OPTIMIZE (Compaction) will double the table size, if we use VACUUM to release the space after the compaction (maybe after each data ingestion), the time travel will not be available anymore.
I'm wondering if there's a best practice for combining compaction and time travel, or we have to bare with doubled table size.
Thank you!

[2022-05-26 00:58] Dearkano commented on #1151
@vkorukanti  sure, I will do the test and upload them later

[2022-05-26 16:48] scottsand-db commented on #581
Hi @felipepessoto, thanks for following up. [Delta Lake 1.1](https://github.com/delta-io/delta/releases/tag/v1.1.0) included per-column file stats collection + data skipping. Does this meet your needs?

[2022-05-26 22:08] felipepessoto commented on #581
I need to test it. In my experiments with Parquet and Delta, the ANALYZE TABLE made the queries ~40% faster than both Parquet (without ANALYZE TABLE) and Delta.

[2022-05-26 22:10] felipepessoto commented on #581
BTW, you mean Delta 1.2? In 1.1 changelog I don't see these changes

[2022-05-26 22:43] scottsand-db commented on #581
Yup, my bad. I meant 1.2.

[2022-05-26 23:50] felipepessoto commented on #581
@scottsand-db in my test with 1.2 it didn't improve performance. Looking the query plan, they are the same as 1.1, except by PreparedDeltaFileIndex instead of TahoeLogFileIndex.

Stats are expected to improve performance for queries like this? https://github.com/Agirish/tpcds/blob/master/query93.sql
(with inner queries, joins)

[2022-05-27 13:53] afogarty85 opened #1157 "[Feature Request] Allow generated IDENTITY column to be reset"
## Feature request

### Overview

We should be allowed to reset the generated identity column in some way. Currently, it appears deleting the table completely from disk is the only way to do so.

### Motivation

You might consider adding it to the `VACUUM <table> RETAIN 0 HOURS` function. The reason why it would be helpful, is that, over time, with many inserts, we get very large numbers that are

[2022-05-27 15:46] scottsand-db commented on #1153
Hi @Dearkano - thanks for your question. We will get back to you shortly.

[2022-05-27 19:15] sezruby opened #1158 "[Feature Request] OPTIMIZED WRITE"
## Feature request

### Overview

Support Optimized Write described in https://docs.databricks.com/delta/optimizations/auto-optimize.html#how-optimized-writes-work

### Motivation

With frequent append jobs or MERGE/UPDATE operation, underlying data can be easily fragmented.
OPTIMIZE and Auto Compaction cannot leverage all scenarios as it's involving additional commit.

We can utilize the existing

[2022-05-27 19:18] galtobel commented on #1147
Hi @zsxwing , I actually figured out the issue. Seems like when I ran this as a job it didn't spit out the entire error. When I ran it in a notebook it actually was a null error.

[2022-05-27 19:18] #1147 closed

[2022-05-27 22:36] zsxwing commented on #1152
@bobrippling how do you run your spark application? We never ship the jars in python `delta-spark`. We ask the user either use `--packages io.delta:delta-core_2.12:1.2.1` or call [configure_spark_with_delta_pip](https://docs.delta.io/latest/quick-start.html#python) to start the spark application.

[2022-05-27 22:39] zsxwing commented on #581
@felipepessoto did you re-generate the data for your tests? Stats are only written by Delta 1.2, so you would need to re-generate them in order to leverage the data skipping improvements added by Delta 1.2.

[2022-05-27 23:27] felipepessoto commented on #581
Yes, I regenerate it. Do you know how I can check the stats?

DESCRIBE EXTENDED doesn't show any:

![image](https://user-images.githubusercontent.com/1336227/170799892-08482a58-d5f4-4194-a480-cd57ff76c0c7.png)

If I do the same using parquet, after running the ANALYZE Table:

![image](https://user-images.githubusercontent.com/1336227/170799926-702836e6-2aad-4c77-ad5e-3b9093e403a5.png)

BTW, do you

[2022-05-28 00:47] scottsand-db commented on #581
Hi @felipepessoto. The main advantage of `ANALYZE` is that it computes different stats than "column stats + data skipping". It computes stats on unique/distinct values in a table.  These stats are useful in improving the performance of `JOIN`s.

Column stats on the other hand are used to help skip files during scans. So, if you perform a filter and then a `JOIN`, that is when column stats will hel

[2022-05-28 01:20] Dearkano commented on #1151
@vkorukanti  @scottsand-db
Hi, after we dive into the queries, we found that the root cause is that:
After the compaction, the parallelism of Trino is significantly reduced, this is expected since Trino has only one file (in the TPC-DS case) to deal with in each table after compaction. So CPU time after compaction is only 1/2 or even 1/10 compared to before.
But in the end, the queries take a long

[2022-05-28 01:30] scottsand-db commented on #1139
Hi @nsivabalan, there is no way to directly configure the max parquet file size that will be written.

What you can do is configure the max records per file, `maxRecordsPerFile`. This was actually recently added by a contributor. See https://github.com/delta-io/delta/pull/1017.

Seems like you can easily figure out the average size of your records, do some math, and set `maxRecordsPerFile` accordi

[2022-05-28 01:31] scottsand-db commented on #1153
Hi @Dearkano - as you surmised, this is the inevitable tradeoff between OPTIMIZE and workloads that use time travel. Delta Lake doesn't provide a solution for this right now. Perhaps you could ask in the delta users slack channel and see if there are other customers/users in a similar position as you?

[2022-05-28 03:53] felipepessoto commented on #581
Some more questions, please:
1. Would be correct to say that Delta stats are file-wise while ANALYZE are table-wise?
2. ANALYZE is a Spark feature, while Delta stats is part of Delta spec?
3. There is any work in progress to support Delta ANALYZE?

I'm wondering how much effort would be to change ANALYZE to work with Delta, reading from transaction log like you said
Or alternatively, change Delta

[2022-05-30 10:05] mulan101 opened #1159 "[Question] Create old version manifest file"
I have created a manifest file to retrieve DeltaTable data from athena.
Is it possible to create a point-in-time manifest file to retrieve old version data without rollback the data?

Thank you

[2022-05-31 04:05] zsxwing commented on #1159
Currently we don't support this. Delta has a Presto connector which supports time travel: https://prestodb.io/docs/current/connector/deltalake.html Would you be able to push Athena to support it as well? A native support would be much better than the manifest files.

[2022-05-31 04:09] zsxwing commented on #1140
@gegiannos Could you provide the entire stack trace of `FileNotFoundException`? This would help us investigate the issue.

[2022-05-31 04:15] zsxwing commented on #1157
Thanks for opening the feature request. The identity column is not in Delta Lake project yet. This is definitely in the plan but we're currently prioritizing other features on the [roadmap](https://github.com/delta-io/delta/issues/920 ) like OPTIMIZE ZORDER and CDF.

[2022-05-31 04:19] mulan101 commented on #1159
Thanks for your reply.
We will request it as a new feature through the AWS Support Case.

thank you

[2022-05-31 04:21] zsxwing commented on #1159
Cool. Closing this ticket. We will focus on improving the Presto native support rather than improving the manifest files.

[2022-05-31 04:21] #1159 closed

[2022-05-31 04:31] zsxwing commented on #831
@scottsand-db do you plan to work on this? The current issue is Spark blocks `nullable` -> `not nullable` change here: https://github.com/apache/spark/blob/8bbbdb5a4667d90b27b202870cd73c9a19b74781/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala#L1169-L1173

In order to solve this, we either need to change Spark to not block such column change, or build our ow

[2022-05-31 04:36] zsxwing commented on #693
This issue is similar to #255. We improved the doc in https://docs.delta.io/latest/delta-batch.html#data-retention to suggest users to increase `delta.logRetentionDuration` instead.

[2022-05-31 05:13] zsxwing commented on #918
@sezruby Sorry I missed your latest comment. Just to confirm, you are talking about the following issue rather than `Dataset.cache` as we can reproduce the same issue without `Dataset.cache`. Right?
[code]
In other words, if reusing the same `Dataset`, `Dataset.collect` will not return the latest result.

If so, the issue exists in `parquet` format as well.

[code]

This is a fundamental Spark iss

[2022-05-31 05:32] zsxwing commented on #581
Yep.

Yep. ANALYZE is a Spark feature and technically it only supports built-in file formats. Today Spark doesn't provide an interface to non built-in data sources. In addition, it requires users to run ANALYZE by themselves, and it's easy to return incorrect answers when users forgot to run ANALYZE.

IIRC, you are basically asking whether Delta can support table-wise stats. If so, this is not on

[2022-05-31 14:57] ganeshchand opened #1162 "Support database name and table name arguments to DeltaTable.isDeltaTable()"
## Feature request

### Overview

Currently, `DeltaTable.isDeltaTable()` only supports table path. If you have a delta table registered in the metastore and if you execute `DeltaTable.isDeltaTable("my_database.my_table")`, it simply returns `false`.

The `DeltaTable.forName()` API already supports tableName argument in addition to the table path. This feature will bring parity and consistency to t

[2022-05-31 15:16] ganeshchand commented on #1144
@zsxwing I can work on this feature. Please feel free to assign this to me.

[2022-05-31 15:37] scottsand-db commented on #693
@marcominelli93 - can you let me know if zsxwing's comment above helps resolve your issue?

[2022-05-31 18:19] harry19023 opened #1163 "Spark SQL DESCRIBE TABLE to include same column properties as spark.catalog.listColulmns()"
## Feature request

### Overview

Currently spark SQL's `DESCRIBE TABLE` only returns column name and type for Delta Tables. It is impossible to get info about constraints and partitions through the SQL API.

### Motivation

We are attempting to use Alembic to manage schema for our Delta Tables. Alembic (and SQLAlchemy) use SQL as the interface and cannot use spark to manage table schema.

### Fur

[2022-05-31 21:40] #1153 closed

[2022-06-01 03:13] berglh opened #1164 "[BUG] Delta Core 1.0.1 still building with ANTLR 4.7 instead of ANTLR 4.8"
## Bug

### Describe the problem

I am building a Spark 3.1.3 environment that uses the matching version of Delta Core (1.0.1) for OSS delta table support.  This version of Delta Core was released on February 11th, 2022. However, when invoking the first Spark SQL query, I am getting an error message: `ANTLR Tool version 4.7 used for code generation does not match the current runtime version 4.8ANT

[2022-06-01 04:20] zsxwing commented on #1164
Did you also hit other issues, or just feel the error is annoying? This error is annoying but we haven't seen any real issues.

[2022-06-01 04:55] berglh commented on #1164
@zsxwing It's was just alarming, I'm trying to reduce the number of weird obtuse errors that users might see in Jupyter Notebooks, who often don't know anything about what ANTLR is.  I'm guessing I can adjust with logging levels, however, this looked like a straight to stdout or stderr alert which they might see (I haven't tested this with Jupyter yet). I haven't done any further testing with the

[2022-06-01 05:08] zsxwing commented on #1164
This is actually a critical config that many new features rely on. It's better to avoid removing it.

Yep it's an annoying [stderr](https://github.com/antlr/antlr4/blob/f25a4f6275ed259c6a155eafcd0cb1a5252dde13/runtime/Java/src/org/antlr/v4/runtime/RuntimeMetaData.java#L160) output.

Do you have any chance to run your code before giving the control to users? If so, you can manually run some SQL com

[2022-06-01 05:33] berglh commented on #1164
@zsxwing I will definitely see what I can do, but we don't start the Spark session for the user in the Jupyter notebook, it's started by the user who specify desired cluster settings, they can specify  driver/executor sizing for instance.  My guess is that we can't hide this from the user because of this.

[2022-06-01 08:18] grzegorz8 opened #1165 "[Feature Request] Expose TPCDS benchmarks input data in "requester-pays" Google Storage bucket"
## Feature request

### Overview

Recently, Delta performance benchmarks have been enabled to be run on GCP (https://github.com/delta-io/delta/pull/1142). However, the input data is stored in a "requester pays" S3 bucket, which is inconvenient while running GCP benchmarks since it requires the user to copy the data to a GCS bucket first, due to Hadoop shortcomings [HADOOP-14661](https://issues.apa

[2022-06-01 17:20] mmengarelli commented on #1162
hi @ganeshchand I can work on this. Please assign to me

[2022-06-02 06:03] kongluo opened #1168 "Reading the delta lake table will occasionally report that the table does not exist[BUG]"
When I indirectly read the data in the table, the reading fails occasionally, and the error is that the table does not exist.
![image](https://user-images.githubusercontent.com/28140815/171562498-cf7f9023-e0c4-423e-b62a-5754f795856e.png)

But in fact, this table has always existed. When using the delta1.0.0 version, this problem often occurred when using the DeltaTable.isDeltaTable method. Later,

[2022-06-02 06:04] kongluo opened #1169 "Reading the delta lake table will occasionally report that the table does not exist[BUG]"
When I indirectly read the data in the table, the reading fails occasionally, and the error is that the table does not exist.
![image](https://user-images.githubusercontent.com/28140815/171562498-cf7f9023-e0c4-423e-b62a-5754f795856e.png)

But in fact, this table has always existed. When using the delta1.0.0 version, this problem often occurred when using the DeltaTable.isDeltaTable method. Later,

[2022-06-02 06:18] zsxwing commented on #1168
Are you able to try 1.1.0 or above? There is a fix for such issue https://github.com/delta-io/delta/commit/c424efad8b03c2dce6d988a927677a0e9c314a11

If you can provide the reproduction steps, we can help confirm if this is the root cause.

[2022-06-02 06:19] zsxwing commented on #1169
Closing this as it's a duplicate of #1168

[2022-06-02 06:19] #1169 closed

[2022-06-02 06:44] kongluo commented on #1168
ok, I'll try a later version of delta lake and see if the issue is online

[2022-06-02 13:57] Thelin90 opened #1170 "Apache Druid - Delta Connector"
## Feature request

Hello.

presto has recently created a [delta.io](http://delta.io/) adapter to link delta files directly, this is making me consider to use a presto cluster instead (would scale decently enough with current data load I have to work with).
However, is there anyone who has faced this issue and solved it in a “nice” way, or are there any plans to add a delta connector similar to wh

[2022-06-02 16:48] mmengarelli commented on #1162
@allisonport-db this is complete. I updated PR 1113

[2022-06-02 18:01] allisonport-db commented on #1162
Awesome, thanks. We will take a look. If you add "resolves #1162" to the PR body we will be able to link it to this issue in github.

[2022-06-02 18:28] allisonport-db commented on #1162
Actually, could you create a new PR with these changes please? Generally we want a separate PR for each specific feature change.

[2022-06-02 23:53] 6a0juu commented on #1027
Hi @yifeng-chen , I'm currently working on this.

[2022-06-03 00:01] allisonport-db commented on #1163
Hi @harry19023 thanks for opening this. While adding this information somewhere is a good idea, we don't currently want to add columns to `DESCRIBE TABLE` since we'd like the columns be consistent with `DESCRIBE TABLE EXTENDED`, and `DESCRIBE TABLE EXTENDED` is already a mess.

We'd prefer to use a different command like `SHOW COLUMNS` (which is currently in progress #1027) to store the additional

[2022-06-03 00:44] zsxwing commented on #1164
Cool. I'm going to close this. As the release work for us is not cheap, we will not make a new release just for this ANTLR benign error. But I will keep it in mind. If we find any critical issue that we would need to make a new 1.0.x release, we will also fix this one together.

[2022-06-03 00:44] #1164 closed

[2022-06-03 09:25] harmenverburg opened #1174 "[BUG] columnMapping.mode='name' doesn't support IDENTITY columns"
I use the following table:

[code]

When executing a merge the following error is returned:

[code]
[code]

Databricks Runtime: 10.5
Apache Spark: 3.2.1
Scala: 2.12

[2022-06-04 23:28] harry19023 commented on #1163
Thanks, sounds good to me. I'll track that issue.

[2022-06-04 23:28] #1163 closed

[2022-06-04 23:30] harry19023 commented on #1027
Chiming in from #1163 , I'm requesting that `nullable`, `is_partition`, and `is_bucket` be included in this output.

[2022-06-06 15:50] bobrippling commented on #1152
Thanks @zsxwing - bringing down `delta-storage` from [maven](https://repo1.maven.org/maven2/io/delta/delta-storage/1.2.1/delta-storage-1.2.1.jar) does the trick.
For future reference, is this the expected approach from a python standpoint, or do we expect the jar to be available as part of pip or similar?

Thanks!

[2022-06-06 22:16] allisonport-db commented on #1174
Hi @harmenverburg, since this is an error you're encountering in Databricks Runtime, could you please open a Databricks support ticket for it? Thanks :)

[2022-06-06 22:16] #1174 closed

[2022-06-06 23:23] scottsand-db opened #1182 "[BUG] Fix DeltaTableBuilder metadata configuration"
## Bug

### Describe the problem

Currently, when `DeltaTableBuilder` is given a property that does not start with a `delta.` prefix, then that property is written to the table metadata in all lowercase.

#### Steps to reproduce

[code]

#### Observed results

This will incorrectly write `dataskippingnumindexedcols` to the delta log metadata.

#### Expected results

We want to preserve the case of

[2022-06-06 23:49] scottsand-db opened #1183 "[BUG] Fix SQL API option/properties metadata configuration"
Wait for https://github.com/delta-io/delta/issues/1182 first. This PR needs to use the same feature flag that is created for that issue.

## Bug

### Describe the problem

There are various inconsistencies in the SQL API when writing metadata using `OPTIONS` and `TBLPROPERTIES`.
Specifically

##### Case 1
when using `TBLPROPERTIES`, we incorrectly write properties that do not start with `.delta`.

[2022-06-07 00:25] dennyglee commented on #1170
Oh, this is great to hear @Thelin90 - would it help if we found some time to chat on the various design considerations?  Are any other folks interested in helping out?  Thanks!

[2022-06-07 17:27] vkorukanti opened #1184 "[Feature Request] Scala APIs for OPTIMIZE ZOrderBY"
## Feature request
Currently OPTIMIZE ZORDER can only be triggered using the SQL command. This task is to add a Scala API to trigger the same.

Similar task for OPTIMIZE file compaction https://github.com/delta-io/delta/issues/960

[2022-06-07 17:30] vkorukanti opened #1185 "[Feature Request] Python APIs for OPTIMIZE ZORDER BY"
## Feature request
Currently OPTIMIZE ZORDER can only be triggered using the SQL command. This task is to add a Python API to trigger the same.

Similar task for OPTIMIZE file compaction https://github.com/delta-io/delta/issues/1080

[2022-06-07 21:27] #348 closed

[2022-06-08 10:15] jaceklaskowski opened #1186 "Report required protocol versions for column mapping in ALTER TABLE SET TBLPROPERTIES format"
## Bug

It's a usability issue than a bug. When executing the following command an end user is faced with a `DeltaColumnMappingUnsupportedException` that does say what the root cause is but the suggestion could include the exact steps in  `ALTER TABLE SET TBLPROPERTIES` format so it's just a matter of copying and pasting relevant text.

[code]

[code]

[code]

#### Observed results

[code]

#### E

[2022-06-09 21:28] #1086 closed

[2022-06-10 00:41] tdas opened #1188 "[Feature Request] Scala and Python API for Describe Detail"
## Feature request

### Overview

`DESCRIBE DETAIL` is supported in SQL. But similar to `DESCRIBE HISTORY` which has Scala and Python APIs as `DeltaTable.history()`, there should be `DeltaTable.details()`

### Willingness to contribute

The Delta Lake Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this

[2022-06-10 10:40] jaceklaskowski opened #1189 "AlterTableReplaceColumnsDeltaCommand could be removed as no longer used"
## Bug

(Not really a bug but no idea what to pick to report the finding)

### Describe the problem

Delta Lake 1.2.1

[AlterTableReplaceColumnsDeltaCommand](https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/commands/alterDeltaTableCommands.scala#L517) does not seem to be used as `ALTER TABLE RENAME COLUMN` (that seems to be the command to trigger it) is

[2022-06-10 16:04] akhilesh2186 commented on #791
Hi @zsxwing  When we will get a fix for this ?

[2022-06-10 16:05] vkorukanti commented on #1189
You are right, the class is not used anymore. Looks like we can delete it.

[2022-06-10 17:26] vkorukanti commented on #1186
The suggested error message is very helpful.

[2022-06-10 18:50] jkylling opened #1191 "[BUG] S3SingleDriverLogStore.listFrom takes a long time for large _delta_logs"
## Bug

### Describe the problem
Reading from a Delta table with a large Delta log takes a long time using `S3SingleDriverLogStore`. When calculating a snapshot of a Delta table `S3SingleDriverLogStore` will list all files within the `_delta_log` key prefix. This can be expensive for Delta logs with many commits. This frequently happens when a streaming job is writing to a table.

To keep reads an

[2022-06-10 21:30] felipepessoto opened #1192 "[Feature Request] Optimize common case: SELECT COUNT(*) FROM Table"
## Feature request
Running the query "SELECT COUNT(*) FROM Table" should read only Delta logs

### Overview

Running the query "SELECT COUNT(*) FROM Table" takes a lot of time for big tables, Spark scan all the parquet files just to return the number of rows, that information is available from Delta Logs.

The same for "SELECT COUNT(*) FROM Table Group BY PartitionColumn"

### Motivation

Huge per

[2022-06-11 09:16] allenhaozi commented on #1097
hi @dennyglee
We recently implemented our data lake solution based on Delta Lake, and metadata is an important piece
Currently managing metadata, we scan the table path of deltalake rules by polling external components,
then inject metadata into the metadata component
Polling has several problems such as delay, resource consumption, inconsistency and so on
Other good practices, we hope to explore

[2022-06-11 15:28] ahlag commented on #1184
@vkorukanti
Can I have a try? I might need help in unit testing.

[2022-06-11 23:17] Kimahriman commented on #1184
Sorry @ahlag just saw that, knocked it out this morning.

[2022-06-13 06:39] EasyLuck opened #1196 "Can I write data from remote machine?"
Hi~
I have a question:
Can I write my data to the delta lake with a ip and port from a remote machine?
I want to upload data from local machine to delta lake in server machine. Can I do it?

[2022-06-13 07:53] vkorukanti commented on #1184
@ahlag There is a similar API request in Python https://github.com/delta-io/delta/issues/1185. Let me know if you are interested in working on it. It depends on the PR #1195.

[2022-06-13 08:55] ahlag commented on #1184
@vkorukanti
Yeah, sure! Thank you :)

[2022-06-13 17:06] scottsand-db commented on #1191
Hi @jkylling, thanks for this issue? We will look into this and get back to you.

[2022-06-13 17:21] scottsand-db opened #1199 "[Feature Request] Include a better error message for `NoClassDefFoundError: io/delta/storage/LogStore`"
## Feature request

### Overview

Depending on your environment and its internet access, the `delta-storage` dependency might not be properly included with `delta-lake` during execution.

Several users have already encountered this (#1103 , #1152). Including a better error message, with steps to resolve the issue, would be helpful.

### Motivation

Make it easier for users to fix the rare problem

[2022-06-13 17:52] scottsand-db commented on #1152
Hi @bobrippling - just to clarify, how did you run your spark application? I'd like to be able to reproduce this to write a test for it.

[2022-06-13 22:32] Kimahriman opened #1201 "[BUG] Update doesn't schema prune when finding files to update"
## Bug

### Describe the problem
When performing an update with a data predicate, there is no schema pruning so the entire contents of all files has to be loaded. This is because the nonDeterministic filter function for the row SQL metrics prevents schema pruning with the select afterwards.

#### Steps to reproduce
Python code:
[code]

#### Observed results

Snippet of the execution plan from the

[2022-06-14 00:58] felipepessoto opened #1204 "[Question] Comment mention a non-existing file"
## Question

### Describe the problem
DeltaScan mention a DataSkippingReaderV2.scala: https://github.com/delta-io/delta/blob/6707b29f58a30989f40478ce40b3200c48bf37ce/core/src/main/scala/org/apache/spark/sql/delta/stats/DeltaScan.scala#L55

Is this part of any work in progress?

[2022-06-14 08:58] cfmcgrady opened #1205 "[BUG] `ZORDER BY` with where clause throws a ParseException"
## Bug

### Describe the problem

#### Steps to reproduce

[code]

`q1` and `q2` throw a `ParseException`.

[code]

### Environment information

* Delta Lake version: 1.3.0-SNAPSHOT
* Spark version: 3.2.0
* Scala version: 2.12

### Willingness to contribute

The Delta Lake Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix fo

[2022-06-14 15:45] bobrippling commented on #1152
Hi @scottsand-db - it's fired up as
[code]
if that's helpful to you?

[2022-06-14 15:55] scottsand-db commented on #1152
Btw, zsxwing has already provided a solution here: https://github.com/delta-io/delta/issues/1152#issuecomment-1140082770. You need to include `--packages io.delta:delta-core_2.12:1.2.1`. If you don't have any more questions, I'll close this issue.

[2022-06-14 16:16] bobrippling commented on #1152
Great, thanks @scottsand-db. I'm happy to move onto the new LogStore implementation (i.e. drop `S3SingleDriverLogStore`), and to confirm - [zsxwing's solution](https://github.com/delta-io/delta/issues/1152#issuecomment-1140082770) fixes it for me. And thanks for the tip about the path too - that's useful.

No more questions from me - thanks again both

[2022-06-14 16:16] #1152 closed, assigned to scottsand-db

[2022-06-14 17:12] vkorukanti commented on #1205
Thanks for reporting. Looking at it. We have a similar parser test [here](https://github.com/delta-io/delta/blob/master/core/src/test/scala/io/delta/sql/parser/DeltaSqlParserSuite.scala#L66) which passes fine. Debugging this case.

[2022-06-14 17:34] cfmcgrady commented on #1205
hi @vkorukanti , it works when we don't surround the zorder by columns with parentheses.

[code]

[2022-06-14 17:47] vkorukanti commented on #1205
Yep, you are right it works without the parenthesis around the Z-Order by columns. The parser is not correctly identifying the WHERE condition exit when finding the alternatives at `=`. The brackets in zOrderBy columns are affecting it. Not sure how, still debugging it.

[2022-06-14 21:08] vkorukanti commented on #1204
I think they are not relevant to the code or any future work. The comments can be removed.

[2022-06-14 23:32] scottsand-db commented on #1191
Hi @jkylling, this approach LGTM. Want to make an official PR?

[2022-06-14 23:51] zsxwing commented on #791
@akhilesh2186 we don't plan to fix this. It's an oversight that we put `now()` to the allowlist. In general, we don't want to allow non deterministic functions like this. The fix would be blocking `now()` but considering it's a breaking change, it's not worth and we will just leave it as it is.

[2022-06-15 00:34] felipepessoto commented on #1204
https://github.com/delta-io/delta/pull/1207

[2022-06-15 05:29] ahlag commented on #1185
@vkorukanti
Please assign me. I will work on it.

[2022-06-15 20:20] jkylling commented on #1191
Hi @scottsand-db . Thanks for looking into this. I'll open a PR.

[2022-06-15 23:43] #1189 closed

[2022-06-15 23:43] #1205 closed

[2022-06-16 11:16] gegiannos commented on #1140
@zsxwing Sorry for the late response. I got my answers via the slack channel `#deltalake-oss`  thanks to Dominique! Apparently, it is a rare case of hiting a weird condition in S3 where a file took too long to show up in a listing.
Thanks for your support, I think the thread can be closed (I leave it up to you).

[2022-06-17 07:24] zsxwing commented on #1140
Could you provide the slack link? I'm curious about this because S3 is [strong consistent](https://aws.amazon.com/blogs/aws/amazon-s3-update-strong-read-after-write-consistency/) and this should not happen.

[2022-06-17 08:57] zhangt-nhlab commented on #950
Hello @aidaph , thanks a lot for your PR. We have received your PR, and published a new version of hadoop-cephrgw to maven. What should we do next to let more people can use our hadoop-cephrgw, if they want to store the delta table on Ceph? Is it possible to add a content about Ceph into the integration on the Delta Lake Website and link to our Github address？We are looking forward to your reply,

[2022-06-17 11:53] jaceklaskowski opened #1215 "[BUG] INSERT INTO with generated columns fails (not enough data columns)"
When executing `sql("INSERT INTO delta_gencols VALUES 1")` Delta Lake 1.2.1 fails with the following `AnalysisException`:

[code]

The table was created as follows:

[code]

I found [this conversation](https://groups.google.com/g/delta-users/c/x2xnHkysIZw) with @zsxwing in delta-users group, but that does not seem to apply (unless I'm mistaken):

[code]

Spark SQL API works just fine:

[code]

###

[2022-06-17 17:55] #716 closed

[2022-06-17 17:59] tdas commented on #589
This has been added to current master. cc @vkorukanti

[2022-06-17 18:06] vkorukanti commented on #589
This is implemented in 58b25108e1e275fa7e2ff4ba758184a19270cf15

[2022-06-17 18:06] #589 closed

[2022-06-17 18:34] hoffrocket commented on #920
@dennyglee I see that you have `CLONE` support as a Q3 priority. I'm wondering if that's still on track? and is the goal to fully migrate the closed source databricks implementation into this code base?

[2022-06-17 20:09] felipepessoto commented on #1192
@zsxwing, you assigned @vkorukanti, it means you plan to implement it?

[2022-06-17 20:25] vkorukanti commented on #1192
@felipepessoto No, I am not planning to implement. @zsxwing assigned it to me to look at it and provide any guidance. We are currently busy with the next release of Delta, will get back to you after the release? I will assign this issue back to you, given you are interested in implementing it.

[2022-06-18 03:00] felipepessoto commented on #1192
@vkorukanti do you have any example of code where the query plan is replaced by a optimized version? I think it would be a good start point.

[2022-06-19 23:17] chrimaho commented on #1185
Hi Team!

I'd like to set up a much easier way to optimize my `delta` tables. Specifically, I am referring to the `sql` command `OPTIMIZE <table>`.

Let me show you the differences:

**Current:**

First, run:

[code]

Then, once it's saved, run:

[code]

Then, once the table is loaded, run:

[code]

As you can see, there are many steps needed.

**Future:**

I'd like to be able to do something like

[2022-06-20 01:49] RamakrishnaChilaka opened #1217 "[Feature Request] Spark 3.3 support"
Spark 3.3 support :)

[2022-06-20 06:50] harupy commented on #1217
Not sure if this is an incompatibility with spark 3.3, but the following code

[code]

fails with:

[code]

[2022-06-20 08:53] aleksandraangelova commented on #527
When doing a regular partition overwrite over large datasets, we are also encountering non-deterministic behavior from Delta.

We have an ETL job which extracts, transforms and then loads data from Snowflake to an Azure storage container in Delta format. When executing the job multiple times, we get different results, even though we are loading the same data from Snowflake. We get strange duplicat

[2022-06-20 13:15] bart-samwel commented on #527
@aleksandraangelova This ticket is specifically about MERGE. The reason for the issue you are experiencing is certainly different. Could you file a new ticket?

[2022-06-20 13:26] aleksandraangelova opened #1218 "Issues with non-deterministic behavior when writing to Delta format"
When doing a regular partition overwrite over large datasets, we are encountering non-deterministic behavior from Delta.

We have a fairly complex ETL job which extracts, transforms and then loads data from Snowflake to an Azure storage container in Delta format. When executing the job multiple times, we get different results, even though we are loading the same data from Snowflake. We get strange